Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

refactor(studio): let createClient own its sessions directly
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/client.test.ts
  packages/studio/src/client.ts
Due: none

refactor(studio): run each generation on the session emitter
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/hooks.ts
  packages/studio/src/ws.ts
Due: none

refactor(studio): drop the idempotent reset and the one-use session array
  packages/studio/src/client.ts
  packages/studio/src/ws.ts
Due: none

feat(studio): move the connect and re-pair loop into runConnection
  .changeset/brave-moons-invent.md
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/index.ts
  packages/studio/src/runConnection.test.ts
  packages/studio/src/runConnection.ts
Due: @kubb/cli

refactor(studio): close each attempt's client in one place
  packages/studio/src/runConnection.test.ts
  packages/studio/src/runConnection.ts
Due: none

refactor(studio,cli): drop restating comments and the fake client cast
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/runConnection.test.ts
  packages/studio/src/runConnection.ts
Due: @kubb/cli

test(studio,cli): fold two cases into the ones that already cover them
  packages/cli/src/runners/studio/run.test.ts
  packages/studio/src/runConnection.test.ts
Due: @kubb/cli

feat(ast): resolve nested schema properties
  .changeset/fuzzy-pets-resolve.md
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/schemaProperties.test.ts
  packages/ast/src/utils/schemaProperties.ts
Due: none

update packages
  package.json
  packages/adapter-oas/package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kubb, unplugin-kubb

feat(core): add HTML report data collector
  packages/core/src/reporters/htmlReportCollector.test.ts
  packages/core/src/reporters/htmlReportCollector.ts
Due: @kubb/core

feat(devtools): add static report data source
  packages/devtools/client/index.html
  packages/devtools/client/src/App.vue
  packages/devtools/client/src/components/AstNode.vue
  packages/devtools/client/src/components/AstPanel.vue
  packages/devtools/client/src/components/FilesPanel.vue
  packages/devtools/client/src/components/PipelinePanel.vue
  packages/devtools/client/src/devtools.test.ts
  packages/devtools/client/src/devtools.ts
  packages/devtools/client/src/env.d.ts
  packages/devtools/client/src/highlight.ts
  packages/devtools/client/src/main.ts
  packages/devtools/client/src/styles/index.css
  packages/devtools/client/src/styles/tokens.css
  packages/devtools/client/tsconfig.json
  packages/devtools/client/vite.config.ts
  packages/devtools/package.json
  pnpm-lock.yaml
Due: none

feat(core): add HTML reporter
  .changeset/open-badgers-cheer.md
  packages/cli/src/commands/generate.test.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/package.json
  packages/core/src/createReporter.ts
  packages/core/src/index.ts
  packages/core/src/reporters/htmlReportAssets.ts
  packages/core/src/reporters/htmlReporter.test.ts
  packages/core/src/reporters/htmlReporter.ts
  packages/devtools/client/src/main.ts
  packages/devtools/client/src/styles/tokens.css
  packages/devtools/client/vite.config.ts
  scripts/copyHtmlReportAssets.mjs
Due: @kubb/cli, @kubb/core

chore(ci): bump kubb-labs/config setup action to disable safe-chain
  .github/workflows/autofix.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

chore: upgrade pnpm to 12.2.1 (#3949)
  .github/workflows/autofix.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: none

feat(studio): let a host slow its heartbeat to 60 seconds
  .changeset/raise-heartbeat-ceiling.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/constants.ts
Due: none

feat(studio): let a host slow its heartbeat to 60 seconds (#3995)
  .changeset/raise-heartbeat-ceiling.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/constants.ts
Due: none

chore: consolidate Kubb Studio changesets
  .changeset/brave-moons-invent.md
  .changeset/lucky-donuts-shave.md
  .changeset/olive-lions-argue.md
  .changeset/olive-pugs-shop.md
  .changeset/plain-moons-pair.md
  .changeset/quick-plums-jump.md
  .changeset/quiet-lions-relax.md
  .changeset/raise-heartbeat-ceiling.md
  .changeset/shaggy-moons-repeat.md
  .changeset/silver-frogs-listen.md
  .changeset/silver-jars-melt.md
  .changeset/six-otters-cheer.md
  .changeset/soft-jokes-drum.md
  .changeset/studio-directional-protocol.md
  .changeset/tame-eagles-invite.md
  .changeset/tame-otters-reconnect.md
  .changeset/tidy-otters-wander.md
  .changeset/wild-pots-attack.md
Due: none

ci: add comment ratio check to PR workflow
  .github/workflows/pr.yml
Due: none

feat(agents): add a /pr command and rewrite the pr skill for agents
  .agents/skills/pr/SKILL.md
  .claude/commands/pr.md
  .github/pull_request_template.md
  AGENTS.md
Due: none

feat(agents): derive the PR title from the branch and add how-to-test steps
  .agents/skills/pr/SKILL.md
  .claude/commands/pr.md
  .github/pull_request_template.md
Due: none

feat(agents): use Step 1/2/3 placeholders for the how-to-test section
  .agents/skills/pr/SKILL.md
  .claude/commands/pr.md
  .github/pull_request_template.md
Due: none

refactor(agents): shrink the /pr command to a pointer at the pr skill
  .claude/commands/pr.md
Due: none

chore(agents): update AGENTS.md
  AGENTS.md
Due: none

update packages
  package.json
  packages/cli/package.json
  packages/studio/package.json
  pnpm-lock.yaml
Due: @kubb/cli

update packages
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update packages
  .github/workflows/cleanup-branches.yml
  .github/workflows/labeler.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

fix: correct pnpm --no-git-checks flag in kit release scripts
  packages/kit/package.json
Due: none

fix(adapter-oas): port the parseOas benchmark to vitest 5's bench API
  configs/vitest.bench.config.ts
  packages/adapter-oas/src/adapter.bench.ts
Due: none

fix(kit): correct pnpm --no-git-checks flag in release scripts (#4003)
  configs/vitest.bench.config.ts
  packages/adapter-oas/src/adapter.bench.ts
  packages/kit/package.json
Due: none

chore(ci): bump kubb-labs/config action pin to b9065b9
  .github/workflows/autofix.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

chore: exclude @kubb/* and kubb from the 48-hour minimum release age
  pnpm-workspace.yaml
Due: none

chore: exclude @kubb/* and kubb from the 48-hour minimum release age (#4004)
  pnpm-workspace.yaml
Due: none

chore(agents): keep the pr skill's outputs short and humanized
  .agents/skills/pr/SKILL.md
Due: none

chore(agents): keep the pr skill's outputs short and humanized (#4005)
  .agents/skills/pr/SKILL.md
Due: none

chore(ci): bump kubb-labs/config action pin to da8a350
  .github/workflows/autofix.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

chore(ci): bump kubb-labs/config action pin to da8a350 (#4006)
  .github/workflows/autofix.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

feat(templates): promote the sponsors page in issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: add sponsors page to package funding fields
  .changeset/tidy-otters-sponsor.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/studio/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix: drop the emoji from the fund-a-feature contact link
  .github/ISSUE_TEMPLATE/config.yml
Due: none
