Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

feat(cli): improve command descriptions and examples for LLMs
  internals/utils/src/cli/adapters/nodeAdapter.ts
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/commands/mcp.ts
  packages/cli/src/commands/validate.ts
Due: @kubb/cli

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs(adr): add ADR-0004 for AI-powered SDK generation via createAiRenderer
  docs/architecture/adr/0004_ai_sdk_generation.md
Due: none

docs(adr): rewrite ADR-0004 for clarity and readability
  docs/architecture/adr/0004_ai_sdk_generation.md
Due: none

docs(adr): remove external company reference from ADR-0004
  docs/architecture/adr/0004_ai_sdk_generation.md
Due: none

docs(adr): fix parser references in ADR-0004
  docs/architecture/adr/0004_ai_sdk_generation.md
Due: none

add adr for permissions
  docs/architecture/adr/0001_include_filter.md
  docs/architecture/adr/0002_extension_naming_and_structure.md
  docs/architecture/adr/0003_kubb_agent.md
  docs/architecture/adr/0004_permissions.md
  docs/architecture/adr/README.md
  package.json
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

docs(adr): expand ADR-0004 to cover renderer, parser, and adapter
  docs/architecture/adr/0004_ai_sdk_generation.md
Due: none

chore(mcp): replace @modelcontextprotocol/sdk with tmcp packages
  packages/mcp/package.json
  pnpm-lock.yaml
Due: @kubb/mcp

docs(adr): add plans for tmcp migration and kubb.studio MCP hosting
  docs/architecture/adr/0005_mcp_migrate_to_tmcp.md
  docs/architecture/adr/0006_mcp_on_kubb_studio.md
Due: none

[mcp] migrate from @modelcontextprotocol/sdk to tmcp
  .changeset/migrate-mcp-to-tmcp.md
  packages/cli/src/commands/mcp.ts
  packages/cli/src/runners/mcp.ts
  packages/mcp/package.json
  packages/mcp/src/index.ts
  packages/mcp/src/schemas/initSchema.ts
  packages/mcp/src/schemas/validateSchema.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/index.ts
  packages/mcp/src/tools/init.ts
  packages/mcp/src/tools/validate.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/mcp

chore: format and lint fixes
  packages/mcp/package.json
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/init.ts
Due: @kubb/mcp

chore: format and lint fixes
  packages/mcp/package.json
Due: @kubb/mcp

feat: extract shared init logic into @internals/shared
  AGENTS.md
  internals/shared/package.json
  internals/shared/src/constants.ts
  internals/shared/src/index.ts
  internals/shared/src/init.ts
  internals/shared/src/types.ts
  internals/shared/tsconfig.json
  internals/shared/tsdown.config.ts
  internals/shared/vitest.config.ts
  packages/cli/package.json
  packages/cli/src/constants.ts
  packages/cli/src/runners/init.ts
  packages/mcp/package.json
  packages/mcp/src/tools/init.ts
  pnpm-lock.yaml
  tsconfig.json
Due: @kubb/cli, @kubb/mcp

test: add unit tests for @internals/shared and mcp init tool
  internals/shared/src/init.test.ts
  packages/mcp/src/tools/init.test.ts
  packages/mcp/src/tools/init.ts
  packages/mcp/vitest.config.ts
Due: @kubb/mcp

Update index.ts
  internals/shared/src/index.ts
Due: none

refactor: use object param in generateConfigFile
  internals/shared/src/init.test.ts
  internals/shared/src/init.ts
  packages/cli/src/runners/init.ts
  packages/mcp/src/tools/init.ts
Due: @kubb/cli, @kubb/mcp

chore: format and lint fixes
  internals/shared/src/init.ts
Due: none

refactor(mcp): replace zod with valibot for smaller bundle
  packages/mcp/package.json
  packages/mcp/src/schemas/generateSchema.ts
  packages/mcp/src/schemas/initSchema.ts
  packages/mcp/src/schemas/validateSchema.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/init.test.ts
  pnpm-lock.yaml
Due: @kubb/mcp

chore: add tmcp, picklist, and valibot to cspell wordlist
  cspell.json
Due: none

fix: use en-US spelling (unrecognized)
  packages/mcp/src/tools/init.test.ts
Due: @kubb/mcp

[mcp] validate server against best practices
  packages/mcp/src/schemas/generateSchema.ts
  packages/mcp/src/schemas/initSchema.ts
  packages/mcp/src/schemas/validateSchema.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/init.ts
  packages/mcp/src/tools/validate.ts
  packages/mcp/src/utils/loadUserConfig.ts
  packages/mcp/src/utils/resolveUserConfig.ts
Due: @kubb/mcp

chore: update tsdown to 0.22.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: dedupe pnpm lockfile
  pnpm-lock.yaml
Due: none

chore: update tsdown to 0.22.0 (#3256)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/mocks/createAddPetRequestFaker.ts
  examples/advanced/src/gen/mocks/createCustomerFaker.ts
  examples/advanced/src/gen/mocks/createDogFaker.ts
  examples/advanced/src/gen/mocks/createPetFaker.ts
  examples/advanced/src/gen/mocks/createUserFaker.ts
  examples/faker/src/gen/faker/createCustomer.ts
  examples/faker/src/gen/faker/createPet.ts
  examples/faker/src/gen/tag/createCustomer.ts
  examples/faker/src/gen/tag/createPet.ts
  examples/msw/src/gen/mocks/createAddPetRequest.ts
  examples/msw/src/gen/mocks/createCustomer.ts
  examples/msw/src/gen/mocks/createPet.ts
  packages/plugin-faker/src/parser.test.ts
  packages/plugin-faker/src/parser.ts
Due: @kubb/plugin-faker

fix: handle bun/deno/tsx argv stripping in nodeAdapter CLI parser (#3258)
  .changeset/fix-bunx-argv-stripping.md
  internals/utils/src/cli/adapters/nodeAdapter.test.ts
  internals/utils/src/cli/adapters/nodeAdapter.ts
Due: none

Update cspell.json
  cspell.json
Due: none

chore: add changeset for bunx cli argv parsing fix (#3262)
  .changeset/fair-pandas-rescue.md
Due: none

[mcp] migrate from @modelcontextprotocol/sdk to tmcp (#3254)
  .changeset/migrate-mcp-to-tmcp.md
  AGENTS.md
  cspell.json
  internals/shared/package.json
  internals/shared/src/constants.ts
  internals/shared/src/index.ts
  internals/shared/src/init.test.ts
  internals/shared/src/init.ts
  internals/shared/src/types.ts
  internals/shared/tsconfig.json
  internals/shared/tsdown.config.ts
  internals/shared/vitest.config.ts
  packages/cli/package.json
  packages/cli/src/commands/mcp.ts
  packages/cli/src/constants.ts
  packages/cli/src/runners/init.ts
  packages/cli/src/runners/mcp.ts
  packages/mcp/package.json
  packages/mcp/src/index.ts
  packages/mcp/src/schemas/generateSchema.ts
  packages/mcp/src/schemas/initSchema.ts
  packages/mcp/src/schemas/validateSchema.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/init.test.ts
  packages/mcp/src/tools/init.ts
  packages/mcp/src/tools/validate.ts
  packages/mcp/src/utils/loadUserConfig.ts
  packages/mcp/src/utils/resolveUserConfig.ts
  pnpm-lock.yaml
  tsconfig.json
Due: @kubb/cli, @kubb/mcp

ci: fix v4 release workflow to use OIDC publishing without npm token (#3265)
  .github/workflows/release.yml
Due: none

update packages
  package.json
  packages/agent/package.json
  packages/mcp/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/mcp, unplugin-kubb

[ci] harden GitHub Actions against supply-chain attacks
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/cleanup-branches.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/docker-agent.yml
  .github/workflows/labeler.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/update-agents-skills.yml
Due: none

fix mcp
  packages/mcp/src/server.ts
Due: @kubb/mcp

minimumReleaseAge: 1440
  pnpm-workspace.yaml
Due: none

[ci] apply Aikido checklist: job-level permissions, CODEOWNERS, and min-package-age
  .github/CODEOWNERS
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/cleanup-branches.yml
  .github/workflows/labeler.yml
  .github/workflows/pr.yml
  .github/workflows/update-agents-skills.yml
  .npmrc
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
