Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

Use SHA-512 cryptographic hash for agent token storage (#2503)
  packages/agent/server/utils/sessionManager.ts
Due: none

Remove sseEvent type and use KubbEvents
  docs/guide/stream-server.md
  packages/agent/server/routes/api/health.get.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/ws.ts
  packages/core/schemas/openapi/server.yaml
  packages/core/src/index.ts
  packages/core/src/server/index.ts
  packages/core/src/types.ts
Due: @kubb/core

fxi test
  packages/agent/server/plugins/studio.test.ts
Due: none

expose
  packages/agent/server/types/agent.ts
Due: none

[WIP] Add Agent Websocket integration (#2505)
  .changeset/agent-websocket-integration.md
  docs/changelog.md
Due: none

fix: Correct use of jiti (dynamic import of babel cannot be used in nitro)
  .changeset/many-experts-cross.md
  packages/agent/package.json
  packages/agent/server/utils/getCosmiConfig.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/getCosmiConfig.ts
  packages/kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, kubb

fix(plugin-client): switch bundled class generators back to named import
  .changeset/fix-bundle-named-import.md
  packages/plugin-client/src/generators/__snapshots__/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/Store.ts
  packages/plugin-client/src/generators/__snapshots__/User.ts
  packages/plugin-client/src/generators/__snapshots__/static/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/static/Store.ts
  packages/plugin-client/src/generators/__snapshots__/static/User.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
Due: @kubb/plugin-client

feat: add guidType option for UUID validation to @kubb/plugin-zod
  .changeset/clear-bushes-dig.md
  docs/plugins/plugin-zod.md
  packages/plugin-zod/src/components/Zod.tsx
  packages/plugin-zod/src/generators/__snapshots__/petV4Guid.ts
  packages/plugin-zod/src/generators/operationsGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/parser.test.ts
  packages/plugin-zod/src/parser.ts
  packages/plugin-zod/src/plugin.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/plugin-zod

correct use of peerDeps
  packages/core/package.json
Due: @kubb/core

fix: use of ws to support node 20
  .changeset/khaki-papayas-double.md
  packages/agent/package.json
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/ws.ts
  pnpm-lock.yaml
Due: none

refactor: uuid function to use options object
  packages/plugin-zod/src/parser.ts
Due: @kubb/plugin-zod

chore(examples): update generated files
  examples/advanced/src/gen/docs.html
  examples/advanced/src/gen/mcp/server.ts
  examples/mcp/src/gen/mcp/server.ts
  examples/simple-single/src/gen/docs/index.html
Due: none

ignore .html
  biome.json
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/docs.html
  examples/mcp/src/gen/mcp/.mcp.json
  examples/simple-single/src/gen/docs/index.html
Due: none

update chokidar
  packages/cli/package.json
  pnpm-lock.yaml
Due: @kubb/cli

fix: Update chokidar in @kubb/cli to fulfill provenance requirements in pnpm
  .changeset/curly-flies-feel.md
Due: none

Upgrade chokidar (#2532)
  .changeset/curly-flies-feel.md
  packages/cli/package.json
  pnpm-lock.yaml
Due: @kubb/cli

docs: update changelog.md for 4.26.1 release (#2534)
  docs/changelog.md
Due: none

read/write with studio config (json)
  packages/agent/package.json
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/resolvePlugins.ts
  packages/agent/server/utils/studioConfig.ts
  packages/cli/src/commands/agent/start.ts
  pnpm-lock.yaml
Due: @kubb/cli

read/write with studio config (json) and permissions
  .changeset/agent-allow-write-flags.md
  docs/helpers/cli.md
  packages/agent/README.md
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/resolvePlugins.test.ts
  packages/agent/server/utils/resolvePlugins.ts
  packages/agent/server/utils/studioConfig.test.ts
  packages/cli/src/commands/agent/start.ts
Due: @kubb/cli

add permissions
  examples/advanced/.env.example
  packages/agent/.env.example
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
Due: none

better types.ts + do not pass write as dryRun
  packages/agent/package.json
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/plugins/studio.ts
  packages/core/src/build.ts
  packages/oas/src/types.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  src/gen/mocks/excluded.ts
Due: @kubb/core, @kubb/oas, unplugin-kubb

better types.ts + do not pass write as dryRun
  packages/agent/server/utils/studioConfig.ts
Due: none

Update config agent based on permissions (#2536)
  .changeset/agent-allow-write-flags.md
  docs/helpers/cli.md
  examples/advanced/.env.example
  packages/agent/.env.example
  packages/agent/README.md
  packages/agent/package.json
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/resolvePlugins.test.ts
  packages/agent/server/utils/resolvePlugins.ts
  packages/agent/server/utils/studioConfig.test.ts
  packages/agent/server/utils/studioConfig.ts
  packages/cli/src/commands/agent/start.ts
  packages/core/src/build.ts
  packages/oas/src/types.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  src/gen/mocks/excluded.ts
Due: @kubb/cli, @kubb/core, @kubb/oas, unplugin-kubb

docs: add 4.27.0 changelog entry (#2538)
  docs/changelog.md
Due: none

remove
  packages/agent/server/utils/sessionManager.test.ts
Due: none
