Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

feat: add streaming
  packages/cli/package.json
  packages/cli/src/StreamEvents.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/index.ts
  packages/cli/src/loggers/streamLogger.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/streamServer.ts
  packages/core/src/Kubb.ts
  packages/core/src/build.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/serializePluginOptions.ts
Due: @kubb/cli, @kubb/core

refactor streamEvents
  packages/cli/src/index.ts
  packages/cli/src/loggers/streamLogger.ts
  packages/cli/src/utils/streamServer.ts
  packages/core/src/StreamEvents.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

add logger
  packages/cli/src/commands/generate.ts
  packages/core/src/utils/index.ts
  packages/mcp/src/tools/generate.ts
  packages/unplugin-kubb/src/index.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

make sure we add @kubb as prefix
  packages/cli/src/utils/streamServer.ts
Due: @kubb/cli

add docs
  docs/config.json
  docs/guide/stream-server.md
  docs/helpers/cli.md
  packages/cli/src/utils/streamServer.test.ts
  packages/cli/src/utils/streamServer.ts
  packages/core/src/StreamEvents.ts
Due: @kubb/cli, @kubb/core

resmove test
  packages/cli/src/utils/streamServer.test.ts
Due: @kubb/cli

Delete streamServer.test.ts
  packages/cli/src/utils/streamServer.test.ts
Due: @kubb/cli

[WIP] WIP address feedback on 'Streaming with Kubb cli' PR (#2442)
  docs/guide/stream-server.md
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

Update build script to include size-limit
  packages/cli/package.json
Due: @kubb/cli

fix: update fabric packages
  .changeset/tidy-clocks-flash.md
  docs/changelog.md
  examples/advanced/package.json
  examples/client/package.json
  examples/faker/package.json
  examples/generators/package.json
  examples/msw/package.json
  examples/react-query/package.json
  packages/mcp/package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

Update kubb.config.js
  tests/e2e/kubb.config.js
Due: none

Comment out bunq.com schema in kubb.config.js
  tests/e2e/kubb.config.js
Due: none

ci(changesets): version packages
  .changeset/tidy-clocks-flash.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

Streaming with Kubb cli (#2440)
  docs/config.json
  docs/guide/stream-server.md
  docs/helpers/cli.md
  packages/cli/src/commands/generate.ts
  packages/cli/src/loggers/streamLogger.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/streamServer.ts
  packages/core/src/Kubb.ts
  packages/core/src/StreamEvents.ts
  packages/core/src/build.ts
  packages/core/src/types.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/serializePluginOptions.ts
  packages/mcp/src/tools/generate.ts
  packages/unplugin-kubb/src/index.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

fix: expose /api/health
  .changeset/ready-pianos-wash.md
  docs/changelog.md
  docs/guide/stream-server.md
  packages/cli/src/utils/streamServer.ts
  packages/core/mocks/helloWorld.js
  packages/core/src/StreamEvents.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/__snapshots__/enumNamesPascalConst.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/parser.ts
Due: @kubb/cli, @kubb/core, @kubb/plugin-ts

ci(changesets): version packages
  .changeset/ready-pianos-wash.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

fix: passing data to top refs
  packages/core/mocks/helloWorld.js
  packages/plugin-faker/src/generators/__snapshots__/createPet.ts
  packages/plugin-faker/src/generators/__snapshots__/createPetSeed.ts
  packages/plugin-faker/src/generators/__snapshots__/createPetUnknownTypeAny.ts
  packages/plugin-faker/src/generators/__snapshots__/getPets.ts
  packages/plugin-faker/src/generators/__snapshots__/showPetById.ts
  packages/plugin-faker/src/generators/__snapshots__/updatePet.ts
  packages/plugin-faker/src/generators/fakerGenerator.tsx
  packages/plugin-faker/src/parser.ts
Due: @kubb/core, @kubb/plugin-faker

chore: changeset
  .changeset/rare-needles-bake.md
Due: none

feat(plugin-client): add Client type
  packages/plugin-client/src/clients/axios.ts
  packages/plugin-client/src/clients/fetch.ts
  packages/plugin-client/src/components/ClassClient.tsx
  packages/plugin-client/src/components/Client.tsx
  packages/plugin-client/src/components/StaticClassClient.tsx
  packages/plugin-client/src/generators/__snapshots__/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/Store.ts
  packages/plugin-client/src/generators/__snapshots__/User.ts
  packages/plugin-client/src/generators/__snapshots__/deletePet.ts
  packages/plugin-client/src/generators/__snapshots__/deletePetObject.ts
  packages/plugin-client/src/generators/__snapshots__/findByStatusAllOptional.ts
  packages/plugin-client/src/generators/__snapshots__/findByStatusAllOptionalInline.ts
  packages/plugin-client/src/generators/__snapshots__/findByTags.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsFull.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsObject.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsWithBaseURL.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsWithTemplateString.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsWithZod.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsWithZodFull.ts
  packages/plugin-client/src/generators/__snapshots__/importPath.ts
  packages/plugin-client/src/generators/__snapshots__/static/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/static/Store.ts
  packages/plugin-client/src/generators/__snapshots__/static/User.ts
  packages/plugin-client/src/generators/__snapshots__/updatePetById.ts
  packages/plugin-client/src/generators/__snapshots__/updatePetByIdClean.ts
  packages/plugin-client/src/generators/__snapshots__/uploadFile.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/clientGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-client/templates/clients/axios.ts
  packages/plugin-client/templates/clients/fetch.ts
Due: @kubb/plugin-client

fix: externalize all @kubb/* packages in tsdown configs
  .changeset/fix-externalize-all-kubb-packages.md
  packages/oas/tsdown.config.ts
  packages/plugin-client/tsdown.config.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-faker/tsdown.config.ts
  packages/plugin-mcp/tsdown.config.ts
  packages/plugin-msw/tsdown.config.ts
  packages/plugin-oas/tsdown.config.ts
  packages/plugin-react-query/tsdown.config.ts
  packages/plugin-redoc/tsdown.config.ts
  packages/plugin-solid-query/tsdown.config.ts
  packages/plugin-svelte-query/tsdown.config.ts
  packages/plugin-swr/tsdown.config.ts
  packages/plugin-ts/tsdown.config.ts
  packages/plugin-vue-query/tsdown.config.ts
  packages/plugin-zod/tsdown.config.ts
Due: @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

feat(plugin-client): add Client type
  .changeset/add-client-type.md
  packages/plugin-client/src/clients/axios.ts
  packages/plugin-client/src/clients/fetch.ts
  packages/plugin-client/src/components/ClassClient.tsx
  packages/plugin-client/src/components/Client.tsx
  packages/plugin-client/src/components/StaticClassClient.tsx
  packages/plugin-client/src/generators/__snapshots__/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/Store.ts
  packages/plugin-client/src/generators/__snapshots__/User.ts
  packages/plugin-client/src/generators/__snapshots__/deletePet.ts
  packages/plugin-client/src/generators/__snapshots__/deletePetObject.ts
  packages/plugin-client/src/generators/__snapshots__/findByStatusAllOptional.ts
  packages/plugin-client/src/generators/__snapshots__/findByStatusAllOptionalInline.ts
  packages/plugin-client/src/generators/__snapshots__/findByTags.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsFull.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsObject.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsWithBaseURL.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsWithTemplateString.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsWithZod.ts
  packages/plugin-client/src/generators/__snapshots__/findByTagsWithZodFull.ts
  packages/plugin-client/src/generators/__snapshots__/importPath.ts
  packages/plugin-client/src/generators/__snapshots__/static/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/static/Store.ts
  packages/plugin-client/src/generators/__snapshots__/static/User.ts
  packages/plugin-client/src/generators/__snapshots__/updatePetById.ts
  packages/plugin-client/src/generators/__snapshots__/updatePetByIdClean.ts
  packages/plugin-client/src/generators/__snapshots__/uploadFile.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/clientGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-client/templates/clients/axios.ts
  packages/plugin-client/templates/clients/fetch.ts
Due: @kubb/plugin-client

ci(changesets): version packages
  .changeset/rare-needles-bake.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

chore(examples): update generated files
  examples/advanced/src/gen/mocks/petController/createAddFilesFaker.ts
  examples/advanced/src/gen/mocks/petController/createAddPetFaker.ts
  examples/advanced/src/gen/mocks/petController/createGetPetByIdFaker.ts
  examples/advanced/src/gen/mocks/petController/createUpdatePetFaker.ts
  examples/advanced/src/gen/mocks/petController/createUploadFileFaker.ts
  examples/advanced/src/gen/mocks/petsController/createCreatePetsFaker.ts
  examples/advanced/src/gen/mocks/userController/createCreateUserFaker.ts
  examples/advanced/src/gen/mocks/userController/createCreateUsersWithListInputFaker.ts
  examples/advanced/src/gen/mocks/userController/createGetUserByNameFaker.ts
  examples/advanced/src/gen/mocks/userController/createUpdateUserFaker.ts
  examples/faker/src/gen/faker/createUpdatePet.ts
  examples/faker/src/gen/tag/createGetOrderById.ts
  examples/faker/src/gen/tag/createPlaceOrder.ts
  examples/msw/src/gen/mocks/petController/createAddPet.ts
  examples/msw/src/gen/mocks/petController/createGetPetById.ts
  examples/msw/src/gen/mocks/petController/createUpdatePet.ts
  examples/msw/src/gen/mocks/petController/createUploadFile.ts
  examples/msw/src/gen/mocks/storeController/createGetOrderById.ts
  examples/msw/src/gen/mocks/storeController/createPlaceOrder.ts
  examples/msw/src/gen/mocks/storeController/createPlaceOrderPatch.ts
  examples/msw/src/gen/mocks/userController/createCreateUser.ts
  examples/msw/src/gen/mocks/userController/createCreateUsersWithListInput.ts
  examples/msw/src/gen/mocks/userController/createGetUserByName.ts
  examples/msw/src/gen/mocks/userController/createUpdateUser.ts
Due: none

fix: externalize all @kubb/* packages in tsdown configs (#2450)
  .changeset/fix-externalize-all-kubb-packages.md
  packages/oas/tsdown.config.ts
  packages/plugin-client/tsdown.config.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-faker/tsdown.config.ts
  packages/plugin-mcp/tsdown.config.ts
  packages/plugin-msw/tsdown.config.ts
  packages/plugin-oas/tsdown.config.ts
  packages/plugin-react-query/tsdown.config.ts
  packages/plugin-redoc/tsdown.config.ts
  packages/plugin-solid-query/tsdown.config.ts
  packages/plugin-svelte-query/tsdown.config.ts
  packages/plugin-swr/tsdown.config.ts
  packages/plugin-ts/tsdown.config.ts
  packages/plugin-vue-query/tsdown.config.ts
  packages/plugin-zod/tsdown.config.ts
Due: @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

fix: add `npx kubb server`
  .changeset/fancy-carpets-drum.md
  docs/changelog.md
  docs/guide/stream-server.md
  docs/helpers/cli.md
  packages/cli/README-API.md
  packages/cli/openapi.yaml
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/index.ts
  packages/cli/src/loggers/streamLogger.ts
  packages/cli/src/utils/streamServer.ts
Due: @kubb/cli

ci(changesets): version packages
  .changeset/fancy-carpets-drum.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

fix(plugin-oas): use unshift for binary format to ensure blob keyword is first in parsed schema
  packages/plugin-oas/mocks/binaryAnyOf.yaml
  packages/plugin-oas/src/SchemaGenerator.test.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/__snapshots__/SchemaGenerator.test.ts.snap
Due: @kubb/plugin-oas

fix: add server.yaml
  docs/guide/stream-server.md
  packages/cli/README-API.md
  packages/cli/src/commands/start.ts
  packages/cli/src/loggers/streamLogger.ts
  packages/cli/src/utils/streamServer.ts
  packages/core/package.json
  packages/core/schemas/openapi/server.yaml
  packages/core/src/StreamEvents.ts
  packages/core/src/index.ts
  packages/core/src/server/index.ts
  packages/core/src/types.ts
  tsconfig.json
Due: @kubb/cli, @kubb/core

fix: better style for githubLogger
  package.json
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Due: @kubb/cli, unplugin-kubb

cleanup
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/core/mocks/helloWorld.js
Due: @kubb/cli, @kubb/core

fix: only import Client type when inline client function is rendered
  packages/plugin-react-query/src/generators/infiniteQueryGenerator.tsx
  packages/plugin-react-query/src/generators/mutationGenerator.tsx
  packages/plugin-react-query/src/generators/queryGenerator.tsx
  packages/plugin-react-query/src/generators/suspenseInfiniteQueryGenerator.tsx
  packages/plugin-react-query/src/generators/suspenseQueryGenerator.tsx
Due: @kubb/plugin-react-query

ignore packages/core/mocks/helloWorld.js
  .gitignore
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  examples/typescript/src/gen/index.ts
  examples/typescript/src/gen/ts/models/index.ts
Due: none
