Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

Update studio-pong-and-protocol-docs.md
  .changeset/studio-pong-and-protocol-docs.md
Due: none

refactor(studio): infer skipStorage from client kind, drop it from the wire
  .changeset/agent-snapshot-packing.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
Due: none

docs(studio): tighten the snapshot-packing changeset
  .changeset/agent-snapshot-packing.md
Due: none

Update agent-snapshot-packing.md
  .changeset/agent-snapshot-packing.md
Due: none

feat(studio): hide the snapshot upload URL behind a Studio endpoint
  .changeset/agent-snapshot-packing.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
Due: none

docs(studio): fix stale snapshot-upload wording after the redirect change
  packages/studio/src/protocol/index.ts
Due: none

fix(studio): stop the snapshot upload from sending its body to Studio
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
Due: none

docs(studio): document the snapshot upload redirect in the README
  packages/studio/README.md
  packages/studio/src/StudioSession.ts
Due: none

docs(studio): trim the snapshot protocol JSDoc
  packages/studio/src/protocol/index.ts
Due: none

fix(studio): make the reconnect loop's logs reach a CI runner, gated by --log-level
  .changeset/reconnect-log-level.md
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
Due: @kubb/cli

fix(studio): route the disconnect teardown notice through console.error too
  .changeset/reconnect-log-level.md
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
Due: none

feat(studio): pack snapshot tarballs on the agent (#4052)
  .changeset/agent-snapshot-packing.md
  .changeset/reconnect-log-level.md
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/README.md
  packages/studio/package.json
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/snapshotPackage.test.ts
  packages/studio/src/snapshotPackage.ts
  packages/studio/src/ws.test.ts
  packages/studio/src/ws.ts
  pnpm-lock.yaml
Due: @kubb/cli

fix(studio): back off while polling a job so it stays inside the API key rate limit
  .changeset/wait-for-job-backoff.md
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
Due: none

fix(studio): delay the first job poll and raise the backoff ceiling
  .changeset/wait-for-job-backoff.md
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
Due: none

fix(studio): keep a refused poll from shortening the next one
  .changeset/wait-for-job-backoff.md
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
Due: none

fix(studio): recheck the deadline after the poll sleep and validate tryAgainIn
  .changeset/wait-for-job-backoff.md
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
Due: none

fix(studio): back off while polling a job to stay inside the API key rate limit (#4057)
  .changeset/wait-for-job-backoff.md
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
Due: none

feat(studio)!: stop sending file contents on kubb:generation:end
  .changeset/small-generation-end.md
  packages/cli/src/commands/studio.ts
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/ws.test.ts
  packages/studio/src/ws.ts
Due: @kubb/cli

fix(studio): address review feedback on generation:end change
  .changeset/small-generation-end.md
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/ws.ts
Due: none

perf(studio): stop caching a whole generation's output in memory
  .changeset/lazy-generation-storage.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/ws.test.ts
  packages/studio/src/ws.ts
Due: none

feat(studio)!: stop sending file contents on kubb:generation:end (#4059)
  .changeset/lazy-generation-storage.md
  .changeset/small-generation-end.md
  packages/cli/src/commands/studio.ts
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/ws.test.ts
  packages/studio/src/ws.ts
Due: @kubb/cli

feat: replace studio websocket commands with rpc
  .changeset/rpc-cutover.md
  packages/adapter-oas/src/adapter.ts
  packages/cli/package.json
  packages/cli/src/runners/studio/rpc.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/core/README.md
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/types.ts
  packages/studio/README.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.ts
  packages/studio/src/client.e2e.test.ts
  packages/studio/src/client.test.ts
  packages/studio/src/client.ts
  packages/studio/src/generate.ts
  packages/studio/src/hooks.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.test.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/runConnection.test.ts
  packages/studio/src/websocket.mock.ts
  packages/studio/src/ws.test.ts
  packages/studio/src/ws.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

cleanup
  .changeset/rpc-cutover.md
  packages/core/src/FileManager.ts
  packages/core/src/types.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
Due: @kubb/core

update packages
  packages/cli/package.json
  packages/kubb/package.json
  packages/studio/package.json
  packages/unplugin-kubb/package.json
  pnpm-workspace.yaml
Due: @kubb/cli, kubb, unplugin-kubb

update packages
  pnpm-lock.yaml
Due: none

perf(studio): parallelize connect config reads
  packages/studio/src/StudioSession.ts
Due: none

fix(studio): upload snapshots without s3 locally
  packages/studio/src/StudioSession.ts
Due: none

fix(studio): remove local snapshot upload retry
  packages/studio/src/StudioSession.ts
Due: none

fixes
  packages/cli/src/runners/studio/credentials.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/ws.ts
Due: @kubb/cli

Update rpc-cutover.md
  .changeset/rpc-cutover.md
Due: none

feat: move studio generation to transport-neutral rpc
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/converters/structural.ts
  packages/ast/src/visitor.ts
  packages/cli/package.json
  packages/cli/src/runners/studio/rpc.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/Resolver.ts
  packages/studio/README.md
  packages/studio/package.json
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.test.ts
  packages/studio/src/hooks.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/rpc.ts
  packages/studio/src/ws.test.ts
  packages/studio/src/ws.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

refactor: simplify conditional assignments
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/converters/structural.ts
  packages/adapter-oas/src/operation.ts
  packages/core/src/Resolver.ts
  packages/studio/README.md
  packages/studio/src/StudioSession.ts
  packages/studio/src/ws.ts
Due: @kubb/core

refactor: flatten nested conditionals
  packages/adapter-oas/src/emit/converters/scalar.ts
Due: none

refactor: simplify rpc session conditionals
  packages/studio/src/StudioSession.ts
Due: none

fix: suppress stream abort rejection
  packages/studio/src/ws.ts
Due: none

fix: make plugin saves idempotent
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
Due: none

fixes
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
Due: none

fix: pin @types/node to 22.20.1 to satisfy safe-chain age check
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor(studio): rename AgentConnectResponse.rpcUrl to url
  packages/studio/README.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.test.ts
  packages/studio/src/protocol/index.ts
Due: none

fix(studio): address CodeRabbit review on RPC cutover
  .changeset/rpc-cutover.md
  packages/adapter-oas/src/adapter.ts
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/studio/README.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/generate.ts
  packages/studio/src/rpc.ts
  packages/studio/src/urlSafety.test.ts
  packages/studio/src/urlSafety.ts
  packages/studio/src/ws.test.ts
  packages/studio/src/ws.ts
  pnpm-lock.yaml
Due: @kubb/core

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
