Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

chore(examples): update generated files
  packages/plugin-ts/src/transformer.ts
Due: @kubb/plugin-ts

update packages
  examples/advanced/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Due: unplugin-kubb

default as default for resolver
  packages/core/src/createResolver.ts
  packages/core/src/types.ts
  packages/plugin-ts/src/resolver.ts
Due: @kubb/core, @kubb/plugin-ts

cleanup
  docs/getting-started/configure.md
  packages/core/src/build.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createGenerator.ts
  packages/core/src/createPlugin.ts
  packages/core/src/createResolver.ts
  packages/core/src/createStorage.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/resolveOptions.ts
  packages/plugin-ts/src/resolver.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/core, @kubb/plugin-ts

jsdocs
  packages/core/src/createAdapter.ts
  packages/core/src/createGenerator.ts
  packages/core/src/createLogger.ts
  packages/core/src/createPlugin.ts
  packages/core/src/createResolver.ts
  packages/core/src/createStorage.ts
Due: @kubb/core

formating
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/resolverTs.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

remove deprecate json format in getPlugins.ts
  .changeset/remove-object-json-plugins-validation.md
  docs/migration-guide.md
  packages/core/src/utils/getConfigs.ts
  packages/core/src/utils/getPlugins.ts
Due: @kubb/core

remove PackageManager.ts
  packages/core/src/PackageManager.test.ts
  packages/core/src/PackageManager.ts
  packages/core/src/index.ts
  packages/core/src/utils/packageJSON.ts
  packages/plugin-zod/src/plugin.ts
Due: @kubb/core, @kubb/plugin-zod

cleanup
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/fileSystemLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/core/src/createStorage.test.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/defineLogger.ts
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/packageJSON.test.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
  packages/plugin-ts/src/resolverTs.ts
Due: @kubb/cli, @kubb/core, @kubb/plugin-ts

cleanup
  packages/core/src/utils/packageJSON.test.ts
Due: @kubb/core

cleanup naming
  packages/core/src/Kubb.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/build.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: @kubb/core

set
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/types.ts
  packages/cli/src/utils/flags.ts
  packages/cli/src/utils/getIntro.ts
Due: @kubb/cli

cleanup
  packages/core/src/Kubb.ts
  packages/core/src/index.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/plugin.ts
Due: @kubb/core, @kubb/plugin-oas

cleanup
  internals/utils/src/reserved.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/oas/utils.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/utils.ts
  packages/ast/src/utils.ts
  packages/cli/src/constants.ts
  packages/core/src/constants.ts
  packages/core/src/defineResolver.ts
  packages/core/src/utils/formatters.ts
  packages/core/src/utils/linters.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-ts/src/constants.ts
Due: @kubb/cli, @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

typegenerator v2 issues resolved
  packages/adapter-oas/src/oas/Oas.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/mocks.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/visitor.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/deletePetDELETEWithNoResponseBody/deletePet.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
  packages/plugin-ts/src/generators/v2/utils.test.ts
  packages/plugin-ts/src/generators/v2/utils.ts
Due: @kubb/plugin-ts

cleanup
  packages/adapter-oas/src/parser.test.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
  packages/plugin-ts/src/generators/v2/utils.test.ts
Due: @kubb/plugin-ts

Update utils.ts
  packages/plugin-ts/src/generators/v2/utils.ts
Due: @kubb/plugin-ts

cleanup
  packages/plugin-ts/src/generators/v2/utils.test.ts
Due: @kubb/plugin-ts

cleanup
  examples/typescript/src/gen-adapter/models/Order.ts
  examples/typescript/src/gen/models.ts
  examples/typescript/src/gen2/modelsConst.ts
  examples/typescript/src/gen3/modelsPascalConst.ts
  examples/typescript/src/gen4/modelsConstEnum.ts
  examples/typescript/src/gen5/modelsLiteral.ts
  examples/typescript/src/gen6/ts/models/Order.ts
  packages/adapter-oas/src/utils.test.ts
  packages/adapter-oas/src/utils.ts
Due: none

test cases for resolveBanner and resolveFooter
  packages/core/src/hooks/useKubb.test.ts
Due: @kubb/core

docs: update changelog for v5.0.0-alpha.9
  docs/changelog.md
Due: none

feat: ast for functionparams
  packages/ast/src/constants.ts
  packages/ast/src/factory.ts
  packages/ast/src/functionPrinter.test.ts
  packages/ast/src/functionPrinter.ts
  packages/ast/src/guards.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/printer.ts
  packages/ast/src/types.ts
  packages/ast/src/visitor.ts
Due: none

cleanup
  packages/ast/src/functionPrinter.test.ts
  packages/ast/src/functionPrinter.ts
  packages/ast/src/types.ts
Due: none

format
  packages/ast/src/factory.ts
  packages/ast/src/guards.ts
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/types.ts
  packages/core/src/hooks/useKubb.test.ts
Due: @kubb/core

format
  .changeset/ast-function-params.md
  cspell.json
  packages/core/src/utils/FunctionParams.ts
Due: @kubb/core

cleanup plugin.ts
  packages/plugin-ts/src/plugin.ts
Due: @kubb/plugin-ts

docs: update changelog for v5.0.0-alpha.10
  docs/changelog.md
Due: none

use buildNode from @kubb/core
  packages/core/src/buildNode.tsx
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/src/generators/v2/typeGenerator.test.tsx
  packages/plugin-ts/src/plugin.ts
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

naming
  packages/adapter-oas/src/parser.ts
  packages/core/src/index.ts
  packages/core/src/renderNode.tsx
  packages/plugin-client/src/generators/classClientGenerator.test.tsx
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/clientGenerator.test.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.test.tsx
  packages/plugin-client/src/generators/operationsGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.test.tsx
  packages/plugin-mcp/src/generators/serverGenerator.test.tsx
  packages/plugin-msw/src/generators/handlersGenerator.test.tsx
  packages/plugin-msw/src/generators/mswGenerator.test.tsx
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-react-query/src/generators/infiniteQueryGenerator.test.tsx
  packages/plugin-react-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-react-query/src/generators/queryGenerator.test.tsx
  packages/plugin-react-query/src/generators/suspenseInfiniteQueryGenerator.test.tsx
  packages/plugin-react-query/src/generators/suspenseQueryGenerator.test.tsx
  packages/plugin-solid-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-solid-query/src/generators/queryGenerator.test.tsx
  packages/plugin-svelte-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-svelte-query/src/generators/queryGenerator.test.tsx
  packages/plugin-swr/src/generators/mutationGenerator.test.tsx
  packages/plugin-swr/src/generators/queryGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/v2/typeGenerator.test.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-vue-query/src/generators/infiniteQueryGenerator.test.tsx
  packages/plugin-vue-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-vue-query/src/generators/queryGenerator.test.tsx
  packages/plugin-zod/src/generators/operationsGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

support legacy
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/resolverTsLegacy.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

update changeset and migration-guide.md
  .changeset/plugin-ts-legacy-flag.md
  .changeset/plugin-ts-remove-deprecated-options.md
  docs/migration-guide.md
Due: none

cleanup
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/resolverTs.ts
  packages/plugin-ts/src/resolverTsLegacy.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

fix parser infer
  packages/adapter-oas/src/parser.ts
Due: none

update packages
  examples/advanced/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
