Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

Notes added by 'git notes add'
  94ae5dd432bda0b78470cd19968a6805857aa340
Due: none

cleanup changesets
  .changeset/add-core-mocks-subpath.md
  .changeset/pre.json
  packages/core/package.json
  packages/core/src/PluginDriver.test.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/index.ts
  packages/core/src/mocks.ts
  packages/core/tsdown.config.ts
  packages/kubb/src/defineConfig.test.ts
  tsconfig.json
Due: @kubb/core, kubb

cleanup
  .changeset/config.json
  packages/agent/package.json
  pnpm-lock.yaml
Due: none

ci(changesets): version packages (alpha)
  .changeset/pre.json
  packages/adapter-oas/CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/ast/CHANGELOG.md
  packages/ast/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/parser-ts/CHANGELOG.md
  packages/parser-ts/package.json
  packages/renderer-jsx/CHANGELOG.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/CHANGELOG.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, unplugin-kubb

docs: update changelog for v5.0.0-alpha.36
  docs/changelog.md
Due: none

cleanup @internals/utils
  internals/utils/src/casing.test.ts
  internals/utils/src/casing.ts
  internals/utils/src/errors.ts
  internals/utils/src/index.ts
  internals/utils/src/jsdoc.test.ts
  internals/utils/src/jsdoc.ts
  internals/utils/src/mocks.ts
  internals/utils/src/names.test.ts
  internals/utils/src/names.ts
  internals/utils/src/object.test.ts
  internals/utils/src/object.ts
  internals/utils/src/packageManager.ts
  internals/utils/src/regexp.test.ts
  internals/utils/src/regexp.ts
  internals/utils/src/string.test.ts
  internals/utils/src/string.ts
  packages/adapter-oas/src/discriminator.test.ts
  packages/adapter-oas/src/resolvers.test.ts
  scripts/find-release-from-changeset.js
  tsconfig.json
Due: none

remove unused exports
  packages/ast/src/index.ts
  packages/ast/src/visitor.ts
  packages/core/src/index.ts
Due: @kubb/core

remove unused exports
  packages/ast/src/visitor.test.ts
Due: none

add todo
  packages/core/src/index.ts
Due: @kubb/core

cleanup
  configs/vitest.bench.config.ts
  package.json
Due: none

unknown plugins are possible
  packages/agent/package.json
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/mergePlugins.test.ts
  packages/agent/server/utils/mergePlugins.ts
  packages/agent/server/utils/resolvePlugins.test.ts
  packages/agent/server/utils/resolvePlugins.ts
  pnpm-lock.yaml
Due: none

feat: cleanup for formatters, linters and use of node spawn to reduce packages imports
  .changeset/agent-dynamic-plugin-resolution.md
  .changeset/core-getmode-static-cleanup.md
  internals/utils/src/formatters.test.ts
  internals/utils/src/formatters.ts
  internals/utils/src/index.ts
  internals/utils/src/linters.test.ts
  internals/utils/src/linters.ts
  packages/agent/server/utils/generate.ts
  packages/cli/src/runners/generate.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/constants.ts
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/core/src/utils/FunctionParams.test.ts
  packages/core/src/utils/FunctionParams.ts
  packages/core/src/utils/TreeNode.ts
  packages/core/src/utils/formatters.test.ts
  packages/core/src/utils/formatters.ts
  packages/core/src/utils/getFunctionParams.ts
  packages/core/src/utils/linters.test.ts
  packages/core/src/utils/linters.ts
Due: @kubb/cli, @kubb/core

fix: remove source-map-support as we dont' need it anymore
  .changeset/cli-esm-bin-multi-runtime.md
  packages/cli/bin/kubb.cjs
  packages/cli/bin/kubb.js
  packages/cli/package.json
  pnpm-lock.yaml
Due: @kubb/cli

chore: cleanup
  packages/cli/bin/kubb.js
  packages/core/package.json
  packages/core/src/PluginDriver.test.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useDriver.ts
  packages/core/src/hooks/useMode.ts
  packages/core/src/hooks/usePlugin.ts
  packages/core/src/index.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/core/src/utils/TreeNode.test.ts
  packages/core/src/utils/executeStrategies.ts
  packages/core/tsdown.config.ts
Due: @kubb/cli, @kubb/core

docs: update changelog for v5.0.0-alpha.38
  docs/changelog.md
Due: none

feat: registry
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/mergePlugins.test.ts
  packages/agent/server/utils/mergePlugins.ts
  packages/agent/server/utils/resolvePlugins.test.ts
  packages/agent/server/utils/resolvePlugins.ts
  packages/core/package.json
  packages/core/schemas/config.schema.json
  packages/core/scripts/generateSchema.mjs
  packages/core/src/Kubb.ts
  packages/core/src/createKubb.ts
  packages/core/src/registry.test.ts
  packages/core/src/registry.ts
  packages/core/src/resolveJSONConfig.ts
  packages/core/src/types.ts
  pnpm-lock.yaml
Due: @kubb/core

migration guide
  packages/agent/MIGRATION.md
Due: none

add object param tests
  packages/plugin-react-query/src/generators/__snapshots__/postAsQueryObjectParams/postAsQueryObjectParams.ts
  packages/plugin-react-query/src/generators/queryGenerator.test.tsx
  packages/plugin-vue-query/src/generators/__snapshots__/postAsQueryObjectParams/postAsQueryObjectParams.ts
  packages/plugin-vue-query/src/generators/queryGenerator.test.tsx
Due: @kubb/plugin-react-query, @kubb/plugin-vue-query

update snapshots
  packages/plugin-react-query/src/generators/__snapshots__/getPetIdCamelCase.ts
  packages/plugin-react-query/src/generators/__snapshots__/postAsQuery.ts
  packages/plugin-react-query/src/generators/__snapshots__/postAsQueryObjectParams.ts
  packages/plugin-solid-query/src/generators/__snapshots__/postAsQuery.ts
  packages/plugin-swr/src/generators/__snapshots__/postAsQuery.ts
  packages/plugin-vue-query/src/generators/__snapshots__/postAsQueryObjectParams.ts
Due: @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-swr, @kubb/plugin-vue-query

chore: add changeset for #3022 optional path params fix
  .changeset/query-optional-path-params.md
Due: none

fix(query): make path params optional when enabled guard is generated
  internals/tanstack-query/src/components/QueryKey.tsx
  packages/plugin-react-query/src/components/InfiniteQuery.tsx
  packages/plugin-react-query/src/components/InfiniteQueryOptions.tsx
  packages/plugin-react-query/src/components/Query.tsx
  packages/plugin-react-query/src/components/QueryOptions.tsx
  packages/plugin-react-query/src/components/SuspenseInfiniteQuery.tsx
  packages/plugin-react-query/src/components/SuspenseInfiniteQueryOptions.tsx
  packages/plugin-react-query/src/components/SuspenseQuery.tsx
  packages/plugin-solid-query/src/components/Query.tsx
  packages/plugin-solid-query/src/components/QueryOptions.tsx
  packages/plugin-svelte-query/src/components/Query.tsx
  packages/plugin-svelte-query/src/components/QueryOptions.tsx
  packages/plugin-vue-query/src/components/InfiniteQuery.tsx
  packages/plugin-vue-query/src/components/InfiniteQueryOptions.tsx
  packages/plugin-vue-query/src/components/Query.tsx
  packages/plugin-vue-query/src/components/QueryKey.tsx
  packages/plugin-vue-query/src/components/QueryOptions.tsx
Due: @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-vue-query

Update snapshots
  packages/plugin-vue-query/src/generators/__snapshots__/postAsQuery.ts
Due: @kubb/plugin-vue-query

fix: remove oas package as we are now using adapter-oas
  .changeset/node-22-minimum.md
  .changeset/pre.json
  .changeset/remove-oas-package.md
  .changeset/typescript-6-upgrade.md
  .github/labeler.yml
  codecov.yml
  docs/architecture/ast.md
  docs/helpers/cli.md
  docs/migration-guide.md
  docs/plugins/plugin-oas.md
  packages/adapter-oas/src/factory.test.ts
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/index.ts
  packages/agent/Dockerfile
  packages/cli/package.json
  packages/cli/src/runners/validate.ts
  packages/oas/CHANGELOG.md
  packages/oas/README.md
  packages/oas/mocks/oas.ts
  packages/oas/mocks/petStore.ts
  packages/oas/mocks/petStore.yaml
  packages/oas/mocks/petStoreV2.json
  packages/oas/package.json
  packages/oas/src/Oas.test.ts
  packages/oas/src/Oas.ts
  packages/oas/src/__snapshots__/Oas.test.ts.snap
  packages/oas/src/__snapshots__/utils.spec.ts.snap
  packages/oas/src/constants.ts
  packages/oas/src/index.ts
  packages/oas/src/resolveServerUrl.test.ts
  packages/oas/src/resolveServerUrl.ts
  packages/oas/src/types.ts
  packages/oas/src/utils.spec.ts
  packages/oas/src/utils.ts
  packages/oas/tsconfig.json
  packages/oas/tsdown.config.ts
  packages/oas/vitest.config.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/oas

chore: fix ts
  packages/adapter-oas/src/factory.test.ts
Due: none

chore: cleanup
  packages/adapter-oas/package.json
  packages/agent/server/constants.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/runtimeConfig.ts
  packages/agent/server/utils/ws.ts
  packages/cli/src/runners/agent.ts
  packages/cli/src/utils/getSummary.ts
  packages/core/src/storages/fsStorage.ts
  packages/mcp/src/tools/generate.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli, @kubb/core, @kubb/mcp

ci(changesets): version packages (alpha)
  .changeset/pre.json
  packages/adapter-oas/CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/ast/CHANGELOG.md
  packages/ast/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/parser-ts/CHANGELOG.md
  packages/parser-ts/package.json
  packages/renderer-jsx/CHANGELOG.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/CHANGELOG.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: update changelog for v5.0.0-alpha.39
  docs/changelog.md
Due: none

fix: resolve defineConfig type issues
  .changeset/some-dodos-search.md
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/kubb/src/types.ts
  packages/unplugin-kubb/src/types.test.ts
  packages/unplugin-kubb/src/types.ts
Due: @kubb/core, kubb, unplugin-kubb

docs: update changelog for v5.0.0-alpha.40
  docs/changelog.md
Due: none

fix: resolve defineConfig type issues
  .changeset/create-kubb-user-config-signature.md
  docs/migration-guide.md
  packages/agent/server/utils/generate.ts
  packages/cli/src/runners/generate.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/utils/isInputPath.ts
  packages/mcp/src/tools/generate.ts
  packages/unplugin-kubb/src/types.test.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

docs: update changelog for v5.0.0-alpha.41
  docs/changelog.md
Due: none

fix: resolve defineConfig typings
  .changeset/fix-defineconfig-entrypoint.md
  packages/adapter-oas/src/adapter.ts
  packages/agent/README.md
  packages/cli/src/runners/init.ts
  packages/core/src/storages/fsStorage.ts
  packages/core/src/storages/memoryStorage.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/mcp/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp

docs: update changelog for v5.0.0-alpha.42
  docs/changelog.md
Due: none

fix(adapter-oas): iterate enum values instead of names in convertEnum
  packages/adapter-oas/src/parser.ts
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
