Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

fix(release): jump unplugin-kubb past its squatted npm versions (#3940)
  .changeset/config.json
  .changeset/rc-version-numbering.md
  packages/unplugin-kubb/package.json
Due: unplugin-kubb

support local linking
  packages/studio/src/resolveConfig.ts
Due: none

improvement for kubb studio
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/studio.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/client.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/index.ts
Due: @kubb/cli

feat(studio): let a host pair as something other than the CLI
  .changeset/plain-moons-pair.md
  packages/studio/README.md
  packages/studio/src/pair.ts
Due: none

refactor(studio): drop poolSize from the pairing request
  packages/studio/src/pair.ts
Due: none

style: wrap the startPairing signature to the repo's line width
  packages/studio/src/pair.ts
Due: none

feat(shared): proof of concept for patching kubb.config.ts in place
  internals/shared/mocks/advanced.config.txt
  internals/shared/package.json
  internals/shared/src/configPatch.test.ts
  internals/shared/src/configPatch.ts
  internals/shared/src/index.ts
  pnpm-lock.yaml
Due: none

feat(studio): let Studio and kubb init edit kubb.config.ts in place
  .changeset/lucky-donuts-shave.md
  .changeset/shaggy-moons-repeat.md
  internals/shared/package.json
  internals/shared/src/configPatch.test.ts
  internals/shared/src/configPatch.ts
  internals/shared/src/index.ts
  internals/shared/src/init.test.ts
  internals/shared/src/init.ts
  packages/cli/package.json
  packages/cli/src/commands/studio.ts
  packages/cli/src/runners/init/run.ts
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/package.json
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
  pnpm-lock.yaml
Due: @kubb/cli

refactor(studio): name the edit field operation, and keep kubb init as first setup
  .changeset/lucky-donuts-shave.md
  .changeset/shaggy-moons-repeat.md
  internals/shared/package.json
  internals/shared/src/index.ts
  internals/shared/src/init.test.ts
  internals/shared/src/init.ts
  packages/cli/package.json
  packages/cli/src/runners/init/run.ts
  packages/studio/mocks/advanced.config.txt
  packages/studio/package.json
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
  pnpm-lock.yaml
Due: @kubb/cli

docs(studio): apply the jsdoc and humanizer passes to the config patcher
  .changeset/lucky-donuts-shave.md
  .changeset/shaggy-moons-repeat.md
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
Due: none

chore: less files
  packages/studio/package.json
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/http.ts
  packages/studio/src/pair.ts
  pnpm-lock.yaml
Due: none

refactor(studio): fold in the cleanup review
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/resolveConfig.test.ts
  packages/studio/src/resolveConfig.ts
Due: @kubb/cli

format
  packages/cli/src/runners/studio/run.test.ts
Due: @kubb/cli

cleanup
  packages/cli/README.md
  packages/cli/src/commands/studio.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/constants.ts
  packages/studio/src/generate.test.ts
  packages/studio/src/generate.ts
  packages/studio/src/pair.ts
  packages/studio/src/protocol/index.ts
Due: @kubb/cli

update connection
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
Due: none

refactor(studio): drop else if chain in generate step loop
  packages/studio/src/generate.ts
Due: none

refactor(studio): drop else if chain in generate step loop (#3944)
  packages/studio/src/generate.ts
Due: none

Rename write-config command to save
  .changeset/shaggy-moons-repeat.md
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
Due: none

Rename write-config command to save (#3945)
  .changeset/shaggy-moons-repeat.md
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
Due: none

refactor(studio): consolidate postJson into api.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/http.ts
  packages/studio/src/pair.ts
Due: none

refactor(studio): consolidate postJson into api.ts (#3946)
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/http.ts
  packages/studio/src/pair.ts
Due: none

feat(studio): swap ts-morph for magicast, support array configs and plugin disable
  .changeset/tame-eagles-invite.md
  packages/cli/src/runners/studio/run.ts
  packages/studio/mocks/array.config.txt
  packages/studio/package.json
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/constants.ts
  packages/studio/src/generate.test.ts
  packages/studio/src/generate.ts
  packages/studio/src/logger.ts
  packages/studio/src/machine.ts
  packages/studio/src/protocol/index.test.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/websocket.mock.ts
  pnpm-lock.yaml
Due: @kubb/cli

Feature/studio config writeback poc (#3943)
  .changeset/lucky-donuts-shave.md
  .changeset/shaggy-moons-repeat.md
  .changeset/tame-eagles-invite.md
  packages/cli/README.md
  packages/cli/src/commands/studio.ts
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/mocks/advanced.config.txt
  packages/studio/mocks/array.config.txt
  packages/studio/package.json
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/constants.ts
  packages/studio/src/generate.test.ts
  packages/studio/src/generate.ts
  packages/studio/src/logger.ts
  packages/studio/src/machine.ts
  packages/studio/src/pair.ts
  packages/studio/src/protocol/index.test.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/resolveConfig.test.ts
  packages/studio/src/resolveConfig.ts
  packages/studio/src/websocket.mock.ts
  pnpm-lock.yaml
Due: @kubb/cli

Move single-package utilities out of @internals/utils
  .changeset/wild-donkeys-argue.md
  internals/utils/src/errors.ts
  internals/utils/src/fs.test.ts
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/loggers/banner.test.ts
  packages/cli/src/loggers/banner.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/utils/env.test.ts
  packages/cli/src/utils/env.ts
  packages/core/src/FileManager.ts
  packages/core/src/Resolver.ts
  packages/core/src/concurrency.test.ts
  packages/core/src/concurrency.ts
  packages/core/src/createKubb.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/outputManifest.ts
  packages/core/src/reporters/cliReporter.ts
  packages/core/src/reporters/colors.ts
  packages/kit/src/Url.test.ts
  packages/kit/src/Url.ts
  packages/kit/src/index.ts
  packages/kit/src/utils/reserved.test.ts
  packages/kit/src/utils/reserved.ts
Due: @kubb/cli, @kubb/core

Drop unnecessary exports found by knip
  internals/shared/src/loader.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/model/components.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/visitor.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/studio/run.ts
  packages/core/src/createKubb.ts
  packages/core/src/outputManifest.ts
  packages/mcp/src/utils.ts
  packages/plugin-barrel/src/utils.ts
  packages/studio/src/configFile.ts
  packages/studio/src/machine.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp

fix: clean up studio test checks
  internals/utils/src/promise.ts
  packages/studio/src/api.test.ts
  packages/studio/src/client.e2e.test.ts
Due: none

docs: fix stale claims in two changesets
  .changeset/plain-moons-pair.md
  .changeset/shaggy-moons-repeat.md
Due: none

refactor(cli): lazy-load mcp and validate, document KUBB_HOME
  packages/cli/README.md
  packages/cli/src/commands/mcp.ts
  packages/cli/src/commands/validate.test.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/mcp/run.ts
  packages/cli/src/runners/validate/run.ts
Due: @kubb/cli

fix(studio): report each managed plugin option's actual value
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/protocol/index.ts
Due: none

docs: add changesets for the lazy-load and option-value fixes
  .changeset/six-otters-cheer.md
  .changeset/soft-jokes-drum.md
Due: none

test: cut slop from the studio/utils test suites
  internals/utils/src/tools.test.ts
  packages/studio/src/configFile.test.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/generate.test.ts
  packages/studio/src/protocol/index.test.ts
  packages/studio/src/resolveConfig.test.ts
Due: none

refactor(studio): drop isLiteral, derive it from readLiteral
  packages/studio/src/configFile.ts
Due: none

cleanup slop
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/client.ts
  packages/studio/src/configFile.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/console.mock.ts
  packages/studio/src/generate.ts
  packages/studio/src/index.ts
  packages/studio/src/logger.test.ts
  packages/studio/src/logger.ts
  packages/studio/src/machine.test.ts
  packages/studio/src/machine.ts
  packages/studio/src/pair.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/resolveConfig.test.ts
  packages/studio/tsdown.config.ts
Due: @kubb/cli

Update packages
  package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kubb, unplugin-kubb

fix gunshi
  packages/cli/README.md
  packages/cli/src/commands/validate.test.ts
  packages/cli/src/index.ts
Due: @kubb/cli

fix: Avoids duplicate filesystem reads during generated file writes
  .changeset/native-node-helpers.md
  internals/utils/src/fs.ts
  internals/utils/src/promise.test.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createStorage.ts
  packages/core/src/storages/fsStorage.ts
Due: @kubb/core

add better logs
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/pair.test.ts
  packages/studio/src/pair.ts
Due: none

chore: upgrade pnpm to 12.2.1
  package.json
  pnpm-lock.yaml
Due: none

fix(studio): drop unused core/package exception from tsdown neverBundle
  packages/studio/tsdown.config.ts
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
