Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

update plugins core
  packages/cli/src/runners/generate.ts
  packages/core/src/PluginDriver.ts
Due: @kubb/cli, @kubb/core

update plugins core
  packages/core/src/PluginDriver.ts
Due: @kubb/core

use of this.getPlugin in cypress
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
Due: @kubb/plugin-cypress

naming
  packages/plugin-ts/src/resolvers/resolverTs.ts
Due: @kubb/plugin-ts

update
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/src/utils.ts
Due: @kubb/plugin-cypress

chore(examples): update generated files
  examples/advanced/src/gen/cypress/petController/addFiles.ts
  examples/advanced/src/gen/cypress/petController/addPet.ts
  examples/advanced/src/gen/cypress/petController/deletePet.ts
  examples/advanced/src/gen/cypress/petController/findPetsByStatus.ts
  examples/advanced/src/gen/cypress/petController/findPetsByTags.ts
  examples/advanced/src/gen/cypress/petController/getPetById.ts
  examples/advanced/src/gen/cypress/petController/updatePet.ts
  examples/advanced/src/gen/cypress/petController/updatePetWithForm.ts
  examples/advanced/src/gen/cypress/petController/uploadFile.ts
  examples/advanced/src/gen/cypress/petsController/createPets.ts
  examples/advanced/src/gen/cypress/storeController/deleteOrder.ts
  examples/advanced/src/gen/cypress/storeController/getInventory.ts
  examples/advanced/src/gen/cypress/storeController/getOrderById.ts
  examples/advanced/src/gen/cypress/storeController/placeOrder.ts
  examples/advanced/src/gen/cypress/storeController/placeOrderPatch.ts
  examples/advanced/src/gen/cypress/userController/createUser.ts
  examples/advanced/src/gen/cypress/userController/createUsersWithListInput.ts
  examples/advanced/src/gen/cypress/userController/deleteUser.ts
  examples/advanced/src/gen/cypress/userController/getUserByName.ts
  examples/advanced/src/gen/cypress/userController/loginUser.ts
  examples/advanced/src/gen/cypress/userController/logoutUser.ts
  examples/advanced/src/gen/cypress/userController/updateUser.ts
  examples/cypress/src/gen/cypress/petRequests/deletePet.ts
  examples/cypress/src/gen/cypress/petRequests/getPetById.ts
  examples/cypress/src/gen/cypress/petRequests/updatePetWithForm.ts
  examples/cypress/src/gen/cypress/petRequests/uploadFile.ts
  examples/cypress/src/gen/cypress/storeRequests/deleteOrder.ts
  examples/cypress/src/gen/cypress/storeRequests/getOrderById.ts
  examples/cypress/src/gen/cypress/storeRequests/placeOrder.ts
  examples/cypress/src/gen/cypress/storeRequests/placeOrderPatch.ts
  examples/cypress/src/gen/cypress/userRequests/createUser.ts
  examples/cypress/src/gen/cypress/userRequests/createUsersWithListInput.ts
  examples/cypress/src/gen/cypress/userRequests/deleteUser.ts
  examples/cypress/src/gen/cypress/userRequests/getUserByName.ts
  examples/cypress/src/gen/cypress/userRequests/updateUser.ts
Due: none

revert
  packages/plugin-cypress/package.json
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/components/index.ts
  packages/plugin-cypress/src/constants.ts
  packages/plugin-cypress/src/generators/__snapshots__/createPet/createPet.ts
  packages/plugin-cypress/src/generators/__snapshots__/createPet/createPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/deletePet/deletePet.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPets/getPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPets/listPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsWithTemplateString/getPetsWithTemplateString.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsWithTemplateString/listPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/showPetById/showPetById.ts
  packages/plugin-cypress/src/generators/__snapshots__/updatePet/updatePet.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/src/generators/index.ts
  packages/plugin-cypress/src/index.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-cypress/src/presets.ts
  packages/plugin-cypress/src/resolvers/resolverCypress.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-cypress/src/utils.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-cypress/vitest.config.ts
Due: @kubb/plugin-cypress

update packages
  packages/plugin-redoc/package.json
  pnpm-lock.yaml
Due: @kubb/plugin-redoc

cleanup
  configs/mocks.ts
  internals/utils/src/names.test.ts
  packages/core/src/PluginDriver.test.ts
Due: @kubb/core

use of ast for params
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/generators/__snapshots__/createPet/createPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/deletePet/deletePet.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPets/listPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsWithTemplateString/listPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/showPetById/showPetById.ts
  packages/plugin-cypress/src/generators/__snapshots__/updatePet/updatePet.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/plugin-cypress

use of ast for params
  packages/plugin-cypress/src/generators/__snapshots__/createPetLegacy/createPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/deletePetLegacy/deletePet.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsLegacy/listPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsWithTemplateStringLegacy/listPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/showPetByIdLegacy/showPetById.ts
  packages/plugin-cypress/src/generators/__snapshots__/updatePetLegacy/updatePet.ts
Due: @kubb/plugin-cypress

cleanup
  packages/core/src/types.ts
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
Due: @kubb/core, @kubb/plugin-cypress

cleanup Group
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/types.ts
  packages/plugin-client/src/plugin.ts
  packages/plugin-client/src/types.ts
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-faker/src/plugin.ts
  packages/plugin-faker/src/types.ts
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-msw/src/plugin.ts
  packages/plugin-msw/src/types.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-react-query/src/plugin.ts
  packages/plugin-react-query/src/types.ts
  packages/plugin-solid-query/src/plugin.ts
  packages/plugin-solid-query/src/types.ts
  packages/plugin-svelte-query/src/plugin.ts
  packages/plugin-svelte-query/src/types.ts
  packages/plugin-swr/src/plugin.ts
  packages/plugin-swr/src/types.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-vue-query/src/plugin.ts
  packages/plugin-vue-query/src/types.ts
  packages/plugin-zod/src/plugin.ts
  packages/plugin-zod/src/types.ts
  schemas/3.0.x/noTagsDotOperationId.yaml
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

cleanup Group
  packages/core/src/defineResolver.ts
  packages/plugin-cypress/src/utils.ts
Due: @kubb/core, @kubb/plugin-cypress

cleanup Group
  examples/advanced/src/gen/cypress/petRequests/addFiles.ts
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  packages/adapter-oas/mocks/oas.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/factory.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/utils.ts
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/generators/__snapshots__/createPet/createPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/createPetLegacy/createPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/deletePetLegacy/deletePet.ts
  packages/plugin-cypress/src/generators/__snapshots__/showPetByIdLegacy/showPetById.ts
  packages/plugin-cypress/src/generators/__snapshots__/updatePet/updatePet.ts
  packages/plugin-cypress/src/generators/__snapshots__/updatePetLegacy/updatePet.ts
  packages/plugin-cypress/src/utils.ts
  tests/3.0.x/__snapshots__/noTagsDotOperationId/types/configController/CreateConfigV20250.ts
  tests/3.0.x/__snapshots__/noTagsDotOperationId/types/undefinedController/Config.ts
  tests/3.0.x/__snapshots__/noTagsDotOperationId/types/undefinedController/ConfigCreate.ts
Due: @kubb/plugin-cypress

revert cypress
  packages/plugin-cypress/package.json
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/components/index.ts
  packages/plugin-cypress/src/constants.ts
  packages/plugin-cypress/src/generators/__snapshots__/createPet.ts
  packages/plugin-cypress/src/generators/__snapshots__/createPet/createPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/createPetLegacy/createPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/deletePet.ts
  packages/plugin-cypress/src/generators/__snapshots__/deletePet/deletePet.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPets/listPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsWithTemplateString.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsWithTemplateString/listPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/showPetById.ts
  packages/plugin-cypress/src/generators/__snapshots__/showPetById/showPetById.ts
  packages/plugin-cypress/src/generators/__snapshots__/updatePet.ts
  packages/plugin-cypress/src/generators/__snapshots__/updatePetLegacy/updatePet.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/src/generators/index.ts
  packages/plugin-cypress/src/index.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-cypress/src/presets.ts
  packages/plugin-cypress/src/resolvers/resolverCypress.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-cypress/src/utils.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-cypress/vitest.config.ts
Due: @kubb/plugin-cypress

revert cypress
  packages/plugin-cypress/package.json
  packages/plugin-cypress/src/generators/__snapshots__/createPet/createPet.ts
  packages/plugin-cypress/src/generators/__snapshots__/deletePet/deletePet.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPets/getPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsWithTemplateString/getPetsWithTemplateString.ts
  packages/plugin-cypress/src/generators/__snapshots__/showPetById/showPetById.ts
  packages/plugin-cypress/src/generators/__snapshots__/updatePet/updatePet.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/src/plugin.ts
  pnpm-lock.yaml
Due: @kubb/plugin-cypress

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

revert cypress
  examples/advanced/src/gen/cypress/petRequests/addFiles.ts
Due: none

fix main test cases
  schemas/3.0.x/noTagsDotOperationId.yaml
  tests/3.0.x/__snapshots__/caseSensitivity/types/Product.ts
  tests/3.0.x/__snapshots__/noTagsDotOperationId/types/configController/GetConfigIdV20250.ts
  tests/3.0.x/__snapshots__/noTagsDotOperationId/types/defaultController/CreateConfigV20250.ts
  tests/3.0.x/__snapshots__/noTagsDotOperationId/types/undefinedController/Config.ts
  tests/3.0.x/__snapshots__/noTagsDotOperationId/types/undefinedController/ConfigCreate.ts
Due: none

update guide
  update-v5-guide.md
Due: none

tryout
  packages/plugin-cypress/package.json
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/components/index.ts
  packages/plugin-cypress/src/constants.ts
  packages/plugin-cypress/src/generators/__snapshots__/createPet/createPet.ts
  packages/plugin-cypress/src/generators/__snapshots__/createPet/createPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/deletePet/deletePet.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsWithTemplateString/getPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsWithTemplateString/getPetsWithTemplateString.ts
  packages/plugin-cypress/src/generators/__snapshots__/showPetById/showPetById.ts
  packages/plugin-cypress/src/generators/__snapshots__/updatePet/updatePet.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/src/generators/index.ts
  packages/plugin-cypress/src/index.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-cypress/src/presets.ts
  packages/plugin-cypress/src/resolvers/resolverCypress.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-cypress/src/utils.ts
  packages/plugin-cypress/tsdown.config.ts
Due: @kubb/plugin-cypress

tryout
  pnpm-lock.yaml
Due: none

cleanup resolvers
  packages/plugin-ts/src/components/Enum.tsx
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/printers/printerTs.test.ts
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/resolvers/resolverTsLegacy.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-ts/src/utils.ts
Due: @kubb/plugin-ts

relative path for .mcp
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  packages/plugin-mcp/src/generators/serverGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-mcp, @kubb/plugin-ts

update
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/resolvers/resolverTsLegacy.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

cleanup
  packages/plugin-cypress/src/utils.ts
Due: @kubb/plugin-cypress

revert back to openapi style for path
  internals/utils/src/urlPath.test.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/schema.ts
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-cypress/src/utils.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  packages/plugin-ts/src/utils.test.ts
Due: @kubb/plugin-cypress, @kubb/plugin-ts

move functionPrinter to plugin-ts
  packages/ast/src/printers/index.ts
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/printers/functionPrinter.test.ts
  packages/plugin-ts/src/printers/functionPrinter.ts
Due: @kubb/plugin-ts

tryou
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-cypress, @kubb/plugin-ts

tryout
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/index.ts
  packages/plugin-cypress/src/utils.ts
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-cypress, @kubb/plugin-ts

revert
  packages/plugin-cypress/package.json
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/components/index.ts
  packages/plugin-cypress/src/constants.ts
  packages/plugin-cypress/src/generators/__snapshots__/createPet/createPet.ts
  packages/plugin-cypress/src/generators/__snapshots__/createPet/createPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/deletePet/deletePet.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsWithTemplateString/getPets.ts
  packages/plugin-cypress/src/generators/__snapshots__/getPetsWithTemplateString/getPetsWithTemplateString.ts
  packages/plugin-cypress/src/generators/__snapshots__/showPetById/showPetById.ts
  packages/plugin-cypress/src/generators/__snapshots__/updatePet/updatePet.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/src/generators/index.ts
  packages/plugin-cypress/src/index.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-cypress/src/presets.ts
  packages/plugin-cypress/src/resolvers/resolverCypress.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-cypress/tsdown.config.ts
Due: @kubb/plugin-cypress

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
