Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

chore: udpate examples
  examples/typescript/src/gen/models.ts
  examples/typescript/src/gen/modelsConst.ts
  examples/typescript/src/gen/modelsConstEnum.ts
  examples/typescript/src/gen/modelsLiteral.ts
  examples/typescript/src/gen/modelsPascalConst.ts
  examples/typescript/src/gen/schemas/pet.json
  packages/oas/src/utils.ts
  packages/plugin-ts/src/generators/__snapshots__/petIntegerTypeNumber.ts
  packages/plugin-ts/src/generators/__snapshots__/petQuestionToken.ts
  packages/plugin-ts/src/generators/__snapshots__/petQuestionTokenAndUndefined.ts
  packages/plugin-ts/src/generators/__snapshots__/petUndefined.ts
Due: @kubb/oas, @kubb/plugin-ts

remove before newer version
  packages/plugin-zod/src/generators/__snapshots__/parcelMultiFileApi.ts
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
Due: @kubb/plugin-zod

add test cases
  schemas/external-refs/phantom/components/schemas/Employer.yaml
  schemas/external-refs/phantom/components/schemas/User.yaml
  schemas/external-refs/phantom/main.yaml
  schemas/external-refs/phantom/paths/employers.yaml
  schemas/external-refs/phantom/paths/me.yaml
  schemas/external-refs/returns/api-definitions.yaml
  schemas/external-refs/returns/main.yaml
  tests/3.0.x/__snapshots__/issue2619/zod/contactDetailsTypeSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/createReturnTypeASchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/createReturnTypeBSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/parcelSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/productDetailsSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/resultSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/typeARequestSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/typeBRequestSchema.ts
  tests/3.0.x/__snapshots__/issue2696/types/AppState.ts
  tests/3.0.x/__snapshots__/issue2696/types/Employer.ts
  tests/3.0.x/__snapshots__/issue2696/types/GetEmployers.ts
  tests/3.0.x/__snapshots__/issue2696/types/GetMe.ts
  tests/3.0.x/__snapshots__/issue2696/types/User.ts
  tests/3.0.x/main.test.ts
Due: none

add test cases
  cspell.json
Due: none

fix(plugin-oas): respect `default` values on `$ref` schemas in plugin-zod (#2700)
  .changeset/fix-plugin-zod-ref-default.md
  docs/changelog.md
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-zod/mocks/queryWithRefDefault.yaml
  packages/plugin-zod/src/generators/__snapshots__/queryWithRefDefault.ts
  packages/plugin-zod/src/generators/__snapshots__/queryWithRefDefault_wrapOutput.ts
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
Due: @kubb/plugin-oas, @kubb/plugin-zod

update packages
  .gitignore
  examples/advanced/package.json
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  examples/vue-query/package.json
  packages/oas/package.json
  packages/plugin-ts/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: @kubb/oas, @kubb/plugin-ts, unplugin-kubb

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

fix(agent): alias `ajv` to `@redocly/ajv` in nitro.config.ts (#2704)
  packages/agent/nitro.config.ts
Due: none

make ajv work with nitro
  packages/agent/nitro.config.ts
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/runners/agent.ts
Due: @kubb/cli

fix generate
  packages/oas/src/Oas.test.ts
  packages/oas/src/Oas.ts
  packages/oas/src/__snapshots__/Oas.test.ts.snap
  packages/oas/src/__snapshots__/utils.spec.ts.snap
  packages/oas/src/utils.spec.ts
  packages/oas/src/utils.ts
  tests/3.0.x/__snapshots__/issue2619/zod/apiDefinitionsSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/createReturnResponseSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/requestABodySchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/requestBBodySchema.ts
  tests/3.0.x/__snapshots__/issue2696/types/AppState.ts
  tests/3.0.x/__snapshots__/issue2696/types/GetEmployers.ts
  tests/3.0.x/__snapshots__/issue2696/types/GetMe.ts
  tests/3.0.x/__snapshots__/issue2696/types/_217E915.ts
  tests/3.0.x/__snapshots__/issue2696/types/_4E2Bce4.ts
Due: @kubb/oas

fix generate
  examples/advanced/src/gen/docs.html
  examples/simple-single/src/gen/docs/index.html
  examples/typescript/src/gen/index.ts
  examples/typescript/src/gen/models.ts
  examples/typescript/src/gen/modelsConst.ts
  examples/typescript/src/gen/modelsConstEnum.ts
  examples/typescript/src/gen/modelsLiteral.ts
  examples/typescript/src/gen/modelsPascalConst.ts
  examples/typescript/src/gen/schemas/fb6E376.json
  examples/typescript/src/gen/ts/models/Fb6E376.ts
  examples/typescript/src/gen/ts/models/index.ts
  packages/oas/src/Oas.ts
  packages/oas/src/utils.ts
Due: @kubb/oas

fix generate
  tests/3.0.x/__snapshots__/caseSensitivity/types/Order.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/Product.ts
  tests/3.0.x/__snapshots__/issue2619/zod/_504Db65Schema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/apiDefinitionsSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/contactDetailsTypeSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/parcelSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/productDetailsSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/resultSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/typeARequestSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/typeBRequestSchema.ts
  tests/3.0.x/__snapshots__/petStore/types/PetRequest.ts
  tests/3.0.x/__snapshots__/petStore/types/PetSchema.ts
  tests/3.0.x/__snapshots__/simple/types/PetRequest.ts
  tests/3.0.x/__snapshots__/simple/types/PetSchema.ts
Due: none

UNSTABLE_OAS feature flag
  internals/oas/package.json
  internals/oas/src/index.ts
  internals/oas/src/parse.ts
  internals/oas/src/utils.ts
  internals/oas/tsconfig.json
  internals/oas/tsdown.config.ts
  internals/oas/vitest.config.ts
  tests/3.0.x/__snapshots__/issue2619/zod/contactDetailsTypeSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/parcelSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/productDetailsSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/resultSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/typeARequestSchema.ts
  tests/3.0.x/__snapshots__/issue2619/zod/typeBRequestSchema.ts
Due: none

UNSTABLE_OAS feature flag
  examples/advanced/src/gen/docs.html
  examples/simple-single/src/gen/docs/index.html
  examples/typescript/src/gen/schemas/pet.json
  packages/oas/package.json
  packages/oas/src/__snapshots__/Oas.test.ts.snap
  packages/oas/src/__snapshots__/utils.spec.ts.snap
  packages/oas/src/utils.ts
  packages/plugin-faker/src/generators/__snapshots__/petAdoption400.ts
  packages/plugin-oas/package.json
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/types.ts
  pnpm-lock.yaml
  tsconfig.json
Due: @kubb/oas, @kubb/plugin-faker, @kubb/plugin-oas

tryout oas-types
  internals/openapi-types/package.json
  internals/openapi-types/src/index.ts
  internals/openapi-types/tsconfig.json
  internals/openapi-types/tsdown.config.ts
  internals/openapi-types/vitest.config.ts
  packages/oas/package.json
  packages/oas/src/Oas.test.ts
  packages/oas/src/Oas.ts
  packages/oas/src/index.ts
  packages/oas/src/types.ts
  packages/oas/src/utils.spec.ts
  packages/oas/src/utils.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/utils/getSchemaFactory.ts
  pnpm-lock.yaml
  tsconfig.json
Due: @kubb/oas, @kubb/plugin-oas

feat: minimal ast package
  internals/ast/package.json
  internals/ast/src/factory.test.ts
  internals/ast/src/factory.ts
  internals/ast/src/guards.test.ts
  internals/ast/src/guards.ts
  internals/ast/src/index.ts
  internals/ast/src/nodes/base.ts
  internals/ast/src/nodes/http.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/nodes/operation.ts
  internals/ast/src/nodes/parameter.ts
  internals/ast/src/nodes/property.ts
  internals/ast/src/nodes/response.ts
  internals/ast/src/nodes/root.ts
  internals/ast/src/nodes/schema.ts
  internals/ast/src/visitor.test.ts
  internals/ast/src/visitor.ts
  internals/ast/tsconfig.json
  internals/ast/tsdown.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: none

Change ajv package reference to @redocly/ajv
  packages/agent/nitro.config.ts
Due: none

use of parser for plugin-oas
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

Fix ajv package resolution and copy behavior
  packages/agent/nitro.config.ts
Due: none

simple ref
  internals/ast/src/__snapshots__/refs.test.ts.snap
  internals/ast/src/index.ts
  internals/ast/src/refs.test.ts
  internals/ast/src/refs.ts
  packages/plugin-oas/package.json
  pnpm-lock.yaml
Due: @kubb/plugin-oas

Update build inputs in turbo.json
  turbo.json
Due: none

Implement ajv package resolution strategies
  packages/agent/nitro.config.ts
Due: none

simple ref
  internals/ast/src/index.ts
  internals/ast/src/refs.test.ts
  internals/ast/src/refs.ts
  packages/oas/package.json
  packages/oas/src/Oas.ts
  packages/plugin-oas/src/plugin.ts
  pnpm-lock.yaml
  tests/3.0.x/main.test.ts
Due: @kubb/oas, @kubb/plugin-oas

use of schemaNode for enum type
  examples/advanced/src/gen/docs.html
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  examples/simple-single/src/gen/docs/index.html
  internals/ast/src/factory.test.ts
  internals/ast/src/factory.ts
  internals/ast/src/guards.test.ts
  internals/ast/src/index.ts
  internals/ast/src/nodes/http.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/refs.test.ts
  internals/ast/src/visitor.test.ts
  packages/oas/package.json
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/generators/types.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/package.json
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
  pnpm-lock.yaml
  tests/3.0.x/main.test.ts
Due: @kubb/oas, @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

more use of schemaNode
  packages/plugin-oas/src/generators/types.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/plugin-oas, @kubb/plugin-ts

getImportsFromSchemaNode as replacements for getImports
  packages/plugin-faker/src/generators/fakerGenerator.tsx
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.ts
  packages/plugin-oas/src/utils/index.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
Due: @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

getImportsFromSchemaNode as replacements for getImports
  packages/plugin-oas/src/utils/getImportsFromSchemaNode.ts
Due: @kubb/plugin-oas

cleanup
  examples/advanced/src/gen/models/ts/petController/FindPetsByStatus.ts
  examples/mcp/src/gen/models/ts/FindPetsByStatus.ts
  examples/typescript/src/gen/models.ts
  examples/typescript/src/gen/modelsConst.ts
  examples/typescript/src/gen/modelsConstEnum.ts
  examples/typescript/src/gen/modelsLiteral.ts
  examples/typescript/src/gen/modelsPascalConst.ts
  examples/typescript/src/gen/ts/models/PlaceOrder.ts
  internals/ast/src/nodes/parameter.ts
  internals/ast/src/nodes/property.ts
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/__snapshots__/enumItems.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNullOnly.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNullableMember.ts
  packages/plugin-ts/src/generators/__snapshots__/pascalEnum.ts
  packages/plugin-ts/src/generators/__snapshots__/showPetById.ts
  packages/plugin-ts/src/generators/__snapshots__/systemsWithExplodeForm.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/plugin-oas, @kubb/plugin-ts

cleanup
  cspell.json
  internals/ast/src/refs.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNullOnly.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNullableMember.ts
  packages/plugin-ts/src/generators/__snapshots__/pascalEnum.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

revert
  packages/plugin-faker/src/generators/fakerGenerator.tsx
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.ts
  packages/plugin-oas/src/utils/getImportsFromSchemaNode.ts
  packages/plugin-oas/src/utils/index.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
Due: @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

chore(examples): update generated files
  packages/plugin-oas/src/parser.test.ts
Due: @kubb/plugin-oas

Address feedback on AST package: discriminated unions, min/max consolidation, visitor renaming (#2712)
  internals/ast/src/factory.ts
  internals/ast/src/index.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/nodes/schema.ts
  internals/ast/src/visitor.test.ts
  internals/ast/src/visitor.ts
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-oas/src/utils/__snapshots__/getSchemas.test.ts.snap
  packages/plugin-ts/src/components/Type.tsx
  tests/3.0.x/main.test.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts
