Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

test(unplugin-kubb): pass versions in UnpluginContextMeta for unplugin@3
  packages/unplugin-kubb/src/unpluginFactory.test.ts
Due: unplugin-kubb

test(adapter-oas): declare circular schemas in the parser document
  packages/adapter-oas/src/stream.test.ts
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

update packages
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

docs: lead the readme features with the typed axios and fetch client
  packages/kubb/README.md
Due: kubb

Cleanup
  .changeset/icy-lilies-invent.md
  packages/cli/src/loggers/defineLogger.ts
Due: @kubb/cli

docs: tighten the readme features into scannable highlights
  packages/kubb/README.md
Due: kubb

docs: note file uploads in the readme client feature
  packages/kubb/README.md
Due: kubb

docs: swap barrel exports for pluggable storage in features
  packages/kubb/README.md
Due: kubb

Cleanup
  internals/changelog/index.mjs
Due: none

feat(ast): let printer node overrides call the replaced handler via this.base
  .changeset/ast-printer-base.md
  packages/ast/src/createPrinter.test.ts
  packages/ast/src/createPrinter.ts
Due: none

docs(parser-md): correct JSDoc, the parser runs by default
  .changeset/parser-md-default-jsdoc.md
  packages/parser-md/src/parserMd.ts
Due: none

update packages
  packages/mcp/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/mcp, unplugin-kubb

Update Node.js version in release workflow
  .github/workflows/release.yml
Due: none

ci: pin remaining workflows to node 22.22.3
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
Due: none

ci: simplify staged publish via pnpm stage publish -r
  package.json
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
  scripts/release-stage.mjs
  turbo.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

chore: drop unused per-package release scripts
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
  turbo.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

ci: collapse release:stage and release:stage:ci into one script
  .github/workflows/release.yml
  package.json
Due: none

ci(release): wire staged mode through a dedicated step
  .github/workflows/release.yml
Due: none

ci(release): drop publish mode, stage as the only publish path
  .github/workflows/release.yml
Due: none

chore: rename release:stage script to release
  .github/workflows/release.yml
  package.json
Due: none

ci(release): emit changesets markers and push tags after staging
  scripts/release.mjs
Due: none

ci(release): only set staged=true when something was actually staged
  scripts/release.mjs
Due: none

chore: rename scripts/release-stage.mjs to scripts/release.mjs
  package.json
  scripts/release.mjs
Due: none

ci(release): call release.mjs directly from the workflow
  .github/workflows/release.yml
  package.json
Due: none

ci(release): canary version 0.0.0-canary-YYYYMMDDHHMMSS
  .github/workflows/release.yml
Due: none

ci(release): canary publishes 0.0.0-<utc timestamp>
  .github/workflows/release.yml
Due: none

ci(release): gate public release signals behind npm approval
  .github/workflows/release.yml
  scripts/release.mjs
  scripts/verifyRegistry.mjs
Due: none

test(release): cover parseStaged and the registry verify retry loop
  scripts/release.test.mjs
  scripts/verifyRegistry.test.mjs
Due: none

docs: add a Releasing section to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

ci(release): trim comment bloat in the release job
  .github/workflows/release.yml
Due: none

test: cover anonymous security alternatives
  packages/adapter-oas/src/factory.test.ts
Due: none

fix(release): guard release.mjs's script body behind an entry-point check
  scripts/release.mjs
Due: none

ci(release): tag after verified approval, not at stage time
  .github/workflows/release.yml
  scripts/release.mjs
Due: none

ci(release): format GitHub Releases per package like changesets/action
  .github/workflows/release.yml
  CONTRIBUTING.md
  scripts/createReleases.mjs
  scripts/createReleases.test.mjs
Due: none

ci(release): create one combined GitHub Release, not one per package
  .github/workflows/release.yml
  CONTRIBUTING.md
  scripts/createReleases.mjs
  scripts/createReleases.test.mjs
Due: none

ci(release): fix vacuous-success gaps, sequential verify, and a regex bug
  .github/workflows/release.yml
  internals/changelog/format.mjs
  internals/changelog/format.test.mjs
  internals/changelog/index.mjs
  scripts/createReleases.mjs
  scripts/createReleases.test.mjs
Due: none

fix(release): handle both pnpm --json output shapes for staged packages
  scripts/release.mjs
  scripts/release.test.mjs
Due: none
