Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

revert
  IMPLEMENTATION_SUMMARY.md
  PERFORMANCE_IMPROVEMENTS.md
  packages/core/mocks/hellowWorld.js
Due: @kubb/core

Refactor response name handling in OperationGenerator
  packages/plugin-oas/src/OperationGenerator.ts
Due: @kubb/plugin-oas

Fix name resolution for operation status
  packages/plugin-oas/src/OperationGenerator.ts
Due: @kubb/plugin-oas

fix: use of z.iso.datetime() when using Zod v4
  examples/zod/src/gen/zod/orderSchema.gen.ts
  packages/core/mocks/hellowWorld.js
  packages/plugin-ts/src/components/OasType.tsx
  packages/plugin-ts/src/components/index.ts
  packages/plugin-zod/src/__snapshots__/parser.test.ts.snap
  packages/plugin-zod/src/parser.ts
Due: @kubb/core, @kubb/plugin-ts, @kubb/plugin-zod

docs: update the example
  examples/react-query/src/gen/hooks/pet/useAddPetHook.ts
  examples/react-query/src/gen/hooks/pet/useDeletePetHook.ts
  examples/react-query/src/gen/hooks/pet/useFindPetsByStatusHook.ts
  examples/react-query/src/gen/hooks/pet/useFindPetsByStatusSuspenseHook.ts
  examples/react-query/src/gen/hooks/pet/useFindPetsByTagsHook.ts
  examples/react-query/src/gen/hooks/pet/useFindPetsByTagsInfiniteHook.ts
  examples/react-query/src/gen/hooks/pet/useFindPetsByTagsSuspenseHook.ts
  examples/react-query/src/gen/hooks/pet/useFindPetsByTagsSuspenseInfiniteHook.ts
  examples/react-query/src/gen/hooks/pet/useGetPetByIdHook.ts
  examples/react-query/src/gen/hooks/pet/useGetPetByIdSuspenseHook.ts
  examples/react-query/src/gen/hooks/pet/useUpdatePetHook.ts
  examples/react-query/src/gen/hooks/pet/useUpdatePetWithFormHook.ts
  examples/react-query/src/gen/hooks/pet/useUpdatePetWithFormSuspenseHook.ts
  examples/react-query/src/gen/hooks/pet/useUploadFileHook.ts
  examples/react-query/src/gen/hooks/store/useDeleteOrderHook.ts
  examples/react-query/src/gen/hooks/store/useGetInventorySuspenseHook.ts
  examples/react-query/src/gen/hooks/store/useGetOrderByIdHook.ts
  examples/react-query/src/gen/hooks/store/useGetOrderByIdSuspenseHook.ts
  examples/react-query/src/gen/hooks/store/usePlaceOrderHook.ts
  examples/react-query/src/gen/hooks/store/usePlaceOrderPatchHook.ts
  examples/react-query/src/gen/hooks/user/useCreateUserHook.ts
  examples/react-query/src/gen/hooks/user/useCreateUsersWithListInputHook.ts
  examples/react-query/src/gen/hooks/user/useDeleteUserHook.ts
  examples/react-query/src/gen/hooks/user/useGetUserByNameHook.ts
  examples/react-query/src/gen/hooks/user/useGetUserByNameSuspenseHook.ts
  examples/react-query/src/gen/hooks/user/useLoginUserHook.ts
  examples/react-query/src/gen/hooks/user/useLoginUserSuspenseHook.ts
  examples/react-query/src/gen/hooks/user/useLogoutUserHook.ts
  examples/react-query/src/gen/hooks/user/useLogoutUserSuspenseHook.ts
  examples/react-query/src/gen/hooks/user/useUpdateUserHook.ts
  examples/react-query/src/useCustomHookOptions.ts
Due: none

feat: add default value for the customOptions.name option
  packages/plugin-react-query/src/plugin.ts
  packages/plugin-react-query/src/types.ts
Due: @kubb/plugin-react-query

docs: add documentation for the new customOptions option
  docs/plugins/plugin-react-query/index.md
Due: none

docs: add documentation for the new output.override option
  docs/getting-started/configure.md
  docs/plugins/core/outputOverride.md
  docs/plugins/plugin-client/index.md
  docs/plugins/plugin-cypress/index.md
  docs/plugins/plugin-faker/index.md
  docs/plugins/plugin-mcp/index.md
  docs/plugins/plugin-msw/index.md
  docs/plugins/plugin-oas/index.md
  docs/plugins/plugin-react-query/index.md
  docs/plugins/plugin-solid-query/index.md
  docs/plugins/plugin-svelte-query/index.md
  docs/plugins/plugin-swr/index.md
  docs/plugins/plugin-ts/index.md
  docs/plugins/plugin-vue-query/index.md
  docs/plugins/plugin-zod/index.md
Due: none

chore: add changeset for custom hook options
  .changeset/support-custom-hook-options.md
Due: none

fix ts issue
  packages/plugin-oas/src/SchemaGenerator.ts
Due: @kubb/plugin-oas

fix
  packages/plugin-ts/src/factory.ts
Due: @kubb/plugin-ts

chore: merge conflict
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/plugin-ts

ci(changesets): version packages
  .changeset/inline-literal-enum-type.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

chore: use of usedEnums and usedRefs inside of plugin
  packages/plugin-client/src/plugin.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-faker/src/plugin.ts
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-msw/src/plugin.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-react-query/src/plugin.ts
  packages/plugin-solid-query/src/plugin.ts
  packages/plugin-svelte-query/src/plugin.ts
  packages/plugin-swr/src/plugin.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-vue-query/src/plugin.ts
  packages/plugin-zod/src/plugin.ts
Due: @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

Revert "chore: use of usedEnums and usedRefs inside of plugin"
  packages/plugin-client/src/plugin.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-faker/src/plugin.ts
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-msw/src/plugin.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-react-query/src/plugin.ts
  packages/plugin-solid-query/src/plugin.ts
  packages/plugin-svelte-query/src/plugin.ts
  packages/plugin-swr/src/plugin.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-vue-query/src/plugin.ts
  packages/plugin-zod/src/plugin.ts
Due: @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

chore: cleanup
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/plugin-ts

chore: UNSTABLE_NAMING
  packages/core/mocks/hellowWorld.js
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

fix: better parser types
  packages/core/mocks/hellowWorld.js
  packages/plugin-faker/src/parser.ts
  packages/plugin-oas/src/createParser.test.ts
  packages/plugin-oas/src/createParser.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-ts/src/parser.ts
  packages/plugin-zod/src/parser.ts
Due: @kubb/core, @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

Add arrayType option for array syntax selection
  .changeset/add-array-type-option.md
Due: none

Update changelog for version 4.14.0
  docs/changelog.md
Due: none

update docs 4.14.1
  docs/changelog.md
Due: none

ci(changesets): version packages
  .changeset/add-array-type-option.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

Update packages for doc
  docs/changelog.md
  package.json
  packages/oas/package.json
  pnpm-lock.yaml
Due: @kubb/oas

use of `arrayType` in examples
  examples/advanced/configs/kubb.config.ts
  examples/advanced/src/gen/models/ts/AddPetRequest.ts
  examples/advanced/src/gen/models/ts/Customer.ts
  examples/advanced/src/gen/models/ts/Pet.ts
  examples/advanced/src/gen/models/ts/UserArray.ts
  examples/advanced/src/gen/models/ts/petController/FindPetsByStatus.ts
  examples/advanced/src/gen/models/ts/petController/FindPetsByTags.ts
  examples/advanced/src/gen/models/ts/userController/CreateUsersWithListInput.ts
  packages/core/mocks/hellowWorld.js
Due: @kubb/core

add config.json
  docs/config.json
Due: none

update docs
  docs/config.json
  docs/index.md
Due: none

remove version
  docs/getting-started/quick-start.md
Due: none

cleanup
  docs/.vitepress/config.ts
  docs/config.json
  docs/contributors.md
  package.json
  scripts/update-docs-version.js
Due: none

cleanup
  docs/.vitepress/theme/style.css
  package.json
  pnpm-lock.yaml
Due: none

ci(changesets): version packages
  .changeset/support-custom-hook-options.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

cleanup
  docs/index.md
Due: none

extra text
  docs/index.md
Due: none
