Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

chore(deps): update dependencies via pnpm update --latest
  package.json
  packages/mcp/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/mcp, unplugin-kubb

chore(deps): pin tinyexec to ~1.1.2 (supply-chain)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

test(adapter-oas): cover discriminator helpers directly
  packages/adapter-oas/src/discriminator.test.ts
Due: none

chore(deps): pin @types/node to ^22 (matches Node 22 engine)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat(ast): ship @kubb/ast/types subpath and make walk() concurrent
  .changeset/ast-types-subpath-and-walk-concurrency.md
  packages/ast/package.json
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
  packages/ast/tsdown.config.ts
Due: none

refactor(ast)!: trim unused/redundant public API surface
  .changeset/ast-trim-public-api.md
  packages/ast/README.md
  packages/ast/src/constants.ts
  packages/ast/src/index.ts
  packages/ast/src/infer.test.ts
  packages/ast/src/infer.ts
  packages/ast/src/refs.ts
  packages/ast/src/types.ts
Due: none

refactor(ast)!: demote six more unused exports to internal
  .changeset/ast-trim-public-api.md
  packages/ast/src/index.ts
Due: none

docs(core,kubb): correct default parsers in JSDoc
  packages/core/src/createKubb.ts
  packages/kubb/src/defineConfig.ts
Due: @kubb/core, kubb

update packages
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: unplugin-kubb

ci(agents): point skills sync at .agents/skills and fix spell words
  .github/workflows/update-agents-skills.yml
  cspell.json
Due: none

chore(agents): update AGENTS.md
  AGENTS.md
Due: none

docs(agents): sync AGENTS.md structure with sibling repos
  AGENTS.md
Due: none

docs: move folder structure to CONTRIBUTING and reference it
  AGENTS.md
  CONTRIBUTING.md
Due: none

docs(kubb): link CONTRIBUTING from the package readme
  packages/kubb/README.md
Due: kubb

docs(kubb): left-align title below badges and links in readme
  packages/kubb/README.md
Due: kubb

docs(kubb): use og.png banner in the readme header
  packages/kubb/README.md
Due: kubb

docs: humanize readme and contributing, add contribute section
  CONTRIBUTING.md
  packages/kubb/README.md
Due: kubb

docs(kubb): add ways to get involved to readme contributing
  packages/kubb/README.md
Due: kubb

docs(kubb): highlight the headline features in the readme
  packages/kubb/README.md
Due: kubb

docs(kubb): reorder features by idea and add client and output options
  packages/kubb/README.md
Due: kubb

docs: expand CONTRIBUTING into a full contributor onboarding guide
  CONTRIBUTING.md
Due: none

chore(kubb): add taze to cspell words
  cspell.json
Due: none

docs(agents): place repository setup before the plugin ecosystem section
  AGENTS.md
Due: none

docs(kubb): drop platform from the ecosystem section
  CONTRIBUTING.md
Due: none

Update README.md
  packages/kubb/README.md
Due: kubb

docs(kubb): link external libraries in the readme features
  packages/kubb/README.md
Due: kubb

docs: standardize package readmes with og banner header and minimal structure
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

docs: link kubb.dev/sponsors in Supporting Kubb section
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: link kubb.dev/sponsors in Supporting Kubb section (#3410)
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat: add Kubb Claude Code plugin and marketplace
  .claude-plugin/marketplace.json
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/README.md
  claude-plugin/agents/kubb-expert.md
  claude-plugin/commands/generate.md
  claude-plugin/commands/setup.md
  claude-plugin/commands/validate.md
  claude-plugin/skills/config/SKILL.md
Due: none

refactor: align plugin commands with kubb cli/mcp (init, generate, validate)
  claude-plugin/README.md
  claude-plugin/commands/generate.md
  claude-plugin/commands/init.md
  claude-plugin/commands/setup.md
  claude-plugin/commands/validate.md
  claude-plugin/skills/config/SKILL.md
Due: none

docs: add new Kubb-using companies for sponsorship outreach
  companies-using-kubb-outreach.md
Due: none

chore: ignore companies outreach doc in spell check
  cspell.json
Due: none

Delete companies-using-kubb.md
  companies-using-kubb.md
Due: none

chore: add changeset for Kubb Claude Code plugin
  .changeset/add-claude-code-plugin.md
Due: none

docs: position plugin as Kubb meta framework for code generation
  .changeset/add-claude-code-plugin.md
  .claude-plugin/marketplace.json
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/README.md
Due: none
