Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

perf: walk a schema's $ref subtree once and share it across plugins (#3824)
  .changeset/share-imports-ref-scan.md
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/schemaGraph.test.ts
  packages/ast/src/utils/schemaGraph.ts
  packages/core/src/Resolver.ts
Due: @kubb/core

feat(core): add a match predicate to Generator
  .changeset/core-generator-match-predicate.md
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/mocks.ts
Due: @kubb/core

refactor(ast,core): rename Macro's when gate to match, and clean up await checks
  .changeset/macro-ast-transform-layer.md
  packages/ast/src/defineMacro.test.ts
  packages/ast/src/defineMacro.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/mocks.ts
Due: @kubb/core

perf(core): walk each schema and operation once in a node-outer generate loop
  .changeset/core-node-outer-generate-loop.md
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/mocks.ts
  packages/core/src/nodeCache.test.ts
  packages/core/src/nodeCache.ts
  packages/core/src/types.ts
  packages/kit/src/index.ts
Due: @kubb/core

chore(core): tighten node-outer loop comment and changeset wording
  .changeset/core-node-outer-generate-loop.md
  packages/core/src/KubbDriver.ts
Due: @kubb/core

docs: tighten the match predicate changeset
  .changeset/core-generator-match-predicate.md
Due: none

clear
  packages/core/src/nodeCache.test.ts
  packages/core/src/nodeCache.ts
Due: @kubb/core

perf(core): walk each schema and operation once in a node-outer generate loop (#3829)
  .changeset/core-node-outer-generate-loop.md
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/mocks.ts
  packages/core/src/nodeCache.test.ts
  packages/core/src/nodeCache.ts
  packages/core/src/types.ts
  packages/kit/src/index.ts
Due: @kubb/core

feat(core,ast): add a match predicate to Generator, aligned with Macro (#3828)
  .changeset/core-generator-match-predicate.md
  .changeset/macro-ast-transform-layer.md
  packages/ast/src/defineMacro.test.ts
  packages/ast/src/defineMacro.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/mocks.ts
Due: @kubb/core

chore(scripts): add reproducible v4-vs-v5 benchmark harness
  scripts/benchmark/v4-vs-v5/.gitignore
  scripts/benchmark/v4-vs-v5/README.md
  scripts/benchmark/v4-vs-v5/package.json
  scripts/benchmark/v4-vs-v5/results/results.json
  scripts/benchmark/v4-vs-v5/run.mjs
  scripts/benchmark/v4-vs-v5/v4/package-lock.json
  scripts/benchmark/v4-vs-v5/v4/package.json
  scripts/benchmark/v4-vs-v5/v4/run-one.mjs
  scripts/benchmark/v4-vs-v5/v5/package-lock.json
  scripts/benchmark/v4-vs-v5/v5/package.json
  scripts/benchmark/v4-vs-v5/v5/run-one.mjs
Due: none

chore(scripts): add kubb-vs-hey-api benchmark harness
  scripts/benchmark/kubb-vs-heyapi/.gitignore
  scripts/benchmark/kubb-vs-heyapi/README.md
  scripts/benchmark/kubb-vs-heyapi/fixtures/.gitignore
  scripts/benchmark/kubb-vs-heyapi/heyapi/package-lock.json
  scripts/benchmark/kubb-vs-heyapi/heyapi/package.json
  scripts/benchmark/kubb-vs-heyapi/heyapi/run-one.mjs
  scripts/benchmark/kubb-vs-heyapi/kubb/package.json
  scripts/benchmark/kubb-vs-heyapi/kubb/run-one.mjs
  scripts/benchmark/kubb-vs-heyapi/results/results.json
  scripts/benchmark/kubb-vs-heyapi/run.mjs
Due: none

chore(scripts): extend benchmark to kubb v4/v5, hey-api, and orval
  scripts/benchmark/kubb-vs-heyapi/README.md
  scripts/benchmark/kubb-vs-heyapi/kubb-v4/package.json
  scripts/benchmark/kubb-vs-heyapi/kubb-v4/run-one.mjs
  scripts/benchmark/kubb-vs-heyapi/kubb-v5/package.json
  scripts/benchmark/kubb-vs-heyapi/kubb-v5/run-one.mjs
  scripts/benchmark/kubb-vs-heyapi/orval/package-lock.json
  scripts/benchmark/kubb-vs-heyapi/orval/package.json
  scripts/benchmark/kubb-vs-heyapi/orval/run-one.mjs
  scripts/benchmark/kubb-vs-heyapi/results/results.json
  scripts/benchmark/kubb-vs-heyapi/run.mjs
Due: none

chore(scripts): add kubb v5 file-mode vs directory-mode runner
  scripts/benchmark/kubb-vs-heyapi/.gitignore
  scripts/benchmark/kubb-vs-heyapi/README.md
  scripts/benchmark/kubb-vs-heyapi/kubb-v5/run-one-directory.mjs
Due: none

chore(scripts): add kubb v4 directory-mode runner, validate the 5x claim
  scripts/benchmark/kubb-vs-heyapi/README.md
  scripts/benchmark/kubb-vs-heyapi/kubb-v4/run-one-directory.mjs
Due: none

feat(adapter-oas): add uint64 format support alongside int64
  .changeset/adapter-oas-uint64-format.md
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/schemaShape.ts
  packages/adapter-oas/src/parser.test.ts
Due: none

feat(adapter-oas): add uint64 format support alongside int64 (#3835)
  .changeset/adapter-oas-uint64-format.md
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/schemaShape.ts
  packages/adapter-oas/src/parser.test.ts
Due: none

fix(adapter-oas): respect type string when the format is numeric
  .changeset/adapter-oas-string-numeric-format.md
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/parser.test.ts
Due: none

fix(cli): install kubb at the CLI version in the init wizard
  .changeset/init-pin-kubb-to-cli-version.md
  internals/shared/src/constants.ts
  internals/shared/src/index.ts
  internals/shared/src/init.test.ts
  internals/shared/src/init.ts
  packages/cli/src/runners/init/run.ts
Due: @kubb/cli

chore(deps): upgrade dependencies to latest
  package.json
  packages/adapter-oas/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kubb, @kubb/mcp, unplugin-kubb

chore: add changeset for adapter-oas dependency bump
  .changeset/adapter-oas-deps-refresh.md
Due: none

fix: bump @kubb/fabric-core and @kubb/react-fabric to 0.16.1
  .changeset/fabric-0-16-1.md
  examples/advanced/package.json
  examples/client/package.json
  examples/faker/package.json
  examples/generators/package.json
  examples/react-query/package.json
  internals/tanstack-query/package.json
  packages/core/package.json
  packages/mcp/package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

fix: bump @kubb/fabric-core and @kubb/react-fabric to 0.16.1 (#3844)
  .changeset/fabric-0-16-1.md
  examples/advanced/package.json
  examples/client/package.json
  examples/faker/package.json
  examples/generators/package.json
  examples/react-query/package.json
  internals/tanstack-query/package.json
  packages/core/package.json
  packages/mcp/package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

update packages
  package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kubb, unplugin-kubb

update packages
  package.json
  packages/adapter-oas/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli

fix(cli): replace hand-rolled semver comparison with verkit
  .changeset/cli-verkit-version-compare.md
  packages/cli/package.json
  packages/cli/src/runners/generate/utils.ts
  pnpm-lock.yaml
Due: @kubb/cli

ci: bump kubb-labs/config SHA pin to latest main
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

refactor(core): rename storage and cache methods to fs verbs
  .changeset/storage-fs-verbs-ensure-item.md
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/createStorage.test.ts
  packages/core/src/createStorage.ts
  packages/core/src/nodeCache.test.ts
  packages/core/src/nodeCache.ts
  packages/core/src/storages/fsStorage.test.ts
  packages/core/src/storages/fsStorage.ts
  packages/core/src/storages/memoryStorage.test.ts
  packages/core/src/storages/memoryStorage.ts
  packages/core/src/types.ts
  packages/kit/src/index.ts
  packages/unplugin-kubb/src/unpluginFactory.test.ts
Due: @kubb/core, unplugin-kubb

docs: fix broken config examples in package READMEs
  .changeset/readme-config-examples.md
  packages/adapter-oas/README.md
  packages/mcp/README.md
  packages/plugin-barrel/README.md
Due: @kubb/mcp

fix: fail loudly when input is not a readable document
  .changeset/adapter-oas-assert-document.md
  .changeset/core-reject-legacy-input-shape.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/load/normalize.test.ts
  packages/adapter-oas/src/load/normalize.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/input.test.ts
  packages/core/src/input.ts
  packages/kubb/src/defineConfig.test.ts
Due: @kubb/core, kubb

refactor(core): drop ensureItem from Storage
  .changeset/storage-fs-verbs-ensure-item.md
  packages/core/src/createStorage.test.ts
  packages/core/src/createStorage.ts
  packages/core/src/types.ts
  packages/kit/src/index.ts
  packages/unplugin-kubb/src/unpluginFactory.test.ts
Due: @kubb/core, unplugin-kubb
