Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

changeset
  .changeset/fix-middleware-barrel-barrel-type-augmentation.md
Due: none

ci(changesets): version packages (alpha)
  .changeset/pre.json
  packages/adapter-oas/CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/ast/CHANGELOG.md
  packages/ast/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/middleware-barrel/CHANGELOG.md
  packages/middleware-barrel/package.json
  packages/parser-ts/CHANGELOG.md
  packages/parser-ts/package.json
  packages/renderer-jsx/CHANGELOG.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/CHANGELOG.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix(barrel): exclude barrelType:false plugins from root barrel and use export type for type-only sources
  migration/requestBody-content.md
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/utils/buildTree.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.ts
Due: none

cleanup
  packages/core/src/types.ts
  packages/middleware-barrel/src/constants.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/utils/buildTree.ts
  packages/middleware-barrel/src/utils/generatePerPluginBarrel.ts
  packages/middleware-barrel/src/utils/generateRootBarrel.ts
Due: @kubb/core

test cases for middleware barrel
  .changeset/add-middleware-barrel-tests.md
  packages/kubb/package.json
  packages/middleware-barrel/src/utils/buildTree.test.ts
  packages/middleware-barrel/src/utils/generate.test.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.test.ts
  packages/middleware-barrel/vitest.config.ts
  pnpm-lock.yaml
Due: kubb

changelog removal
  .github/workflows/changelog.yml
  .github/workflows/release.yml
Due: none

changelog removal
  .changeset/clever-cases-deny.md
  packages/middleware-barrel/src/middleware.ts
Due: none

changelog removal
  .changeset/barrel-middleware-recursive-subdirs.md
  .skills/components-generators/SKILL.md
  .skills/plugin-architecture/SKILL.md
  packages/adapter-oas/CHANGELOG.md
  packages/agent/CHANGELOG.md
  packages/ast/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/middleware-barrel/CHANGELOG.md
  packages/middleware-barrel/src/constants.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/types.ts
  packages/middleware-barrel/src/utils/buildTree.test.ts
  packages/middleware-barrel/src/utils/generate.test.ts
  packages/middleware-barrel/src/utils/generatePerPluginBarrel.ts
  packages/middleware-barrel/src/utils/generateRootBarrel.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.test.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.ts
  packages/parser-ts/CHANGELOG.md
  packages/unplugin-kubb/CHANGELOG.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

changelog removal
  packages/middleware-barrel/src/utils/buildTree.ts
Due: none

chore(agents): update AGENTS.md
  AGENTS.md
Due: none

default named
  internals/utils/src/buildTree.test.ts
  internals/utils/src/buildTree.ts
  internals/utils/src/index.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/middleware-barrel/package.json
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/utils/buildTree.ts
  packages/middleware-barrel/src/utils/excludedPaths.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.ts
  packages/middleware-barrel/src/utils/resolveBarrelType.ts
  packages/middleware-barrel/tsdown.config.ts
  pnpm-lock.yaml
Due: kubb

Refactor middleware-barrel internals and tighten `barrelType` defaulting.
  .changeset/refactor-middleware-barrel.md
  packages/middleware-barrel/src/utils/excludedPaths.test.ts
  packages/middleware-barrel/src/utils/generate.test.ts
  packages/middleware-barrel/src/utils/generatePerPluginBarrel.test.ts
  packages/middleware-barrel/src/utils/generateRootBarrel.test.ts
  packages/middleware-barrel/src/utils/resolveBarrelType.test.ts
Due: none

Refactor middleware-barrel internals and tighten `barrelType` defaulting.
  .changeset/refactor-middleware-barrel.md
Due: none

fix deps
  packages/middleware-barrel/package.json
  pnpm-lock.yaml
Due: none

fix deps
  .changeset/refactor-middleware-barrel.md
Due: none

reflect docs
  packages/kubb/src/defineConfig.ts
Due: kubb

fix(cli): restore hook stdout on Windows by dropping `detached: true` (#3168)
  .changeset/fix-runhook-windows-detached.md
  packages/adapter-oas/CHANGELOG.md
  packages/agent/CHANGELOG.md
  packages/ast/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/cli/src/utils/runHook.ts
  packages/core/CHANGELOG.md
  packages/kubb/CHANGELOG.md
  packages/mcp/CHANGELOG.md
  packages/middleware-barrel/CHANGELOG.md
  packages/middleware-barrel/package.json
  packages/parser-ts/CHANGELOG.md
  packages/unplugin-kubb/CHANGELOG.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

Fix `middleware-barrel` failing on Windows due to mixed path separators.
  .changeset/fix-middleware-barrel-windows.md
  internals/utils/src/buildTree.ts
  internals/utils/src/index.ts
  internals/utils/src/path.test.ts
  internals/utils/src/path.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/utils/excludedPaths.test.ts
  packages/middleware-barrel/src/utils/excludedPaths.ts
  packages/middleware-barrel/src/utils/generatePerPluginBarrel.test.ts
  packages/middleware-barrel/src/utils/generatePerPluginBarrel.ts
  packages/middleware-barrel/src/utils/generateRootBarrel.test.ts
  packages/middleware-barrel/src/utils/generateRootBarrel.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.test.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.ts
  packages/middleware-barrel/src/utils/resolveBarrelType.test.ts
  packages/middleware-barrel/src/utils/resolveBarrelType.ts
Due: none

cleanup
  .changeset/fix-middleware-barrel-windows.md
Due: none

use node 22 in agents
  .changeset/unplugin-default-middleware-barrel.md
  .skills/coding-style/SKILL.md
  AGENTS.md
  packages/unplugin-kubb/package.json
  packages/unplugin-kubb/src/index.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
  pnpm-lock.yaml
Due: unplugin-kubb

ci(changesets): version packages (alpha)
  .changeset/pre.json
  packages/unplugin-kubb/CHANGELOG.md
  packages/unplugin-kubb/package.json
Due: unplugin-kubb

fixed
  .changeset/config.json
Due: none

fix: Added shared schema-graph helpers to `@kubb/ast` so plugins can stop reimplementing reference traversal and cycle detection:
  .changeset/add-find-circular-schemas.md
  packages/ast/src/index.ts
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
  packages/core/src/mocks.ts
Due: @kubb/core

fix: preserve oneOf/anyOf distinction in union schema nodes
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/nodes/schema.ts
Due: none

test: add test case for oneOf without explicit discriminator
  packages/adapter-oas/src/parser.test.ts
Due: none

docs: add union schema validation plan
  docs/union-plan.md
Due: none

ci(release): add format and lint:fix steps to changeset workflow
  .github/workflows/release.yml
Due: none

ci(changeset): run format and lint:fix on changeset PRs
  .github/workflows/changeset-format.yml
  .github/workflows/release.yml
Due: none

chore: add changeset for unionKind implementation
  .changeset/preserve-union-kind-semantics.md
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
