Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

pass CIAgent
  packages/studio/src/ciJob.ts
Due: none

Replace the CI snapshot helpers with the `createStudioAgent` factory and `StudioAgent` class.
  .changeset/bright-studio-agent.md
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/ci.test.ts
  packages/studio/src/ci.ts
  packages/studio/src/ciJob.test.ts
  packages/studio/src/ciJob.ts
  packages/studio/src/client.test.ts
  packages/studio/src/client.ts
  packages/studio/src/index.ts
  packages/studio/src/studioAgent.test.ts
  packages/studio/src/studioAgent.ts
  packages/studio/src/ws.test.ts
  packages/studio/src/ws.ts
Due: @kubb/cli

feat(studio): add createJob and waitForJob for async Studio jobs
  .changeset/studio-async-jobs.md
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/index.ts
Due: none

feat(studio): harden createJob/waitForJob and document jobs API
  packages/studio/README.md
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
Due: none

Update studio-async-jobs.md
  .changeset/studio-async-jobs.md
Due: none

feat(studio): add createJob and waitForJob for async Studio jobs (#4035)
  .changeset/studio-async-jobs.md
  packages/studio/README.md
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/index.ts
Due: none

ci: add kubb init validation in GitHub Actions
  .github/workflows/pr.yml
Due: none

ci: add GitHub Action to scaffold kubb init when config is missing
  .github/workflows/kubb-init-scaffold.yml
  .github/workflows/pr.yml
Due: none

feat(cli): add kubb studio snapshot command
  .changeset/kubb-studio-snapshot-cli.md
  packages/cli/src/commands/studio.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/studio/ci.test.ts
  packages/cli/src/runners/studio/ci.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/index.ts
  packages/studio/src/machine.ts
Due: @kubb/cli

Update kubb-studio-snapshot-cli.md
  .changeset/kubb-studio-snapshot-cli.md
Due: none

fix(cli): address studio snapshot review comments
  packages/cli/src/commands/studio.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
Due: @kubb/cli

feat(cli): add kubb studio snapshot command (#4038)
  .changeset/kubb-studio-snapshot-cli.md
  packages/cli/src/commands/studio.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/studio/ci.test.ts
  packages/cli/src/runners/studio/ci.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/index.ts
  packages/studio/src/machine.ts
Due: @kubb/cli

update packages
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kubb, unplugin-kubb

feat(core): add HTML generation reporter
  .changeset/html-reporter.md
  internals/utils/src/index.ts
  internals/utils/src/isCIEnvironment.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/utils/env.test.ts
  packages/cli/src/utils/env.ts
  packages/core/package.json
  packages/core/scripts/copyHtmlReporterAssets.mjs
  packages/core/src/createReporter.ts
  packages/core/src/index.ts
  packages/core/src/reporters/html/index.html
  packages/core/src/reporters/html/ui.ts
  packages/core/src/reporters/html/vue.d.ts
  packages/core/src/reporters/htmlReporter.test.ts
  packages/core/src/reporters/htmlReporter.ts
  packages/core/tsdown.config.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

refactor(cli): register HTML reporter in kubb defaults
  .changeset/html-reporter.md
  packages/cli/src/runners/generate/run.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
Due: @kubb/cli, kubb

test(core): clear CI providers when testing browser launch
  packages/core/src/reporters/htmlReporter.test.ts
Due: @kubb/core

feat(core): share browser launcher and use Vue SFC
  internals/utils/src/index.ts
  internals/utils/src/openInBrowser.test.ts
  internals/utils/src/openInBrowser.ts
  packages/cli/src/runners/studio/run.ts
  packages/core/src/reporters/html/Report.vue
  packages/core/src/reporters/html/ui.ts
  packages/core/src/reporters/html/vue.d.ts
  packages/core/src/reporters/htmlReporter.test.ts
  packages/core/src/reporters/htmlReporter.ts
  packages/core/tsdown.config.ts
Due: @kubb/cli, @kubb/core

refactor(core): simplify static report data
  packages/core/src/reporters/htmlReporter.test.ts
Due: @kubb/core

refactor(core): remove unused report reactivity
  packages/core/src/reporters/html/Report.vue
Due: @kubb/core

style(core): use Vue computed report values
  packages/core/src/reporters/html/Report.vue
Due: @kubb/core

add logging
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
Due: @kubb/cli

fix(core): sanitize HTML report directory names
  packages/core/src/reporters/htmlReporter.test.ts
  packages/core/src/reporters/htmlReporter.ts
Due: @kubb/core

feat(core): add HTML generation reporter (#4041)
  .changeset/html-reporter.md
  internals/utils/src/index.ts
  internals/utils/src/isCIEnvironment.ts
  internals/utils/src/openInBrowser.test.ts
  internals/utils/src/openInBrowser.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/cli/src/utils/env.test.ts
  packages/cli/src/utils/env.ts
  packages/core/package.json
  packages/core/scripts/copyHtmlReporterAssets.mjs
  packages/core/src/createReporter.ts
  packages/core/src/index.ts
  packages/core/src/reporters/html/Report.vue
  packages/core/src/reporters/html/index.html
  packages/core/src/reporters/html/ui.ts
  packages/core/src/reporters/html/vue.d.ts
  packages/core/src/reporters/htmlReporter.test.ts
  packages/core/src/reporters/htmlReporter.ts
  packages/core/tsdown.config.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb

fix(plugin-barrel): report duplicate barrel exports
  .changeset/fix-barrel-duplicate-exports.md
  packages/core/src/Diagnostics.ts
  packages/core/src/constants.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
Due: @kubb/core

docs(core): note html reporter in default reporters list
  packages/core/src/types.ts
Due: @kubb/core

docs(core): note html reporter in default reporters list (#4044)
  packages/core/src/types.ts
Due: @kubb/core

fix(plugin-barrel): report duplicate barrel exports (#4043)
  .changeset/fix-barrel-duplicate-exports.md
  packages/core/src/Diagnostics.ts
  packages/core/src/constants.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
Due: @kubb/core

fix(cli): use kebab-case CLI flags
  .changeset/cli-kebab-case-flags.md
  packages/cli/README.md
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/studio.ts
  packages/cli/src/index.ts
Due: @kubb/cli

Update cli-kebab-case-flags.md
  .changeset/cli-kebab-case-flags.md
Due: none

fix(cli): use kebab-case CLI flags (#4046)
  .changeset/cli-kebab-case-flags.md
  packages/cli/README.md
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/studio.ts
  packages/cli/src/index.ts
Due: @kubb/cli

fix(cli): support deprecated camelCase flags with a warning
  .changeset/cli-deprecated-camelcase-flags.md
  packages/cli/README.md
  packages/cli/src/deprecatedFlags.test.ts
  packages/cli/src/deprecatedFlags.ts
  packages/cli/src/index.ts
Due: @kubb/cli

Delete .changeset/cli-deprecated-camelcase-flags.md
  .changeset/cli-deprecated-camelcase-flags.md
Due: none

fix(cli): support deprecated camelCase flags with a warning (#4048)
  packages/cli/README.md
  packages/cli/src/deprecatedFlags.test.ts
  packages/cli/src/deprecatedFlags.ts
  packages/cli/src/index.ts
Due: @kubb/cli

feat(studio): pack snapshot tarballs on the agent
  .changeset/agent-snapshot-packing.md
  packages/studio/package.json
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/snapshotPackage.test.ts
  packages/studio/src/snapshotPackage.ts
  pnpm-lock.yaml
Due: none

refactor(studio): drop the JSDoc block on #handleSnapshot
  packages/studio/src/StudioSession.ts
Due: none

refactor(studio): rename studio:ping reply to studio:pong
  .changeset/studio-pong-and-protocol-docs.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.test.ts
  packages/studio/src/protocol/index.ts
Due: none

fix(studio): fix three snapshot tarball correctness bugs
  packages/studio/src/snapshotPackage.test.ts
  packages/studio/src/snapshotPackage.ts
Due: none

docs(cli): list reporter names in --reporter help text
  packages/cli/README.md
  packages/cli/src/commands/generate.ts
Due: @kubb/cli

docs(cli): add html reporter example
  packages/cli/README.md
  packages/cli/src/commands/generate.ts
Due: @kubb/cli

docs(studio): remove semicolons joining clauses in protocol table
  packages/studio/src/protocol/index.ts
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
