Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

expose literal factory
  packages/plugin-ts/src/factory.ts
Due: @kubb/plugin-ts

fix descriminator
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/utils.test.ts
  packages/adapter-oas/src/utils.ts
  packages/plugin-ts/src/__snapshots__/parser.test.ts.snap
Due: @kubb/plugin-ts

readonly and writeOnly with discriminator
  packages/adapter-oas/src/utils.test.ts
  packages/adapter-oas/src/utils.ts
Due: none

formating
  examples/typescript/src/gen6/index.ts
  examples/typescript/src/gen6/ts/models/index.ts
Due: none

update packages
  examples/advanced/package.json
  examples/msw/package.json
  packages/agent/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Due: none

groupParametersByLocation
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/utils.test.ts
  packages/ast/src/index.ts
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
  packages/plugin-ts/src/generators/v2/TypeGenerator.tsx
Due: @kubb/plugin-ts

cleanup
  packages/adapter-oas/src/utils.test.ts
  packages/ast/src/index.ts
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
  packages/plugin-ts/src/generators/v2/TypeGenerator.tsx
Due: @kubb/plugin-ts

chore(examples): update generated files
  examples/typescript/src/gen/models.ts
Due: none

rename
  packages/plugin-ts/src/generators/index.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
Due: @kubb/plugin-ts

fix tests
  examples/advanced/package.json
  examples/client/package.json
  examples/cypress/package.json
  examples/faker/package.json
  examples/fetch/package.json
  examples/generators/package.json
  examples/mcp/package.json
  examples/msw/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  examples/svelte-query/package.json
  examples/swr/package.json
  examples/typescript/kubb.config.ts
  examples/typescript/package.json
  examples/typescript/src/gen/models.ts
  examples/zod/package.json
  packages/plugin-ts/mocks/discriminator.yaml
  packages/plugin-ts/src/__snapshots__/parser.test.ts.snap
  packages/plugin-ts/src/generators/__snapshots__/petStorePetDiscriminatorAsConst.ts
  packages/plugin-ts/src/generators/__snapshots__/petStorePetDiscriminatorEnum.ts
Due: @kubb/plugin-ts

correct deprecated messages
  configs/mocks.ts
  packages/core/src/hooks/useKubb.test.ts
  packages/core/src/hooks/useMode.ts
  packages/core/src/hooks/usePluginManager.ts
Due: @kubb/core

use of isPlainStringType
  packages/ast/src/index.ts
  packages/ast/src/utils.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

changeset
  .changeset/ast-utils-operation-path.md
Due: none

fix: commit .mcp.json snapshot and unblock __snapshots__ from gitignore
  .gitignore
  packages/plugin-mcp/src/generators/__snapshots__/showPetById/.mcp.json
Due: @kubb/plugin-mcp

fix: replace dynamic await import('@kubb/plugin-oas') with static top-level imports
  packages/plugin-client/src/generators/classClientGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.test.tsx
Due: @kubb/plugin-client

small review change
  packages/adapter-oas/src/parser.ts
Due: none

feat: add resolveOptions(node) helper to @kubb/ast and plugin lifecycle
  packages/ast/src/index.ts
  packages/ast/src/utils.ts
  packages/core/src/types.ts
  packages/plugin-oas/package.json
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/src/utils/index.ts
  packages/plugin-ts/src/plugin.ts
  pnpm-lock.yaml
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

chore: add changeset for resolveOptions
  .changeset/feat-resolve-options.md
Due: none

docs: update changelog for v5.0.0-alpha.3
  docs/changelog.md
Due: none

feat: resolveOptions as part of the ast package
  .changeset/feat-resolve-options.md
  packages/ast/src/index.ts
  packages/ast/src/utils.ts
  packages/core/src/types.ts
  packages/plugin-oas/package.json
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-oas/src/utils/index.ts
  packages/plugin-ts/src/plugin.ts
  pnpm-lock.yaml
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

chore: formating
  .changeset/pre.json
  packages/adapter-oas/src/parser.ts
  packages/ast/src/utils.ts
  packages/core/src/types.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/src/plugin.ts
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

feat: defineGenerator
  packages/core/src/defineGenerator.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/plugin-oas/src/generators/types.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

naming
  packages/core/src/types.ts
  packages/plugin-oas/src/generators/createGenerator.ts
  packages/plugin-oas/src/generators/createReactGenerator.ts
  packages/plugin-oas/src/generators/types.ts
  packages/plugin-oas/src/utils.tsx
Due: @kubb/core, @kubb/plugin-oas

naming
  packages/core/src/defineGenerator.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

cleanup
  examples/typescript/kubb.config.ts
  packages/ast/src/utils.ts
  packages/plugin-oas/src/types.ts
Due: @kubb/plugin-oas

naming
  packages/plugin-oas/src/utils.tsx
Due: @kubb/plugin-oas

naming
  .changeset/pre.json
  packages/adapter-oas/src/parser.ts
  packages/core/src/defineGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/index.ts
Due: @kubb/core, @kubb/plugin-oas

chore(examples): update generated files
  packages/ast/src/utils.ts
Due: none

DefineGenerator as part of @kubb/core (#2777)
  .changeset/pre.json
  packages/adapter-oas/src/parser.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/generators/createGenerator.ts
  packages/plugin-oas/src/generators/createReactGenerator.ts
  packages/plugin-oas/src/generators/types.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

Move resolveOptions to @kubb/core and fix null-options crash in v2 adapter flow (#2778)
  packages/ast/src/index.ts
  packages/ast/src/utils.ts
  packages/core/src/index.ts
  packages/core/src/utils/resolveOptions.ts
  packages/plugin-ts/src/plugin.ts
Due: @kubb/core, @kubb/plugin-ts

Resolve options with AST (#2776)
  .changeset/feat-resolve-options.md
  examples/typescript/kubb.config.ts
  packages/core/src/index.ts
  packages/core/src/utils/resolveOptions.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/src/plugin.ts
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

feat: support never in ast
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/types.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

fix: add url type to parser
  packages/adapter-oas/src/parser.ts
Due: none

feat: add support for data custom type to combine params (header, query, ...)
  packages/plugin-ts/src/factory.test.ts
  packages/plugin-ts/src/factory.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/createPetPOSTWithRequestBody/createPets.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/deletePetDELETEWithNoResponseBody/deletePet.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/findArtifactsGETWithMultipleQueryParams/findArtifacts.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/listPetsGETWithQueryParams/listPets.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/placeOrderPatchPATCHWithPathParamsRequestBodyMultipleStatusCodes/placeOrderPatch.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/showPetByIdGETWithPathParams/showPetById.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
  packages/plugin-ts/src/generators/v2/utils.test.ts
  packages/plugin-ts/src/generators/v2/utils.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

chore: add jsdocs
  packages/ast/src/constants.ts
  packages/ast/src/visitor.ts
Due: none

chore: add jsdocs
  packages/ast/src/nodes/root.ts
Due: none

add more support
  configs/mocks.ts
  packages/core/src/PluginManager.ts
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useKubb.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
  packages/plugin-ts/src/generators/v2/utils.test.ts
  packages/plugin-ts/src/generators/v2/utils.ts
Due: @kubb/core, @kubb/plugin-ts

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
