Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

update packages + build examples
  examples/advanced/package.json
  examples/advanced/src/gen/mcp/.mcp.json
  examples/advanced/src/gen/mcp/petRequests/findPetsByStatus.ts
  examples/advanced/src/gen/mcp/petsRequests/createPets.ts
  examples/client/package.json
  examples/generators/package.json
  examples/mcp/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/findPetsByStatus.ts
  examples/react-query/package.json
  examples/svelte-query/src/gen/hooks/createUpdatePetWithForm.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

update test cases
  packages/core/mocks/hellowWorld.js
  packages/plugin-react-query/src/generators/__snapshots__/getPetIdCamelCase.ts
Due: @kubb/core, @kubb/plugin-react-query

Fix: Export type alias for `asPascalConst` enums (#2346)
  .changeset/1769009760-export-aspascalconst-type.md
  docs/changelog.md
  packages/plugin-ts/src/__snapshots__/factory.test.ts.snap
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/factory.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesPascalConst.ts
Due: @kubb/plugin-ts

ci(changesets): version packages
  .changeset/1769009760-export-aspascalconst-type.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

chore(examples): update generated files
  examples/simple-single/src/gen/.kubb/config.ts
  examples/simple-single/src/gen/docs/index.html
  examples/simple-single/src/gen/hooks.ts
  examples/simple-single/src/gen/index.ts
  examples/simple-single/src/gen/models.ts
  examples/simple-single/src/gen/schemas/addPetRequest.json
  examples/simple-single/src/gen/schemas/address.json
  examples/simple-single/src/gen/schemas/apiResponse.json
  examples/simple-single/src/gen/schemas/category.json
  examples/simple-single/src/gen/schemas/customer.json
  examples/simple-single/src/gen/schemas/order.json
  examples/simple-single/src/gen/schemas/person.json
  examples/simple-single/src/gen/schemas/pet.json
  examples/simple-single/src/gen/schemas/petNotFound.json
  examples/simple-single/src/gen/schemas/tag.json
  examples/simple-single/src/gen/schemas/user.json
  examples/simple-single/src/gen/schemas/userArray.json
  examples/simple-single/src/gen/zod.ts
Due: none

add animation
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/utils/getIntro.ts
Due: @kubb/cli

add animation
  packages/cli/src/utils/getIntro.ts
Due: @kubb/cli

add animation
  packages/cli/src/loggers/clackLogger.ts
Due: @kubb/cli

remove json-schema-to-ts
  packages/oas/package.json
  pnpm-lock.yaml
Due: @kubb/oas

refactor
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/utils/getIntro.ts
Due: @kubb/cli

tryout with ink 2
  packages/cli/src/loggers/ink/InkLogger.tsx
  packages/cli/src/utils/getIntro.ts
Due: @kubb/cli

add mascot
  .changeset/metal-worms-move.md
  docs/changelog.md
  packages/cli/src/utils/getIntro.ts
  packages/core/mocks/hellowWorld.js
  packages/oas/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, @kubb/oas

Merge branch 'main' into feat/use-of-ink-for-cli
  packages/cli/src/loggers/ink/InkLogger.tsx
Due: @kubb/cli

fix lock file
  pnpm-lock.yaml
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

cleanup
  packages/cli/src/loggers/ink/InkLogger.tsx
  packages/cli/src/loggers/ink/components/Header.tsx
  packages/cli/src/loggers/ink/components/Status.tsx
  packages/cli/src/loggers/ink/hooks/useStdoutDimensions.ts
  packages/cli/src/utils/getIntro.ts
Due: @kubb/cli

pack update
  examples/advanced/package.json
  examples/zod/package.json
  package.json
  packages/mcp/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/mcp

Revert "pack update"
  examples/advanced/package.json
  examples/zod/package.json
  package.json
  packages/mcp/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/mcp

ci(changesets): version packages
  .changeset/metal-worms-move.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

pack update for fabric
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/release.yml
  examples/advanced/package.json
  examples/advanced/src/gen/mcp/.mcp.json
  examples/client/package.json
  examples/faker/package.json
  examples/generators/package.json
  examples/mcp/src/gen/mcp/.mcp.json
  examples/react-query/package.json
  examples/zod/package.json
  package.json
  packages/core/README.md
  packages/core/mocks/hellowWorld.js
  packages/core/package.json
  packages/mcp/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  packages/plugin-zod/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core, @kubb/mcp, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

config.json skill
  .skills/documentation/SKILL.md
  .skills/documentation/references/config-json.md
  packages/core/mocks/hellowWorld.js
Due: @kubb/core

cleanup
  AGENTS.md
Due: none

fix(oas): Improves zod handling of nullable schemas in OpenAPI 3.1
  .changeset/humble-states-roll.md
  packages/oas/src/utils.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-zod/mocks/nullable-v3_0_1.yaml
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
Due: @kubb/oas, @kubb/plugin-oas, @kubb/plugin-zod

update snapshots
  packages/plugin-oas/src/__snapshots__/SchemaGenerator.test.ts.snap
Due: @kubb/plugin-oas

update snapshots
  .github/workflows/pr.yml
  cspell.json
Due: none

chore: rename mock yaml file
  packages/plugin-zod/mocks/nullable-v3_1_0.yaml
Due: @kubb/plugin-zod

new guide route
  AGENTS.md
  cspell.json
  docs/changelog.md
  docs/config.json
  docs/getting-started/at-glance.md
  docs/getting-started/configure.md
  docs/getting-started/troubleshooting.md
  docs/guide/base-url.md
  docs/guide/best-practices.md
  docs/guide/claude.md
  docs/guide/debugging.md
  docs/guide/fetch.md
  docs/guide/fileManager.md
  docs/guide/filter-and-sort.md
  docs/guide/generators.md
  docs/guide/multipart-form-data.md
  docs/guide/oas.md
  docs/guide/pluginManager.md
  docs/helpers/cli.md
  docs/helpers/mcp.md
  docs/migration-guide.md
  docs/plugins/core/generators.md
  docs/plugins/plugin-client.md
  docs/plugins/plugin-client/importPath.md
  docs/plugins/plugin-mcp.md
  docs/plugins/plugin-oas.md
Due: none

cleanup
  docs/public/favicon.ico
  docs/public/logo.png
  docs/public/og.png
  docs/public/robots.txt
Due: none

installation screen
  docs/config.json
  docs/getting-started/installation.md
  docs/getting-started/introduction.md
  docs/index.md
  docs/public/kubb.png
Due: none

installation screen
  .all-contributorsrc
  README.md
Due: none

readme revert
  README.me
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
