Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

docs: validated reply for discussion #2706 (printer.nodes keyword overrides)
  discussion-2706-keyword-overrides.md
Due: none

update @clack/prompts
  .changeset/goofy-canyons-teach.md
  packages/cli/package.json
  pnpm-lock.yaml
Due: @kubb/cli

ci: fix changeset publish flag forwarding
  .github/workflows/release.yml
  package.json
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  .github/canary.sh
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

ci: consolidate release workflow into a single job
  .github/workflows/release.yml
  package.json
Due: none

ci: reduce workflow comments to essentials
  .github/workflows/release.yml
Due: none

ci: fix changeset publish flag forwarding (#3439)
  .github/workflows/release.yml
  package.json
Due: none

Delete .github/canary.sh
  .github/canary.sh
Due: none

ci: drop --tag beta from publish (pre mode handles tagging)
  .github/workflows/release.yml
Due: none

ci: drop --tag beta from publish (pre mode handles tagging) (#3441)
  .github/workflows/release.yml
Due: none

ci: simplify staged publish via pnpm stage publish -r
  package.json
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
  scripts/release-stage.mjs
  turbo.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

chore: drop unused per-package release scripts
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
  turbo.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

ci: collapse release:stage and release:stage:ci into one script
  .github/workflows/release.yml
  package.json
Due: none

ci(release): wire staged mode through a dedicated step
  .github/workflows/release.yml
Due: none

ci(release): drop publish mode, stage as the only publish path
  .github/workflows/release.yml
Due: none

chore: rename release:stage script to release
  .github/workflows/release.yml
  package.json
Due: none

feat(tui): add opentui terminal dashboard for kubb generate
  .changeset/add-tui-package.md
  packages/cli/src/commands/generate.ts
  packages/cli/src/loggers/types.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/tui/package.json
  packages/tui/src/App.tsx
  packages/tui/src/__tests__/state.test.ts
  packages/tui/src/components/FilesPane.tsx
  packages/tui/src/components/HeaderBar.tsx
  packages/tui/src/components/LogPane.tsx
  packages/tui/src/components/PluginsPane.tsx
  packages/tui/src/components/ProgressBar.tsx
  packages/tui/src/format.ts
  packages/tui/src/index.ts
  packages/tui/src/runtime.ts
  packages/tui/src/state.ts
  packages/tui/src/tuiLogger.tsx
  packages/tui/tsconfig.json
  packages/tui/tsdown.config.ts
  packages/tui/vitest.config.ts
  pnpm-lock.yaml
Due: @kubb/cli

chore: rename scripts/release-stage.mjs to scripts/release.mjs
  package.json
  scripts/release.mjs
Due: none

chore(cspell): allow opentui and scrollbox
  cspell.json
Due: none

ci(release): emit changesets markers and push tags after staging
  scripts/release.mjs
Due: none

ci(release): only set staged=true when something was actually staged
  scripts/release.mjs
Due: none

ci(release): call release.mjs directly from the workflow
  .github/workflows/release.yml
  package.json
Due: none

ci(release): canary publishes 0.0.0-<utc timestamp>
  .github/workflows/release.yml
Due: none

ci(release): canary version 0.0.0-canary-YYYYMMDDHHMMSS
  .github/workflows/release.yml
Due: none

fix(tui): mount via createRoot(createCliRenderer()) instead of nonexistent render()
  packages/cli/src/loggers/utils.ts
  packages/tui/src/tuiLogger.tsx
Due: @kubb/cli

feat(tui): make @kubb/tui a hard dependency so --tui works out of the box
  .changeset/add-tui-package.md
  packages/cli/package.json
  packages/kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, kubb

fix(cli): surface the real reason @kubb/tui failed to load
  packages/cli/src/loggers/utils.ts
Due: @kubb/cli

fix(tui): split mount.tsx from tuiLogger so opentui never loads on Node
  packages/tui/src/index.ts
  packages/tui/src/mount.tsx
  packages/tui/src/tuiLogger.ts
Due: none

feat(tui): nx + claude-code style UI — persistent run, navigation, modes
  packages/tui/src/App.tsx
  packages/tui/src/__tests__/state.test.ts
  packages/tui/src/components/HeaderBar.tsx
  packages/tui/src/components/HelpOverlay.tsx
  packages/tui/src/components/PluginsPane.tsx
  packages/tui/src/components/StatusBar.tsx
  packages/tui/src/components/TaskDetail.tsx
  packages/tui/src/components/TaskList.tsx
  packages/tui/src/mount.tsx
  packages/tui/src/state.ts
  packages/tui/src/tuiLogger.ts
Due: none

fix(tui): strip ANSI, lock task column width, swap detail for debug stream, add logo
  packages/tui/src/App.tsx
  packages/tui/src/__tests__/state.test.ts
  packages/tui/src/components/DebugStream.tsx
  packages/tui/src/components/HeaderBar.tsx
  packages/tui/src/components/KubbLogo.tsx
  packages/tui/src/components/TaskDetail.tsx
  packages/tui/src/components/TaskList.tsx
  packages/tui/src/format.ts
  packages/tui/src/state.ts
  packages/tui/src/tuiLogger.ts
Due: none

chore: format and lint fixes
  packages/tui/src/components/DebugStream.tsx
  packages/tui/src/components/KubbLogo.tsx
Due: none

fix(tui): widen panes, fix lost first dispatch, add r-to-restart
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/defineLogger.ts
  packages/tui/src/App.tsx
  packages/tui/src/components/HelpOverlay.tsx
  packages/tui/src/components/KubbLogo.tsx
  packages/tui/src/components/StatusBar.tsx
  packages/tui/src/components/TaskList.tsx
  packages/tui/src/mount.tsx
  packages/tui/src/tuiLogger.ts
Due: @kubb/cli, @kubb/core

chore(changeset): add @kubb/core to the tui bump and document keybindings
  .changeset/add-tui-package.md
Due: none

fix(tui): per-plugin detail, logo spacing, outer padding
  packages/tui/src/App.tsx
  packages/tui/src/__tests__/state.test.ts
  packages/tui/src/components/DebugStream.tsx
  packages/tui/src/components/KubbLogo.tsx
  packages/tui/src/components/PluginDetail.tsx
  packages/tui/src/state.ts
  packages/tui/src/tuiLogger.ts
Due: none

fix(tui): add gaps and trim fixed widths so panels stop overflowing
  packages/tui/src/App.tsx
  packages/tui/src/components/KubbLogo.tsx
  packages/tui/src/components/TaskList.tsx
Due: none

feat(tui): move file-write phase into the task list
  packages/tui/src/App.tsx
  packages/tui/src/__tests__/state.test.ts
  packages/tui/src/components/FilesPane.tsx
  packages/tui/src/components/PluginDetail.tsx
  packages/tui/src/components/TaskList.tsx
  packages/tui/src/state.ts
Due: none

fix(tui): match the detail-mode breathing room in the main view
  packages/tui/src/App.tsx
  packages/tui/src/components/LogPane.tsx
  packages/tui/src/components/PluginDetail.tsx
  packages/tui/src/components/TaskList.tsx
Due: none

fix(tui): drop header bar, add inline task progress, merge log into right pane
  packages/tui/src/App.tsx
  packages/tui/src/__tests__/state.test.ts
  packages/tui/src/components/HeaderBar.tsx
  packages/tui/src/components/HelpOverlay.tsx
  packages/tui/src/components/LogPane.tsx
  packages/tui/src/components/PluginDetail.tsx
  packages/tui/src/components/TaskList.tsx
  packages/tui/src/components/TaskLog.tsx
  packages/tui/src/state.ts
Due: none

chore: format and lint fixes
  packages/tui/src/components/TaskList.tsx
  packages/tui/src/components/TaskLog.tsx
Due: none
