Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

fix(release): stop the promote dispatch from 401ing on npm stage list
  .github/workflows/release.yml
  CONTRIBUTING.md
  scripts/listStaged.mjs
  scripts/listStaged.test.mjs
Due: none

refactor(kubb): reduce type casting and any across core packages
  .changeset/reduce-type-casting-and-any.md
  oxlint.config.ts
  packages/adapter-oas/src/converters.ts
  packages/ast/src/createPrinter.ts
  packages/ast/src/defineNode.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/visitor.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createStorage.ts
  packages/core/src/defineParser.ts
  packages/core/src/definePlugin.ts
  packages/core/src/mocks.ts
  packages/kubb/src/defineConfig.ts
  packages/renderer-jsx/src/Runtime.tsx
  packages/unplugin-kubb/src/astro.ts
Due: @kubb/cli, @kubb/core, kubb, unplugin-kubb

revert(release): drop the promote/staged-list workflow feature
  .github/workflows/release.yml
  CONTRIBUTING.md
  scripts/listStaged.mjs
  scripts/listStaged.test.mjs
Due: none

revert(release): drop the remaining promote/staged-list note in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update timeout and verify interval in release workflow
  .github/workflows/release.yml
Due: none

refactor(core): replace any/object-literal assertions flagged by oxlint
  .changeset/reduce-any-and-object-literal-casts.md
  packages/adapter-oas/src/converters.ts
  packages/ast/src/createPrinter.ts
  packages/ast/src/defineNode.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/visitor.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/tools.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createStorage.ts
  packages/core/src/defineParser.ts
  packages/core/src/definePlugin.ts
  packages/core/src/mocks.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/unplugin-kubb/src/astro.ts
Due: @kubb/cli, @kubb/core, kubb, unplugin-kubb

chore: sync oxlint rules with kubb-labs repos
  oxlint.config.ts
Due: none

Update jsx-namespace.d.ts
  packages/renderer-jsx/src/jsx-namespace.d.ts
Due: none

chore: exempt JSX.ElementType's any from no-explicit-any
  oxlint.config.ts
Due: none

docs(renderer-jsx): explain why walkFiles can't call createFile early
  packages/renderer-jsx/src/Runtime.tsx
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

cleanup
  packages/ast/src/nodes/code.ts
  packages/ast/src/utils/refs.ts
  packages/cli/src/runners/mcp/run.ts
  packages/core/src/createReporter.ts
  packages/mcp/src/utils.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

docs: correct CONTRIBUTING repo tree (add parser-md, drop schemas/docs, add scripts)
  CONTRIBUTING.md
Due: none

fix: resolve verified behavioral bugs and type/doc mismatches across packages
  .changeset/ast-node-and-scalar-types.md
  .changeset/cli-loglevel-telemetry.md
  .changeset/core-reporter-buffer.md
  .changeset/mcp-config-discovery-mjs.md
  .changeset/parser-ts-named-export.md
  .changeset/plugin-barrel-named-nested-exports.md
  .changeset/renderer-jsx-error-prefix.md
  packages/ast/src/constants.ts
  packages/ast/src/createPrinter.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/schema.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/core/src/createReporter.ts
  packages/core/src/createStorage.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/utils.ts
  packages/parser-md/src/parserMd.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
  packages/renderer-jsx/src/Runtime.tsx
Due: @kubb/cli, @kubb/core, @kubb/mcp

update packages
  package.json
  packages/adapter-oas/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli

update packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: bump oxfmt to ^0.58.0
  pnpm-workspace.yaml
Due: none

chore: update lockfile for oxfmt bump
  pnpm-lock.yaml
Due: none

smarter types for pluginName
  .changeset/objectkey-singlequote-blanklines.md
  internals/utils/src/fs.test.ts
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  internals/utils/src/reserved.test.ts
  internals/utils/src/reserved.ts
  internals/utils/src/string.test.ts
  internals/utils/src/string.ts
  internals/utils/src/types.ts
  packages/cli/src/tools.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Resolver.ts
  packages/core/src/createReporter.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/types.ts
  packages/mcp/src/utils.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp

smarter types for pluginName
  .changeset/plugin-registry-lookup-types.md
Due: none

fix(cli): scaffold a v5 project from kubb init
  .changeset/cli-init-v5-scaffold.md
  internals/shared/src/index.ts
  internals/shared/src/init.test.ts
  internals/shared/src/init.ts
  packages/cli/src/runners/init/run.ts
Due: @kubb/cli

fix(cli): scaffold a v5 project from kubb init (#3765)
  .changeset/cli-init-v5-scaffold.md
  internals/shared/src/index.ts
  internals/shared/src/init.test.ts
  internals/shared/src/init.ts
  packages/cli/src/runners/init/run.ts
Due: @kubb/cli

test(core): reproduce Resolver.merge preset name regression
  packages/core/src/createResolver.test.ts
Due: @kubb/core

refactor(core): replace adapter.getImports with resolver.imports
  .changeset/resolver-imports.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/ast/src/nodes/input.ts
  packages/core/src/Resolver.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/kit/src/index.ts
Due: @kubb/core

refactor(adapter-oas): record only collision renames in meta.nameMapping
  .changeset/resolver-imports.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/ast/src/nodes/input.ts
  packages/core/src/createAdapter.ts
Due: @kubb/core

refactor(ast): carry ref target names on the node via targetName
  .changeset/resolver-imports.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/macros/index.ts
  packages/ast/src/macros/macroRenameSchema.test.ts
  packages/ast/src/macros/macroRenameSchema.ts
  packages/ast/src/nodes/input.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/refs.test.ts
  packages/ast/src/utils/refs.ts
  packages/core/src/Resolver.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createResolver.test.ts
Due: @kubb/core

refactor(adapter-oas): getSchemas records only collision renames
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/resolvers.test.ts
  packages/adapter-oas/src/resolvers.ts
Due: none

refactor(core): apply review fixes to resolver.imports and adapter tests
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/parser.test.ts
  packages/core/src/Resolver.ts
  packages/core/src/createResolver.test.ts
Due: @kubb/core

style: tighten changeset wording and macroRenameSchema example format
  .changeset/resolver-imports.md
  packages/ast/src/macros/macroRenameSchema.ts
Due: none

refactor(adapter-oas): stamp targetName at ref creation in the parser
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/converters.ts
  packages/adapter-oas/src/parser.ts
Due: none

fix
  packages/unplugin-kubb/src/webpack.ts
Due: unplugin-kubb

update packages
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kubb, unplugin-kubb

cleanup
  packages/ast/src/utils/schemaGraph.ts
Due: none

refactor: make Fallow-flagged unused exports module-private
  .changeset/fallow-remove-unused-exports.md
  internals/changelog/index.mjs
  packages/adapter-oas/src/converters.ts
Due: none

refactor: make Fallow-flagged unused exports module-private (#3769)
  .changeset/fallow-remove-unused-exports.md
  internals/changelog/index.mjs
  packages/adapter-oas/src/converters.ts
Due: none

test: drop coverage-padding cases from resolver.imports and macroRenameSchema
  packages/ast/src/macros/macroRenameSchema.test.ts
  packages/core/src/createResolver.test.ts
Due: @kubb/core
