Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

fix(cli): remove stale Studio tip rotation state
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

fix(adapter-oas): preserve multipart binary properties
  .changeset/fix-multipart-binary.md
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/oas.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/types.ts
Due: none

chore: remove skills duplicated by the toolkit plugin
  .agents/skills/changelog/SKILL.md
  .agents/skills/deslop/SKILL.md
  .agents/skills/documentation/SKILL.md
  .agents/skills/documentation/references/config-json.md
  .agents/skills/documentation/references/content-patterns.md
  .agents/skills/documentation/references/humanizer.md
  .agents/skills/documentation/references/seo-optimization.md
  .agents/skills/documentation/references/writing-style.md
  .agents/skills/humanizer/SKILL.md
  .agents/skills/humanizer/references/communication-patterns.md
  .agents/skills/humanizer/references/content-patterns.md
  .agents/skills/humanizer/references/language-patterns.md
  .agents/skills/humanizer/references/style-patterns.md
  .agents/skills/jsdoc/SKILL.md
  .agents/skills/pr/SKILL.md
  .claude/commands/changeset.md
  .claude/commands/deslop.md
  .claude/commands/pr.md
  .claude/output-styles/house.md
  .claude/rules/code-style.md
  .claude/rules/jsdoc.md
  .claude/rules/markdown.md
  .github/pull_request_template.md
  AGENTS.md
Due: none

chore: use shared skills from stijnvanhulle/agents
  .claude/commands/changeset.md
  .claude/commands/deslop.md
  .claude/commands/pr.md
  .claude/output-styles/house.md
  .claude/rules/code-style.md
  .claude/rules/jsdoc.md
  .claude/rules/markdown.md
  .github/pull_request_template.md
  AGENTS.md
Due: none

chore: drop CLAUDE.md so Claude Code reads AGENTS.md
  AGENTS.md
  CLAUDE.md
  context7.json
Due: none

chore: drop GEMINI.md and copilot-instructions.md
  .github/copilot-instructions.md
  AGENTS.md
  GEMINI.md
  context7.json
Due: none

chore: load shared agents from the plugin
  .claude/agents/code-reviewer.md
  .claude/commands/changeset.md
  .claude/commands/deslop.md
  .claude/commands/pr.md
  .claude/output-styles/diagrams-first.md
  .claude/output-styles/house.md
  .claude/output-styles/plan.md
  .claude/rules/code-style.md
  .claude/rules/jsdoc.md
  .claude/rules/markdown.md
  .claude/rules/plain-language.md
  .claude/rules/security.md
  .claude/rules/testing.md
  .claude/rules/usa-english.md
  .claude/settings.json
  .github/pull_request_template.md
  AGENTS.md
Due: none

update packages
  .github/workflows/labeler.yml
  .github/workflows/pr.yml
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb, unplugin-kubb

feat(studio): report added, changed, and removed files after a run
  .changeset/studio-generation-changes.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.ts
Due: none

fix(studio): keep a failed run out of the previous-run snapshot
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/ws.ts
Due: none

refactor(studio): drop an else-if and a triplicated test config literal
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
Due: none

Change '@kubb/studio' version to patch
  .changeset/studio-generation-changes.md
Due: none

fix(studio): reject a session response without a WebSocket URL
  .changeset/studio-session-missing-url.md
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
Due: none

feat(studio): keep the previous generation and fingerprint files for diffs
  .changeset/studio-previous-generation.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/ws.ts
Due: none

feat(studio)!: read files by job id, and snapshot the disk before each run
  .changeset/studio-previous-generation.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/generations.test.ts
  packages/studio/src/generations.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/ws.ts
Due: none

refactor(studio): trim generation history to what it needs
  packages/studio/src/StudioSession.ts
  packages/studio/src/generations.test.ts
  packages/studio/src/generations.ts
  packages/studio/src/ws.ts
Due: none

refactor(studio): drop doc comments that restate the code in generations.ts
  packages/studio/src/generations.ts
Due: none

refactor(studio): keep CaptureDiskOptions local to generations.ts
  packages/studio/src/generations.ts
Due: none

refactor(studio): functional generation history with object params
  packages/studio/src/StudioSession.ts
  packages/studio/src/generations.test.ts
  packages/studio/src/generations.ts
  packages/studio/src/ws.ts
Due: none

docs(studio): per-property JSDoc and plainer wording
  .changeset/studio-previous-generation.md
  packages/studio/src/StudioSession.ts
  packages/studio/src/generations.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/ws.ts
Due: none

chore: trim studio changeset
  .changeset/studio-previous-generation.md
Due: none

feat(studio): keep generations in the project cache, in memory on sandboxes
  .changeset/studio-previous-generation.md
  packages/core/src/index.ts
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/generations.test.ts
  packages/studio/src/generations.ts
  packages/studio/src/ws.ts
Due: @kubb/core

feat(studio): set generation limits through environment variables, in MB
  .changeset/studio-previous-generation.md
  packages/studio/src/StudioSession.ts
  packages/studio/src/constants.test.ts
  packages/studio/src/constants.ts
  packages/studio/src/generations.test.ts
  packages/studio/src/generations.ts
Due: none

chore: Update packages
  package.json
  packages/adapter-oas/package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: kubb, unplugin-kubb

feat(ast): add isBareRef helper
  packages/ast/src/utils/refs.ts
Due: none

feat(ast): add isBareRef helper
  packages/ast/src/utils/index.ts
Due: none

feat(ast): add isBareRef helper
  packages/kit/src/index.ts
Due: none

test(ast): cover isBareRef
  packages/ast/src/utils/refs.test.ts
Due: none

chore: add isBareRef changeset
  .changeset/tidy-refs.md
Due: none

fix: target kit changeset
  .changeset/tidy-refs.md
Due: none

fix(kit): expose isBareRef through ast namespace only
  packages/kit/src/index.ts
Due: none

chore: limit isBareRef changeset to ast
  .changeset/tidy-refs.md
Due: none

fix(adapter-oas): keep non-octet-stream binary bodies typed as a blob
  .changeset/binary-non-octet-stream-blob.md
  packages/adapter-oas/src/oas.test.ts
  packages/adapter-oas/src/oas.ts
Due: none

Update tidy-refs.md
  .changeset/tidy-refs.md
Due: none

feat(core,parser-ts): let the parser adapt copied runtime templates
  .changeset/parser-aware-copy.md
  packages/ast/src/nodes/file.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/defineParser.ts
  packages/core/src/definePlugin.ts
  packages/parser-ts/src/constants.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/jsx-namespace.d.ts
Due: @kubb/core

docs(core,parser-ts): trim parseCopy comments under the comment-ratio limit
  packages/ast/src/nodes/file.ts
  packages/core/src/FileManager.ts
  packages/core/src/defineParser.ts
  packages/core/src/definePlugin.ts
  packages/parser-ts/src/constants.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/utils.ts
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/jsx-namespace.d.ts
Due: @kubb/core

refactor(core,parser-ts): rename the parseCopy hook to copy
  .changeset/parser-aware-copy.md
  packages/ast/src/nodes/file.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/defineParser.ts
  packages/core/src/definePlugin.ts
  packages/parser-ts/src/constants.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/jsx-namespace.d.ts
Due: @kubb/core

refactor(parser-ts): swap rewriteModuleSpecifiers for a single regex
  packages/parser-ts/src/constants.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
Due: none

refactor(core,parser-ts): print copied templates through parse with import nodes
  .changeset/parser-aware-copy.md
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/defineParser.ts
  packages/parser-ts/src/constants.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
  packages/parser-ts/src/utils.ts
Due: @kubb/core

chore(core,parser-ts): tidy the copy hook change
  packages/ast/src/nodes/file.ts
  packages/core/src/FileManager.ts
  packages/core/src/definePlugin.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/utils.ts
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/jsx-namespace.d.ts
Due: @kubb/core
