Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

fix(core): run the output passes for fs storage only
  packages/core/src/createKubb.ts
Due: @kubb/core

chore(studio): plain changeset wording
  .changeset/studio-internal-dedupe.md
Due: none

chore(ast): tidy the visitor guard and the printer docs
  .changeset/ast-internal-dedupe.md
  packages/ast/src/createPrinter.ts
  packages/ast/src/visitor.ts
Due: none

chore(studio): drop the key rewrite from the file storage
  packages/studio/src/operations/machine.test.ts
  packages/studio/src/operations/machine.ts
Due: none

chore(studio): plain changeset wording for the core generation
  .changeset/studio-generate-core.md
Due: none

chore(adapter-oas): tighten the folded helpers after review
  .changeset/adapter-oas-fold.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/operation.ts
Due: none

chore(plugin-barrel): tidy the walker params and the test helper
  .changeset/plugin-barrel-layers.md
  packages/kit/src/index.ts
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/utils.ts
Due: none

chore(mcp): share the config extension list
  .changeset/mcp-internal-cleanup.md
  internals/shared/src/constants.ts
  internals/shared/src/index.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/utils.ts
Due: @kubb/mcp

chore(unplugin-kubb): read the storage key before asserting on it
  .changeset/unplugin-parser-md-cleanup.md
  packages/unplugin-kubb/src/unpluginFactory.test.ts
Due: unplugin-kubb

chore(parser-ts): shorten the printer docs and flatten the return type ternary
  packages/parser-ts/src/utils.ts
Due: none

chore(cli): drop the unused options and wrappers after review
  internals/shared/src/constants.ts
  internals/shared/src/index.ts
  packages/cli/src/commands/shared.ts
  packages/cli/src/commands/studio/connect.ts
  packages/cli/src/config.test.ts
  packages/cli/src/config.ts
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/reporters.ts
Due: @kubb/cli

chore(core): move dispatch onto FileManager
  .changeset/core-fold-helpers.md
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/mocks.ts
Due: @kubb/core

chore(kit): plain docs for syncSchemaRef and the changeset
  .changeset/kit-dedupe.md
  packages/ast/src/utils/schemaGraph.ts
  packages/kit/src/utils/refs.ts
Due: none

chore(renderer-jsx): type the code factory table from the JSX contract
  .changeset/renderer-jsx-walker.md
  packages/renderer-jsx/src/components/js/Function.tsx
  packages/renderer-jsx/src/components/md/Callout.test.tsx
  packages/renderer-jsx/src/components/md/Frontmatter.test.tsx
  packages/renderer-jsx/src/components/md/Heading.test.tsx
  packages/renderer-jsx/src/components/md/List.test.tsx
  packages/renderer-jsx/src/components/md/Paragraph.test.tsx
  packages/renderer-jsx/src/components/md/testing.ts
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/renderer-jsx/src/jsxRenderer.ts
Due: none

chore(core): tighten the output pass runner after review
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/generation.test.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/createKubb.ts
  packages/core/src/output/runHook.test.ts
  packages/core/src/output/runHook.ts
  packages/core/src/output/runOutputPasses.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

chore(mcp): list every config extension in the generate tool description
  packages/mcp/src/tools/generate.ts
Due: @kubb/mcp

fix(core): keep hook errors short and tests off the filesystem (#4193)
  .changeset/core-hook-error-message.md
  packages/core/src/Hookable.test.ts
  packages/core/src/Hookable.ts
  packages/core/src/createKubb.test.ts
Due: @kubb/core

chore(parser-ts): print declarations with template literals and load TypeScript lazily (#4205)
  .changeset/parser-ts-printers.md
  packages/parser-ts/src/constants.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
Due: none

test(studio): drop dead mocks and merge overlapping cases (#4199)
  packages/studio/src/operations/api.test.ts
  packages/studio/src/operations/configFile.test.ts
  packages/studio/src/operations/console.mock.ts
  packages/studio/src/operations/constants.test.ts
  packages/studio/src/operations/generationEvents.test.ts
  packages/studio/src/operations/generations.test.ts
  packages/studio/src/operations/hooks.test.ts
  packages/studio/src/operations/pair.test.ts
  packages/studio/src/operations/resolveConfig.test.ts
  packages/studio/src/operations/rpc.messagePort.test.ts
  packages/studio/src/operations/rpc.test.ts
  packages/studio/src/operations/snapshotPackage.test.ts
  packages/studio/src/operations/websocket.mock.ts
  packages/studio/src/runtime/StudioSession.test.ts
  packages/studio/src/runtime/StudioSession.ts
  packages/studio/src/runtime/runConnection.test.ts
Due: none

chore(renderer-jsx): fold Runtime into one jsxRenderer walker (#4207)
  .changeset/renderer-jsx-walker.md
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/components/File.test.tsx
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/components/js/Const.tsx
  packages/renderer-jsx/src/components/js/Function.tsx
  packages/renderer-jsx/src/components/js/Type.test.tsx
  packages/renderer-jsx/src/components/js/Type.tsx
  packages/renderer-jsx/src/components/jsx/Jsx.tsx
  packages/renderer-jsx/src/components/md/Callout.test.tsx
  packages/renderer-jsx/src/components/md/Callout.tsx
  packages/renderer-jsx/src/components/md/Frontmatter.test.tsx
  packages/renderer-jsx/src/components/md/Frontmatter.tsx
  packages/renderer-jsx/src/components/md/Heading.test.tsx
  packages/renderer-jsx/src/components/md/Heading.tsx
  packages/renderer-jsx/src/components/md/List.test.tsx
  packages/renderer-jsx/src/components/md/List.tsx
  packages/renderer-jsx/src/components/md/Paragraph.test.tsx
  packages/renderer-jsx/src/components/md/Paragraph.tsx
  packages/renderer-jsx/src/components/md/testing.ts
  packages/renderer-jsx/src/constants.ts
  packages/renderer-jsx/src/index.ts
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/renderer-jsx/src/jsxRenderer.test.tsx
  packages/renderer-jsx/src/jsxRenderer.ts
  packages/renderer-jsx/src/jsxRenderer.tsx
  packages/renderer-jsx/src/types.ts
Due: none

chore(plugin-barrel): collapse the strategy layer and depend on @kubb/kit only (#4206)
  .changeset/plugin-barrel-layers.md
  packages/kit/src/index.ts
  packages/plugin-barrel/package.json
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/types.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
  pnpm-lock.yaml
Due: none

chore(studio): name the Date refusal in the changeset
  .changeset/studio-internal-dedupe.md
Due: none

test(ast): cover InferSchemaNode date types and fallbacks
  packages/ast/src/infer.test.ts
Due: none

test(ast): drop the reasons after @ts-expect-error
  packages/ast/src/nodes/code.test.ts
  packages/ast/src/nodes/file.test.ts
  packages/ast/src/nodes/input.test.ts
Due: none

fix(ast): type date-time as a string when dateType is false
  .changeset/ast-infer-datetype-false.md
  packages/ast/src/infer.test.ts
  packages/ast/src/infer.ts
Due: none

test(core): pin the resolver imports override with a ref schema
  packages/core/src/createResolver.test.ts
Due: @kubb/core

test(adapter-oas): call narrowSchema through the kit ast namespace
  packages/adapter-oas/src/adapter.test.ts
Due: none

test(studio): compare the full snapshot integrity digest
  packages/studio/src/operations/snapshotPackage.test.ts
Due: none

fix(cli): keep toKebab on the shared and snapshot args
  packages/cli/src/commands/shared.test.ts
  packages/cli/src/commands/shared.ts
  packages/cli/src/commands/studio/snapshot.ts
Due: @kubb/cli

chore(studio): keep ofetch and unstorage
  .changeset/studio-native-deps.md
  packages/studio/package.json
  packages/studio/src/operations/api.ts
  packages/studio/src/operations/machine.test.ts
  packages/studio/src/operations/machine.ts
  packages/studio/src/operations/pair.ts
  packages/studio/src/operations/request.ts
  pnpm-lock.yaml
Due: none

chore(cli): keep chokidar, unconfig and verkit
  .changeset/cli-internal-layers.md
  packages/cli/package.json
  packages/cli/src/config.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
  pnpm-lock.yaml
Due: @kubb/cli

test(kubb): compare preserved config fields by value
  packages/kubb/src/defineConfig.test.ts
Due: kubb

refactor: spawn child processes through tinyexec
  .changeset/core-run-hook-tinyexec.md
  internals/utils/package.json
  internals/utils/src/openInBrowser.test.ts
  internals/utils/src/openInBrowser.ts
  internals/utils/src/tools.test.ts
  internals/utils/src/tools.ts
  packages/cli/src/runners/studio/background.ts
  packages/core/package.json
  packages/core/src/output/runHook.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

fix(cli): pass the parent's node flags to the studio worker
  packages/cli/src/runners/studio/background.ts
Due: @kubb/cli

fix(core): detect format and lint tools from the config root
  .changeset/core-run-hook-tinyexec.md
  internals/utils/src/tools.test.ts
  internals/utils/src/tools.ts
  packages/core/src/output/runOutputPasses.ts
Due: @kubb/core

test(core): share config helpers, fold duplicate cases; carries #4213 core cleanup (#4203)
  .changeset/core-fold-helpers.md
  packages/core/src/Diagnostics.test.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/Hookable.test.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Resolver.ts
  packages/core/src/Transform.test.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/createStorage.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/input.test.ts
  packages/core/src/mocks.ts
  packages/core/src/nodeCache.test.ts
  packages/core/src/outputManifest.test.ts
  packages/core/src/outputManifest.ts
  packages/core/src/reporters/htmlReporter.test.ts
  packages/core/src/storages/cacheStorage.test.ts
  packages/core/src/storages/fsStorage.test.ts
  packages/core/src/storages/fsStorage.ts
  packages/core/src/storages/memoryStorage.test.ts
  packages/core/src/types.ts
Due: @kubb/core

test(plugin-barrel, kubb, renderer-jsx): prune to public behavior; carries #4206 and #4207 (#4202)
  .changeset/plugin-barrel-layers.md
  .changeset/renderer-jsx-walker.md
  packages/kit/src/index.ts
  packages/kubb/src/defineConfig.test.ts
  packages/plugin-barrel/package.json
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/types.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/components/File.test.tsx
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/components/js/Const.tsx
  packages/renderer-jsx/src/components/js/Function.tsx
  packages/renderer-jsx/src/components/js/Type.test.tsx
  packages/renderer-jsx/src/components/js/Type.tsx
  packages/renderer-jsx/src/components/jsx/Jsx.tsx
  packages/renderer-jsx/src/components/md/Callout.test.tsx
  packages/renderer-jsx/src/components/md/Callout.tsx
  packages/renderer-jsx/src/components/md/Frontmatter.test.tsx
  packages/renderer-jsx/src/components/md/Frontmatter.tsx
  packages/renderer-jsx/src/components/md/Heading.test.tsx
  packages/renderer-jsx/src/components/md/Heading.tsx
  packages/renderer-jsx/src/components/md/List.test.tsx
  packages/renderer-jsx/src/components/md/List.tsx
  packages/renderer-jsx/src/components/md/Paragraph.test.tsx
  packages/renderer-jsx/src/components/md/Paragraph.tsx
  packages/renderer-jsx/src/components/md/testing.ts
  packages/renderer-jsx/src/constants.ts
  packages/renderer-jsx/src/index.ts
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/renderer-jsx/src/jsxRenderer.test.tsx
  packages/renderer-jsx/src/jsxRenderer.ts
  packages/renderer-jsx/src/jsxRenderer.tsx
  packages/renderer-jsx/src/types.ts
  pnpm-lock.yaml
Due: kubb

test(ast): cover InferSchemaNode date types and fix dateType false (#4217)
  .changeset/ast-infer-datetype-false.md
  packages/ast/src/infer.test.ts
  packages/ast/src/infer.ts
  packages/ast/src/nodes/code.test.ts
  packages/ast/src/nodes/file.test.ts
  packages/ast/src/nodes/input.test.ts
Due: none

test(studio): check the handshake sends the agent token
  packages/studio/src/operations/rpc.test.ts
Due: none

fix(cli): accept spaced flag values on bare kubb studio
  .changeset/cli-studio-spaced-flags.md
  packages/cli/src/commands/studio/index.test.ts
  packages/cli/src/commands/studio/index.ts
  packages/cli/src/index.ts
Due: @kubb/cli
