Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

docs: align new comments and changesets with the humanizer and jsdoc rules
  .changeset/cli-generate-fixes.md
  .changeset/core-topological-plugin-sort.md
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/cli, @kubb/core

Drop duplicated peerDependencies from kubb package.json
  packages/kubb/package.json
Due: kubb

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

refactor(cli): move the watcher's serialized runner into @internals/utils
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
Due: @kubb/cli

refactor(cli): flatten the tool-pass and serial-runner control flow
  internals/utils/src/promise.ts
  packages/cli/src/runners/generate/run.ts
Due: @kubb/cli

refactor(core): group resolver helpers under core namespace
  .changeset/ctx-param-in-define-resolver.md
  .changeset/rename-printer-type-exports.md
  .changeset/resolver-core-namespace.md
  packages/ast/src/nodes/file.ts
  packages/ast/src/utils/schemaGraph.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/kit/src/index.ts
  packages/plugin-barrel/src/plugin.ts
  packages/renderer-jsx/src/components/File.tsx
Due: @kubb/core

refactor(core): export DeepPartial for resolver overrides
  packages/core/src/types.ts
  packages/kit/src/index.ts
Due: @kubb/core

fix(core): bind only nested resolver methods to the root
  packages/core/src/defineResolver.ts
Due: @kubb/core

chore(core): drop deleted changeset from pre.json
  .changeset/pre.json
Due: none

refactor(core): drop core.typeName, keep name and fileName
  .changeset/resolver-core-namespace.md
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

refactor(core): slim the resolver assembly
  .changeset/resolver-core-namespace.md
  packages/core/src/KubbDriver.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/types.ts
  packages/kit/src/index.ts
Due: @kubb/core

refactor(core): rename resolver core namespace to default, add top-level name/file
  .changeset/add-resolver-and-transformer-helpers.md
  .changeset/rename-printer-type-exports.md
  .changeset/resolver-core-namespace.md
  packages/ast/src/nodes/file.ts
  packages/ast/src/utils/schemaGraph.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/types.ts
  packages/kit/src/index.ts
  packages/plugin-barrel/src/plugin.ts
  packages/renderer-jsx/src/components/File.tsx
Due: @kubb/core

small cleanup
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/types.ts
  packages/kit/src/index.ts
Due: @kubb/core

update packages
  package.json
  packages/adapter-oas/package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: kubb, unplugin-kubb

fix package.json
  packages/kit/package.json
Due: none

cleanup cli and kit
  packages/cli/src/runners/generate/getConfigs.test.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/validate/run.ts
  packages/kit/src/index.ts
Due: @kubb/cli

cleanup cli and kit
  packages/cli/src/Telemetry.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/types.ts
  packages/cli/src/loggers/utils.test.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/mcp/run.ts
  packages/cli/src/runners/validate/run.test.ts
  packages/cli/src/runners/validate/run.ts
  packages/core/src/storages/fsStorage.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, kubb, unplugin-kubb

add Resolver class for createResolver
  .changeset/kit-new-package.md
  .changeset/rename-define-to-create.md
  .changeset/resolver-core-namespace.md
  packages/adapter-oas/src/resolvers.ts
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/createResolver.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/kit/src/index.ts
  packages/kubb/src/defineConfig.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/core, kubb, unplugin-kubb

cleanup
  .changeset/resolver-core-namespace.md
  packages/core/src/createResolver.ts
Due: @kubb/core

move files
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
Due: none

cleanup jsx renderer
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/components/js/Const.tsx
  packages/renderer-jsx/src/components/js/Function.tsx
  packages/renderer-jsx/src/components/js/Type.test.tsx
  packages/renderer-jsx/src/components/js/Type.tsx
  packages/renderer-jsx/src/components/jsx/Jsx.tsx
  packages/renderer-jsx/src/components/md/Callout.test.tsx
  packages/renderer-jsx/src/components/md/Callout.tsx
  packages/renderer-jsx/src/components/md/Frontmatter.test.tsx
  packages/renderer-jsx/src/components/md/Frontmatter.tsx
  packages/renderer-jsx/src/components/md/Heading.test.tsx
  packages/renderer-jsx/src/components/md/Heading.tsx
  packages/renderer-jsx/src/components/md/List.test.tsx
  packages/renderer-jsx/src/components/md/List.tsx
  packages/renderer-jsx/src/components/md/Paragraph.test.tsx
  packages/renderer-jsx/src/components/md/Paragraph.tsx
  packages/renderer-jsx/src/createRenderer.test.tsx
  packages/renderer-jsx/src/index.ts
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/renderer-jsx/src/types.ts
Due: none

move buildTree helper to plugin-barrel
  internals/utils/src/buildTree.test.ts
  internals/utils/src/buildTree.ts
  internals/utils/src/index.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/index.ts
  packages/renderer-jsx/src/jsxRenderer.test.tsx
  packages/renderer-jsx/src/jsxRenderer.tsx
Due: none

cleanup types
  packages/core/src/createReporter.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

linting
  packages/adapter-oas/src/resolvers.ts
  packages/ast/src/factory.ts
  packages/ast/src/nodes/file.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/init/run.ts
  packages/cli/src/runners/init/utils.test.ts
  packages/cli/src/runners/init/utils.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createReporter.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/renderer-jsx/src/types.ts
Due: @kubb/cli, @kubb/core

reduce complexity
  packages/ast/src/nodes/file.ts
Due: none

use of gunshi
  .changeset/tidy-hounds-relax.md
  internals/utils/src/cli/defineCommand.test.ts
  internals/utils/src/cli/defineCommand.ts
  internals/utils/src/cli/renderHelp.test.ts
  internals/utils/src/cli/renderHelp.ts
  internals/utils/src/cli/runCLI.test.ts
  internals/utils/src/cli/runCLI.ts
  internals/utils/src/index.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/utils/codegen.test.ts
  packages/ast/src/utils/codegen.ts
  packages/ast/src/utils/combineFileMembers.test.ts
  packages/ast/src/utils/combineFileMembers.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/mergeAdjacentSchemas.test.ts
  packages/ast/src/utils/mergeAdjacentSchemas.ts
  packages/ast/src/utils/schemaTraversal.test.ts
  packages/ast/src/utils/schemaTraversal.ts
  packages/cli/package.json
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/mcp.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/index.ts
  pnpm-lock.yaml
Due: @kubb/cli

cleanip
  packages/core/src/createResolver.test.ts
  packages/core/src/createResolver.ts
Due: @kubb/core

self cleanup
  packages/core/src/createResolver.ts
Due: @kubb/core

kubbDriver cleanup
  packages/core/src/KubbDriver.ts
Due: @kubb/core

cleanup
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/Transform.test.ts
  packages/core/src/Transform.ts
Due: @kubb/core

cleanup
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
Due: @kubb/core

fix url
  internals/utils/src/Url.test.ts
  internals/utils/src/Url.ts
  internals/utils/src/index.ts
  package.json
  packages/core/src/index.ts
  packages/kit/src/index.ts
  pnpm-lock.yaml
Due: @kubb/core

use flush inside fsStorage itself
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/storages/fsStorage.ts
  packages/core/src/types.ts
Due: @kubb/core

remove streaming in renderer
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/createRenderer.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/jsxRenderer.test.tsx
  packages/renderer-jsx/src/jsxRenderer.tsx
Due: @kubb/core

remove streaming in renderer
  .changeset/remove-renderer-stream.md
Due: none
