Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

fix(cli): keep stdout clean for the MCP stdio transport
  .changeset/mcp-stdout-banner.md
  packages/cli/src/runners/mcp/run.ts
  packages/mcp/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/mcp

fix(parser-ts): resolve import paths from the importing file directory
  .changeset/parser-ts-relative-import-path.md
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
Due: none

fix(studio): share one loopback check for plaintext transports
  .changeset/studio-loopback-ipv6.md
  packages/studio/src/operations/rpc.ts
  packages/studio/src/operations/snapshotPackage.ts
  packages/studio/src/operations/url.test.ts
  packages/studio/src/operations/url.ts
Due: none

fix(renderer-jsx): type children as an array and brand elements
  .changeset/renderer-jsx-children-type.md
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/jsx-runtime.ts
  packages/renderer-jsx/src/jsxRenderer.test.tsx
  packages/renderer-jsx/src/types.ts
Due: none

fix(core): keep hook errors short and tests off the filesystem
  .changeset/core-hook-error-message.md
  packages/core/src/Hookable.test.ts
  packages/core/src/Hookable.ts
  packages/core/src/createKubb.test.ts
Due: @kubb/core

test(ast): assert operations are fresh per createInput call
  packages/ast/src/nodes/input.test.ts
Due: none

test(ast): use the HttpMethod literal in the freshness test
  packages/ast/src/nodes/input.test.ts
Due: none

test(parser-ts): prune utils tests to tables and literals
  packages/parser-ts/src/utils.test.ts
Due: none

test(cli): drop private-detail cases and move core reporter tests
  internals/utils/src/isCIEnvironment.test.ts
  packages/cli/src/commands/validate.test.ts
  packages/cli/src/loggers/output.test.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.test.ts
  packages/cli/src/runners/generate/run.test.ts
  packages/cli/src/runners/init/utils.test.ts
  packages/cli/src/utils/env.test.ts
  packages/core/src/reporters/cliReporter.test.ts
  packages/core/src/reporters/jsonReporter.test.ts
Due: @kubb/cli, @kubb/core

feat(core): run the output passes from generate() by default
  .changeset/core-output-passes.md
  packages/core/src/createKubb.ts
  packages/core/src/index.ts
  packages/core/src/output/runHook.test.ts
  packages/core/src/output/runHook.ts
  packages/core/src/output/runOutputPasses.test.ts
  packages/core/src/output/runOutputPasses.ts
Due: @kubb/core

test(parser-ts): merge parse cases and cover parserTsx and banners
  packages/parser-ts/src/parserTs.test.ts
Due: none

test(adapter-oas): drop duplicate and pass-through cases
  packages/adapter-oas/src/emit/createNode.test.ts
  packages/adapter-oas/src/emit/discriminator/preserve.test.ts
  packages/adapter-oas/src/emit/discriminator/propagate.test.ts
  packages/adapter-oas/src/emit/schemaShape.test.ts
  packages/adapter-oas/src/load/normalize.test.ts
  packages/adapter-oas/src/model/components.test.ts
  packages/adapter-oas/src/oas.test.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/refs.test.ts
Due: none

test(ast): fold node factory cases into it.each tables
  packages/ast/src/infer.test.ts
  packages/ast/src/nodes/code.test.ts
  packages/ast/src/nodes/file.test.ts
  packages/ast/src/nodes/input.test.ts
  packages/ast/src/nodes/parameter.test.ts
  packages/ast/src/nodes/property.test.ts
  packages/ast/src/nodes/response.test.ts
Due: none

chore(mcp): fold one-use schemas, constants and wrappers into their callers
  .changeset/mcp-internal-cleanup.md
  packages/mcp/src/constants.ts
  packages/mcp/src/index.ts
  packages/mcp/src/schemas/generateSchema.ts
  packages/mcp/src/schemas/initSchema.ts
  packages/mcp/src/schemas/validateSchema.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/init.ts
  packages/mcp/src/tools/validate.ts
  packages/mcp/src/utils.ts
Due: @kubb/mcp

test(ast): merge duplicate visitor, guard, printer and graph cases
  packages/ast/src/createPrinter.test.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/utils/combineFileMembers.test.ts
  packages/ast/src/utils/schemaGraph.test.ts
  packages/ast/src/visitor.test.ts
Due: none

test(studio): drop dead mocks and tighten the api cases
  packages/studio/src/operations/api.test.ts
  packages/studio/src/operations/console.mock.ts
  packages/studio/src/operations/rpc.messagePort.test.ts
  packages/studio/src/operations/websocket.mock.ts
  packages/studio/src/runtime/StudioSession.ts
Due: none

test(ast): cover primitive inference, requestBody and macro depth
  packages/ast/src/defineMacro.test.ts
  packages/ast/src/nodes/operation.test.ts
  packages/ast/src/nodes/schema.test.ts
Due: none

test(cli): fold repeated cases into it.each tables
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/deprecatedFlags.test.ts
  packages/cli/src/loggers/banner.test.ts
  packages/cli/src/loggers/generation.test.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/studio/ci.test.ts
  packages/cli/src/runners/studio/credentials.test.ts
  packages/cli/src/runners/studio/snapshot.test.ts
Due: @kubb/cli

test(studio): move the retry decision case and merge session cases
  packages/studio/src/operations/machine.test.ts
  packages/studio/src/runtime/StudioSession.test.ts
  packages/studio/src/runtime/runConnection.test.ts
Due: none

test(studio): merge overlapping operation cases and type the mocks
  packages/studio/src/operations/configFile.test.ts
  packages/studio/src/operations/constants.test.ts
  packages/studio/src/operations/generationEvents.test.ts
  packages/studio/src/operations/generations.test.ts
  packages/studio/src/operations/hooks.test.ts
  packages/studio/src/operations/pair.test.ts
  packages/studio/src/operations/resolveConfig.test.ts
  packages/studio/src/operations/rpc.test.ts
  packages/studio/src/operations/snapshotPackage.test.ts
Due: none

test(core): add makeConfig helper and drop redundant cases
  packages/core/src/Diagnostics.test.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/Hookable.test.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/Transform.test.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/createStorage.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/reporters/htmlReporter.test.ts
  packages/core/src/storages/cacheStorage.test.ts
  packages/core/src/storages/fsStorage.test.ts
  packages/core/src/storages/memoryStorage.test.ts
Due: @kubb/core

test(plugin-barrel): drop buildTree cases and share a build helper
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
Due: none

test(kubb): table the defineConfig shape and default cases
  packages/kubb/src/defineConfig.test.ts
Due: kubb

test(cli): spy on real modules instead of mocking internals
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/validate/run.test.ts
Due: @kubb/cli

test(renderer-jsx): cover node mapping and trim duplicate md cases
  packages/renderer-jsx/src/components/File.test.tsx
  packages/renderer-jsx/src/components/js/Type.test.tsx
  packages/renderer-jsx/src/components/md/Callout.test.tsx
  packages/renderer-jsx/src/components/md/List.test.tsx
  packages/renderer-jsx/src/components/md/Paragraph.test.tsx
  packages/renderer-jsx/src/jsxRenderer.test.tsx
Due: none

chore(unplugin-kubb, parser-md): drop duplicate declarations and wrappers
  .changeset/unplugin-parser-md-cleanup.md
  packages/parser-md/src/parserMd.ts
  packages/unplugin-kubb/package.json
  packages/unplugin-kubb/src/nuxt.ts
  packages/unplugin-kubb/src/unpluginFactory.test.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: unplugin-kubb

chore(ast): drop schemaGraph memo wrappers and private helpers
  packages/ast/src/utils/schemaGraph.ts
Due: none

chore(parser-ts): inline constants at their use sites
  packages/parser-ts/src/constants.ts
  packages/parser-ts/src/utils.ts
Due: none

chore(parser-ts): print declarations with template literals
  packages/parser-ts/src/utils.ts
Due: none

chore(ast): share the path merge and local-name logic in file members
  packages/ast/src/nodes/file.ts
  packages/ast/src/utils/combineFileMembers.ts
Due: none

chore(parser-ts): join nodes and sources with one loop
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
Due: none

chore(studio): drive generation events from one projection table
  packages/studio/src/operations/generationEvents.ts
Due: none

test(core): fold duplicate cases into it.each tables
  packages/core/src/Diagnostics.test.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/Hookable.test.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/Transform.test.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/input.test.ts
  packages/core/src/nodeCache.test.ts
  packages/core/src/outputManifest.test.ts
  packages/core/src/storages/cacheStorage.test.ts
Due: @kubb/core

test(core): assert the exact hook error message
  packages/core/src/Hookable.test.ts
  packages/core/src/Hookable.ts
Due: @kubb/core

chore(parser-ts): type import and export printers from ast nodes
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
  packages/parser-ts/src/utils.ts
Due: none

chore(ast): derive collect visitor and options from Visitor
  packages/ast/src/visitor.ts
Due: none

chore(parser-ts): shorten the doc comments on internal helpers
  packages/parser-ts/src/utils.ts
Due: none

test(core): share one Storage contract suite across drivers
  packages/core/src/createStorage.test.ts
  packages/core/src/storages/fsStorage.test.ts
  packages/core/src/storages/memoryStorage.test.ts
Due: @kubb/core

chore(plugin-barrel): resolve barrel config with a nullish chain
  packages/plugin-barrel/src/plugin.ts
Due: none

fix(cli): print the telemetry notice on stderr
  .changeset/mcp-stdout-banner.md
  packages/cli/src/index.ts
Due: @kubb/cli
