Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

test(ast): drop @ts-expect-error from the factory kind cases
  packages/ast/src/nodes/code.test.ts
  packages/ast/src/nodes/file.test.ts
  packages/ast/src/nodes/input.test.ts
Due: none

fix(cli): route kubb studio flags even when --help follows them
  packages/cli/src/commands/studio/index.test.ts
  packages/cli/src/commands/studio/index.ts
Due: @kubb/cli

refactor(core): import types from their defining modules
  .changeset/internal-type-imports.md
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Resolver.ts
  packages/core/src/applyConfigDefaults.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/index.ts
  packages/core/src/input.ts
  packages/core/src/mocks.ts
  packages/core/src/output/runOutputPasses.test.ts
  packages/core/src/output/runOutputPasses.ts
  packages/core/src/types.ts
Due: @kubb/core

refactor(ast): import node types from their defining modules
  packages/ast/src/createPrinter.ts
  packages/ast/src/guards.ts
  packages/ast/src/infer.test.ts
  packages/ast/src/infer.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/combineFileMembers.ts
  packages/ast/src/utils/refs.ts
  packages/ast/src/utils/schemaGraph.ts
  packages/ast/src/utils/schemaProperties.ts
  packages/ast/src/visitor.ts
Due: none

refactor(adapter-oas): export Operation from operation.ts
  packages/adapter-oas/src/index.ts
  packages/adapter-oas/src/types.ts
Due: none

refactor(cli): replace the LoggerContext alias with Hookable<KubbHooks>
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/reporters.ts
Due: @kubb/cli

refactor(kubb): export types from the package entry directly
  packages/kubb/src/index.ts
  packages/kubb/src/types.ts
Due: kubb

refactor: import types from their defining modules (#4222)
  .changeset/internal-type-imports.md
  packages/adapter-oas/src/index.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/createPrinter.ts
  packages/ast/src/guards.ts
  packages/ast/src/infer.test.ts
  packages/ast/src/infer.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/combineFileMembers.ts
  packages/ast/src/utils/refs.ts
  packages/ast/src/utils/schemaGraph.ts
  packages/ast/src/utils/schemaProperties.ts
  packages/ast/src/visitor.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/reporters.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Resolver.ts
  packages/core/src/applyConfigDefaults.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/index.ts
  packages/core/src/input.ts
  packages/core/src/mocks.ts
  packages/core/src/output/runOutputPasses.test.ts
  packages/core/src/output/runOutputPasses.ts
  packages/core/src/types.ts
  packages/kubb/src/index.ts
  packages/kubb/src/types.ts
Due: @kubb/cli, @kubb/core, kubb
