Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

docs: update v5 guide with schema plugin patterns from plugin-zod
  update-v5-guide.md
Due: none

revert
  packages/plugin-client/src/generators/operationsGenerator.tsx
  packages/plugin-client/src/plugin.ts
Due: @kubb/plugin-client

update changeset
  .changeset/plugin-zod-v5-rewrite.md
  packages/plugin-zod/src/generators/__snapshots__/bigint/petIdSchema.ts
  packages/plugin-zod/src/generators/__snapshots__/legacyParamsCasingCamelcase/createPetsSchema.ts
  packages/plugin-zod/src/generators/__snapshots__/legacyParamsCasingUndefined/createPetsSchema.ts
Due: @kubb/plugin-zod

disable linting and formating for e2e
  tests/e2e/kubb.config.js
Due: none

fix issues with ref
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-zod/src/printers/printerZod.test.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.test.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
  tests/e2e/kubb.config.js
Due: @kubb/plugin-ts, @kubb/plugin-zod

fix e2e memory issues
  .github/workflows/pr.yml
  tests/e2e/kubb.config.js
Due: none

resolver md files
  docs/plugins/core/compatibilityPreset.md
  docs/plugins/core/resolvers.md
  docs/plugins/plugin-cypress.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-zod.md
  examples/zod/kubb.config.js
Due: none

update md files
  docs/builders/unplugin.md
  docs/changelog.md
  docs/getting-started/configure.md
  docs/guide/claude.md
  docs/guide/generators.md
  docs/migration-guide.md
  docs/plugins/core/barrelTypes.md
  docs/plugins/core/resolvers.md
  docs/plugins/plugin-client.md
  docs/plugins/plugin-client/dataReturnType.md
  docs/plugins/plugin-faker.md
  docs/plugins/plugin-react-query.md
  docs/plugins/plugin-solid-query.md
  docs/plugins/plugin-svelte-query.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-vue-query.md
  docs/plugins/plugin-zod.md
Due: none

split up
  .github/workflows/pr.yml
  tests/e2e/kubb.config.js
Due: none

self ref fix
  packages/plugin-zod/src/printers/printerZod.test.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.test.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
Due: @kubb/plugin-zod

cleanup
  tests/e2e/kubb.config.js
Due: none

resolve
  packages/plugin-zod/src/printers/printerZod.test.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.test.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
Due: @kubb/plugin-zod

resolve descriminator
  packages/ast/src/nodes/schema.ts
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
Due: @kubb/plugin-zod

fix examples
  examples/advanced/src/gen/models/ts/Order.ts
  examples/advanced/src/gen/models/ts/Pet.ts
  examples/advanced/src/gen/models/ts/tag/Tag.ts
  examples/advanced/src/gen/zod/petSchema.ts
  examples/mcp/src/gen/models/ts/Order.ts
  examples/mcp/src/gen/models/ts/tag/Tag.ts
  packages/plugin-zod/src/generators/zodGenerator.tsx
Due: @kubb/plugin-zod

fix examples
  examples/zod/src/gen/zod/operations.ts
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
Due: @kubb/plugin-zod

refactors
  packages/adapter-oas/src/parser.ts
  packages/plugin-ts/src/constants.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/printers/functionPrinter.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/constants.ts
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/plugin.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
  packages/plugin-zod/src/resolvers/resolverZod.ts
  packages/plugin-zod/src/types.ts
  packages/plugin-zod/src/utils.test.ts
  packages/plugin-zod/src/utils.ts
Due: @kubb/plugin-ts, @kubb/plugin-zod

cleanup
  examples/advanced/src/gen/models/ts/Order.ts
  examples/advanced/src/gen/models/ts/tag/Tag.ts
  examples/advanced/src/gen/zod/orderSchema.ts
  examples/advanced/src/gen/zod/tag/tagSchema.ts
  examples/mcp/src/gen/models/ts/Order.ts
  examples/mcp/src/gen/models/ts/tag/Tag.ts
  examples/mcp/src/gen/zod/orderSchema.ts
  examples/mcp/src/gen/zod/tag/tagSchema.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-ts/src/components/Enum.tsx
  packages/plugin-ts/src/factory.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/components/Operations.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/plugin.ts
  packages/plugin-zod/src/utils.test.ts
Due: @kubb/plugin-cypress, @kubb/plugin-ts, @kubb/plugin-zod

add test cases
  packages/plugin-zod/src/printers/printerZod.test.ts
  packages/plugin-zod/src/printers/printerZodMini.test.ts
Due: @kubb/plugin-zod

add debug
  .github/workflows/pr.yml
Due: none

update spellcheck
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
Due: @kubb/plugin-ts, @kubb/plugin-zod

update
  package.json
  packages/adapter-oas/package.json
  packages/ast/src/utils.ts
  packages/mcp/package.json
  packages/oas/package.json
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-zod/src/components/Zod.tsx
  packages/plugin-zod/src/components/ZodMini.tsx
  packages/plugin-zod/src/constants.ts
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
  packages/plugin-zod/src/utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: @kubb/mcp, @kubb/oas, @kubb/plugin-ts, @kubb/plugin-zod

fix(plugin-ts): apply nullable/optional modifiers after Omit wrapping
  packages/plugin-ts/src/printers/printerTs.test.ts
  packages/plugin-ts/src/printers/printerTs.ts
Due: @kubb/plugin-ts

refactor: move printer helpers to factory.ts and utils.ts
  packages/plugin-ts/src/factory.ts
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/utils.ts
Due: @kubb/plugin-ts, @kubb/plugin-zod

update guide
  update-v5-guide.md
Due: none

cleanup
  packages/plugin-ts/src/factory.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-ts/src/utils.test.ts
  packages/plugin-ts/src/utils.ts
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
  packages/plugin-zod/src/utils.ts
Due: @kubb/plugin-ts, @kubb/plugin-zod

cleanup
  .github/workflows/pr.yml
  packages/plugin-zod/src/utils.ts
Due: @kubb/plugin-zod

cleanup
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
Due: @kubb/plugin-ts, @kubb/plugin-zod

cleanup
  update-v5-guide.md
Due: none

cleanup
  cspell.json
  update-v5-guide.md
Due: none

test cases
  packages/plugin-ts/src/utils.test.ts
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
  packages/plugin-zod/src/templates/ToZod.source.ts
  packages/plugin-zod/src/utils.test.ts
  packages/plugin-zod/src/utils.ts
Due: @kubb/plugin-ts, @kubb/plugin-zod

test cases
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
Due: @kubb/plugin-ts, @kubb/plugin-zod

cleanup
  packages/plugin-zod/src/printers/printerZod.ts
Due: @kubb/plugin-zod
