Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

Update release.yml
  .github/workflows/release.yml
Due: none

chore: use of `getImports`
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  package.json
  packages/core/mocks/helloWorld.js
  packages/oas/package.json
  packages/plugin-faker/src/generators/fakerGenerator.tsx
  packages/plugin-oas/src/hooks/useSchemaManager.ts
  packages/plugin-oas/src/utils/getImports.ts
  packages/plugin-oas/src/utils/index.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: @kubb/core, @kubb/oas, @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

add warning for multiple pluginsKey
  packages/core/mocks/helloWorld.js
  packages/core/src/PluginManager.test.ts
  packages/core/src/PluginManager.ts
Due: @kubb/core

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

cleanup
  packages/core/mocks/helloWorld.js
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/resolvers/createResolver.test.ts
  packages/plugin-oas/src/types.ts
Due: @kubb/core, @kubb/plugin-oas

cleanup
  packages/core/src/PluginManager.ts
  packages/plugin-oas/src/hooks/index.ts
  packages/plugin-oas/src/hooks/useResolve.ts
  packages/plugin-oas/src/resolvers/createResolver.test.ts
  packages/plugin-oas/src/resolvers/createResolver.ts
  packages/plugin-oas/src/resolvers/index.ts
Due: @kubb/core, @kubb/plugin-oas

Chore/cleanup (#2406)
  package.json
  packages/core/mocks/helloWorld.js
  packages/core/src/PluginManager.test.ts
  packages/core/src/PluginManager.ts
  packages/oas/package.json
  packages/plugin-faker/src/generators/fakerGenerator.tsx
  packages/plugin-oas/src/hooks/useSchemaManager.ts
  packages/plugin-oas/src/utils/getImports.ts
  packages/plugin-oas/src/utils/index.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: @kubb/core, @kubb/oas, @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

use of resolver in pluginTs
  packages/core/mocks/helloWorld.js
  packages/core/src/PluginManager.ts
  packages/plugin-oas/src/hooks/useSchemaManager.ts
  packages/plugin-oas/src/resolvers/index.ts
  packages/plugin-oas/src/resolvers/types.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/resolver.ts
  packages/plugin-ts/src/resolverTypes.ts
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

use of resolver in pluginTs part 2
  packages/plugin-oas/src/hooks/useResolve.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/resolver.ts
  packages/plugin-ts/src/resolverTypes.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

update typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/plugin-ts

update typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/plugin-ts

regen examples with useResolve for tsPlugin schema
  packages/plugin-oas/src/resolvers/index.ts
  packages/plugin-oas/src/resolvers/types.ts
  packages/plugin-ts/src/generators/__snapshots__/Users/stijnvanhulle/GitHub/kubb/path/Pet.ts
  packages/plugin-ts/src/generators/__snapshots__/Users/stijnvanhulle/GitHub/kubb/path/Pets.ts
  packages/plugin-ts/src/generators/__snapshots__/Users/stijnvanhulle/GitHub/kubb/path/Vehicle.ts
  packages/plugin-ts/src/generators/__snapshots__/Users/stijnvanhulle/GitHub/kubb/path/enum/Array.ts
  packages/plugin-ts/src/generators/__snapshots__/Users/stijnvanhulle/GitHub/kubb/path/enumNames/Type.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

cleanup
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/resolver.ts
  packages/plugin-ts/src/resolverTypes.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

more resolvers
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/plugin-ts

update snaps
  packages/plugin-ts/src/generators/__snapshots__/Pet.ts
  packages/plugin-ts/src/generators/__snapshots__/PlainDate.ts
  packages/plugin-ts/src/generators/__snapshots__/Vehicle.ts
  packages/plugin-ts/src/generators/__snapshots__/enum/Array.ts
  packages/plugin-ts/src/generators/__snapshots__/pets.ts
Due: @kubb/plugin-ts

update snaps
  examples/zod/src/gen/index.ts
  examples/zod/src/gen/ts/AddPetType.ts
  examples/zod/src/gen/ts/CreatePetsType.ts
  examples/zod/src/gen/ts/CreateUserType.ts
  examples/zod/src/gen/ts/CreateUsersWithListInputType.ts
  examples/zod/src/gen/ts/DeleteOrderType.ts
  examples/zod/src/gen/ts/DeletePetType.ts
  examples/zod/src/gen/ts/DeleteUserType.ts
  examples/zod/src/gen/ts/FindPetsByStatusType.ts
  examples/zod/src/gen/ts/FindPetsByTagsType.ts
  examples/zod/src/gen/ts/GetInventoryType.ts
  examples/zod/src/gen/ts/GetOrderByIdType.ts
  examples/zod/src/gen/ts/GetPetByIdType.ts
  examples/zod/src/gen/ts/GetThingsType.ts
  examples/zod/src/gen/ts/GetUserByNameType.ts
  examples/zod/src/gen/ts/LoginUserType.ts
  examples/zod/src/gen/ts/LogoutUserType.ts
  examples/zod/src/gen/ts/PlaceOrderPatchType.ts
  examples/zod/src/gen/ts/PlaceOrderType.ts
  examples/zod/src/gen/ts/UpdatePetType.ts
  examples/zod/src/gen/ts/UpdatePetWithFormType.ts
  examples/zod/src/gen/ts/UpdateUserType.ts
  examples/zod/src/gen/ts/UploadFileType.ts
  examples/zod/src/gen/ts/index.ts
  packages/core/mocks/helloWorld.js
  packages/plugin-ts/src/generators/__snapshots__/Pet.ts
  packages/plugin-ts/src/generators/__snapshots__/PlainDate.ts
  packages/plugin-ts/src/generators/__snapshots__/Vehicle.ts
  packages/plugin-ts/src/generators/__snapshots__/enum/Array.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNames/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/pets.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/resolver.ts
Due: @kubb/core, @kubb/plugin-ts

add default output
  packages/plugin-oas/src/resolvers/types.ts
  packages/plugin-ts/src/resolver.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

add default output
  packages/plugin-ts/src/resolver.ts
Due: @kubb/plugin-ts

docs: add comprehensive resolver architecture and user documentation (#2410)
  docs/architecture/resolver-architecture.md
  docs/architecture/resolver-expansion-plan.md
  docs/config.json
  docs/guide/resolvers.md
  docs/plugins/plugin-ts.md
Due: none

fix: add required default output to resolver test cases (#2411)
  packages/plugin-oas/src/resolvers/createResolver.test.ts
Due: @kubb/plugin-oas

docs: consolidate resolver architecture documentation (#2412)
  docs/architecture/resolver-architecture.md
  docs/architecture/resolver-expansion-plan.md
Due: none

add HttpStatus type
  packages/oas/src/types.ts
Due: @kubb/oas

better type support for resolvers
  packages/core/src/types.ts
  packages/plugin-oas/src/hooks/useResolve.ts
  packages/plugin-oas/src/resolvers/createResolver.test.ts
  packages/plugin-oas/src/resolvers/createResolver.ts
  packages/plugin-oas/src/resolvers/index.ts
  packages/plugin-oas/src/resolvers/types.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/resolver.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

better type support for resolvers
  packages/oas/src/types.ts
  packages/plugin-oas/src/hooks/useResolve.ts
  packages/plugin-oas/src/resolvers/createResolver.test.ts
  packages/plugin-oas/src/resolvers/createResolver.ts
Due: @kubb/oas, @kubb/plugin-oas

remove depreacted getSchemas
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
Due: @kubb/plugin-faker, @kubb/plugin-ts, @kubb/plugin-zod

gitignore
  .gitignore
  packages/core/mocks/helloWorld.js
Due: @kubb/core

cleanup
  cspell.json
Due: none

fix: Fixed version check to work offline by gracefully handling network errors. Added `isOnline()` and `executeIfOnline()` helpers in `@kubb/core/utils` to detect internet connectivity.
  .changeset/smooth-bottles-drive.md
  docs/changelog.md
  examples/advanced/package.json
  examples/advanced/src/gen/mcp/.mcp.json
  examples/client/package.json
  examples/generators/package.json
  examples/mcp/src/gen/mcp/.mcp.json
  examples/msw/package.json
  examples/react-query/package.json
  examples/swr/package.json
  examples/vue-query/package.json
  package.json
  packages/cli/src/commands/generate.ts
  packages/core/src/utils/checkOnlineStatus.test.ts
  packages/core/src/utils/checkOnlineStatus.ts
  packages/core/src/utils/index.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: @kubb/cli, @kubb/core, unplugin-kubb

chore: resolve tests
  packages/core/src/utils/checkOnlineStatus.test.ts
Due: @kubb/core

ci(changesets): version packages
  .changeset/smooth-bottles-drive.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/mocks/helloWorld.js
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

Add 'typesafe' to cspell.json dictionary
  cspell.json
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
