Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

clean
  .github/workflows/docker-agent.yml
  packages/agent/.dockerignore
Due: none

update dockerfile
  .dockerignore
  .github/workflows/docker-agent.yml
Due: none

[WIP] Add Docker support for Agents (#2540)
  examples/advanced/package.json
  examples/client/package.json
  examples/cypress/package.json
  examples/faker/package.json
  examples/fetch/package.json
  examples/generators/package.json
  examples/mcp/package.json
  examples/msw/package.json
  examples/react-query/package.json
  examples/solid-query/package.json
  examples/svelte-query/package.json
  examples/typescript/package.json
  examples/vue-query/package.json
  examples/zod/package.json
  package.json
  tests/e2e/package.json
Due: none

fix
  .github/workflows/docker-agent.yml
Due: none

Docker support for Agents (#2498)
  .github/workflows/docker-agent.yml
  examples/advanced/package.json
  examples/client/package.json
  examples/cypress/package.json
  examples/faker/package.json
  examples/fetch/package.json
  examples/generators/package.json
  examples/mcp/package.json
  examples/msw/package.json
  examples/react-query/package.json
  examples/solid-query/package.json
  examples/svelte-query/package.json
  examples/typescript/package.json
  examples/vue-query/package.json
  examples/zod/package.json
  package.json
  packages/agent/Dockerfile
  tests/e2e/package.json
Due: none

expose default agent variables
  .github/workflows/docker-agent.yml
  examples/react-query/.env.example
  packages/agent/Dockerfile
  packages/agent/server/plugins/studio.ts
Due: none

cleanup
  packages/agent/Dockerfile
Due: none

add readme to docker
  .github/workflows/docker-agent.yml
  docs/helpers/cli.md
  examples/react-query/.env.example
  packages/agent/.env.example
  packages/agent/README.md
Due: none

update docker description
  .github/workflows/docker-agent.yml
  packages/agent/README.md
Due: none

docker-compose
  .env.example
  .github/workflows/docker-agent.yml
  docker-compose.yml
Due: none

docker-compose
  docker-compose.yml
Due: none

update biome
  biome.json
  package.json
  pnpm-lock.yaml
Due: none

cleanup for process.env
  .env.example
  docker-compose.yml
  docs/changelog.md
  examples/advanced/.env.example
  packages/agent/.env.example
  packages/agent/Dockerfile
  packages/agent/README.md
  packages/agent/server/plugins/studio.ts
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/agent/start.ts
Due: @kubb/cli

feat: agent register with `machineId` and default licenseKey
  docker-compose.yml
  packages/agent/README.md
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/machineId.ts
Due: none

add env helper
  .env.example
  docker-compose.yml
  env.d.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/tsconfig.json
  packages/cli/src/commands/agent/start.ts
  packages/cli/tsconfig.json
Due: @kubb/cli

add env helper
  docker-compose.yml
  packages/agent/server/plugins/studio.ts
  src/gen/mocks/excluded.ts
Due: none

feat: Add -y flag for `npx kubb init`
  .changeset/full-signs-design.md
  examples/advanced/package.json
  packages/agent/Dockerfile
  packages/agent/package.json
  packages/agent/server/utils/getCosmiConfig.ts
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/core/package.json
  packages/mcp/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, @kubb/mcp

scalfold
  packages/agent/Dockerfile
  packages/agent/server/utils/sessionManager.ts
  packages/cli/README.md
Due: @kubb/cli

add logging
  docker-compose.yml
  env.d.ts
  packages/agent/server/plugins/fetch-logger.ts
  packages/agent/server/utils/api.ts
Due: none

install latest kubb
  packages/agent/Dockerfile
Due: none

/kubb/agent
  packages/agent/Dockerfile
Due: none

docker compose update for data
  docker-compose.yml
  packages/agent/Dockerfile
Due: none

refactor(agent): replace dynamic await import() with static imports in resolvePlugins (#2545)
  .changeset/agent-static-resolve-plugins.md
  packages/agent/package.json
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/resolvePlugins.test.ts
  packages/agent/server/utils/resolvePlugins.ts
  src/gen/mocks/excluded.ts
Due: none

docs: add 4.27.2 changelog entry (#2549)
  docs/changelog.md
Due: none

chore: set Node.js max memory to 8GB in GitHub Actions workflows (#2548)
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

add update-actions github action
  .github/workflows/update-actions.yml
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

feat(plugin-client): add wrapper class option
  .changeset/wrapper-class-client.md
  docs/plugins/plugin-client.md
  docs/plugins/plugin-client/wrapper.md
  packages/plugin-client/src/components/WrapperClient.tsx
  packages/plugin-client/src/generators/__snapshots__/PetStoreClient.ts
  packages/plugin-client/src/generators/classClientGenerator.test.tsx
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/clientGenerator.test.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.test.tsx
  packages/plugin-client/src/generators/operationsGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.test.tsx
  packages/plugin-client/src/plugin.ts
  packages/plugin-client/src/types.ts
  tests/e2e/kubb-petstore.config.js
Due: @kubb/plugin-client

nitro hooks
  packages/agent/nitro.config.ts
Due: none

naming change
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/cacheManager.ts
Due: none

Delete .github/workflows/update-actions.yml
  .github/workflows/update-actions.yml
Due: none

cleanup
  .github/workflows/update-actions.yml
Due: none

update .env.example
  .env.example
Due: none

add better check
  packages/cli/src/commands/agent/start.ts
Due: @kubb/cli

correct build
  packages/agent/nitro.config.ts
Due: none

externals
  packages/agent/nitro.config.ts
  packages/oas/src/index.ts
Due: @kubb/oas

try with @redocly/openapi-core
  packages/agent/nitro.config.ts
Due: none
