Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

chore: restore pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

update
  package.json
  packages/studio/package.json
  pnpm-lock.yaml
Due: none

refactor(studio): simplify CodeRabbit fixes and restore lockfile
  packages/studio/src/StudioSession.ts
  packages/studio/src/rpc.ts
  packages/studio/src/urlSafety.test.ts
  packages/studio/src/urlSafety.ts
  packages/studio/src/ws.ts
  pnpm-lock.yaml
Due: none

reduce
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

reduce complexity
  packages/cli/src/runners/init/run.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/README.md
  packages/studio/package.json
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/rpc.test.ts
  packages/studio/src/rpc.ts
  packages/studio/src/ws.ts
  pnpm-lock.yaml
Due: @kubb/cli

fix
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

improvemtn
  .changeset/studio-rpc-lifecycle-fixes.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/constants.ts
  packages/studio/src/rpc.messagePort.test.ts
  packages/studio/src/rpc.test.ts
Due: none

fix linting
  packages/studio/src/ws.ts
Due: none

Update rpc-cutover.md
  .changeset/rpc-cutover.md
Due: none

fix(studio): make snapshot tarballs resolvable without a barrel
  .changeset/snapshot-tarball-subpath-exports.md
  packages/studio/src/snapshotPackage.test.ts
  packages/studio/src/snapshotPackage.ts
Due: none

fix(studio): make snapshot tarballs resolvable without a barrel (#4064)
  .changeset/snapshot-tarball-subpath-exports.md
  packages/studio/src/snapshotPackage.test.ts
  packages/studio/src/snapshotPackage.ts
Due: none

feat(studio): carry an agent's organization slug through pairing and connecting
  .changeset/agent-org-slug-hooks.md
  packages/studio/src/StudioSession.ts
  packages/studio/src/hooks.ts
  packages/studio/src/pair.ts
  packages/studio/src/protocol/index.ts
Due: none

test(studio): cover the studio:connected agentSlug/organizationSlug fields
  packages/studio/src/StudioSession.test.ts
Due: none

Update agent-org-slug-hooks.md
  .changeset/agent-org-slug-hooks.md
Due: none

feat(studio): carry an agent's organization slug through pairing and connecting (#4066)
  .changeset/agent-org-slug-hooks.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/hooks.ts
  packages/studio/src/pair.ts
  packages/studio/src/protocol/index.ts
Due: none

test(studio): merge the two studio:connected slug tests, trim the changeset
  .changeset/agent-org-slug-hooks.md
  packages/studio/src/StudioSession.test.ts
Due: none

refactor(cli): add Studio subcommands
  .changeset/studio-subcommands.md
  .changeset/update-dependencies.md
  packages/adapter-oas/package.json
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/shared.ts
  packages/cli/src/commands/studio.ts
  packages/cli/src/commands/studio/connect.ts
  packages/cli/src/commands/studio/index.ts
  packages/cli/src/commands/studio/login.ts
  packages/cli/src/commands/studio/logout.ts
  packages/cli/src/commands/studio/snapshot.ts
  packages/cli/src/commands/studio/status.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/studio/connect.ts
  packages/cli/src/runners/studio/login.ts
  packages/cli/src/runners/studio/logout.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/cli/src/runners/studio/status.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli, unplugin-kubb

refactor(cli): add Studio subcommands (#4068)
  .changeset/studio-subcommands.md
  .changeset/update-dependencies.md
  packages/adapter-oas/package.json
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/shared.ts
  packages/cli/src/commands/studio.ts
  packages/cli/src/commands/studio/connect.ts
  packages/cli/src/commands/studio/index.ts
  packages/cli/src/commands/studio/login.ts
  packages/cli/src/commands/studio/logout.ts
  packages/cli/src/commands/studio/snapshot.ts
  packages/cli/src/commands/studio/status.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/studio/connect.ts
  packages/cli/src/runners/studio/login.ts
  packages/cli/src/runners/studio/logout.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/cli/src/runners/studio/status.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli, unplugin-kubb

feat(studio): publish snapshots from agents
  .changeset/publish-studio-snapshots.md
  packages/cli/src/commands/shared.ts
  packages/cli/src/commands/studio/index.ts
  packages/cli/src/commands/studio/publish.ts
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/publish.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/rpc.ts
Due: @kubb/cli

refactor(cli): share studio agent connection
  packages/cli/src/runners/studio/publish.ts
  packages/cli/src/runners/studio/snapshot.ts
Due: @kubb/cli

refactor(cli): reuse studio token resolution
  packages/cli/src/runners/studio/publish.ts
  packages/cli/src/runners/studio/snapshot.ts
Due: @kubb/cli

refactor(cli): use named studio connection params
  packages/cli/src/runners/studio/publish.ts
  packages/cli/src/runners/studio/snapshot.ts
Due: @kubb/cli

feat: Tips cli
  packages/cli/src/index.ts
  packages/cli/src/loggers/banner.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/output.test.ts
  packages/cli/src/loggers/output.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/mcp/run.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

fix litning
  packages/cli/src/runners/generate/run.ts
Due: @kubb/cli

feat(cli): group generate output per config with phase progress
  .changeset/grouped-cli-logging.md
  packages/cli/src/index.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/generation.test.ts
  packages/cli/src/loggers/output.test.ts
  packages/cli/src/loggers/output.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.test.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/index.ts
  packages/core/src/reporters/cliReporter.ts
  packages/core/src/reporters/summary.ts
Due: @kubb/cli, @kubb/core

refactor(cli): run both loggers off one installer
  .changeset/grouped-cli-logging.md
  packages/cli/src/constants.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/generation.test.ts
  packages/cli/src/loggers/output.test.ts
  packages/cli/src/loggers/output.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/runners/generate/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/core/src/reporters/summary.ts
Due: @kubb/cli, @kubb/core

fix(kubb): align programmatic build defaults
  .changeset/programmatic-build-defaults.md
  packages/kubb/src/createKubb.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/index.ts
Due: kubb

fix(kubb): align programmatic build defaults (#4072)
  .changeset/programmatic-build-defaults.md
  packages/kubb/src/createKubb.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/index.ts
Due: kubb

cleanup
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/output.test.ts
  packages/cli/src/loggers/output.ts
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

fix kubb studio tip
  packages/cli/src/loggers/output.test.ts
  packages/cli/src/loggers/output.ts
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

docs: add Kubb Studio guidance
  packages/kubb/README.md
Due: kubb

cleanup
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/generation.test.ts
  packages/cli/src/loggers/plainLogger.ts
Due: @kubb/cli

docs: humanize Studio guidance
  packages/kubb/README.md
Due: kubb

fix(cli): preserve Studio idle output
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

docs: add Kubb Studio guidance (#4074)
  packages/kubb/README.md
Due: kubb

fix export types
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/kubb/src/index.ts
  packages/kubb/src/types.ts
Due: @kubb/core, kubb

update packages
  packages/cli/package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, kubb, unplugin-kubb

fix
  packages/cli/src/runners/studio/run.test.ts
Due: @kubb/cli

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
