Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

revert
  pnpm-lock.yaml
Due: none

printer fix
  packages/ast/src/factory.ts
  packages/ast/src/types.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/resolvers/resolverTsLegacy.ts
Due: @kubb/plugin-ts

cleanup
  packages/ast/src/factory.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
Due: @kubb/plugin-ts

move helper ot utils
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
Due: none

add test cases + cleanup index.ts
  packages/ast/src/index.ts
  packages/ast/src/utils.test.ts
Due: none

name change to support other languages
  packages/ast/src/constants.ts
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/guards.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/types.ts
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
  packages/ast/src/visitor.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyAddPetPOSTWithNameTransformer/AddPetType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyCreatePetsWithHeaderParamEnumAndNameTransformer/CreatePetsType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyListPetsGETWithNameTransformer/ListPetsType.ts
  packages/plugin-ts/src/printers/functionPrinter.test.ts
  packages/plugin-ts/src/printers/functionPrinter.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
Due: @kubb/plugin-ts

refactor based on code review
  packages/ast/src/constants.ts
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/guards.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/transformers.test.ts
  packages/ast/src/transformers.ts
  packages/ast/src/types.ts
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
Due: none

ScalarPrimitive
  packages/ast/src/constants.ts
Due: none

update
  packages/ast/src/constants.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
Due: none

update skill
  .skills/jsdoc/SKILL.md
Due: none

resolve ts issues
  packages/plugin-ts/src/printers/functionPrinter.ts
Due: @kubb/plugin-ts

docs: update changelog for v5.0.0-alpha.23
  docs/changelog.md
Due: none

update packages
  examples/advanced/package.json
  examples/client/package.json
  examples/generators/package.json
  examples/mcp/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  examples/svelte-query/package.json
  examples/swr/package.json
  examples/typescript/package.json
  examples/vue-query/package.json
  examples/zod/package.json
  package.json
  packages/adapter-oas/package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: @kubb/oas, @kubb/plugin-client

cleanup
  examples/cypress/package.json
  examples/typescript/kubb.config.ts
  examples/typescript/package.json
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  pnpm-lock.yaml
Due: @kubb/plugin-cypress

cleanup
  tests/3.0.x/main.test.ts
Due: none

update tests
  packages/plugin-ts/src/generators/__snapshots__/enumKeyCasingCamelCase/OrderStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/enumKeyCasingCamelCase/PetStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/enumKeyCasingNone/OrderStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/enumKeyCasingNone/PetStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/enumKeyCasingPascalCase/OrderStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/enumKeyCasingPascalCase/PetStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/enumKeyCasingScreamingSnakeCase/OrderStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/enumKeyCasingScreamingSnakeCase/PetStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/enumKeyCasingSnakeCase/OrderStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/enumKeyCasingSnakeCase/PetStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyAddPetNameTransformer/AddPetType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyAddPetPOSTWithRequestBody/AddPet.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyCreatePetsPOSTWithHeaderParamEnum/CreatePets.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyCreatePetsWithHeaderParamEnumAndNameTransformer/CreatePetsType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyDeletePetDELETEWithResponseEnumArray/DeletePet.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyEnumTypeSuffixEmpty/PetStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyEnumTypeSuffixKey/PetStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyEnumTypeSuffixValue/PetStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyFindPetsByStatusWithQueryParamEnum/FindPetsByStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyListPetsGETWithNameTransformer/ListPetsType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyListPetsGETWithQueryParam/ListPets.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyShowPetByIdGETWithPathParamOnly/ShowPetById.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyUpdatePetWithFormPOSTWithQueryParamsAndPathParams/UpdatePetWithForm.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyUploadFilePOSTWithQueryParamsAndRequestBody/UploadFile.ts
  packages/plugin-ts/src/generators/__snapshots__/transformersIntegerToString/Order.ts
  packages/plugin-ts/src/generators/__snapshots__/transformersRemoveOptionalProperties/Pet.ts
  packages/plugin-ts/src/generators/typeGenerator.test.ts
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
Due: @kubb/plugin-ts

support params
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/generators/__snapshots__/paramsCasingCamelcase/getPets.ts
Due: @kubb/plugin-cypress

support headers for paramsCasing
  examples/advanced/src/gen/cypress/petRequests/deletePet.ts
  examples/advanced/src/gen/cypress/petRequests/findPetsByTags.ts
  examples/advanced/src/gen/cypress/petsRequests/createPets.ts
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/generators/__snapshots__/paramsCasingCamelcaseHeaders/getPets.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.ts
Due: @kubb/plugin-cypress

docs: update changelog for v5.0.0-alpha.24
  docs/changelog.md
Due: none

fix: operations for v5
  packages/plugin-ts/src/plugin.ts
Due: @kubb/plugin-ts

update
  packages/plugin-oas/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  update-v5-guide.md
Due: @kubb/plugin-oas, unplugin-kubb

update configs
  examples/advanced/configs/kubb.config.ts
  examples/mcp/kubb.config.ts
  examples/simple-single/kubb.config.js
  examples/zod/kubb.config.js
Due: none

support auto set of primitive
  packages/ast/src/factory.ts
  packages/ast/src/refs.test.ts
  packages/ast/src/utils.test.ts
Due: none

cleanup
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
  packages/plugin-zod/templates/ToZod.ts
Due: @kubb/plugin-zod

support keysToOmit
  packages/plugin-zod/src/components/Zod.tsx
  packages/plugin-zod/src/components/ZodMini.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/printers/printerZod.test.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.test.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
Due: @kubb/plugin-zod

fix omit
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
Due: @kubb/plugin-zod
