Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

naming fix
  packages/adapter-oas/src/parser.ts
  packages/plugin-ts/src/printer.ts
  v4-v5-comparison.md
Due: @kubb/plugin-ts

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

update
  examples/zod/src/gen/ts/AddPetType.ts
  examples/zod/src/gen/ts/CreatePetsType.ts
  examples/zod/src/gen/ts/CreateUserType.ts
  examples/zod/src/gen/ts/CreateUsersWithListInputType.ts
  examples/zod/src/gen/ts/DeleteOrderType.ts
  examples/zod/src/gen/ts/DeletePetType.ts
  examples/zod/src/gen/ts/DeleteUserType.ts
  examples/zod/src/gen/ts/FindPetsByStatusType.ts
  examples/zod/src/gen/ts/FindPetsByTagsType.ts
  examples/zod/src/gen/ts/GetInventoryType.ts
  examples/zod/src/gen/ts/GetOrderByIdType.ts
  examples/zod/src/gen/ts/GetPetByIdType.ts
  examples/zod/src/gen/ts/GetThingsType.ts
  examples/zod/src/gen/ts/GetUserByNameType.ts
  examples/zod/src/gen/ts/LoginUserType.ts
  examples/zod/src/gen/ts/LogoutUserType.ts
  examples/zod/src/gen/ts/PlaceOrderPatchType.ts
  examples/zod/src/gen/ts/PlaceOrderType.ts
  examples/zod/src/gen/ts/UpdatePetType.ts
  examples/zod/src/gen/ts/UpdatePetWithFormType.ts
  examples/zod/src/gen/ts/UpdateUserType.ts
  examples/zod/src/gen/ts/UploadFileType.ts
Due: none

naming csepll
  cspell.json
  packages/adapter-oas/src/parser.test.ts
Due: none

feat: add converter and naming utils
  packages/adapter-oas/src/converters.test.ts
  packages/adapter-oas/src/converters.ts
  packages/adapter-oas/src/naming.test.ts
  packages/adapter-oas/src/naming.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

try another round
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/utils.ts
  packages/plugin-ts/src/components/Type.tsx
  tests/3.0.x/__snapshots__/asConstEnum/types/Task.ts
Due: @kubb/plugin-ts

fix: minItems/maxItems on arrays should not be emitted as @minLength/@maxLength
  .changeset/shaky-bobcats-rest.md
  packages/adapter-oas/src/adapter.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

Add Kubb v4 vs v5 output comparison report
  v4-v5-comparison.md
Due: none

Update issue statuses and descriptions in comparison
  v4-v5-comparison.md
Due: none

Fix status of multiple items in v4-v5 comparison
  v4-v5-comparison.md
Due: none

Update T4 and N-AggType status to 'By design'
  v4-v5-comparison.md
Due: none

Update issue registry statuses in v4-v5 comparison
  v4-v5-comparison.md
Due: none

cleanup
  v4-v5-comparison.md
Due: none

fix: Fix aggregated operation type naming order when using `transformers.name` with legacy mode.
  .changeset/zod-typed-name-order.md
  examples/zod/src/gen/index.ts
  examples/zod/src/gen/ts/AddPetType.ts
  examples/zod/src/gen/ts/CreatePetsType.ts
  examples/zod/src/gen/ts/CreateUserType.ts
  examples/zod/src/gen/ts/CreateUsersWithListInputType.ts
  examples/zod/src/gen/ts/DeleteOrderType.ts
  examples/zod/src/gen/ts/DeletePetType.ts
  examples/zod/src/gen/ts/DeleteUserType.ts
  examples/zod/src/gen/ts/FindPetsByStatusType.ts
  examples/zod/src/gen/ts/FindPetsByTagsType.ts
  examples/zod/src/gen/ts/GetInventoryType.ts
  examples/zod/src/gen/ts/GetOrderByIdType.ts
  examples/zod/src/gen/ts/GetPetByIdType.ts
  examples/zod/src/gen/ts/GetThingsType.ts
  examples/zod/src/gen/ts/GetUserByNameType.ts
  examples/zod/src/gen/ts/LoginUserType.ts
  examples/zod/src/gen/ts/LogoutUserType.ts
  examples/zod/src/gen/ts/PlaceOrderPatchType.ts
  examples/zod/src/gen/ts/PlaceOrderType.ts
  examples/zod/src/gen/ts/UpdatePetType.ts
  examples/zod/src/gen/ts/UpdatePetWithFormType.ts
  examples/zod/src/gen/ts/UpdateUserType.ts
  examples/zod/src/gen/ts/UploadFileType.ts
  examples/zod/src/gen/ts/index.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyAddPetPOSTWithNameTransformer/addPet.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyCreatePetsWithHeaderParamEnumAndNameTransformer/createPets.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyListPetsGETWithNameTransformer/listPets.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/resolver.ts
  v4-v5-comparison.md
Due: @kubb/plugin-ts

fix: Generate named enum declarations for enum elements inside tuples (`prefixItems`).
  .changeset/tuple-enum-inlined.md
  examples/faker/src/gen/index.ts
  examples/faker/src/gen/models/Address.ts
  examples/faker/src/gen/models/index.ts
  examples/vue-query/src/gen/index.ts
  examples/vue-query/src/gen/models/Address.ts
  examples/vue-query/src/gen/models/index.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  v4-v5-comparison.md
Due: none

move to resolvers folder
  packages/plugin-ts/package.json
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/utils.test.ts
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/printer.test.ts
  packages/plugin-ts/src/resolvers/index.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/resolvers/resolverTsLegacy.ts
  packages/plugin-ts/tsdown.config.ts
Due: @kubb/plugin-ts

feat: resolvers and transformers override support
  .changeset/plugin-ts-resolvers-transformers.md
  docs/migration-guide.md
  packages/ast/src/index.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/mergeResolvers.test.ts
  packages/core/src/utils/mergeResolvers.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyCreatePetsWithHeaderParamEnumAndNameTransformer/createPets.ts
  packages/plugin-ts/src/generators/__snapshots__/operationWithTransformer/listPets.ts
  packages/plugin-ts/src/generators/__snapshots__/schemaNoTransformers/Pet.ts
  packages/plugin-ts/src/generators/__snapshots__/schemaWithDescriptionTransformer/Pet.ts
  packages/plugin-ts/src/generators/transformers.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/resolvers/resolverTsLegacy.ts
  packages/plugin-ts/src/resolvers/resolvers.test.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/core, @kubb/plugin-ts

docs: update changelog for v5.0.0-alpha.13
  docs/changelog.md
Due: none

parentOf type helper
  packages/ast/src/index.ts
  packages/ast/src/types.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
Due: none

formatting
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
Due: none

type cleanup
  packages/adapter-oas/src/oas/utils.ts
  packages/ast/src/visitor.ts
  packages/core/src/utils/executeStrategies.ts
  packages/plugin-ts/src/plugin.ts
Due: @kubb/core, @kubb/plugin-ts

syncPropertySchema
  docs/migration-guide.md
  examples/typescript/kubb.config.ts
  examples/typescript/src/legacy/models.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/refs.test.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
  packages/core/src/utils/mergeResolvers.test.ts
  packages/plugin-ts/src/generators/__snapshots__/schemaPropertyRequiredTransformer/Address.ts
  packages/plugin-ts/src/generators/transformers.test.tsx
  packages/plugin-ts/src/generators/utils.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/printer.test.ts
Due: @kubb/core, @kubb/plugin-ts

overrride with transformers
  examples/typescript/kubb.config.ts
  examples/typescript/src/legacy/models.ts
Due: none

clean
  docs/migration-guide.md
Due: none

fix: update fabric
  .changeset/fair-masks-move.md
  .skills/documentation/SKILL.md
  examples/advanced/package.json
  examples/client/package.json
  examples/faker/package.json
  examples/generators/package.json
  examples/react-query/package.json
  internals/tanstack-query/package.json
  packages/core/package.json
  packages/core/src/PluginManager.ts
  packages/core/src/build.ts
  packages/core/src/hooks/useMode.ts
  packages/core/src/hooks/usePlugin.ts
  packages/core/src/hooks/usePluginManager.ts
  packages/core/src/types.ts
  packages/mcp/package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/hooks/useOas.ts
  packages/plugin-oas/src/hooks/useRootNode.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
