Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

Fix `enumType: "asPascalConst"` const naming breaking barrel exports (#2467)
  .changeset/fix-aspascalconst-const-naming.md
  docs/changelog.md
  examples/typescript/kubb.config.ts
  examples/typescript/src/gen/index.ts
  examples/typescript/src/gen/modelsPascalConst.ts
  examples/typescript/src/gen/ts/models/index.ts
  packages/plugin-ts/src/__snapshots__/factory.test.ts.snap
  packages/plugin-ts/src/factory.test.ts
  packages/plugin-ts/src/factory.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesPascalConst.ts
Due: @kubb/plugin-ts

ci(changesets): version packages
  .changeset/fix-aspascalconst-const-naming.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

make sure Create Pull Request only triggers on kubb labs workflows
  .github/workflows/pr.yml
  examples/advanced/package.json
  examples/client/package.json
  examples/generators/package.json
  examples/msw/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/typescript/src/gen/index.ts
  examples/typescript/src/gen/ts/models/index.ts
  package.json
  packages/oas/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Due: @kubb/oas

fix: add mergeConfig to fetch/axios clients and use it in class clients
  .changeset/merge-config.md
  examples/client/src/gen/clients/class/petController/Pet.ts
  examples/client/src/gen/clients/class/storeController/Store.ts
  examples/client/src/gen/clients/class/userController/User.ts
  examples/react-query/src/gen/.kubb/fetch.ts
  examples/solid-query/src/gen/.kubb/fetch.ts
  examples/svelte-query/src/gen/.kubb/fetch.ts
  packages/plugin-client/src/clients/axios.ts
  packages/plugin-client/src/clients/fetch.ts
  packages/plugin-client/src/components/ClassClient.tsx
  packages/plugin-client/src/components/StaticClassClient.tsx
  packages/plugin-client/src/generators/__snapshots__/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/Store.ts
  packages/plugin-client/src/generators/__snapshots__/User.ts
  packages/plugin-client/src/generators/__snapshots__/static/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/static/Store.ts
  packages/plugin-client/src/generators/__snapshots__/static/User.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-client/templates/clients/axios.ts
  packages/plugin-client/templates/clients/fetch.ts
Due: @kubb/plugin-client

test: enum without param
  packages/core/mocks/helloWorld.js
  packages/plugin-faker/mocks/enums.yaml
  packages/plugin-faker/src/generators/__snapshots__/petAdoption400.ts
  packages/plugin-faker/src/generators/__snapshots__/petAdoptionError.ts
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
Due: @kubb/core, @kubb/plugin-faker

chore: generate changeset
  .changeset/two-seas-pick.md
Due: none

fix: forwarding data enums
  packages/plugin-faker/src/generators/__snapshots__/enumNames.ts
  packages/plugin-faker/src/generators/__snapshots__/enumVarNames.ts
  packages/plugin-faker/src/generators/__snapshots__/petAdoptionError.ts
  packages/plugin-faker/src/generators/fakerGenerator.tsx
Due: @kubb/plugin-faker

Update pr.yml
  .github/workflows/pr.yml
Due: none

docs: changelog 4.22.3
  docs/changelog.md
Due: none

chore: remove files from tracking
  packages/core/mocks/helloWorld.js
Due: @kubb/core

fix: forwarding function from enum string (#2472)
  .changeset/two-seas-pick.md
  docs/changelog.md
  packages/plugin-faker/mocks/enums.yaml
  packages/plugin-faker/src/generators/__snapshots__/enumNames.ts
  packages/plugin-faker/src/generators/__snapshots__/enumVarNames.ts
  packages/plugin-faker/src/generators/__snapshots__/petAdoption400.ts
  packages/plugin-faker/src/generators/__snapshots__/petAdoptionError.ts
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-faker/src/generators/fakerGenerator.tsx
Due: @kubb/plugin-faker

ci(changesets): version packages
  .changeset/two-seas-pick.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

fix(plugin-react-query): enforce required requestBody in mutation signatures
  packages/plugin-react-query/src/generators/mutationGenerator.tsx
Due: @kubb/plugin-react-query

fix(plugin-react-query): keep mutation params aligned with plugin-client
  packages/plugin-react-query/src/components/Mutation.tsx
  packages/plugin-react-query/src/components/MutationOptions.tsx
  packages/plugin-react-query/src/generators/mutationGenerator.tsx
Due: @kubb/plugin-react-query

fix: add mergeConfig to fetch/axios clients and use it in class clients (#2463)
  .changeset/merge-config.md
  examples/client/src/gen/clients/class/petController/Pet.ts
  examples/client/src/gen/clients/class/storeController/Store.ts
  examples/client/src/gen/clients/class/userController/User.ts
  examples/react-query/src/gen/.kubb/fetch.ts
  examples/solid-query/src/gen/.kubb/fetch.ts
  examples/svelte-query/src/gen/.kubb/fetch.ts
  packages/plugin-client/src/clients/axios.ts
  packages/plugin-client/src/clients/fetch.ts
  packages/plugin-client/src/components/ClassClient.tsx
  packages/plugin-client/src/components/StaticClassClient.tsx
  packages/plugin-client/src/generators/__snapshots__/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/Store.ts
  packages/plugin-client/src/generators/__snapshots__/User.ts
  packages/plugin-client/src/generators/__snapshots__/static/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/static/Store.ts
  packages/plugin-client/src/generators/__snapshots__/static/User.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-client/templates/clients/axios.ts
  packages/plugin-client/templates/clients/fetch.ts
Due: @kubb/plugin-client

ci(changesets): version packages
  .changeset/merge-config.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

docs: Update changelog.md with v4.23.0 release notes (#2477)
  docs/changelog.md
Due: none

fix(plugin-oas): binary format in anyOf generates only null instead of Blob | null (#2462)
  packages/plugin-oas/mocks/binaryAnyOf.yaml
  packages/plugin-oas/src/SchemaGenerator.test.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/__snapshots__/SchemaGenerator.test.ts.snap
Due: @kubb/plugin-oas

update packages
  .all-contributorsrc
  biome.json
  package.json
  packages/oas/package.json
  packages/plugin-zod/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  tools/smithery/package.json
Due: @kubb/oas, @kubb/plugin-zod, unplugin-kubb

feat: add agent cli with `kubb agent`
  packages/cli/package.json
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/index.ts
Due: @kubb/cli

tryout
  .changeset/kubb-agent-start.md
  .gitignore
  biome.json
  examples/advanced/package.json
  packages/agent/README.md
  packages/agent/bin/kubb-agent.cjs
  packages/agent/nitro.config.ts
  packages/agent/package.json
  packages/agent/server/middleware/cors.ts
  packages/agent/server/routes/api/generate.post.ts
  packages/agent/server/routes/api/health.get.ts
  packages/agent/server/routes/api/info.get.ts
  packages/agent/src/index.ts
  packages/agent/src/server.ts
  packages/agent/src/types.ts
  packages/agent/tsconfig.json
  packages/agent/tsdown.config.ts
  packages/agent/vitest.config.ts
  packages/cli/src/commands/agent.ts
  packages/core/src/index.ts
  pnpm-lock.yaml
  tsconfig.json
Due: @kubb/cli, @kubb/core

tryout
  packages/agent/nitro.config.ts
  packages/agent/package.json
  packages/agent/server/routes/api/generate.post.ts
  packages/agent/server/routes/api/health.get.ts
  packages/agent/server/routes/api/info.get.ts
  packages/agent/server/utils/types.ts
  packages/agent/src/server.ts
  packages/agent/tsdown.config.ts
Due: none

tryout
  packages/agent/bin/kubb-agent.cjs
  packages/agent/nitro.config.ts
  packages/agent/package.json
  packages/agent/server/middleware/cors.ts
  packages/agent/server/utils/types.ts
  packages/agent/src/server.ts
  packages/agent/tsdown.config.ts
  packages/cli/src/commands/agent.ts
  packages/core/src/types.ts
  turbo.json
Due: @kubb/cli, @kubb/core

tryout
  packages/agent/src/index.ts
Due: none

make it run
  packages/agent/package.json
Due: none

cleanup
  packages/agent/nitro.config.ts
  packages/agent/package.json
  packages/agent/server/routes/api/generate.post.ts
  packages/agent/server/routes/api/health.get.ts
  packages/agent/server/routes/api/info.get.ts
  packages/agent/server/utils/types.ts
  packages/agent/src/index.ts
  packages/agent/tsdown.config.ts
Due: none

cleanup
  packages/agent/README.md
  packages/agent/package.json
  packages/agent/server/middleware/init.ts
  packages/agent/server/routes/api/generate.post.ts
  packages/agent/server/utils/detectFormatter.ts
  packages/agent/server/utils/detectLinter.ts
  packages/agent/server/utils/executeHooks.ts
  packages/agent/server/utils/formatters.ts
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/getConfigs.ts
  packages/agent/server/utils/getCosmiConfig.ts
  packages/agent/server/utils/useKubbAgentContext.ts
  pnpm-lock.yaml
Due: none

make it work
  packages/agent/README.md
  packages/agent/package.json
  packages/agent/server/middleware/init.ts
  packages/agent/server/routes/api/generate.post.ts
  packages/agent/server/routes/api/health.get.ts
  packages/agent/server/routes/api/info.get.ts
  packages/agent/server/utils/getCosmiConfig.ts
  packages/agent/server/utils/useKubbAgentContext.ts
Due: none

make it work
  packages/agent/nitro.config.ts
  packages/agent/package.json
  packages/agent/server/middleware/init.ts
  packages/agent/server/routes/api/generate.post.ts
  packages/agent/server/routes/api/health.get.ts
  packages/agent/server/routes/api/info.get.ts
Due: none

cors
  packages/agent/nitro.config.ts
Due: none

resolve latest generate stream issues
  biome.json
  examples/advanced/package.json
  examples/advanced/src/gen/docs.html
  examples/simple-single/src/gen/docs/index.html
  package.json
  packages/agent/nitro.config.ts
  packages/agent/package.json
  packages/agent/server/middleware/init.ts
  packages/agent/server/routes/api/generate.options.ts
  packages/agent/server/routes/api/generate.post.ts
  packages/agent/server/routes/api/health.get.ts
  packages/agent/server/routes/api/info.get.ts
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/getCosmiConfig.ts
  pnpm-lock.yaml
Due: none

start command for agent
  packages/agent/package.json
  packages/agent/server/utils/generate.ts
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/agent/start.ts
Due: @kubb/cli

update docs (for now)
  docs/helpers/cli.md
  packages/agent/README.md
Due: none

update pack
  packages/cli/package.json
Due: @kubb/cli

fix linting
  examples/advanced/src/gen/docs.html
  examples/simple-single/src/gen/docs/index.html
Due: none

connect to studio over websocket secure
  packages/agent/.env.example
  packages/agent/package.json
  packages/agent/server/middleware/init.ts
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/useKubbAgentContext.ts
  packages/cli/src/commands/agent/start.ts
  pnpm-lock.yaml
Due: @kubb/cli
