Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

feat(tui): add "All tasks" row and accumulate file counters across batches
  packages/tui/src/App.tsx
  packages/tui/src/__tests__/state.test.ts
  packages/tui/src/components/HelpOverlay.tsx
  packages/tui/src/components/TaskList.tsx
  packages/tui/src/components/TaskLog.tsx
  packages/tui/src/state.ts
  packages/tui/src/tuiLogger.ts
Due: none

feat(tui): blink the Kubb logo's eyes every few seconds
  packages/tui/src/components/KubbLogo.tsx
Due: none

fix(tui): scrollbox the log pane, broaden ANSI strip, swap enter→space
  packages/tui/src/App.tsx
  packages/tui/src/components/HelpOverlay.tsx
  packages/tui/src/components/StatusBar.tsx
  packages/tui/src/components/TaskLog.tsx
  packages/tui/src/format.ts
Due: none

fix(tui): clear logs when restarting from the TUI
  packages/tui/src/App.tsx
Due: none

fix(tui): tidy the bottom status bar
  packages/tui/src/components/StatusBar.tsx
Due: none

feat(tui): the All-tasks bar tracks overall progress
  packages/tui/src/App.tsx
  packages/tui/src/components/TaskList.tsx
Due: none

fix(tui): add bottom padding so the status bar breathes against the terminal
  packages/tui/src/App.tsx
Due: none

feat(tui): up/down scrolls the log in detail view instead of changing the selection
  packages/tui/src/App.tsx
  packages/tui/src/components/HelpOverlay.tsx
  packages/tui/src/components/TaskLog.tsx
Due: none

fix(tui): full-height scrollbar track in the detail view
  packages/tui/src/components/TaskLog.tsx
Due: none

docs: research report for core package improvements
  plans/core-improvements/research.md
Due: none

docs: use american spelling to pass spell check
  plans/core-improvements/research.md
Due: none

docs: architecture review against established projects
  cspell.json
  plans/core-improvements/architecture-review.md
Due: none

docs: make core-improvement reports scannable and actionable
  plans/core-improvements/architecture-review.md
  plans/core-improvements/research.md
Due: none

docs: research report for core package improvements (#3444)
  cspell.json
  plans/core-improvements/architecture-review.md
  plans/core-improvements/research.md
Due: none

feat(core): typed hook protocol with HookRegistry
  .changeset/typed-hook-protocol.md
  packages/core/src/HookRegistry.test.ts
  packages/core/src/HookRegistry.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/hookKinds.ts
  packages/core/src/index.ts
Due: @kubb/core

refactor(core): drop unused HookKind/firstResult plumbing
  .changeset/typed-hook-protocol.md
  packages/core/src/HookRegistry.test.ts
  packages/core/src/HookRegistry.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/hookKinds.ts
  packages/core/src/index.ts
Due: @kubb/core

refactor(core): keep HookRegistry internal, update A2 review
  .changeset/typed-hook-protocol.md
  packages/core/src/index.ts
  plans/core-improvements/architecture-review.md
Due: @kubb/core

docs(core): trim HookRegistry and dispose JSDoc
  packages/core/src/HookRegistry.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

feat(core): typed hook protocol with HookRegistry (#3445)
  .changeset/typed-hook-protocol.md
  packages/core/src/HookRegistry.test.ts
  packages/core/src/HookRegistry.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  plans/core-improvements/architecture-review.md
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  .github/canary.sh
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

refactor(core): split driver into parse, transform, generate phases
  packages/core/src/Generate.test.ts
  packages/core/src/Generate.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Parse.test.ts
  packages/core/src/Parse.ts
  packages/core/src/Transform.test.ts
  packages/core/src/Transform.ts
  packages/core/src/mocks.ts
Due: @kubb/core

refactor(core): group phase classes under compiler/ subfolder
  .changeset/core-compiler-phases.md
  packages/core/src/KubbDriver.ts
  packages/core/src/compiler/Generate.test.ts
  packages/core/src/compiler/Generate.ts
  packages/core/src/compiler/Parse.test.ts
  packages/core/src/compiler/Parse.ts
  packages/core/src/compiler/Transform.test.ts
  packages/core/src/compiler/Transform.ts
  packages/core/src/mocks.ts
Due: @kubb/core

refactor(core): tighten phase boundaries and fix transformer leak in gen.operations
  .changeset/core-compiler-phases.md
  packages/core/src/KubbDriver.ts
  packages/core/src/compiler/Generate.test.ts
  packages/core/src/compiler/Generate.ts
  packages/core/src/compiler/Transform.test.ts
  packages/core/src/compiler/Transform.ts
Due: @kubb/core

docs(core): tighten JSDoc on compiler phase classes
  .changeset/core-compiler-phases.md
  packages/core/src/KubbDriver.ts
  packages/core/src/compiler/Generate.ts
  packages/core/src/compiler/Parse.ts
  packages/core/src/compiler/Transform.test.ts
  packages/core/src/compiler/Transform.ts
Due: @kubb/core

cleanup
  packages/core/src/KubbDriver.ts
  packages/core/src/compiler/Generate.ts
  packages/core/src/compiler/Parse.ts
Due: @kubb/core

chore: format and lint fixes
  packages/core/src/KubbDriver.ts
Due: @kubb/core

fix(core): drop 'upserted' from Generate.apply doc to satisfy spell check
  packages/core/src/compiler/Generate.ts
Due: @kubb/core

cleanup
  packages/core/src/compiler/Transform.ts
  plans/core-improvements/architecture-review.md
  plans/core-improvements/research.md
Due: @kubb/core

docs(core): drop 'Phase N' labels from compiler comments
  packages/core/src/KubbDriver.ts
  packages/core/src/compiler/Generate.ts
  packages/core/src/compiler/Parse.ts
  packages/core/src/compiler/Transform.ts
Due: @kubb/core

refactor(core): apply small compiler review items
  packages/core/src/compiler/Generate.ts
  packages/core/src/compiler/Parse.test.ts
  packages/core/src/compiler/Parse.ts
  packages/core/src/constants.ts
Due: @kubb/core

refactor(core): let Generate.run own the empty and no-input cases
  packages/core/src/KubbDriver.ts
  packages/core/src/compiler/Generate.test.ts
  packages/core/src/compiler/Generate.ts
Due: @kubb/core

rename: #parsePhase to #parseInput on KubbDriver
  packages/core/src/KubbDriver.ts
Due: @kubb/core

refactor(core): decouple compiler module from KubbDriver
  packages/core/src/KubbDriver.ts
  packages/core/src/compiler/Generate.test.ts
  packages/core/src/compiler/Generate.ts
  packages/core/src/mocks.ts
Due: @kubb/core

refactor(core): extract FileWriteQueue with pipelined non-blocking flush
  .changeset/core-compiler-phases.md
  packages/core/src/FileWriteQueue.test.ts
  packages/core/src/FileWriteQueue.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

refactor(core): keep only Transform as a compiler class
  .changeset/core-compiler-phases.md
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Transform.test.ts
  packages/core/src/Transform.ts
  packages/core/src/compiler/Generate.test.ts
  packages/core/src/compiler/Generate.ts
  packages/core/src/compiler/Parse.test.ts
  packages/core/src/compiler/Parse.ts
  packages/core/src/mocks.ts
Due: @kubb/core

refactor(core): merge FileWriteQueue into FileProcessor
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/FileWriteQueue.test.ts
  packages/core/src/FileWriteQueue.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

refactor(core): fold ParseOptions into the FileProcessor constructor
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

refactor(core): replace FileManager.setOnUpsert with onUpsert+unsubscribe
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

refactor(core): unify on hooks emitter + applyResult as instance method
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
Due: @kubb/core

rename: KubbDriver.applyResult to KubbDriver.dispatch
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/mocks.ts
Due: @kubb/core
