Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix(core): keep resolver file override across @kubb/core copies
  .changeset/resolver-merge-realm-safe.md
  packages/core/src/Resolver.ts
  packages/core/src/createResolver.test.ts
Due: @kubb/core

cleanup
  packages/core/src/Resolver.ts
Due: @kubb/core

ci(release): log retry attempts in verifyRegistry.mjs
  scripts/verifyRegistry.mjs
Due: none

feat(release): add SKIP_STAGED_PUBLISH flag to bypass staged publish
  .github/workflows/release.yml
  scripts/release.mjs
Due: none

Revert "feat(release): add SKIP_STAGED_PUBLISH flag to bypass staged publish"
  .github/workflows/release.yml
  scripts/release.mjs
Due: none

cleanup
  internals/shared/src/index.ts
  internals/shared/src/init.test.ts
  internals/shared/src/init.ts
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/constants.ts
  packages/ast/src/exports.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/index.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/init/run.ts
  packages/cli/src/runners/mcp/run.ts
  packages/cli/src/runners/validate/run.test.ts
  packages/cli/src/runners/validate/run.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/applyConfigDefaults.ts
  packages/core/src/createStorage.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/index.ts
  packages/kubb/src/defineConfig.ts
  packages/mcp/package.json
  packages/mcp/src/constants.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/init.test.ts
  packages/mcp/src/tools/init.ts
  packages/mcp/src/utils.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

cleanup (#3736)
  internals/shared/src/index.ts
  internals/shared/src/init.test.ts
  internals/shared/src/init.ts
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/constants.ts
  packages/ast/src/exports.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/index.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/init/run.ts
  packages/cli/src/runners/mcp/run.ts
  packages/cli/src/runners/validate/run.test.ts
  packages/cli/src/runners/validate/run.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/applyConfigDefaults.ts
  packages/core/src/createStorage.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/index.ts
  packages/kubb/src/defineConfig.ts
  packages/mcp/package.json
  packages/mcp/src/constants.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/init.test.ts
  packages/mcp/src/tools/init.ts
  packages/mcp/src/utils.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix(core,renderer-jsx): brand DiagnosticError and JSX elements with Symbol.for
  .changeset/symbol-for-brand-diagnostics-jsx.md
  packages/core/src/Diagnostics.test.ts
  packages/core/src/Diagnostics.ts
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/jsx-runtime.ts
  packages/renderer-jsx/src/jsxRenderer.test.tsx
Due: @kubb/core

feat(core)!: consolidate input.path and input.data into a single input
  .changeset/consolidate-input.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/factory.ts
  packages/cli/README.md
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Resolver.ts
  packages/core/src/constants.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/index.ts
  packages/core/src/input.test.ts
  packages/core/src/input.ts
  packages/core/src/storages/fsStorage.ts
  packages/core/src/storages/memoryStorage.ts
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/mcp/src/tools/generate.test.ts
  packages/mcp/src/tools/generate.ts
  packages/parser-md/README.md
  packages/parser-md/src/parserMd.ts
  packages/parser-ts/README.md
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/unplugin-kubb/src/unpluginFactory.test.ts
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

refactor(core): add getInputKind classifier for input detection
  .changeset/consolidate-input.md
  packages/cli/src/runners/generate/run.ts
  packages/core/src/Resolver.ts
  packages/core/src/index.ts
  packages/core/src/input.test.ts
  packages/core/src/input.ts
Due: @kubb/cli, @kubb/core

refactor(parser): move output.extension onto the parser
  .changeset/move-extension-onto-parser.md
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineParser.ts
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.ts
  packages/parser-md/README.md
  packages/parser-md/src/parserMd.test.ts
  packages/parser-md/src/parserMd.ts
  packages/parser-ts/README.md
  packages/parser-ts/src/index.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/core, kubb, unplugin-kubb

refactor(parser): make defineParser a factory wrapper like definePlugin
  .changeset/move-extension-onto-parser.md
  packages/core/src/defineParser.ts
  packages/parser-md/src/parserMd.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
Due: @kubb/core

refactor(parser): pass ParserTsOptions explicitly to defineParser
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
Due: none

feat(core)!: consolidate input.path and input.data into a single input (#3739)
  .changeset/consolidate-input.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/factory.ts
  packages/cli/README.md
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Resolver.ts
  packages/core/src/constants.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/index.ts
  packages/core/src/input.test.ts
  packages/core/src/input.ts
  packages/core/src/storages/fsStorage.ts
  packages/core/src/storages/memoryStorage.ts
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/mcp/src/tools/generate.test.ts
  packages/mcp/src/tools/generate.ts
  packages/parser-md/README.md
  packages/parser-md/src/parserMd.ts
  packages/parser-ts/README.md
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/unplugin-kubb/src/unpluginFactory.test.ts
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix(parser-ts)!: drop the source extension from imports/exports by default
  .changeset/parser-ts-drop-extension-by-default.md
  packages/parser-ts/README.md
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
Due: none

fix(parser-ts)!: drop the source extension from imports/exports by default (#3743)
  .changeset/parser-ts-drop-extension-by-default.md
  packages/parser-ts/README.md
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
Due: none

update packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

cleanup
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/Diagnostics.test.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/definePlugin.ts
  packages/core/src/types.ts
  packages/mcp/src/index.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp

Replace hooks.done with output.postGenerate
  .changeset/output-post-generate.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/constants.ts
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.test.ts
Due: @kubb/cli, @kubb/core, kubb

cleanup
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/dialect.ts
  packages/adapter-oas/src/guards.ts
  packages/adapter-oas/src/index.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/defineDialect.ts
  packages/ast/src/exports.ts
  packages/ast/src/types.ts
Due: none

Chore/ponytail dead code (#3746)
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/dialect.ts
  packages/adapter-oas/src/guards.ts
  packages/adapter-oas/src/index.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/defineDialect.ts
  packages/ast/src/exports.ts
  packages/ast/src/types.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/Diagnostics.test.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/definePlugin.ts
  packages/core/src/types.ts
  packages/mcp/src/index.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp

Replace hooks.done with output.postGenerate (#3745)
  .changeset/output-post-generate.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/constants.ts
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.test.ts
Due: @kubb/cli, @kubb/core, kubb

Update release.yml
  .github/workflows/release.yml
Due: none

Trim redundant @example blocks from guards.ts JSDoc
  packages/adapter-oas/src/guards.ts
Due: none

Trim redundant @example blocks from guards.ts JSDoc (#3750)
  packages/adapter-oas/src/guards.ts
Due: none

ci(release): allow promoting an already-staged version without restaging
  .github/workflows/release.yml
  scripts/listStaged.mjs
Due: none

ci(release): drop the version_pr workflow_dispatch input
  .github/workflows/release.yml
Due: none

ci(release): skip creating a GitHub release that already exists
  scripts/createReleases.mjs
Due: none

cleanup
  packages/adapter-oas/src/bundler.test.ts
  packages/adapter-oas/src/bundler.ts
  packages/adapter-oas/src/converters.ts
  packages/adapter-oas/src/factory.test.ts
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/mime.ts
  packages/adapter-oas/src/oas.test.ts
  packages/adapter-oas/src/oas.ts
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/resolvers.ts
  packages/core/src/Hookable.ts
Due: @kubb/core

cleanup
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/resolvers.ts
Due: none

feat(claude): add deslop skill and /deslop command
  .agents/skills/deslop/SKILL.md
  .claude/commands/deslop.md
  AGENTS.md
Due: none

chore: update oxfmt to 0.57.0 and oxlint to 1.72.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: bump kubb-labs/config setup action to latest main
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none
