Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

Update snapshots
  packages/plugin-vue-query/src/generators/__snapshots__/postAsQuery.ts
  packages/plugin-vue-query/src/generators/__snapshots__/postAsQueryObjectParams.ts
Due: @kubb/plugin-vue-query

ci: align v4 release workflow with main, drop stray git checkout main in canary step
  .github/workflows/release.yml
Due: none

ci: restore git checkout main in canary step
  .github/workflows/release.yml
Due: none

fix(plugin-vue-query): use toValue() in enabled guard to correctly unwrap MaybeRefOrGetter params
  .changeset/vue-query-enabled-tovalue.md
  packages/plugin-vue-query/src/components/InfiniteQueryOptions.tsx
  packages/plugin-vue-query/src/components/QueryOptions.tsx
  packages/plugin-vue-query/src/generators/__snapshots__/postAsQuery.ts
  packages/plugin-vue-query/src/generators/__snapshots__/postAsQueryObjectParams.ts
Due: @kubb/plugin-vue-query

ci(release): use NPM_TOKEN instead of npm provenance for publishing
  .github/workflows/release.yml
Due: none

perf(core,ast,agent): reduce build-time memory by reusing the Storage abstraction
  .changeset/reduce-memory-fs-caching.md
  packages/agent/server/utils/ws.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/file.ts
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

feat(adapter-oas, core): stream AST through config.storage
  .changeset/stream-ast-via-storage.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/discriminator.test.ts
  packages/adapter-oas/src/discriminator.ts
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/factory.ts
  packages/ast/src/nodes/root.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

ci(adapter-oas): add benchmarks job to PR workflow
  .github/workflows/pr.yml
  configs/vitest.bench.config.ts
  package.json
Due: none

docs: add ADR-0005 for AsyncGenerator adapter streaming
  docs/architecture/adr/0005_stream_adapter.md
Due: none

refactor: remove inputNode from Adapter interface
  packages/adapter-oas/src/adapter.ts
  packages/core/src/createAdapter.ts
  packages/core/src/mocks.ts
Due: @kubb/core

fix(adapter-oas): switch bench to petStore; keep stripe.json for future
  package.json
  packages/adapter-oas/src/adapter.bench.ts
Due: none

feat(adapter-oas): add Stripe OAS benchmark for parse() performance (#3289)
  .github/workflows/pr.yml
  configs/vitest.bench.config.ts
  package.json
  packages/adapter-oas/mocks/petStore.yaml
  packages/adapter-oas/package.json
  packages/adapter-oas/src/adapter.bench.ts
Due: none

refactor: remove inputNode from Adapter interface (#3291)
  packages/adapter-oas/src/adapter.ts
  packages/core/src/createAdapter.ts
  packages/core/src/mocks.ts
Due: @kubb/core

docs: expand ADR-0005 with memory reduction roadmap
  docs/architecture/adr/0005_stream_adapter.md
Due: none

docs: add disk-cache analysis section to ADR-0005
  docs/architecture/adr/0005_stream_adapter.md
Due: none

feat: add InputStreamNode and adapter stream() for memory-efficient large spec processing
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/root.ts
  packages/ast/src/types.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

feat: cache parsedDocument to config.storage under .kubb/.cache
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
Due: @kubb/core

perf: add detailed streaming adapter performance report and benchmarks
  configs/vitest.bench.config.ts
  docs/performance-report-streaming-adapter.md
  packages/adapter-oas/mocks/bunq.json
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/perf-multi-plugin.test.ts
  packages/adapter-oas/src/perf-report.test.ts
Due: none

perf: add per-function profiler and detailed breakdown in report
  docs/performance-report-streaming-adapter.md
  packages/adapter-oas/src/perf-profile.test.ts
Due: none

perf: add multi-spec and memory-timeline tests; update performance report
  docs/performance-report-streaming-adapter.md
  packages/adapter-oas/mocks/readme.io.yaml
  packages/adapter-oas/mocks/twitter.json
  packages/adapter-oas/src/perf-memory-timeline.test.ts
  packages/adapter-oas/src/perf-multi-spec.test.ts
Due: none

fix(streaming): fan-out single-pass and lazy discriminator patching
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/discriminator.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

feat(core): add AsyncIterable support for generator operations + streaming fan-out
  packages/adapter-oas/src/perf-profile.test.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/collectOperations.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/index.ts
Due: @kubb/core

refactor: reduce complexity in core, adapter-oas
  packages/adapter-oas/src/adapter.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

fix(adapter-oas): memoize $ref resolution to prevent exponential expansion
  packages/adapter-oas/src/parser.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

chore: remove bench and perf test files
  docs/performance-report-streaming-adapter.md
  packages/adapter-oas/mocks/bunq.json
  packages/adapter-oas/mocks/readme.io.yaml
  packages/adapter-oas/mocks/twitter.json
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/perf-memory-timeline.test.ts
  packages/adapter-oas/src/perf-multi-plugin.test.ts
  packages/adapter-oas/src/perf-multi-spec.test.ts
  packages/adapter-oas/src/perf-profile.test.ts
  packages/adapter-oas/src/perf-report.test.ts
Due: none

chore(adapter-oas): restore adapter.bench.ts, update stale TODO
  packages/adapter-oas/src/adapter.bench.ts
Due: none

docs: restore and update streaming adapter performance report
  docs/performance-report-streaming-adapter.md
Due: none

refactor: simplify adapter cache — AdapterCache becomes Storage alias
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

refactor: move STREAM_SCHEMA_THRESHOLD and FLUSH_EVERY into constants.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

refactor: remove collectOperations — operations are always an array
  packages/core/src/collectOperations.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/index.ts
Due: @kubb/core

refactor(core): remove effectiveInputNode getter — inline the stub
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

refactor(core): rename runStreamingFanOut → runPluginStreamHooks
  packages/core/src/createKubb.ts
Due: @kubb/core

docs: update performance report to reflect latest streaming changes
  docs/performance-report-streaming-adapter.md
Due: none

perf: add Stripe measurements and expand bench suite
  docs/performance-report-streaming-adapter.md
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/perf-report.mjs
Due: none

perf(adapter-oas): add resolvedRefCache to memoize $ref expansion
  packages/adapter-oas/src/parser.ts
Due: none

feat(adapter-oas): use config.storage for parsed-document disk cache
  packages/adapter-oas/src/adapter.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
Due: @kubb/core
