Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

docs(kubb): humanize jsdoc prose across core packages
  .changeset/humanize-core-jsdoc.md
Due: none

docs(kubb): humanize JSDoc prose across the core packages (#3593)
  .changeset/humanize-core-jsdoc.md
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/stream.ts
  packages/adapter-oas/src/types.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/constants.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createRenderer.ts
  packages/core/src/createReporter.ts
  packages/core/src/createStorage.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.ts
  packages/core/src/diagnostics.ts
  packages/core/src/mocks.ts
  packages/core/src/reporters/cliReporter.ts
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.ts
  packages/parser-md/src/utils.ts
  packages/parser-ts/src/utils.ts
  packages/plugin-barrel/src/types.ts
  packages/plugin-barrel/src/utils.ts
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/renderer-jsx/src/jsx-runtime.ts
  packages/renderer-jsx/src/types.ts
Due: @kubb/cli, @kubb/core, kubb

refactor(ast): remove overlapping and mislabeled abstractions (#3573)
  .changeset/ast-epic2-abstraction-boundaries.md
  packages/adapter-oas/src/discriminator.test.ts
  packages/adapter-oas/src/discriminator.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/dedupe.ts
  packages/ast/src/factory.ts
  packages/ast/src/transformers.test.ts
  packages/ast/src/transformers.ts
  packages/ast/src/utils/fileMerge.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/operationParams.test.ts
  packages/ast/src/utils/operationParams.ts
  packages/ast/src/utils/refs.test.ts
  packages/ast/src/utils/refs.ts
Due: none

refactor(ast): reduce touch-points to add a node (#3574)
  .changeset/ast-derive-node-touchpoints.md
  packages/ast/README.md
  packages/ast/src/index.ts
  packages/ast/src/registry.test.ts
  packages/ast/src/registry.ts
  packages/ast/src/types.ts
  packages/ast/src/visitor.ts
Due: none

Delete registry.test.ts
  packages/ast/src/registry.test.ts
Due: none

refactor(ast): reduce the touch-points to add a node (#3574) (#3595)
  .changeset/ast-derive-node-touchpoints.md
  packages/ast/README.md
  packages/ast/src/index.ts
  packages/ast/src/registry.ts
  packages/ast/src/types.ts
  packages/ast/src/visitor.ts
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat(ast): shared schema-traversal helpers for printers (#411)
  .changeset/ast-schema-traversal-helpers.md
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/schemaTraversal.test.ts
  packages/ast/src/utils/schemaTraversal.ts
Due: none

refactor(ast): let schema-traversal output mirror the transform return
  packages/ast/src/utils/schemaTraversal.ts
Due: none

feat(ast): shared schema-traversal helpers for printers (#411, 5a) (#3596)
  .changeset/ast-schema-traversal-helpers.md
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/schemaTraversal.test.ts
  packages/ast/src/utils/schemaTraversal.ts
Due: none

fix(ast): keep re-export-only utils in the CJS build
  .changeset/ast-cjs-sideeffects-utils.md
  packages/ast/package.json
Due: none

feat(ast,core): add macros as the composable AST transform layer
  .changeset/macro-ast-transform-layer.md
  packages/ast/src/index.ts
  packages/ast/src/macro.test.ts
  packages/ast/src/macro.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Transform.test.ts
  packages/core/src/Transform.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

refactor(ast,adapter-oas): retire schema rewriters into macros
  .changeset/macro-ast-transform-layer.md
  packages/adapter-oas/src/parser.ts
  packages/ast/src/index.ts
  packages/ast/src/macro.ts
  packages/ast/src/macros.test.ts
  packages/ast/src/macros.ts
  packages/ast/src/transformers.test.ts
  packages/ast/src/transformers.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/refs.test.ts
  packages/ast/src/utils/refs.ts
  packages/ast/src/utils/schemaMerge.test.ts
  packages/ast/src/utils/schemaMerge.ts
  packages/core/src/Transform.ts
Due: @kubb/core

refactor(ast): move macros to the @kubb/ast/macros subpath
  packages/adapter-oas/src/parser.ts
  packages/ast/package.json
  packages/ast/src/index.ts
  packages/ast/src/macros/builtins.test.ts
  packages/ast/src/macros/builtins.ts
  packages/ast/src/macros/defineMacro.test.ts
  packages/ast/src/macros/defineMacro.ts
  packages/ast/src/macros/index.ts
  packages/ast/tsdown.config.ts
  packages/core/src/Transform.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

docs(changeset): note the @kubb/ast/macros subpath
  .changeset/macro-ast-transform-layer.md
Due: none

refactor(ast): keep the macro engine on root, presets on @kubb/ast/macros
  packages/adapter-oas/src/parser.ts
  packages/ast/src/index.ts
  packages/ast/src/macro.test.ts
  packages/ast/src/macro.ts
  packages/ast/src/macros/index.ts
  packages/ast/src/macros/presets.test.ts
  packages/ast/src/macros/presets.ts
  packages/core/src/Transform.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

refactor(ast): name the engine defineMacro.ts and split presets per file
  packages/ast/src/defineMacro.test.ts
  packages/ast/src/defineMacro.ts
  packages/ast/src/index.ts
  packages/ast/src/macros/index.ts
  packages/ast/src/macros/macroDiscriminatorEnum.test.ts
  packages/ast/src/macros/macroDiscriminatorEnum.ts
  packages/ast/src/macros/macroEnumName.test.ts
  packages/ast/src/macros/macroEnumName.ts
  packages/ast/src/macros/macroSimplifyUnion.test.ts
  packages/ast/src/macros/macroSimplifyUnion.ts
  packages/ast/src/macros/presets.test.ts
  packages/ast/src/macros/presets.ts
Due: none

refactor(adapter-oas): consolidate parser macro calls behind helpers
  .changeset/parser-normalize-helpers.md
  packages/adapter-oas/src/parser.ts
Due: none

docs(ast): list the macro engine and @kubb/ast/macros subpath in the README
  packages/ast/README.md
Due: none

docs(adapter-oas): tighten the applyShallow comment
  packages/adapter-oas/src/parser.ts
Due: none

refactor(ast,core): share one enforceWeight helper for macro and plugin ordering
  packages/ast/src/defineMacro.ts
  packages/ast/src/index.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

docs(changeset): correct macro engine location and note enforceWeight
  .changeset/macro-ast-transform-layer.md
Due: none

Update index.ts
  packages/ast/src/macros/index.ts
Due: none

refactor(core,adapter-oas)!: remove the deprecated setTransformer shim, drop applyShallow
  .changeset/macro-ast-transform-layer.md
  packages/adapter-oas/src/parser.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Transform.test.ts
  packages/core/src/Transform.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

refactor(core)!: drop the plugin transformer field, mock with macros
  .changeset/macro-ast-transform-layer.md
  packages/core/src/definePlugin.ts
  packages/core/src/mocks.ts
Due: @kubb/core

refactor(core)!: remove the unused ctx.transformer generator-context property
  packages/core/src/KubbDriver.ts
  packages/core/src/Transform.ts
  packages/core/src/defineGenerator.ts
Due: @kubb/core

refactor(ast): drop the unused eager mergeAdjacentObjects export
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/schemaMerge.test.ts
  packages/ast/src/utils/schemaMerge.ts
Due: none

test(ast): trim macro tests to one case per distinct behavior
  packages/ast/src/defineMacro.test.ts
  packages/ast/src/macros/macroDiscriminatorEnum.test.ts
  packages/ast/src/macros/macroSimplifyUnion.test.ts
  packages/ast/src/utils/refs.test.ts
  packages/ast/src/utils/schemaMerge.test.ts
Due: none

refactor(ast,core): keep enforceWeight internal, off the @kubb/ast barrel
  .changeset/macro-ast-transform-layer.md
  packages/ast/src/defineMacro.ts
  packages/ast/src/index.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

docs(ast,core): tighten macro JSDoc and fix stale transformer comments
  packages/ast/src/defineMacro.ts
  packages/ast/src/macros/macroDiscriminatorEnum.ts
  packages/ast/src/macros/macroEnumName.ts
  packages/ast/src/macros/macroSimplifyUnion.ts
  packages/ast/src/utils/schemaMerge.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

cleanup
  packages/ast/src/index.ts
  packages/ast/src/types.ts
Due: none

cleanup
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

cleanup
  packages/ast/src/index.ts
  packages/ast/src/utils/extractStringsFromNodes.ts
  packages/parser-md/package.json
  packages/parser-md/src/parserMd.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: unplugin-kubb

cleanup
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/dedupe.ts
  packages/ast/src/defineMacro.test.ts
  packages/ast/src/defineMacro.ts
  packages/core/src/KubbDriver.ts
  packages/parser-md/src/parserMd.ts
Due: @kubb/core

cleanup order
  packages/ast/src/nodes/code.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/nodes/function.ts
Due: none

cleanup and use of createContent
  packages/adapter-oas/src/parser.ts
  packages/ast/src/factory.test.ts
  packages/ast/src/nodes/content.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/requestBody.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/utils/operationParams.test.ts
  packages/ast/src/utils/schemaGraph.test.ts
Due: none

moved statuscode
  packages/adapter-oas/src/parser.ts
  packages/ast/src/nodes/http.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/response.ts
Due: none
