Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

fix(kit): sanitize and dedupe MSW route param names in Url.toPath (#3922)
  .changeset/msw-path-param-collisions.md
  internals/utils/src/Url.test.ts
  internals/utils/src/Url.ts
Due: none

docs: require ISO 24495-1 plain language for agent output
  .claude/rules/plain-language.md
  AGENTS.md
Due: none

update packages
  package.json
  packages/adapter-oas/package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: kubb, unplugin-kubb

docs: hold the house output style to ISO 24495-1 plain language
  .claude/output-styles/house.md
Due: none

docs: trim the plain language paragraph in house.md
  .claude/output-styles/house.md
Due: none

docs: cut the plain language rule down to what it alone carries
  .claude/output-styles/house.md
  .claude/rules/plain-language.md
Due: none

docs: trim house.md and fix its emoji rule
  .claude/output-styles/house.md
Due: none

feat(devtools): proof of concept devtools built on devframe
  packages/cli/package.json
  packages/cli/src/runners/generate/run.ts
  packages/devtools/client/.gitignore
  packages/devtools/client/index.html
  packages/devtools/client/src/App.vue
  packages/devtools/client/src/components/AstNode.vue
  packages/devtools/client/src/components/AstPanel.vue
  packages/devtools/client/src/components/FilesPanel.vue
  packages/devtools/client/src/components/PipelinePanel.vue
  packages/devtools/client/src/devtools.ts
  packages/devtools/client/src/main.ts
  packages/devtools/client/src/styles/index.css
  packages/devtools/client/src/styles/tokens.css
  packages/devtools/client/tsconfig.json
  packages/devtools/client/vite.config.ts
  packages/devtools/package.json
  packages/devtools/src/collector.test.ts
  packages/devtools/src/collector.ts
  packages/devtools/src/devframe.ts
  packages/devtools/src/index.ts
  packages/devtools/src/rpc.ts
  packages/devtools/src/serve.ts
  packages/devtools/src/store.ts
  packages/devtools/tsconfig.json
  packages/devtools/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli

fix(cli): keep @kubb/devtools out of the published dependency graph
  packages/cli/package.json
  packages/cli/src/runners/generate/run.ts
  pnpm-lock.yaml
Due: @kubb/cli

refactor(devtools): drop Nuxt UI, Tailwind and vue-router
  packages/devtools/client/.gitignore
  packages/devtools/client/src/main.ts
  packages/devtools/client/src/styles/index.css
  packages/devtools/client/vite.config.ts
  packages/devtools/package.json
  pnpm-lock.yaml
Due: none

fix(devtools): build the SPA as part of the package build
  packages/cli/src/runners/generate/run.ts
  packages/devtools/package.json
  packages/devtools/src/devframe.ts
  turbo.json
Due: @kubb/cli

feat(devtools): keypress restart, syntax-highlighted files, operations in the pipeline
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/devtools/client/src/components/FilesPanel.vue
  packages/devtools/client/src/components/PipelinePanel.vue
  packages/devtools/client/src/highlight.ts
  packages/devtools/package.json
  pnpm-lock.yaml
Due: @kubb/cli

fix(devtools): drop shiki's oniguruma engine from the install footprint
  packages/devtools/client/src/highlight.ts
  packages/devtools/package.json
  pnpm-lock.yaml
Due: none

docs: require ISO 24495-1 plain language for agent output (#3924)
  .claude/output-styles/house.md
  .claude/rules/plain-language.md
  AGENTS.md
Due: none

fix(cli): stop the generate watch loop leaking a hook listener per rebuild
  packages/cli/src/runners/generate/run.ts
Due: @kubb/cli

feat(adapter-arazzo): Arazzo workflow adapter built on adapter-oas
  .changeset/adapter-arazzo.md
  packages/adapter-arazzo/README.md
  packages/adapter-arazzo/mocks/petStore.yaml
  packages/adapter-arazzo/mocks/withUnknownStep.arazzo.yaml
  packages/adapter-arazzo/mocks/workflows.arazzo.yaml
  packages/adapter-arazzo/package.json
  packages/adapter-arazzo/src/adapter.test.ts
  packages/adapter-arazzo/src/adapter.ts
  packages/adapter-arazzo/src/constants.ts
  packages/adapter-arazzo/src/emit/expression.ts
  packages/adapter-arazzo/src/index.ts
  packages/adapter-arazzo/src/load/normalize.test.ts
  packages/adapter-arazzo/src/load/normalize.ts
  packages/adapter-arazzo/src/model/sources.ts
  packages/adapter-arazzo/src/model/workflows.ts
  packages/adapter-arazzo/src/parser.ts
  packages/adapter-arazzo/src/types.ts
  packages/adapter-arazzo/tsconfig.json
  packages/adapter-arazzo/tsdown.config.ts
  packages/adapter-arazzo/vitest.config.ts
  packages/adapter-oas/src/internal.ts
  packages/ast/src/nodes/operation.ts
  pnpm-lock.yaml
Due: none

refactor(adapter-arazzo): cut unread fields and the collect-then-throw detour
  packages/adapter-arazzo/src/emit/expression.ts
  packages/adapter-arazzo/src/load/normalize.ts
  packages/adapter-arazzo/src/model/sources.ts
  packages/adapter-arazzo/src/model/workflows.ts
  packages/adapter-arazzo/src/parser.ts
Due: none

update pnpm
  package.json
Due: none

fix(discriminator): update handling of discriminants to support multiple values
  .changeset/tidy-buttons-grin.md
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/discriminator/preserve.test.ts
  packages/adapter-oas/src/emit/discriminator/preserve.ts
  packages/adapter-oas/src/emit/discriminator/propagate.ts
Due: none

fix(ci): skip changeset format job for fork pull requests
  .github/workflows/changeset-format.yml
Due: none

fix(ci): skip changeset format job for fork pull requests (#3930)
  .github/workflows/changeset-format.yml
Due: none

chore(ci): remove changeset-format workflow, now redundant
  .github/workflows/changeset-format.yml
Due: none

chore(ci): remove changeset-format workflow, now redundant (#3931)
  .github/workflows/changeset-format.yml
Due: none

fix(discriminator): update handling of discriminants to support multiple values (#3929)
  .changeset/tidy-buttons-grin.md
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/discriminator/preserve.test.ts
  packages/adapter-oas/src/emit/discriminator/preserve.ts
  packages/adapter-oas/src/emit/discriminator/propagate.ts
Due: none

cleanup
  packages/adapter-oas/src/emit/discriminator/preserve.test.ts
Due: none

fix(plugin-barrel): report diagnostic on duplicate export instead of emitting invalid barrel
  .changeset/barrel-duplicate-export.md
  packages/core/src/Diagnostics.ts
  packages/core/src/constants.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
Due: @kubb/core

refactor(plugin-barrel): collect named exports in a single pass
  packages/plugin-barrel/src/utils.ts
Due: none

chore: cleanup
  packages/studio/src/utils/connectStudio.ts
  packages/studio/src/utils/internals.ts
  packages/studio/src/utils/ws.ts
Due: none

chore: less files
  packages/studio/package.json
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/client.e2e.test.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/console.mock.ts
  packages/studio/src/generate.test.ts
  packages/studio/src/generate.ts
  packages/studio/src/hooks.test.ts
  packages/studio/src/hooks.ts
  packages/studio/src/index.ts
  packages/studio/src/logger.ts
  packages/studio/src/machine.test.ts
  packages/studio/src/machine.ts
  packages/studio/src/pair.ts
  packages/studio/src/resolveConfig.test.ts
  packages/studio/src/resolveConfig.ts
  packages/studio/src/types.ts
  packages/studio/src/utils/internals.ts
  packages/studio/src/utils/logger.ts
  packages/studio/src/utils/mergePlugins.ts
  packages/studio/src/utils/resolveAdapter.test.ts
  packages/studio/src/utils/resolveAdapter.ts
  packages/studio/src/utils/resolvePlugins.test.ts
  packages/studio/src/utils/resolvePlugins.ts
  packages/studio/src/utils/storage.ts
  packages/studio/src/utils/token.ts
  packages/studio/src/utils/waitForHookEnd.ts
  packages/studio/src/websocket.mock.ts
  packages/studio/src/ws.ts
  pnpm-lock.yaml
Due: none

fix: break the @kubb/studio build cycle by depending on @kubb/core
  packages/studio/package.json
  packages/studio/src/client.e2e.test.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/generate.ts
  packages/studio/src/hooks.test.ts
  packages/studio/src/hooks.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/resolveConfig.test.ts
  packages/studio/src/resolveConfig.ts
  packages/studio/src/ws.ts
  packages/studio/tsdown.config.ts
  pnpm-lock.yaml
Due: none

refactor: reuse shared helpers and drop duplicated work in @kubb/studio
  packages/cli/src/commands/studio.ts
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/api.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/constants.ts
  packages/studio/src/generate.ts
  packages/studio/src/hooks.ts
  packages/studio/src/index.ts
  packages/studio/src/logger.ts
  packages/studio/src/pair.ts
  packages/studio/src/resolveConfig.ts
  packages/studio/src/ws.ts
Due: @kubb/cli

fix: clear the websocket connect timer once the handshake settles
  packages/studio/src/ws.ts
Due: none

refactor: share the tool tables, halve plugin instantiation, honour --log-level
  internals/utils/src/index.ts
  internals/utils/src/tools.test.ts
  internals/utils/src/tools.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/tools.ts
  packages/studio/src/api.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/console.mock.ts
  packages/studio/src/generate.ts
  packages/studio/src/index.ts
  packages/studio/src/logger.test.ts
  packages/studio/src/logger.ts
  packages/studio/src/resolveConfig.ts
Due: @kubb/cli

test: use a plugin that exists in v5
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/resolveConfig.test.ts
Due: none

fix: document the flags the CLI actually accepts
  .changeset/wild-pots-attack.md
  packages/cli/src/commands/studio.ts
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

refactor: follow the renamed Studio endpoints, document kubb studio
  packages/cli/README.md
  packages/studio/README.md
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/client.e2e.test.ts
  packages/studio/src/pair.ts
  packages/studio/src/protocol/index.ts
Due: @kubb/cli

fix(release): publish an rc prerelease to unblock unplugin-kubb installs
  .changeset/pre.json
  .changeset/rc-version-numbering.md
Due: none

fix(release): jump unplugin-kubb to 5.0.31 to skip squatted versions
  .changeset/config.json
  .changeset/pre.json
  .changeset/rc-version-numbering.md
  packages/unplugin-kubb/package.json
Due: unplugin-kubb

fix(release): add changeset to carry unplugin-kubb through the normal release flow
  .changeset/rc-version-numbering.md
Due: none
