Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

new testcase
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsConstWithEmptyTypeSuffix/enumNames.Type.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
Due: @kubb/plugin-ts

resolvePath
  packages/core/src/hooks/useKubb.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/core, @kubb/plugin-ts

Add changeset description
  .changeset/plugin-ts-enum-type-suffix.md
Due: none

resolveFile
  packages/core/src/hooks/useKubb.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/core, @kubb/plugin-ts

fix: types in tests
  packages/plugin-ts/src/generators/transformers.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/utils.test.ts
Due: @kubb/plugin-ts

fix: semantic version in the changeset
  .changeset/plugin-ts-enum-type-suffix.md
Due: none

resolveFile cleanup
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
Due: @kubb/plugin-ts

resolveFile default defineResolver
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/getPreset.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsConst/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsPascalConst/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeConstEnum/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeEnum/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeInlineLiteral/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeLiteral/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyAddPetPOSTWithNameTransformer/AddPetType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyCreatePetsWithHeaderParamEnumAndNameTransformer/CreatePetsType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyListPetsGETWithNameTransformer/ListPetsType.ts
  packages/plugin-ts/src/generators/__snapshots__/noTagsOperationGETWithNoTagsBug4Regression/GetEnterpriseConfigurationsIdV20250.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/core, @kubb/plugin-ts

cleanup
  packages/adapter-oas/src/adapter.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useKubb.test.ts
  packages/core/src/hooks/useKubb.ts
  packages/core/src/hooks/useMode.ts
  packages/core/src/hooks/usePlugin.ts
  packages/core/src/hooks/usePluginDriver.ts
  packages/core/src/index.ts
  packages/core/src/renderNode.tsx
  packages/core/src/types.ts
  packages/core/src/utils/getPreset.test.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/plugin.ts
Due: @kubb/core, @kubb/plugin-ts

useDriver rename
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useDriver.ts
  packages/core/src/renderNode.tsx
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/clientGenerator.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.tsx
  packages/plugin-client/src/generators/operationsGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-faker/src/generators/fakerGenerator.tsx
  packages/plugin-mcp/src/generators/serverGenerator.tsx
  packages/plugin-msw/src/generators/handlersGenerator.tsx
  packages/plugin-msw/src/generators/mswGenerator.tsx
  packages/plugin-oas/src/hooks/useOperationManager.ts
  packages/plugin-oas/src/hooks/useSchemaManager.ts
  packages/plugin-react-query/src/generators/customHookOptionsFileGenerator.tsx
  packages/plugin-react-query/src/generators/hookOptionsGenerator.tsx
  packages/plugin-react-query/src/generators/infiniteQueryGenerator.tsx
  packages/plugin-react-query/src/generators/mutationGenerator.tsx
  packages/plugin-react-query/src/generators/queryGenerator.tsx
  packages/plugin-react-query/src/generators/suspenseInfiniteQueryGenerator.tsx
  packages/plugin-react-query/src/generators/suspenseQueryGenerator.tsx
  packages/plugin-solid-query/src/generators/mutationGenerator.tsx
  packages/plugin-solid-query/src/generators/queryGenerator.tsx
  packages/plugin-svelte-query/src/generators/mutationGenerator.tsx
  packages/plugin-svelte-query/src/generators/queryGenerator.tsx
  packages/plugin-swr/src/generators/mutationGenerator.tsx
  packages/plugin-swr/src/generators/queryGenerator.tsx
  packages/plugin-vue-query/src/generators/infiniteQueryGenerator.tsx
  packages/plugin-vue-query/src/generators/mutationGenerator.tsx
  packages/plugin-vue-query/src/generators/queryGenerator.tsx
  packages/plugin-zod/src/generators/operationsGenerator.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-vue-query, @kubb/plugin-zod

useDriver rename
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
Due: @kubb/core, @kubb/plugin-ts

cleanup
  packages/core/src/defineResolver.test.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
Due: @kubb/core, @kubb/plugin-ts

update config
  examples/react-query/kubb.config.ts
Due: none

update config
  examples/client/kubb.config.ts
  examples/react-query/src/gen/models/AddPet.ts
  examples/react-query/src/gen/models/AddPetRequest.ts
  examples/react-query/src/gen/models/Address.ts
  examples/react-query/src/gen/models/ApiResponse.ts
  examples/react-query/src/gen/models/Category.ts
  examples/react-query/src/gen/models/CreateUser.ts
  examples/react-query/src/gen/models/CreateUsersWithListInput.ts
  examples/react-query/src/gen/models/Customer.ts
  examples/react-query/src/gen/models/DeleteOrder.ts
  examples/react-query/src/gen/models/DeletePet.ts
  examples/react-query/src/gen/models/DeleteUser.ts
  examples/react-query/src/gen/models/FindPetsByStatus.ts
  examples/react-query/src/gen/models/FindPetsByTags.ts
  examples/react-query/src/gen/models/GetInventory.ts
  examples/react-query/src/gen/models/GetOrderById.ts
  examples/react-query/src/gen/models/GetPetById.ts
  examples/react-query/src/gen/models/GetUserByName.ts
  examples/react-query/src/gen/models/LoginUser.ts
  examples/react-query/src/gen/models/LogoutUser.ts
  examples/react-query/src/gen/models/Order.ts
  examples/react-query/src/gen/models/Pet.ts
  examples/react-query/src/gen/models/PetNotFound.ts
  examples/react-query/src/gen/models/PlaceOrder.ts
  examples/react-query/src/gen/models/PlaceOrderPatch.ts
  examples/react-query/src/gen/models/Tag.ts
  examples/react-query/src/gen/models/UpdatePet.ts
  examples/react-query/src/gen/models/UpdatePetWithForm.ts
  examples/react-query/src/gen/models/UpdateUser.ts
  examples/react-query/src/gen/models/UploadFile.ts
  examples/react-query/src/gen/models/User.ts
  examples/react-query/src/gen/models/UserArray.ts
  examples/typescript/kubb.config.ts
  packages/agent/server/utils/mergePlugins.test.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/types.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/resolvers/resolverTsLegacy.ts
Due: @kubb/core, @kubb/plugin-ts

update config
  examples/react-query/kubb.config.ts
  examples/react-query/src/gen/models/AddPet.ts
  examples/react-query/src/gen/models/AddPetRequest.ts
  examples/react-query/src/gen/models/Address.ts
  examples/react-query/src/gen/models/ApiResponse.ts
  examples/react-query/src/gen/models/Category.ts
  examples/react-query/src/gen/models/CreateUser.ts
  examples/react-query/src/gen/models/CreateUsersWithListInput.ts
  examples/react-query/src/gen/models/Customer.ts
  examples/react-query/src/gen/models/DeleteOrder.ts
  examples/react-query/src/gen/models/DeletePet.ts
  examples/react-query/src/gen/models/DeleteUser.ts
  examples/react-query/src/gen/models/FindPetsByStatus.ts
  examples/react-query/src/gen/models/FindPetsByTags.ts
  examples/react-query/src/gen/models/GetInventory.ts
  examples/react-query/src/gen/models/GetOrderById.ts
  examples/react-query/src/gen/models/GetPetById.ts
  examples/react-query/src/gen/models/GetUserByName.ts
  examples/react-query/src/gen/models/LoginUser.ts
  examples/react-query/src/gen/models/LogoutUser.ts
  examples/react-query/src/gen/models/Order.ts
  examples/react-query/src/gen/models/Pet.ts
  examples/react-query/src/gen/models/PetNotFound.ts
  examples/react-query/src/gen/models/PlaceOrder.ts
  examples/react-query/src/gen/models/PlaceOrderPatch.ts
  examples/react-query/src/gen/models/Tag.ts
  examples/react-query/src/gen/models/UpdatePet.ts
  examples/react-query/src/gen/models/UpdatePetWithForm.ts
  examples/react-query/src/gen/models/UpdateUser.ts
  examples/react-query/src/gen/models/UploadFile.ts
  examples/react-query/src/gen/models/User.ts
  examples/react-query/src/gen/models/UserArray.ts
  packages/adapter-oas/src/adapter.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/utils/getPreset.test.ts
  packages/core/src/utils/mergeResolvers.test.ts
Due: @kubb/core

fix testing
  cspell.json
  packages/plugin-ts/src/generators/__snapshots__/createPetPOSTWithRequestBody/createPets.ts
  packages/plugin-ts/src/generators/__snapshots__/deletePetDELETEWithNoResponseBody/deletePet.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsConst/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsConst/enumNames.Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsPascalConst/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsPascalConst/enumNames.Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeConstEnum/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeConstEnum/enumNames.Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeEnum/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeEnum/enumNames.Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeInlineLiteral/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeInlineLiteral/enumNames.Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeLiteral/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeLiteral/enumNames.Type.ts
  packages/plugin-ts/src/generators/__snapshots__/findArtifactsGETWithMultipleQueryParams/findArtifacts.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyAddPetPOSTWithNameTransformer/AddPetType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyAddPetPOSTWithNameTransformer/addPet.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyCreatePetsWithHeaderParamEnumAndNameTransformer/CreatePetsType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyCreatePetsWithHeaderParamEnumAndNameTransformer/createPets.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyDeletePetWithResponseEnumArray/deletePet.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyFindPetsByStatusWithQueryParamEnum/findPetsByStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyListPetsBasicGET/listPets.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyListPetsGETWithNameTransformer/ListPetsType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyListPetsGETWithNameTransformer/listPets.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyUpdatePetWithFormPOSTWithQueryParamsAndPathParams/updatePetWithForm.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyUploadFilePOSTWithQueryParamsAndRequestBody/uploadFile.ts
  packages/plugin-ts/src/generators/__snapshots__/listPetsGETWithQueryParams/listPets.ts
  packages/plugin-ts/src/generators/__snapshots__/listPetsGETWithQueryParamsAndParamsCasingCamelcase/listPets.ts
  packages/plugin-ts/src/generators/__snapshots__/noTagsOperationGETWithNoTagsBug4Regression/GetEnterpriseConfigurationsIdV20250.ts
  packages/plugin-ts/src/generators/__snapshots__/noTagsOperationGETWithNoTagsBug4Regression/get_enterprise_configurations_id_v2025.0.ts
  packages/plugin-ts/src/generators/__snapshots__/operationWithTransformer/listPets.ts
  packages/plugin-ts/src/generators/__snapshots__/placeOrderPatchPATCHWithPathParamsRequestBodyMultipleStatusCodes/placeOrderPatch.ts
  packages/plugin-ts/src/generators/__snapshots__/schemaNoTransformers/Pet.ts
  packages/plugin-ts/src/generators/__snapshots__/schemaPropertyRequiredTransformer/Address.ts
  packages/plugin-ts/src/generators/__snapshots__/schemaWithDescriptionTransformer/Pet.ts
  packages/plugin-ts/src/generators/__snapshots__/showPetByIdGETWithPathParams/showPetById.ts
Due: @kubb/plugin-ts

fix testing
  packages/plugin-ts/src/generators/__snapshots__/createPetPOSTWithRequestBody/CreatePets.ts
  packages/plugin-ts/src/generators/__snapshots__/deletePetDELETEWithNoResponseBody/DeletePet.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsConst/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsPascalConst/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeConstEnum/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeEnum/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeInlineLiteral/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeLiteral/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/findArtifactsGETWithMultipleQueryParams/FindArtifacts.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyAddPetPOSTWithNameTransformer/AddPetType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyCreatePetsWithHeaderParamEnumAndNameTransformer/CreatePetsType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyDeletePetWithResponseEnumArray/DeletePet.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyFindPetsByStatusWithQueryParamEnum/FindPetsByStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyListPetsBasicGET/ListPets.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyListPetsGETWithNameTransformer/ListPetsType.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyUpdatePetWithFormPOSTWithQueryParamsAndPathParams/UpdatePetWithForm.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyUploadFilePOSTWithQueryParamsAndRequestBody/UploadFile.ts
  packages/plugin-ts/src/generators/__snapshots__/listPetsGETWithQueryParams/ListPets.ts
  packages/plugin-ts/src/generators/__snapshots__/listPetsGETWithQueryParamsAndParamsCasingCamelcase/ListPets.ts
  packages/plugin-ts/src/generators/__snapshots__/noTagsOperationGETWithNoTagsBug4Regression/GetEnterpriseConfigurationsIdV20250.ts
  packages/plugin-ts/src/generators/__snapshots__/placeOrderPatchPATCHWithPathParamsRequestBodyMultipleStatusCodes/PlaceOrderPatch.ts
  packages/plugin-ts/src/generators/__snapshots__/showPetByIdGETWithPathParams/ShowPetById.ts
Due: @kubb/plugin-ts

fix testing
  .changeset/long-memes-lose.md
  biome.json
  docs/migration-guide.md
  examples/advanced/package.json
  examples/react-query/kubb.config.ts
  examples/vue-query/package.json
  package.json
  packages/core/src/utils/getBarrelFiles.ts
  packages/mcp/package.json
  packages/plugin-oas/src/utils/getParams.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: @kubb/core, @kubb/mcp, @kubb/plugin-oas, unplugin-kubb

impl and tests
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/parser.test.ts
  packages/plugin-ts/src/parser.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/printer.test.ts
  packages/plugin-ts/src/printer.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

doc: changeset and plugin doc
  .changeset/plugin-ts-enum-type-suffix.md
  docs/plugins/plugin-ts.md
Due: none

docs: update changelog for v5.0.0-alpha.21
  docs/changelog.md
Due: none

impl: more tests
  packages/plugin-ts/src/generators/__snapshots__/enumNamesAsConstEmptyTypeSuffix.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesPascalConstEmptyTypeSuffix.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
Due: @kubb/plugin-ts

update docs
  docs/getting-started/configure.md
  docs/getting-started/quick-start.md
  docs/getting-started/troubleshooting.md
  docs/plugins/plugin-client.md
  docs/plugins/plugin-zod.md
Due: none

fix gitignore
  .gitignore
  examples/client/src/gen3/.kubb/config.ts
  examples/client/src/gen4/.kubb/config.ts
  examples/client/src/gen5/.kubb/config.ts
  examples/client/src/gen6/.kubb/config.ts
  examples/client/src/gen7/.kubb/config.ts
  examples/swr/src/gen2/.kubb/config.ts
Due: none

jsdocs and use of FabricFile
  packages/agent/server/types/agent.ts
  packages/core/src/Kubb.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/build.test.ts
  packages/core/src/build.ts
  packages/core/src/constants.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/defineResolver.ts
  packages/core/src/hooks/useDriver.ts
  packages/core/src/hooks/useMode.ts
  packages/core/src/types.ts
  packages/core/src/utils/TreeNode.test.ts
  packages/core/src/utils/TreeNode.ts
  packages/core/src/utils/getBarrelFiles.test.ts
  packages/core/src/utils/getBarrelFiles.ts
  packages/core/src/utils/mergeResolvers.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-mcp/src/components/Server.tsx
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/SchemaMapper.ts
  packages/plugin-oas/src/createParser.test.ts
  packages/plugin-oas/src/generators/createGenerator.ts
  packages/plugin-oas/src/hooks/useOperationManager.ts
  packages/plugin-oas/src/hooks/useSchemaManager.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/src/utils/getImports.ts
  packages/plugin-ts/src/builders/builderTs.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyShowPetByIdGETWithPathParamOnly/ShowPetById.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/presets.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-mcp, @kubb/plugin-oas, @kubb/plugin-ts

feat: enum type naming (#2916)
  .changeset/plugin-ts-enum-type-suffix.md
  docs/plugins/plugin-ts.md
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/__snapshots__/enumNamesAsConstEmptyTypeSuffix.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesPascalConstEmptyTypeSuffix.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/parser.test.ts
  packages/plugin-ts/src/parser.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/printer.test.ts
  packages/plugin-ts/src/printer.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

fix: Add `enumTypeSuffix` option to control the suffix appended to the generated type alias
  .changeset/plugin-ts-enum-type-suffix.md
  docs/plugins/plugin-ts.md
  examples/typescript/kubb.config.ts
  examples/typescript/src/gen2/modelsConst.ts
  packages/plugin-ts/src/components/Enum.tsx
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsPascalConst/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeEnumTypeSuffixEmpty/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeEnumTypeSuffixValue/Type.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyPetStatusEnumTypeSuffixEmpty/PetStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyPetStatusEnumTypeSuffixKey/PetStatus.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyPetStatusEnumTypeSuffixValue/PetStatus.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/printers/printerTs.test.ts
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

docs: update changelog for v4.37.0
  docs/changelog.md
Due: none

docs: update changelog for v5.0.0-alpha.22
  docs/changelog.md
Due: none

Create upgrade guide for Kubb plugins to v5
  update-v5-guide.md
Due: none

remove builder pattern
  package.json
  packages/agent/package.json
  packages/core/src/defineBuilder.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/getPreset.test.ts
  packages/core/src/utils/mergeResolvers.test.ts
  packages/plugin-cypress/package.json
  packages/plugin-cypress/src/builders/builderCypress.ts
  packages/plugin-cypress/src/builders/index.ts
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/src/types.ts
  packages/plugin-cypress/src/utils.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-ts/package.json
  packages/plugin-ts/src/builders/builderTs.ts
  packages/plugin-ts/src/builders/index.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/types.ts
  packages/plugin-ts/src/utils.test.ts
  packages/plugin-ts/src/utils.ts
  packages/plugin-ts/tsdown.config.ts
  pnpm-lock.yaml
Due: @kubb/core, @kubb/plugin-cypress, @kubb/plugin-ts

cleanup imports
  packages/core/src/definePreset.ts
  packages/core/src/index.ts
  packages/core/src/utils/getPreset.test.ts
  packages/core/src/utils/getPreset.ts
  packages/plugin-cypress/package.json
  packages/plugin-cypress/src/components/index.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/src/generators/index.ts
  packages/plugin-cypress/src/index.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-cypress/src/presets.ts
  packages/plugin-cypress/src/resolvers/index.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-cypress/src/utils.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-ts/package.json
  packages/plugin-ts/src/components/index.ts
  packages/plugin-ts/src/generators/index.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/presets.ts
  packages/plugin-ts/src/printers/index.ts
  packages/plugin-ts/src/resolvers/index.ts
  packages/plugin-ts/src/utils.test.ts
  packages/plugin-ts/tsdown.config.ts
  tsconfig.json
  update-v5-guide.md
Due: @kubb/core, @kubb/plugin-cypress, @kubb/plugin-ts

update guide
  update-v5-guide.md
Due: none

update plugins core
  internals/utils/src/index.ts
  internals/utils/src/names.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/ws.ts
  packages/cli/src/runners/generate.ts
  packages/core/src/PluginDriver.test.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/build.ts
  packages/core/src/constants.ts
  packages/core/src/types.ts
  packages/core/src/utils/getConfigs.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, unplugin-kubb
