Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

[ci] sync minimumReleaseAge and min-package-age to 72 hours (4320 min)
  .github/CODEOWNERS
  pnpm-workspace.yaml
Due: none

[ci] restore CODEOWNERS (dropped in previous commit)
  .github/CODEOWNERS
Due: none

[ci] update taze to use --maturity-period 3
  package.json
Due: none

update readme
  internals/shared/package.json
  internals/utils/package.json
  packages/adapter-oas/README.md
  packages/adapter-oas/package.json
  packages/agent/README.md
  packages/agent/package.json
  packages/ast/README.md
  packages/ast/package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/core/README.md
  packages/core/package.json
  packages/kubb/README.md
  packages/kubb/package.json
  packages/mcp/README.md
  packages/mcp/package.json
  packages/middleware-barrel/README.md
  packages/middleware-barrel/package.json
  packages/parser-ts/README.md
  packages/parser-ts/package.json
  packages/renderer-jsx/README.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/README.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

[ci] exclude @oxlint/* from minimumReleaseAge check
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

[ci] restore pnpm-lock.yaml (dropped in previous commit)
  pnpm-lock.yaml
Due: none

update readme
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

remove
  .github/CODEOWNERS
Due: none

isFlag helper
  internals/utils/src/index.ts
  internals/utils/src/isFlag.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
Due: @kubb/cli

cleanup
  packages/cli/src/index.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/fileSystemLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/types.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/agent.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/runners/init.ts
  packages/cli/src/runners/mcp.ts
  packages/cli/src/runners/validate.ts
  packages/cli/src/telemetry.test.ts
  packages/cli/src/telemetry.ts
  packages/cli/src/utils.test.ts
  packages/cli/src/utils.ts
  packages/cli/src/utils/Writables.ts
  packages/cli/src/utils/executeHooks.ts
  packages/cli/src/utils/getConfig.ts
  packages/cli/src/utils/getCosmiConfig.ts
  packages/cli/src/utils/getSummary.ts
  packages/cli/src/utils/packageManager.ts
  packages/cli/src/utils/runHook.ts
  packages/cli/src/utils/watcher.ts
Due: @kubb/cli

use of sink
  .github/workflows/release.yml
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils.ts
  packages/core/src/defineLogger.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

add feature based structure
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/mcp.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/agent/run.ts
  packages/cli/src/runners/agent/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/init/run.ts
  packages/cli/src/runners/init/utils.test.ts
  packages/cli/src/runners/init/utils.ts
  packages/cli/src/runners/mcp/run.ts
  packages/cli/src/runners/validate/run.test.ts
  packages/cli/src/runners/validate/run.ts
Due: @kubb/cli

update config
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/docker-agent.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

cleanup
  packages/cli/src/runners/agent/run.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/init/run.ts
  packages/cli/src/runners/mcp/run.ts
  packages/cli/src/runners/validate/run.ts
Due: @kubb/cli

Update packages/cli/src/runners/init/utils.ts
  packages/cli/src/runners/init/utils.ts
Due: @kubb/cli

cleanup
  packages/cli/src/runners/agent/run.ts
  packages/cli/src/runners/init/utils.ts
  packages/cli/src/telemetry.ts
Due: @kubb/cli

chore: add changeset for cli runners refactor
  .changeset/cli-runners-per-folder-refactor.md
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

cleanup for middleware-barrel
  packages/kubb/src/index.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/utils.test.ts
  packages/middleware-barrel/src/utils.ts
  packages/middleware-barrel/src/utils/excludedPaths.test.ts
  packages/middleware-barrel/src/utils/excludedPaths.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.test.ts
  packages/renderer-jsx/src/Renderer.ts
  packages/renderer-jsx/src/Runtime.tsx
  packages/unplugin-kubb/src/nuxt.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: kubb, unplugin-kubb

fix: Align unplugin generation defaults with the main Kubb config flow and declare the middleware barrel AST runtime dependency.
  .changeset/fix-unplugin-generation-defaults.md
  assets/kubb-generate.gif
  packages/middleware-barrel/package.json
  packages/unplugin-kubb/src/unpluginFactory.test.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
  packages/unplugin-kubb/tsdown.config.ts
  pnpm-lock.yaml
Due: unplugin-kubb

bring back barrelType
  packages/kubb/src/index.ts
Due: kubb

resolver pattern cleanup
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/refs.ts
  packages/cli/src/loggers/fileSystemLogger.ts
  packages/core/src/PluginDriver.test.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineMiddleware.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/core/src/mocks.ts
  packages/core/src/storages/fsStorage.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/core/src/utils/diagnostics.ts
  packages/core/src/utils/isInputPath.ts
  packages/core/src/utils/packageJSON.test.ts
  packages/core/src/utils/packageJSON.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, unplugin-kubb

cleanup related to types
  .changeset/parser-ts-extract-utils.md
  .changeset/renderer-jsx-inline-factory.md
  packages/agent/package.json
  packages/core/src/Kubb.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/defineLogger.ts
  packages/core/src/defineMiddleware.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.ts
  packages/core/src/types.ts
  packages/middleware-barrel/src/constants.ts
  packages/middleware-barrel/src/utils.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
  packages/renderer-jsx/src/Renderer.ts
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/components/File.test.tsx
  packages/renderer-jsx/src/components/Type.test.tsx
  packages/renderer-jsx/src/createRenderer.test.tsx
  packages/renderer-jsx/src/createRenderer.tsx
  packages/renderer-jsx/src/dom.ts
  packages/renderer-jsx/src/index.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core, unplugin-kubb

cleanup related to types
  .npmrc
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.ts
  packages/core/src/devtools.ts
  packages/core/src/index.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core

fix install
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

cache free
  .github/workflows/release.yml
Due: none

fix: ThisType for Resolver Type
  .changeset/rich-zebras-end.md
  packages/core/src/defineResolver.ts
Due: @kubb/core

add more this
  packages/ast/src/utils.ts
Due: none

fix: resolve this for ast
  .changeset/strict-mails-unite.md
  packages/ast/src/utils.ts
Due: none

dedupe changesets
  .changeset/dull-otters-stand.md
  .changeset/eight-months-speak.md
  .changeset/pre.json
  .changeset/replace-jiti-with-unrun.md
Due: none

Update index.md
  docs/plugins/plugin-client/index.md
Due: none

use toValue for enabled flag
  packages/plugin-vue-query/src/components/InfiniteQueryOptions.tsx
  packages/plugin-vue-query/src/components/QueryOptions.tsx
Due: @kubb/plugin-vue-query

Add changeset
  .changeset/vue-query-enabled-tovalue.md
Due: none
