Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

ci(changesets): version packages (alpha)
  .changeset/pre.json
  packages/adapter-oas/CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/ast/CHANGELOG.md
  packages/ast/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/middleware-barrel/CHANGELOG.md
  packages/middleware-barrel/package.json
  packages/parser-ts/CHANGELOG.md
  packages/parser-ts/package.json
  packages/renderer-jsx/CHANGELOG.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/CHANGELOG.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

update defualts
  packages/core/src/createKubb.ts
Due: @kubb/core

update defualts
  .changeset/output-format-lint-auto-default.md
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/core, kubb, unplugin-kubb

cleanup
  packages/agent/README.md
  packages/agent/docker-compose.yaml
Due: none

Add changeset
  .changeset/fix-faker-mutual-recursion.md
Due: none

Guard against schema parse recursion stack overflows
  packages/plugin-faker/mocks/recursive.yaml
  packages/plugin-faker/src/generators/__snapshots__/recursiveExample.ts
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-faker/src/parser.test.ts
  packages/plugin-faker/src/parser.ts
Due: @kubb/plugin-faker

Update README.md
  packages/core/README.md
Due: @kubb/core

Update README.md
  packages/kubb/README.md
Due: kubb

docs: rewrite CONTRIBUTING.md and update README.md for Kubb v5 (#3192)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  assets/logo.png
  packages/core/README.md
  packages/kubb/README.md
Due: @kubb/core, kubb

update skills
  .skills/coding-style/SKILL.md
  .skills/documentation/SKILL.md
  .skills/documentation/references/content-patterns.md
  .skills/documentation/references/humanizer.md
  .skills/documentation/references/seo-optimization.md
  .skills/documentation/references/writing-style.md
  packages/adapter-oas/package.json
  pnpm-lock.yaml
Due: none

chore(agents): update AGENTS.md
  AGENTS.md
Due: none

symlink
  CLAUDE.md
Due: none

symlink claude skills
  .claude/skills
Due: none

cleanup
  packages/core/README.md
Due: @kubb/core

remove docs
  docs/union-plan.md
Due: none

add rtk
  .github/copilot-instructions.md
  .github/hooks/rtk-rewrite.json
Due: none

cleanup jsdocs
  packages/adapter-oas/src/types.ts
  packages/core/src/types.ts
  packages/middleware-barrel/src/types.ts
  packages/renderer-jsx/src/types.ts
Due: @kubb/core

cleanup jsdocs
  packages/adapter-oas/package.json
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/agent/package.json
  packages/ast/src/constants.ts
  packages/ast/src/utils.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/fileSystemLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/utils/flags.ts
  packages/cli/src/utils/runHook.ts
  packages/core/src/Kubb.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createStorage.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/defineMiddleware.ts
  packages/core/src/defineParser.ts
  packages/core/src/definePlugin.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/middleware-barrel/src/middleware.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli, @kubb/core

add changeset for jsdocs
  .changeset/true-ways-fetch.md
Due: none

update jsdocs
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/resolvePlugins.ts
  packages/core/src/defineLogger.ts
  packages/core/src/mocks.ts
  packages/kubb/src/defineConfig.ts
Due: @kubb/core, kubb

remove
  .github/hooks/rtk-rewrite.json
Due: none

have just one changelog.md for all kubb packages
  .changeset/config.json
  .gitignore
  internals/changelog/index.mjs
  packages/adapter-oas/CHANGELOG.md
  packages/agent/CHANGELOG.md
  packages/ast/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/kubb/CHANGELOG.md
  packages/mcp/CHANGELOG.md
  packages/middleware-barrel/CHANGELOG.md
  packages/parser-ts/CHANGELOG.md
  packages/renderer-jsx/CHANGELOG.md
  packages/unplugin-kubb/CHANGELOG.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

changeset for beta
  .changeset/first-beta-release.md
  .changeset/pre.json
Due: none

update
  packages/agent/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: @kubb/cli

Update internals/changelog/index.mjs
  internals/changelog/index.mjs
Due: none

Fix/one changelog (#3196)
  .changeset/config.json
  .changeset/first-beta-release.md
  .changeset/pre.json
  .gitignore
  internals/changelog/index.mjs
  packages/adapter-oas/CHANGELOG.md
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/ast/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/kubb/CHANGELOG.md
  packages/mcp/CHANGELOG.md
  packages/middleware-barrel/CHANGELOG.md
  packages/parser-ts/CHANGELOG.md
  packages/renderer-jsx/CHANGELOG.md
  packages/unplugin-kubb/CHANGELOG.md
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

ci(changesets): version packages (beta)
  .changeset/pre.json
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

beta 0
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

update changeset
  .changeset/dull-otters-stand.md
  .changeset/first-beta-release.md
  .changeset/pre.json
  internals/changelog/index.mjs
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

update changelog
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
  internals/changelog/index.mjs
Due: none

docs: simplify 'propagate' barrel type description
  packages/middleware-barrel/src/types.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.ts
Due: none

docs: simplify 'propagate' barrel type description (#3199)
  packages/middleware-barrel/src/types.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.ts
Due: none

refactor(middleware-barrel): restructure barrel config with named type and nested option
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/types.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.test.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.ts
Due: kubb

fix(middleware-barrel): export new types and fix barrel config type narrowing
  packages/middleware-barrel/src/index.ts
  packages/middleware-barrel/src/middleware.ts
Due: none

chore: add changeset for barrel config refactor
  .changeset/refactor-barrel-config-api.md
Due: none

refactor(unplugin-kubb): update to use barrel config instead of barrelType
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: unplugin-kubb
