Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

readme revert
  README.md
Due: none

See Also
  docs/builders/unplugin.md
  docs/config.json
  docs/guide/claude.md
  docs/guide/debugging.md
  docs/guide/filter-and-sort.md
  docs/helpers/mcp.md
  docs/plugins/plugin-client.md
  docs/plugins/plugin-cypress.md
  docs/plugins/plugin-faker.md
  docs/plugins/plugin-mcp.md
  docs/plugins/plugin-msw.md
  docs/plugins/plugin-oas.md
  docs/plugins/plugin-react-query.md
  docs/plugins/plugin-redoc.md
  docs/plugins/plugin-solid-query.md
  docs/plugins/plugin-svelte-query.md
  docs/plugins/plugin-swr.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-vue-query.md
  docs/plugins/plugin-zod.md
Due: none

logo.png
  docs/index.md
  docs/public/logo.png
Due: none

spell lint
  cspell.json
Due: none

changeset
  .changeset/dull-falcons-join.md
Due: none

deps
  packages/plugin-orpc/package.json
  pnpm-lock.yaml
Due: none

resolve
  docs/config.json
  docs/index.md
Due: none

update jsdocs spelling
  docs/plugins/plugin-oas.md
  docs/plugins/plugin-react-query.md
  docs/plugins/plugin-solid-query.md
  docs/plugins/plugin-svelte-query.md
  docs/plugins/plugin-swr.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-vue-query.md
  docs/plugins/plugin-zod.md
  packages/core/src/PluginManager.ts
  packages/core/src/types.ts
  packages/core/src/utils/FunctionParams.ts
  packages/core/src/utils/TreeNode.ts
  packages/plugin-client/src/types.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-faker/src/types.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-msw/src/types.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/SchemaMapper.ts
  packages/plugin-oas/src/hooks/useOperationManager.ts
  packages/plugin-oas/src/hooks/useSchemaManager.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-react-query/src/types.ts
  packages/plugin-solid-query/src/types.ts
  packages/plugin-svelte-query/src/types.ts
  packages/plugin-swr/src/types.ts
  packages/plugin-ts/src/parser.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-vue-query/src/types.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

update jsdocs spelling
  packages/core/src/types.ts
  packages/plugin-client/src/types.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-faker/src/types.ts
  packages/plugin-msw/src/types.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-react-query/src/types.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-ts, @kubb/plugin-zod

cleanup barreltype md
  docs/plugins/core/barrelTypes.md
Due: none

fix(zod): avoid omit on z.union
  .changeset/ready-symbols-dig.md
  packages/plugin-zod/mocks/unionWithReadOnly.yaml
  packages/plugin-zod/src/generators/__snapshots__/createItemUnionWithReadOnly.ts
  packages/plugin-zod/src/generators/__snapshots__/createItemUnionWithReadOnly_wrapOutput.ts
  packages/plugin-zod/src/generators/__snapshots__/unionWithReadOnly.ts
  packages/plugin-zod/src/generators/__snapshots__/updateItemUnionWithReadOnly.ts
  packages/plugin-zod/src/generators/__snapshots__/updateItemUnionWithReadOnly_wrapOutput.ts
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
Due: @kubb/plugin-zod

add example
  examples/zod/kubb.config.js
  examples/zod/src/gen3/index.ts
  examples/zod/src/gen3/zod/createItemSchema.ts
  examples/zod/src/gen3/zod/index.ts
  examples/zod/src/gen3/zod/itemSchema.ts
  examples/zod/src/gen3/zod/itemTypeASchema.ts
  examples/zod/src/gen3/zod/itemTypeBSchema.ts
  examples/zod/src/gen3/zod/updateItemSchema.ts
  examples/zod/unionWithReadOnly.yaml
Due: none

Update .all-contributorsrc
  .all-contributorsrc
Due: none

Delete README.md
  README.md
Due: none

Create README.md
  README.md
Due: none

fix(oas): Improves zod handling of nullable schemas in OpenAPI 3.1 (#2362)
  .changeset/humble-states-roll.md
  packages/oas/src/utils.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-zod/mocks/nullable-v3_1_0.yaml
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
Due: @kubb/oas, @kubb/plugin-oas, @kubb/plugin-zod

ci(changesets): version packages
  .changeset/humble-states-roll.md
  .changeset/ready-symbols-dig.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

generate
  examples/orpc/src/gen/zod/updatePetSchema.ts
Due: none

update packages and skills
  .skills/documentation/SKILL.md
  .skills/documentation/references/content-patterns.md
  examples/advanced/package.json
  examples/client/package.json
  examples/generators/package.json
  examples/mcp/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  examples/svelte-query/package.json
  examples/swr/package.json
  examples/typescript/package.json
  examples/vue-query/package.json
  examples/zod/package.json
  package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Due: @kubb/oas, @kubb/plugin-client

chore(agents): update AGENTS.md
  AGENTS.md
Due: none

readme link update
  README.md
Due: none

update contributors config
  .all-contributorsrc
Due: none

Remove skills section from AGENTS.md
  AGENTS.md
Due: none

update getting-started
  docs/config.json
  docs/tutorials/basic.md
  docs/tutorials/getting-started.md
Due: none

update getting-started
  docs/tutorials/getting-started.md
Due: none

chore: upgrade packages
  examples/advanced/package.json
  examples/client/package.json
  examples/generators/package.json
  examples/react-query/package.json
  package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

fix: use of collision detection
  examples/advanced/src/gen/mcp/.mcp.json
  examples/client/src/gen/schemas/petRequest.json
  examples/client/src/gen/schemas/petSchema.json
  examples/client/src/gen2/schemas/petRequest.json
  examples/client/src/gen2/schemas/petSchema.json
  examples/mcp/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/schemas/petRequest.json
  examples/mcp/src/gen/schemas/petSchema.json
  examples/simple-single/src/gen/schemas/petRequest.json
  examples/simple-single/src/gen/schemas/petSchema.json
  examples/typescript/src/gen/schemas/petRequest.json
  examples/typescript/src/gen/schemas/petSchema.json
  packages/core/mocks/helloWorld.js
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/utils/getSchemas.test.ts
  packages/plugin-oas/src/utils/getSchemas.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
  schemas/3.0.x/caseSensitivity.yaml
  tests/3.0.x/__snapshots__/caseSensitivity/types/CreateOrder.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/GetProducts.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/GetVariants.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/OrderRequest.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/OrderSchema.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/ProductResponse.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/ProductSchema.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/Variant.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/Variant2.ts
  tests/3.0.x/__snapshots__/petStore/types/PetRequest.ts
  tests/3.0.x/__snapshots__/petStore/types/PetSchema.ts
  tests/3.0.x/__snapshots__/simple/types/PetRequest.ts
  tests/3.0.x/__snapshots__/simple/types/PetSchema.ts
  tests/3.0.x/main.test.ts
Due: @kubb/core, @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

chore: jsdocs skill
  .skills/jsdoc/SKILL.md
Due: none

fix: use of resolveNameCollisions in the oas instance
  .changeset/resolve-name-collisions.md
  examples/client/src/gen/schemas/pet.json
  examples/client/src/gen/schemas/petSchema.json
  examples/client/src/gen2/schemas/pet.json
  examples/mcp/src/gen/schemas/pet.json
  examples/mcp/src/gen/schemas/petSchema.json
  examples/simple-single/src/gen/schemas/pet.json
  examples/simple-single/src/gen/schemas/petRequest.json
  examples/simple-single/src/gen/schemas/petSchema.json
  examples/typescript/src/gen/schemas/pet.json
  examples/typescript/src/gen/schemas/petSchema.json
  packages/oas/src/Oas.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/src/utils/getSchemas.test.ts
  packages/plugin-oas/src/utils/getSchemas.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/Order.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/Product.ts
  tests/3.0.x/main.test.ts
Due: @kubb/oas, @kubb/plugin-oas

chore: add changelog
  .changeset/resolve-name-collisions.md
  docs/changelog.md
  examples/advanced/configs/kubb.config.ts
  packages/core/mocks/helloWorld.js
  packages/oas/src/Oas.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/src/utils/getSchemas.test.ts
  packages/plugin-oas/src/utils/getSchemas.ts
  tests/3.0.x/main.test.ts
Due: @kubb/core, @kubb/oas, @kubb/plugin-oas

refactor oas
  packages/core/mocks/helloWorld.js
  packages/oas/src/Oas.ts
  packages/oas/src/index.ts
  packages/oas/src/utils.spec.ts
  packages/oas/src/utils.ts
Due: @kubb/core, @kubb/oas

ci(changesets): version packages
  .changeset/resolve-name-collisions.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

ci(changesets): version packages
  .changeset/nested-enum-collision-detection.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

chore: update examples
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  packages/core/mocks/helloWorld.js
  packages/plugin-zod/src/parser.ts
Due: @kubb/core, @kubb/plugin-zod

ci(changesets): version packages
  .changeset/fix-zod-mini-nullish.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
