Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

docs: update changelog for v5.0.0-alpha.28
  docs/changelog.md
Due: none

cleanup
  packages/plugin-client/src/components/ClassClient.tsx
  packages/plugin-client/src/components/Client.tsx
  packages/plugin-client/src/components/StaticClassClient.tsx
  packages/plugin-client/src/components/Url.tsx
  packages/plugin-client/src/presets.ts
  packages/plugin-client/src/utils.ts
Due: @kubb/plugin-client

cleanup
  examples/advanced/src/gen/clients/axios/petService/addFiles.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

cleanup
  examples/advanced/petStore.yaml
  examples/advanced/src/gen/clients/axios/petService/addFiles.ts
  examples/advanced/src/gen/clients/axios/petService/uploadFile.ts
  examples/advanced/src/gen/clients/hooks/petController/useUploadFile.ts
  examples/advanced/src/gen/cypress/petRequests/addFiles.ts
  examples/advanced/src/gen/cypress/petRequests/uploadFile.ts
  examples/advanced/src/gen/docs.html
  examples/advanced/src/gen/mcp/petRequests/addFiles.ts
  examples/advanced/src/gen/mcp/petRequests/uploadFile.ts
  examples/advanced/src/gen/models/ts/petController/AddFiles.ts
  examples/advanced/src/gen/models/ts/petController/UploadFile.ts
  examples/advanced/src/gen/zod/petController/addFilesSchema.ts
  examples/advanced/src/gen/zod/petController/uploadFileSchema.ts
  examples/client/petStore.yaml
  examples/client/src/gen/clients/axios/petService/uploadFile.ts
  examples/client/src/gen/models/ts/petController/UploadFile.ts
  examples/client/src/gen3/models/ts/petController/UploadFile.ts
  examples/client/src/gen6/models/ts/petController/UploadFile.ts
  examples/client/src/gen7/clients/class/petController/petController.ts
  examples/client/src/gen7/models/ts/petController/UploadFile.ts
  examples/fetch/petStore.yaml
  examples/fetch/src/gen/models.ts
  examples/fetch/src/gen/uploadFile.ts
Due: none

docs
  .changeset/plugin-client-v5-migration.md
  docs/migration-guide.md
  docs/plugins/plugin-client.md
  docs/plugins/plugin-client/baseURL.md
Due: none

feat: add adr for new generator integration
  docs/architecture/generators.md
  packages/core/src/runPluginGenerators.ts
Due: @kubb/core

resolve spelling
  docs/migration-guide.md
  docs/plugins/plugin-client.md
Due: none

feat: add adr for new generator integration
  configs/mocks.ts
  docs/architecture/generators.md
  packages/core/src/PluginDriver.test.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/build.test.ts
  packages/core/src/build.ts
  packages/core/src/createPlugin.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/index.ts
  packages/core/src/renderNode.tsx
  packages/core/src/runPluginGenerators.ts
  packages/core/src/types.ts
  packages/plugin-ts/src/generators/typeGenerator.test.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/plugin.ts
Due: @kubb/core, @kubb/plugin-ts

docs: update changelog for v5.0.0-alpha.29
  docs/changelog.md
Due: none

update
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
Due: @kubb/plugin-client

feat: add PluginBaseOptions with common output/exclude/include/override fields
  packages/core/src/types.ts
  packages/plugin-client/src/types.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-mcp, @kubb/plugin-ts, @kubb/plugin-zod

feat(core): remove TypeScript casts from runPluginAstHooks + add changeset
  .changeset/generator-api-v5.md
  packages/core/src/build.ts
Due: @kubb/core

revert: remove PluginBaseOptions from core and plugin types
  .changeset/generator-api-v5.md
  docs/architecture/generators.md
  packages/core/src/build.ts
  packages/core/src/types.ts
  packages/plugin-client/src/types.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-mcp, @kubb/plugin-ts, @kubb/plugin-zod

feat: add output/exclude/include/override to v5 plugin options getters
  docs/architecture/generators.md
  packages/core/src/types.ts
  packages/plugin-client/src/generators/classClientGenerator.test.tsx
  packages/plugin-client/src/generators/clientGenerator.test.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.test.tsx
  packages/plugin-client/src/generators/operationsGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.test.tsx
  packages/plugin-client/src/plugin.ts
  packages/plugin-client/src/types.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-mcp/src/generators/mcpGenerator.test.tsx
  packages/plugin-mcp/src/generators/serverGenerator.test.tsx
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-ts/src/generators/typeGenerator.test.ts
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.test.tsx
  packages/plugin-zod/src/plugin.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-mcp, @kubb/plugin-ts, @kubb/plugin-zod

use of buildStart and buildEnd
  packages/core/src/PluginDriver.test.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/build.test.ts
  packages/core/src/build.ts
  packages/core/src/types.ts
  packages/plugin-client/src/plugin.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-faker/src/plugin.ts
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-msw/src/plugin.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-react-query/src/plugin.ts
  packages/plugin-redoc/src/plugin.ts
  packages/plugin-solid-query/src/plugin.ts
  packages/plugin-svelte-query/src/plugin.ts
  packages/plugin-swr/src/plugin.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-vue-query/src/plugin.ts
  packages/plugin-zod/src/plugin.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

feat: rename install to buildStart, add buildEnd lifecycle hook
  .changeset/generator-api-v5.md
  docs/architecture/generators.md
Due: none

fix: update client example generators to v5 API
  examples/client/src/generators/clientOperationGenerator.tsx
  examples/client/src/generators/clientOperationReactGenerator.tsx
  examples/client/src/generators/clientStaticGenerator.tsx
Due: none

fix: restore barrel file generation when barrelType is not explicitly set
  packages/core/src/build.ts
Due: @kubb/core

remove type for getPlugin
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/clientGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-faker/src/plugin.ts
  packages/plugin-faker/src/types.ts
  packages/plugin-mcp/src/generators/mcpGenerator.tsx
  packages/plugin-mcp/src/generators/serverGenerator.tsx
  packages/plugin-mcp/src/generators/serverGeneratorLegacy.tsx
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-msw/src/plugin.ts
  packages/plugin-msw/src/types.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-react-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-react-query/src/plugin.ts
  packages/plugin-react-query/src/types.ts
  packages/plugin-solid-query/src/plugin.ts
  packages/plugin-solid-query/src/types.ts
  packages/plugin-svelte-query/src/plugin.ts
  packages/plugin-svelte-query/src/types.ts
  packages/plugin-vue-query/src/plugin.ts
  packages/plugin-vue-query/src/types.ts
Due: @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-vue-query

fix types
  examples/client/src/generators/clientStaticGenerator.tsx
  examples/react-query/src/App.tsx
  packages/core/src/build.ts
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.tsx
  packages/plugin-msw/src/generators/handlersGenerator.test.tsx
  packages/plugin-msw/src/generators/mswGenerator.test.tsx
  packages/plugin-react-query/src/generators/infiniteQueryGenerator.test.tsx
  packages/plugin-react-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-react-query/src/generators/queryGenerator.test.tsx
  packages/plugin-react-query/src/generators/suspenseInfiniteQueryGenerator.test.tsx
  packages/plugin-react-query/src/generators/suspenseQueryGenerator.test.tsx
  packages/plugin-redoc/src/plugin.ts
  packages/plugin-redoc/src/types.ts
  packages/plugin-solid-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-solid-query/src/generators/queryGenerator.test.tsx
  packages/plugin-svelte-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-svelte-query/src/generators/queryGenerator.test.tsx
  packages/plugin-swr/src/generators/mutationGenerator.test.tsx
  packages/plugin-swr/src/generators/queryGenerator.test.tsx
  packages/plugin-swr/src/plugin.ts
  packages/plugin-swr/src/types.ts
  packages/plugin-vue-query/src/generators/infiniteQueryGenerator.test.tsx
  packages/plugin-vue-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-vue-query/src/generators/queryGenerator.test.tsx
Due: @kubb/core, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-vue-query

resolve test issues
  configs/mocks.ts
  packages/plugin-ts/src/generators/typeGenerator.test.ts
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
Due: @kubb/plugin-ts, @kubb/plugin-zod

more pluginContext helpers
  configs/mocks.ts
  docs/architecture/generators.md
  packages/core/src/PluginDriver.ts
  packages/core/src/build.ts
  packages/core/src/types.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/clientGenerator.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-faker/src/plugin.ts
  packages/plugin-mcp/src/generators/mcpGenerator.tsx
  packages/plugin-mcp/src/generators/serverGenerator.tsx
  packages/plugin-mcp/src/generators/serverGeneratorLegacy.tsx
  packages/plugin-msw/src/plugin.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-react-query/src/plugin.ts
  packages/plugin-solid-query/src/plugin.ts
  packages/plugin-svelte-query/src/plugin.ts
  packages/plugin-swr/src/plugin.ts
  packages/plugin-ts/src/generators/typeGenerator.test.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/types.ts
  packages/plugin-vue-query/src/plugin.ts
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

update packages
  docs/architecture/generators.md
  examples/advanced/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  examples/vue-query/package.json
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/oas/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: @kubb/oas

docs: update changelog for v5.0.0-alpha.30
  docs/changelog.md
Due: none

feat: add support for parsers
  docs/getting-started/configure.md
  docs/parsers/parser-ts.md
  packages/core/package.json
  packages/core/src/build.ts
  packages/core/src/defineParser.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/parser-ts/package.json
  packages/parser-ts/src/index.ts
  packages/parser-ts/src/tsxParser.ts
  packages/parser-ts/src/typescriptParser.ts
  packages/parser-ts/tsconfig.json
  packages/parser-ts/tsdown.config.ts
  pnpm-lock.yaml
Due: @kubb/core

feat: add KubbFile
  packages/agent/server/types/agent.ts
  packages/core/package.json
  packages/core/src/Kubb.ts
  packages/core/src/KubbFile.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/build.test.ts
  packages/core/src/build.ts
  packages/core/src/constants.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/defineParser.ts
  packages/core/src/defineResolver.ts
  packages/core/src/hooks/useMode.ts
  packages/core/src/index.ts
  packages/core/src/renderNode.tsx
  packages/core/src/types.ts
  packages/core/src/utils/TreeNode.test.ts
  packages/core/src/utils/TreeNode.ts
  packages/core/src/utils/getBarrelFiles.test.ts
  packages/core/src/utils/getBarrelFiles.ts
  packages/parser-ts/src/index.ts
  packages/parser-ts/src/typescriptParser.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-mcp/src/components/Server.tsx
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/SchemaMapper.ts
  packages/plugin-oas/src/createParser.test.ts
  packages/plugin-oas/src/generators/createGenerator.ts
  packages/plugin-oas/src/hooks/useOperationManager.ts
  packages/plugin-oas/src/hooks/useSchemaManager.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/src/utils/getImports.ts
  pnpm-lock.yaml
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-mcp, @kubb/plugin-oas

resolver parser
  packages/core/src/build.ts
  packages/core/src/types.ts
  packages/parser-ts/src/index.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
  pnpm-lock.yaml
  tsconfig.json
Due: @kubb/core

fix test cases
  examples/advanced/configs/kubb.config.ts
  examples/advanced/package.json
  examples/client/kubb.config.ts
  examples/client/package.json
  examples/cypress/kubb.config.js
  examples/cypress/package.json
  examples/faker/kubb.config.cjs
  examples/faker/package.json
  examples/fetch/kubb.config.ts
  examples/fetch/package.json
  examples/generators/kubb.config.ts
  examples/generators/package.json
  examples/mcp/kubb.config.ts
  examples/mcp/package.json
  examples/msw/kubb.config.js
  examples/msw/package.json
  examples/react-query/kubb.config.ts
  examples/react-query/package.json
  examples/simple-single/kubb.config.js
  examples/simple-single/package.json
  examples/solid-query/kubb.config.js
  examples/solid-query/package.json
  examples/svelte-query/kubb.config.js
  examples/svelte-query/package.json
  examples/swr/kubb.config.js
  examples/swr/package.json
  examples/typescript/kubb.config.ts
  examples/typescript/package.json
  examples/vue-query/package.json
  examples/vue-query/vite.config.ts
  examples/zod/kubb.config.js
  examples/zod/package.json
  packages/kubb/package.json
  pnpm-lock.yaml
  tests/3.0.x/cypressPlugin.test.ts
  tests/3.0.x/main.test.ts
  tests/3.0.x/pluginTs.test.ts
  tests/3.0.x/pluginZod.test.ts
Due: kubb

feat: config presets
  packages/core/src/build.ts
  packages/core/src/defineConfigPreset.test.ts
  packages/core/src/defineConfigPreset.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/kubb/src/configPresets.ts
  packages/kubb/src/index.ts
Due: @kubb/core, kubb

resolve e2e
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/kubb-petstore.config.js
  tests/e2e/kubb.config.js
  tests/e2e/package.json
Due: none

add default to kubb package
  .changeset/config.json
  .changeset/pre.json
  docs/getting-started/configure.md
  docs/plugins/core/transformers.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-zod.md
  examples/advanced/configs/kubb.config.ts
  examples/client/build.ts
  examples/faker/kubb.config.cjs
  examples/faker/package.json
  examples/fetch/kubb.config.ts
  examples/fetch/package.json
  internals/utils/src/colors.ts
  packages/core/src/PluginDriver.test.ts
  packages/core/src/build.test.ts
  packages/core/src/build.ts
  packages/core/src/defaults.ts
  packages/core/src/defineConfig.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/isInputPath.ts
  packages/kubb/package.json
  packages/kubb/src/defineConfig.ts
  packages/kubb/src/index.ts
  packages/plugin-client/src/generators/classClientGenerator.test.tsx
  packages/plugin-client/src/generators/clientGenerator.test.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.test.tsx
  packages/plugin-client/src/generators/operationsGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.test.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.test.ts
  packages/plugin-mcp/src/generators/mcpGenerator.test.tsx
  packages/plugin-mcp/src/generators/serverGenerator.test.tsx
  packages/plugin-oas/src/OperationGenerator.test.ts
  packages/plugin-ts/src/generators/typeGenerator.test.ts
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.test.tsx
  pnpm-lock.yaml
Due: @kubb/core, kubb, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-mcp, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

global default
  packages/core/src/defaults.ts
Due: @kubb/core

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
