Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

Add companies-using-kubb.md listing 35+ organizations using Kubb in production (#3308)
  companies-using-kubb.md
Due: none

feat(core): add FileProcessor.runStream() async generator and use it in safeBuild
  packages/core/src/FileProcessor.ts
  packages/core/src/index.ts
Due: @kubb/core

feat(core): add FileProcessor.runStream() async generator and use it in safeBuild
  packages/core/src/createKubb.ts
Due: @kubb/core

chore: add changeset for FileProcessor.runStream()
  .changeset/add-file-processor-run-stream.md
Due: none

refactor(core): remove p-limit dependency from FileProcessor
  packages/core/package.json
  packages/core/src/FileProcessor.ts
  packages/core/src/constants.ts
  packages/core/tsdown.config.ts
Due: @kubb/core

refactor(core): make run() delegate to runStream()
  packages/core/src/FileProcessor.ts
Due: @kubb/core

feat(core): per-plugin incremental flushing in safeBuild
  .changeset/add-file-processor-run-stream.md
  packages/core/src/createKubb.ts
Due: @kubb/core

refactor(core): extract runStream call to named variable in flushPendingFiles
  packages/core/src/createKubb.ts
Due: @kubb/core

refactor(core): rename FileProcessor.runStream() to stream()
  .changeset/add-file-processor-stream.md
  packages/core/src/FileProcessor.ts
Due: @kubb/core

fix(core,agent): resolve test and typecheck failures after FileProcessor.stream() rename
  packages/agent/tsconfig.json
  packages/agent/vendor.d.ts
  packages/core/src/FileProcessor.test.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

Delete vendor.d.ts
  packages/agent/vendor.d.ts
Due: none

fix(core,agent): resolve test and typecheck failures after FileProcessor.stream() rename (#3311)
  packages/core/src/FileProcessor.test.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

Delete add-file-processor-run-stream.md
  .changeset/add-file-processor-run-stream.md
Due: none

Delete performance-report-streaming-adapter.md
  docs/performance-report-streaming-adapter.md
Due: none

Delete performance-results.md
  docs/performance-results.md
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

Delete perf-report.mjs
  packages/adapter-oas/src/perf-report.mjs
Due: none

refactor(adapter-oas): remove file system caching from adapter
  packages/adapter-oas/src/adapter.ts
Due: none

refactor(adapter-oas): clean up adapter and remove dead cache wiring
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/generateLargeSpec.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

chore(adapter-oas): remove synthetic bench cases and generateLargeSpec helper
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/generateLargeSpec.ts
Due: none

Adapter streaming with AsyncIterable (#3290)
  cspell.json
  docs/architecture/adr/0005_stream_adapter.md
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/discriminator.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/root.ts
  packages/ast/src/types.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
Due: @kubb/core

feat: add format property on schema
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.test.ts
  packages/adapter-oas/src/resolvers.ts
  packages/ast/src/nodes/schema.ts
Due: none

style: format on parser
  packages/adapter-oas/src/parser.test.ts
Due: none

chore: generate changeset
  .changeset/cool-jokes-pump.md
Due: none

refactor(core): remove AsyncIterable from Generator.operations signature
  packages/core/src/PluginDriver.ts
  packages/core/src/defineGenerator.ts
Due: @kubb/core

Update packages
  package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

refactor(core): remove AsyncIterable from Generator.operations signature (#3316)
  package.json
  packages/core/src/PluginDriver.ts
  packages/core/src/defineGenerator.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/core, unplugin-kubb

feat(kubb): add @kubb/mcp as direct dependency
  .changeset/add-kubb-mcp-dependency.md
  packages/cli/src/runners/mcp/run.ts
  packages/kubb/package.json
Due: @kubb/cli, kubb

chore: add @kubb/cli to changeset
  .changeset/add-kubb-mcp-dependency.md
Due: none

feat(kubb): add @kubb/mcp as direct dependency (#3317)
  .changeset/add-kubb-mcp-dependency.md
  packages/cli/src/runners/mcp/run.ts
  packages/kubb/package.json
Due: @kubb/cli, kubb

perf(renderer-jsx): LegacyRoot + synchronous recursive renderer (2× faster)
  .changeset/perf-renderer-jsx-legacyroot-sync.md
  packages/renderer-jsx/src/Renderer.ts
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/createRenderer.test.tsx
  packages/renderer-jsx/src/createRenderer.tsx
  packages/renderer-jsx/src/index.ts
Due: none

chore: format and lint fixes
  packages/renderer-jsx/src/createRenderer.test.tsx
Due: none

perf(renderer-jsx): replace Map/Set with plain objects and arrays for lower memory
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/dom.test.ts
  packages/renderer-jsx/src/dom.ts
  packages/renderer-jsx/src/types.ts
  packages/renderer-jsx/src/utils.ts
Due: none

feat(renderer-jsx): add jsxRendererSync.stream() — AsyncIterable<FileNode>
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/createRenderer.test.tsx
  packages/renderer-jsx/src/createRenderer.tsx
  packages/renderer-jsx/src/utils.ts
Due: none

update packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

perf(renderer-jsx): single-pass walkFileChildren generator; SOURCE_IGNORES → constants
  packages/renderer-jsx/src/constants.ts
  packages/renderer-jsx/src/utils.ts
Due: none
