Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

docs: point all-contributors at packages/kubb README
  .all-contributorsrc
  .changeset/proud-words-rescue.md
Due: none

feat(adapter-oas): recognize annotated enums with an opt-in option
  .changeset/annotated-enum-titles.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/annotatedEnums.test.ts
  packages/adapter-oas/src/emit/converters/annotatedEnum.ts
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
Due: none

feat(adapter-oas): detect annotated enums automatically in OpenAPI 3.1
  .changeset/annotated-enum-titles.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/annotatedEnums.test.ts
  packages/adapter-oas/src/emit/converters/annotatedEnum.ts
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
Due: none

fix: point diagnostics and README links to current docs
  .changeset/diagnostic-documentation-links.md
  CHANGELOG.md
  packages/core/src/Diagnostics.test.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/reporters/report.test.ts
  packages/kubb/README.md
  packages/mcp/src/tools/generate.test.ts
  packages/mcp/src/tools/validate.test.ts
  packages/mcp/src/utils.test.ts
Due: @kubb/core, kubb, @kubb/mcp

docs: point integration links to their final routes
  packages/kubb/README.md
Due: kubb

fix: point diagnostics and README links to current docs (#4156)
  .changeset/diagnostic-documentation-links.md
  CHANGELOG.md
  packages/core/src/Diagnostics.test.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/reporters/report.test.ts
  packages/kubb/README.md
  packages/mcp/src/tools/generate.test.ts
  packages/mcp/src/tools/validate.test.ts
  packages/mcp/src/utils.test.ts
Due: @kubb/core, kubb, @kubb/mcp

docs: update Studio and AI documentation links
  packages/kubb/README.md
Due: kubb

docs: update Studio and AI documentation links (#4159)
  packages/kubb/README.md
Due: kubb

chore: update minor and patch dependencies
  package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kubb, unplugin-kubb

fix(studio): keep non-JSON disk options when merging Studio options
  .changeset/studio-keep-function-options.md
  packages/studio/src/operations/resolveConfig.test.ts
  packages/studio/src/operations/resolveConfig.ts
Due: none

fix(cli): restore telemetry ingestion source
  .changeset/fix-cli-telemetry-source.md
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
Due: @kubb/cli

fix(cli): use kubb telemetry source label
  .changeset/kubb-telemetry-source-label.md
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
Due: @kubb/cli

chore: Update packages
  package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: kubb, unplugin-kubb

fix(cli): make plugin telemetry easy to filter
  .changeset/plugin-telemetry-filters.md
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
Due: @kubb/cli

fix(cli): make plugin telemetry easy to filter (#4167)
  .changeset/plugin-telemetry-filters.md
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
Due: @kubb/cli

perf(studio): lower the idle memory of the Studio agent
  .changeset/studio-agent-memory.md
  packages/studio/package.json
  packages/studio/src/operations/resolveConfig.ts
  packages/studio/src/runtime/StudioSession.ts
  pnpm-lock.yaml
Due: none

perf(parser-ts): load typescript with require to avoid a duplicate source copy
  .changeset/parser-ts-require-typescript.md
  packages/parser-ts/src/utils.ts
Due: none

style(parser-ts): format typescript require change
  packages/parser-ts/src/utils.ts
Due: none

fix(cli): report errors for a config written without defineConfig
  .changeset/cli-default-reporters.md
  packages/cli/src/runners/generate/run.test.ts
  packages/cli/src/runners/generate/run.ts
Due: @kubb/cli

feat(adapter-oas): report spec validation problems as warnings
  .changeset/oas-validation-warnings.md
  packages/adapter-oas/src/load/normalize.test.ts
  packages/adapter-oas/src/load/normalize.ts
  packages/adapter-oas/src/types.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/constants.ts
Due: @kubb/core

style(adapter-oas): shorten validation comments to fit the comment ratio
  packages/adapter-oas/src/load/normalize.ts
  packages/core/src/constants.ts
Due: @kubb/core

fix(cli): print one ✗ before an error
  .changeset/cli-single-error-glyph.md
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/generation.test.ts
  packages/cli/src/loggers/plainLogger.ts
Due: @kubb/cli

refactor(cli): pass error.message directly in the error handlers
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/generation.test.ts
Due: @kubb/cli

refactor(adapter-oas): reuse getErrorMessage and drop the split fallback
  packages/adapter-oas/src/load/normalize.ts
Due: none

fix(cli): print one ✗ before an error (#4173)
  .changeset/cli-single-error-glyph.md
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/generation.test.ts
  packages/cli/src/loggers/plainLogger.ts
Due: @kubb/cli

feat(adapter-oas): report spec validation problems as warnings (#4172)
  .changeset/oas-validation-warnings.md
  packages/adapter-oas/src/load/normalize.test.ts
  packages/adapter-oas/src/load/normalize.ts
  packages/adapter-oas/src/types.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/constants.ts
Due: @kubb/core

fix: resolve RFC 6901 refs, reload MCP config, honour CI=false, detect bun.lock
  .changeset/audit-bug-fixes.md
  internals/utils/src/isCIEnvironment.ts
  packages/adapter-oas/src/load/normalize.ts
  packages/adapter-oas/src/load/source.test.ts
  packages/adapter-oas/src/load/source.ts
  packages/adapter-oas/src/refs.test.ts
  packages/adapter-oas/src/refs.ts
  packages/cli/src/runners/init/utils.test.ts
  packages/cli/src/tools.test.ts
  packages/cli/src/tools.ts
  packages/cli/src/utils/env.test.ts
  packages/mcp/src/utils.ts
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/studio/src/operations/generate.ts
  packages/studio/src/operations/hooks.test.ts
  packages/studio/src/operations/hooks.ts
Due: @kubb/cli, @kubb/mcp

fix: resolve RFC 6901 refs, reload MCP config, honour CI=false, detect bun.lock (#4175)
  .changeset/audit-bug-fixes.md
  internals/utils/src/isCIEnvironment.ts
  packages/adapter-oas/src/load/normalize.ts
  packages/adapter-oas/src/load/source.test.ts
  packages/adapter-oas/src/load/source.ts
  packages/adapter-oas/src/refs.test.ts
  packages/adapter-oas/src/refs.ts
  packages/cli/src/runners/init/utils.test.ts
  packages/cli/src/tools.test.ts
  packages/cli/src/tools.ts
  packages/cli/src/utils/env.test.ts
  packages/mcp/src/utils.ts
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/studio/src/operations/generate.ts
  packages/studio/src/operations/hooks.test.ts
  packages/studio/src/operations/hooks.ts
Due: @kubb/cli, @kubb/mcp

fix(adapter-oas): preserve metadata on typeless schema fallback
  .changeset/fix-empty-schema-fallback-metadata.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
Due: none

fix(cli): report kubb telemetry service name
  .changeset/kubb-telemetry-service-name.md
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
Due: @kubb/cli

feat(adapter-oas): resolve required-only union branches against sibling schemas
  .changeset/fix-required-only-union-branches.md
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/parser.test.ts
Due: none

test(adapter-oas): add tests for emptySchemaType and object property metadata
  packages/adapter-oas/src/parser.test.ts
Due: none

feat(adapter-oas): support nested allOf union resolution and add composition tests
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/parser.test.ts
Due: none

fix(adapter-oas): fix typecheck and remove redundant nested allOf resolution
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/parser.test.ts
Due: none

fix(adapter-oas): check own properties and use defineProperty for missing required keys
  packages/adapter-oas/src/emit/converters/composition.ts
Due: none

chore(deps): update minor and patch dependencies and GitHub Actions
  packages/adapter-oas/package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kubb, unplugin-kubb

chore(deps): update kubb-labs/config actions
  .github/workflows/autofix.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

docs: point agents at the docs repo and describe plugin-client correctly
  AGENTS.md
  context7.json
Due: none

fix: align doc comments with group, banner, and heartbeat behavior
  .changeset/jsdoc-defaults-match-code.md
  packages/core/src/definePlugin.ts
  packages/core/src/types.ts
  packages/studio/src/operations/constants.ts
Due: @kubb/core

fix(ast): visit tuple rest and patternProperties schemas
  .changeset/ast-traverse-tuple-rest.md
  packages/ast/src/nodes/input.test.ts
  packages/ast/src/nodes/input.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/utils/schemaGraph.test.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
