Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

deprecated items in ts-plugin
  packages/adapter-oas/src/parser.test.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

prevent override in override
  packages/core/src/utils/resolveOptions.ts
Due: @kubb/core

prevent override in override
  packages/plugin-oas/src/types.ts
Due: @kubb/plugin-oas

spacing
  packages/plugin-ts/src/factory.test.ts
Due: @kubb/plugin-ts

test case for mapper
  packages/plugin-ts/src/generators/v2/__snapshots__/createPetPOSTWithMapperOverridingRequestBodyProperty/createPets.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/listPetsGETWithQueryParamsAndParamsCasingCamelcase/listPets.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.test.tsx
Due: @kubb/plugin-ts

remove any typing
  packages/plugin-ts/src/generators/v2/utils.test.ts
Due: @kubb/plugin-ts

changeset
  .changeset/type-generator-v2-helpers.md
Due: none

createMockedPlugin
  configs/mocks.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.test.tsx
Due: @kubb/plugin-ts

formating
  packages/plugin-ts/src/generators/v2/typeGenerator.test.tsx
Due: @kubb/plugin-ts

formating
  packages/plugin-ts/src/factory.ts
Due: @kubb/plugin-ts

formating
  packages/plugin-ts/src/generators/v2/utils.ts
Due: @kubb/plugin-ts

use of mocked plugin
  packages/plugin-client/src/generators/classClientGenerator.test.tsx
  packages/plugin-client/src/generators/clientGenerator.test.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.test.tsx
  packages/plugin-client/src/generators/operationsGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.test.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.test.tsx
  packages/plugin-mcp/src/generators/serverGenerator.test.tsx
  packages/plugin-msw/src/generators/handlersGenerator.test.tsx
  packages/plugin-msw/src/generators/mswGenerator.test.tsx
  packages/plugin-oas/src/SchemaGenerator.test.ts
  packages/plugin-oas/src/utils/fullSpecCircular.test.ts
  packages/plugin-react-query/src/generators/infiniteQueryGenerator.test.tsx
  packages/plugin-react-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-react-query/src/generators/queryGenerator.test.tsx
  packages/plugin-react-query/src/generators/suspenseInfiniteQueryGenerator.test.tsx
  packages/plugin-react-query/src/generators/suspenseQueryGenerator.test.tsx
  packages/plugin-solid-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-solid-query/src/generators/queryGenerator.test.tsx
  packages/plugin-svelte-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-svelte-query/src/generators/queryGenerator.test.tsx
  packages/plugin-swr/src/generators/mutationGenerator.test.tsx
  packages/plugin-swr/src/generators/queryGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-vue-query/src/generators/infiniteQueryGenerator.test.tsx
  packages/plugin-vue-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-vue-query/src/generators/queryGenerator.test.tsx
  packages/plugin-zod/src/generators/operationsGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
Due: @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

docs: update changelog for v5.0.0-alpha.5
  docs/changelog.md
Due: none

move ResolvePathOptions as part of useKubb
  packages/core/src/hooks/useKubb.ts
Due: @kubb/core

add print override to add custom ts-plugin related logic
  configs/mocks.ts
  examples/typescript/kubb.config.ts
  packages/ast/src/printer.ts
  packages/plugin-ts/src/components/v2/Enum.tsx
  packages/plugin-ts/src/components/v2/Type.tsx
  packages/plugin-ts/src/generators/v2/__snapshots__/enumNamesTypeAsConst/enumNames.Type.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/enumNamesTypeAsPascalConst/enumNames.Type.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/enumNamesTypeConstEnum/enumNames.Type.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/enumNamesTypeEnum/enumNames.Type.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/enumNamesTypeInlineLiteral/enumNames.Type.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/enumNamesTypeLiteral/enumNames.Type.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/v2/utils.test.ts
  packages/plugin-ts/src/printer.test.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

update naming
  biome.json
  examples/advanced/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  package.json
  packages/adapter-oas/package.json
  packages/agent/nitro.config.ts
  packages/ast/src/printer.test.ts
  packages/ast/src/printer.ts
  packages/oas/package.json
  packages/plugin-ts/src/components/v2/Enum.tsx
  packages/plugin-ts/src/components/v2/Type.tsx
  packages/plugin-ts/src/generators/v2/utils.test.ts
  packages/plugin-ts/src/printer.test.ts
  packages/plugin-ts/src/printer.ts
  pnpm-lock.yaml
  tests/e2e/package.json
Due: @kubb/oas, @kubb/plugin-ts

updated jsdosc
  packages/ast/src/printer.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

cleanup
  packages/ast/src/printer.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

better naming conventions
  examples/typescript/src/gen-adapter/index.ts
  examples/typescript/src/gen-adapter/models/index.ts
  examples/typescript/src/gen-adapter/models/petController/AddPet.ts
  examples/typescript/src/gen-adapter/models/petController/DeletePet.ts
  examples/typescript/src/gen-adapter/models/petController/FindPetsByStatus.ts
  examples/typescript/src/gen-adapter/models/petController/FindPetsByTags.ts
  examples/typescript/src/gen-adapter/models/petController/GetPetById.ts
  examples/typescript/src/gen-adapter/models/petController/UpdatePet.ts
  examples/typescript/src/gen-adapter/models/petController/UpdatePetWithForm.ts
  examples/typescript/src/gen-adapter/models/petController/UploadFile.ts
  examples/typescript/src/gen-adapter/models/petController/index.ts
  examples/typescript/src/gen-adapter/models/storeController/DeleteOrder.ts
  examples/typescript/src/gen-adapter/models/storeController/GetInventory.ts
  examples/typescript/src/gen-adapter/models/storeController/GetOrderById.ts
  examples/typescript/src/gen-adapter/models/storeController/PlaceOrder.ts
  examples/typescript/src/gen-adapter/models/storeController/PlaceOrderPatch.ts
  examples/typescript/src/gen-adapter/models/storeController/index.ts
  examples/typescript/src/gen-adapter/models/userController/CreateUser.ts
  examples/typescript/src/gen-adapter/models/userController/CreateUsersWithListInput.ts
  examples/typescript/src/gen-adapter/models/userController/DeleteUser.ts
  examples/typescript/src/gen-adapter/models/userController/GetUserByName.ts
  examples/typescript/src/gen-adapter/models/userController/LoginUser.ts
  examples/typescript/src/gen-adapter/models/userController/LogoutUser.ts
  examples/typescript/src/gen-adapter/models/userController/UpdateUser.ts
  examples/typescript/src/gen-adapter/models/userController/index.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/createPetPOSTWithMapperOverridingRequestBodyProperty/createPets.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/createPetPOSTWithRequestBody/createPets.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/deletePetDELETEWithNoResponseBody/deletePet.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/findArtifactsGETWithMultipleQueryParams/findArtifacts.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/listPetsGETGroupedByPath/listPets.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/listPetsGETGroupedByTag/listPets.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/listPetsGETWithQueryParams/listPets.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/listPetsGETWithQueryParamsAndParamsCasingCamelcase/listPets.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/placeOrderPatchPATCHWithPathParamsRequestBodyMultipleStatusCodes/placeOrderPatch.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/showPetByIdGETWithPathParams/showPetById.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
  packages/plugin-ts/src/generators/v2/utils.test.ts
  packages/plugin-ts/src/generators/v2/utils.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

better naming conventions
  examples/typescript/src/gen-adapter/index.ts
  examples/typescript/src/gen-adapter/models/index.ts
  examples/typescript/src/gen-adapter/models/petController/AddPet.ts
  examples/typescript/src/gen-adapter/models/petController/UpdatePet.ts
  examples/typescript/src/gen-adapter/models/petController/UploadFile.ts
  examples/typescript/src/gen-adapter/models/petController/index.ts
  examples/typescript/src/gen-adapter/models/storeController/PlaceOrder.ts
  examples/typescript/src/gen-adapter/models/storeController/PlaceOrderPatch.ts
  examples/typescript/src/gen-adapter/models/storeController/index.ts
  examples/typescript/src/gen-adapter/models/userController/CreateUser.ts
  examples/typescript/src/gen-adapter/models/userController/CreateUsersWithListInput.ts
  examples/typescript/src/gen-adapter/models/userController/UpdateUser.ts
  examples/typescript/src/gen-adapter/models/userController/index.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/createPetPOSTWithRequestBody/createPets.ts
  packages/plugin-ts/src/generators/v2/__snapshots__/placeOrderPatchPATCHWithPathParamsRequestBodyMultipleStatusCodes/placeOrderPatch.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
  packages/plugin-ts/src/generators/v2/utils.ts
Due: @kubb/plugin-ts

fix test cases
  packages/plugin-ts/src/generators/v2/utils.test.ts
Due: @kubb/plugin-ts

chore: add changeset
  .changeset/type-generator-v2-helpers.md
  packages/plugin-ts/src/constants.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
  packages/plugin-ts/src/generators/v2/utils.test.ts
  packages/plugin-ts/src/generators/v2/utils.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

Update utils.ts
  packages/plugin-ts/src/generators/v2/utils.ts
Due: @kubb/plugin-ts

refactor(plugin-ts): rename enumSchemaNode → node, move enum type Sets to constants.ts (#2787)
  packages/plugin-ts/src/components/v2/Enum.tsx
  packages/plugin-ts/src/components/v2/Type.tsx
  packages/plugin-ts/src/constants.ts
Due: @kubb/plugin-ts

Remove `mapper` option from `@kubb/plugin-ts` (#2789)
  .changeset/remove-mapper-plugin-ts.md
  docs/migration-guide.md
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/components/v2/Type.tsx
  packages/plugin-ts/src/generators/__snapshots__/petMapper/petMapper.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/v2/__snapshots__/createPetPOSTWithMapperOverridingRequestBodyProperty/createPets.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
  packages/plugin-ts/src/parser.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/printer.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

docs: update changelog for v5.0.0-alpha.6
  docs/changelog.md
Due: none

cleanuup
  packages/plugin-ts/src/constants.ts
Due: @kubb/plugin-ts

feat: add support for banner and footer in generatio v2
  packages/adapter-oas/src/adapter.ts
  packages/ast/src/nodes/root.ts
  packages/core/src/hooks/useKubb.ts
  packages/plugin-ts/src/generators/v2/typeGenerator.tsx
Due: @kubb/core, @kubb/plugin-ts

chore(examples): update generated files
  configs/mocks.ts
  examples/typescript/src/gen6/ts/models/AddPetRequest.ts
  examples/typescript/src/gen6/ts/models/Pet.ts
  packages/core/src/PluginDriver.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/src/components/v2/Type.tsx
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

chore(examples): update generated files
  packages/core/src/utils/getBarrelFiles.ts
Due: @kubb/core

docs: update changelog for v5.0.0-alpha.7
  docs/changelog.md
Due: none

docs: update changelog for v5.0.0-alpha.8
  docs/changelog.md
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
