Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

Update README.md
  packages/kubb/README.md
Due: kubb

ci: add notify-platform.yml to dispatch content-updated on release
  .github/workflows/notify-platform.yml
Due: none

update packages
  package.json
  pnpm-workspace.yaml
Due: none

update packages
  pnpm-lock.yaml
Due: none

ci: integrate notify-platform into release.yml, pin SHA
  .github/workflows/notify-platform.yml
  .github/workflows/release.yml
Due: none

ci: rename notify-platform job to deploy-platform in release.yml
  .github/workflows/release.yml
Due: none

ci: add notify-platform.yml to dispatch content-updated on release (#3555)
  .github/workflows/release.yml
Due: none

ci: dispatch changelog-sync to docs after release
  .github/workflows/release.yml
Due: none

small changes
  internals/shared/src/constants.ts
  internals/shared/src/init.ts
  internals/utils/src/asyncEventEmitter.test.ts
  internals/utils/src/asyncEventEmitter.ts
  internals/utils/src/casing.ts
  internals/utils/src/cli/adapters/nodeAdapter.ts
  internals/utils/src/cli/define.ts
  internals/utils/src/cli/help.ts
  internals/utils/src/cli/parse.ts
  internals/utils/src/cli/schema.ts
  internals/utils/src/cli/types.ts
  internals/utils/src/onProcessExit.ts
Due: none

cleanup casing
  internals/utils/src/casing.test.ts
  internals/utils/src/casing.ts
  internals/utils/src/cli/isFlag.ts
  internals/utils/src/colors.ts
  internals/utils/src/context.ts
  internals/utils/src/env.ts
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

cleanup utils
  internals/utils/src/buildTree.ts
  internals/utils/src/cli/isFlag.ts
  internals/utils/src/fs.test.ts
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  internals/utils/src/mocks.ts
  internals/utils/src/network.test.ts
  internals/utils/src/network.ts
  internals/utils/src/onProcessExit.ts
  internals/utils/src/path.test.ts
  internals/utils/src/path.ts
  packages/adapter-oas/src/resolvers.test.ts
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  tsconfig.json
Due: @kubb/cli

cleanup utils
  internals/utils/src/casing.ts
  internals/utils/src/filePath.test.ts
  internals/utils/src/filePath.ts
  internals/utils/src/fs.test.ts
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  internals/utils/src/reserved.test.ts
  internals/utils/src/reserved.ts
  internals/utils/src/runtime.test.ts
  internals/utils/src/runtime.ts
  internals/utils/src/shell.ts
  internals/utils/src/string.test.ts
  internals/utils/src/string.ts
  internals/utils/src/token.ts
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/resolvers.test.ts
  packages/adapter-oas/src/stream.test.ts
  packages/ast/src/dedupe.test.ts
  packages/ast/src/utils/ast.test.ts
  packages/ast/src/utils/index.ts
  packages/cli/src/Telemetry.ts
  packages/core/src/defineResolver.ts
  packages/core/src/storages/fsStorage.ts
  packages/renderer-jsx/src/components/File.test.tsx
  packages/renderer-jsx/src/components/Type.test.tsx
Due: @kubb/cli, @kubb/core

cleanup tools as formatter and linter
  internals/utils/src/formatters.ts
  internals/utils/src/index.ts
  internals/utils/src/linters.test.ts
  internals/utils/src/linters.ts
  internals/utils/src/tools.test.ts
  internals/utils/src/tools.ts
  packages/cli/src/runners/generate/run.ts
Due: @kubb/cli

use of URL native node helper
  internals/shared/src/init.test.ts
  internals/utils/src/filePath.test.ts
  internals/utils/src/filePath.ts
  internals/utils/src/fs.test.ts
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  internals/utils/src/packageManager.ts
  internals/utils/src/runtime.ts
  internals/utils/src/shell.test.ts
  internals/utils/src/shell.ts
  internals/utils/src/tools.ts
  internals/utils/src/urlPath.test.ts
  internals/utils/src/urlPath.ts
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/parser.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/init/utils.test.ts
  packages/cli/src/runners/init/utils.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/index.ts
Due: @kubb/cli, @kubb/core

use of URL native node helper and cleanup of mcp utils
  internals/utils/src/index.ts
  internals/utils/src/url.test.ts
  internals/utils/src/url.ts
  packages/adapter-oas/src/factory.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/KubbDriver.ts
  packages/mcp/src/constants.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/validate.ts
  packages/mcp/src/types.ts
  packages/mcp/src/utils.test.ts
  packages/mcp/src/utils.ts
  packages/mcp/src/utils/formatDiagnostics.ts
  packages/mcp/src/utils/resolveCwd.ts
  packages/mcp/src/utils/resolveUserConfig.ts
Due: @kubb/core, @kubb/mcp

refactor(adapter-oas): drop oas and oas-normalize for built-in logic
  .changeset/adapter-oas-drop-oas-packages.md
  packages/adapter-oas/package.json
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/mime.ts
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/adapter-oas/src/types.ts
  pnpm-lock.yaml
Due: none

cleanup of linting
  packages/mcp/src/constants.ts
  packages/parser-md/src/parserMd.ts
  packages/parser-ts/src/parserTs.ts
Due: @kubb/mcp

use of yaml package
  packages/adapter-oas/package.json
  packages/adapter-oas/src/bundler.ts
Due: none

remove redundacnt trimextname
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
Due: none

support bun and deno in loader
  internals/shared/package.json
  internals/shared/src/index.ts
  internals/shared/src/loader.test.ts
  internals/shared/src/loader.ts
  packages/adapter-oas/src/factory.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/caches/fsCache.ts
  packages/core/src/storages/fsStorage.ts
  packages/mcp/src/utils.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, @kubb/mcp

refactor(core): remove the build-snapshot cache
  .changeset/add-kubb-cache.md
  .changeset/cli-generate-no-cache.md
  .changeset/core-split-createkubb-types.md
  packages/cli/README.md
  packages/cli/src/commands/generate.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/Fingerprint.test.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/cache.test.ts
  packages/core/src/caches/fsCache.test.ts
  packages/core/src/caches/fsCache.ts
  packages/core/src/createCache.ts
  packages/core/src/createKubb.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
Due: @kubb/cli, @kubb/core, kubb

refactor(adapter-oas): drop `as never` casts and inline SchemaObject
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/types.ts
Due: none

chore: add changeset for build-snapshot cache removal
  .changeset/remove-build-snapshot-cache.md
Due: none

cleanup for the ast library
  internals/utils/src/index.ts
  internals/utils/src/promise.ts
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/factory.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/mocks.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/input.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/requestBody.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/visitor.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createAdapter.ts
Due: @kubb/core

refactor(adapter-oas): slim down operation.ts to adapter-focused helpers
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
Due: none

cleanup
  packages/ast/src/dialect.ts
Due: none

refactor(adapter-oas): pass a single object to operation.ts helpers
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
Due: none

chore: format and lint fixes
  packages/adapter-oas/src/operation.ts
Due: none

dedupe signatureOf and schemaSignature
  .changeset/adapter-oas-schema-enum-dedupe.md
  .changeset/ast-trim-public-api.md
  .changeset/perf-signature-weakmap-cache.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/dedupe.test.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/input.ts
  packages/ast/src/resolvers.test.ts
  packages/ast/src/resolvers.ts
  packages/ast/src/signature.test.ts
  packages/ast/src/signature.ts
  packages/ast/src/types.ts
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

dedupe signatureOf and schemaSignature
  .changeset/ast-trim-public-api.md
  packages/adapter-oas/src/parser.ts
  packages/ast/src/dialect.ts
  packages/ast/src/dispatch.ts
  packages/ast/src/index.ts
  packages/ast/src/types.ts
Due: none

export Url helper
  .changeset/good-tools-argue.md
  internals/utils/src/index.ts
  internals/utils/src/url.ts
  packages/core/src/index.ts
Due: @kubb/core

Remove redundant deploy-platform job from release.yml
  .github/workflows/release.yml
Due: none

feat(ast): introduce defineNode single source-of-truth (#3562)
  .changeset/ast-define-node.md
  packages/ast/src/factory.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/guards.ts
  packages/ast/src/index.ts
  packages/ast/src/node.ts
  packages/ast/src/nodes/code.ts
  packages/ast/src/nodes/content.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/nodes/input.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/output.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/nodes/requestBody.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/registry.ts
  packages/ast/src/visitor.ts
Due: none

chore: format and lint fixes
  packages/ast/src/nodes/function.ts
  packages/ast/src/registry.ts
Due: none

feat(ast): deprecate is* guards in favor of <node>Def.is
  .changeset/ast-define-node.md
  packages/ast/src/guards.ts
  packages/ast/src/index.ts
Due: none

refactor(ast): forward exports from node files and combine build/finalize
  .changeset/ast-define-node.md
  packages/ast/src/dedupe.test.ts
  packages/ast/src/dedupe.ts
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/index.ts
  packages/ast/src/mocks.ts
  packages/ast/src/node.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/printer.test.ts
  packages/ast/src/registry.ts
  packages/ast/src/signature.test.ts
  packages/ast/src/transformers.test.ts
  packages/ast/src/transformers.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/ast.test.ts
  packages/ast/src/utils/ast.ts
  packages/ast/src/visitor.test.ts
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
