Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

fix(release): use pnpm instead of npm to bump canary version
  .github/workflows/release.yml
Due: none

Add explicit return type to generated vue query code
  .changeset/explicit-vue-query-options-return-type.md
  packages/plugin-vue-query/src/components/InfiniteQueryOptions.tsx
  packages/plugin-vue-query/src/components/QueryOptions.tsx
  packages/plugin-vue-query/src/generators/infiniteQueryGenerator.tsx
  packages/plugin-vue-query/src/generators/queryGenerator.tsx
Due: @kubb/plugin-vue-query

update snapshots
  packages/plugin-vue-query/src/generators/__snapshots__/clientDataReturnTypeFull.ts
  packages/plugin-vue-query/src/generators/__snapshots__/clientGetImportPath.ts
  packages/plugin-vue-query/src/generators/__snapshots__/findByTags.ts
  packages/plugin-vue-query/src/generators/__snapshots__/findByTagsObject.ts
  packages/plugin-vue-query/src/generators/__snapshots__/findByTagsPathParamsObject.ts
  packages/plugin-vue-query/src/generators/__snapshots__/findByTagsTemplateString.ts
  packages/plugin-vue-query/src/generators/__snapshots__/findByTagsWithCustomQueryKey.ts
  packages/plugin-vue-query/src/generators/__snapshots__/findByTagsWithZod.ts
  packages/plugin-vue-query/src/generators/__snapshots__/findInfiniteByTags.ts
  packages/plugin-vue-query/src/generators/__snapshots__/findInfiniteByTagsCursor.ts
  packages/plugin-vue-query/src/generators/__snapshots__/postAsQuery.ts
  packages/plugin-vue-query/src/generators/__snapshots__/postAsQueryObjectParams.ts
Due: @kubb/plugin-vue-query

chore(ci): bump kubb-labs/config pin to latest main
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

fix(utils): camelCase hyphenated param names in Url.toPath
  .changeset/fix-hyphenated-path-params.md
  internals/utils/src/Url.test.ts
  internals/utils/src/Url.ts
Due: none

fix(utils): camelCase hyphenated param names in URLPath#toURLPath
  .changeset/fix-hyphenated-path-params-v4.md
  internals/utils/src/urlPath.test.ts
  internals/utils/src/urlPath.ts
Due: none

test: update generated snapshots for camelCased path params
  packages/plugin-client/src/generators/__snapshots__/dashedPathParams.ts
  packages/plugin-client/src/generators/__snapshots__/dashedPathParamsInline.ts
  packages/plugin-react-query/src/generators/__snapshots__/getPetIdCamelCase.ts
Due: @kubb/plugin-client, @kubb/plugin-react-query

chore(examples): update generated files
  examples/advanced/src/gen/clients/hooks/petController/useFindPetsByStatus.ts
  examples/advanced/src/gen/clients/swr/petController/useFindPetsByStatusSWR.ts
  examples/svelte-query/src/gen/hooks/createDeletePet.ts
  examples/svelte-query/src/gen/hooks/createGetPetById.ts
  examples/svelte-query/src/gen/hooks/createUpdatePetWithForm.ts
Due: none

fix(utils): camelCase hyphenated param names in URLPath#toURLPath (#3896)
  .changeset/fix-hyphenated-path-params-v4.md
  internals/utils/src/urlPath.test.ts
  internals/utils/src/urlPath.ts
  packages/plugin-client/src/generators/__snapshots__/dashedPathParams.ts
  packages/plugin-client/src/generators/__snapshots__/dashedPathParamsInline.ts
  packages/plugin-react-query/src/generators/__snapshots__/getPetIdCamelCase.ts
Due: @kubb/plugin-client, @kubb/plugin-react-query

fix(utils): camelCase hyphenated param names in Url.toPath (#3895)
  .changeset/fix-hyphenated-path-params.md
  internals/utils/src/Url.test.ts
  internals/utils/src/Url.ts
Due: none

ci(changesets): version packages
  .changeset/fix-hyphenated-path-params.md
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

update pnpm
  package.json
Due: none

chore: lower safe-chain / pnpm minimum package age to 48h
  .npmrc
  pnpm-workspace.yaml
Due: none

chore: migrate to changesets v3 and use oxfmt for changeset formatting
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: none

fix: correct changesets/action v2 pin and inputs, preserve private versioning
  .github/workflows/release.yml
Due: none

fix(release): stop the canary version sweep aborting on a dirty tree
  .github/workflows/release.yml
Due: none

docs(ci): trim release workflow comments to what the flag needs
  .github/workflows/release.yml
Due: none

chore: bump @changesets/changelog-github to 1.0.0
  package.json
  pnpm-lock.yaml
Due: none

chore: point changeset config at the v4 schema and drop a dead key
  .changeset/config.json
Due: none

Bump kubb-labs/config setup action to pick up safe-chain exclusions
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

fix: point npmx.dev badge links to @kubb/core instead of bare kubb
  packages/kubb/README.md
Due: kubb

fix: correct npm package metadata for npmx.dev visualization
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat: add funding metadata to packages
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

chore(deps): bump verkit and @tmcp/transport-stdio
  packages/cli/package.json
  packages/mcp/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/mcp

chore: add changeset for verkit and @tmcp/transport-stdio bumps
  .changeset/bump-verkit-tmcp-transport.md
Due: none

chore: add context7.json pointing agents at the kubb.dev docs
  context7.json
Due: none

chore: add the Context7 library url and public key
  context7.json
Due: none

chore: align the context7 description with the README
  context7.json
Due: none

fix(adapter-oas): keep non-null types when null leads a 3.1 type array
  .changeset/fix-oas31-null-first-type-array.md
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
Due: none

chore: fix context7.json format for library claiming
  context7.json
Due: none

Clean up context7.json by removing unnecessary fields
  context7.json
Due: none

docs: tighten the changeset wording
  .changeset/fix-oas31-null-first-type-array.md
Due: none

chore: restore the context7.json parsing config
  context7.json
Due: none

fix(adapter-oas): run multi-type array rule before format
  .changeset/fix-oas31-multitype-format-precedence.md
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/parser.test.ts
Due: none

docs: trim the changeset wording
  .changeset/fix-oas31-multitype-format-precedence.md
Due: none

chore(deps): bump patch and minor dependencies (round 2)
  package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kubb, unplugin-kubb

chore(deps): bump taze to 21.1.0 (major)
  package.json
  pnpm-lock.yaml
Due: none

fix(kit): sanitize and dedupe MSW route param names in Url.toPath
  .changeset/msw-path-param-collisions.md
  internals/utils/src/Url.test.ts
  internals/utils/src/Url.ts
Due: none
