Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

update tsconfig
  tsconfig.json
Due: none

cleanup vitest
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Mve @vitest/coverage-v8 and @vitest/ui to the catalog
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update
  package.json
  pnpm-lock.yaml
Due: none

node 22
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: none

catalog for formating
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

improve github actions security
  .github/workflows/changeset-format.yml
  .github/workflows/cleanup-branches.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/docker-agent.yml
  .github/workflows/labeler.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/update-agents-skills.yml
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: none

improve github actions security
  pnpm-workspace.yaml
Due: none

tryout moon
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/docker-agent.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .gitignore
  .moon/tasks/node.yml
  .moon/toolchains.yml
  .moon/workspace.yml
  .prototools
  package.json
  packages/agent/.gitignore
  packages/agent/Dockerfile
  packages/agent/moon.yml
  packages/agent/nitro.config.ts
  packages/agent/package.json
  pnpm-lock.yaml
  turbo.json
Due: none

use of affected
  .github/workflows/pr.yml
Due: none

resolve
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

update pakcages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: Replace `unrun` with `jiti`
  .changeset/replace-unrun-with-jiti.md
  docs/architecture/adr/0003_kubb_agent.md
  env.d.ts
  packages/agent/.env.example
  packages/agent/Dockerfile
  packages/agent/README.md
  packages/agent/docker-compose.yaml
  packages/agent/package.json
  packages/agent/server/constants.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/getCosmiConfig.ts
  packages/cli/package.json
  packages/cli/src/constants.ts
  packages/cli/src/utils/getCosmiConfig.ts
  packages/core/src/constants.ts
  packages/core/src/types.ts
  packages/mcp/package.json
  packages/mcp/src/utils/loadUserConfig.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, @kubb/mcp

fix: Replace `unrun` with `jiti`
  .gitignore
Due: none

Delete codecov.SHA256SUM
  codecov.SHA256SUM
Due: none

Delete codecov.SHA256SUM.sig
  codecov.SHA256SUM.sig
Due: none

update jiti with jsx support
  .changeset/fiery-books-report.md
  packages/agent/nitro.config.ts
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat(core): add permissions to defineConfig and adopt KUBB_PERMISSION_* env vars
  env.d.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/runtimeConfig.ts
  packages/cli/src/runners/agent.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

fix number
  configs/vitest.config.ts
Due: none

remove setup
  configs/setup.ts
Due: none

docs(adr): add ADR-0004 for permissions in defineConfig and KUBB_PERMISSION_* env vars
  docs/architecture/adr/0004_permissions_in_defineconfig.md
  docs/architecture/adr/README.md
Due: none

docs(adr): fix spellcheck issues in ADR-0004
  docs/architecture/adr/0004_permissions_in_defineconfig.md
Due: none

do not add --coverage to the test command in package.json but set in gc action
  .github/workflows/pr.yml
  package.json
Due: none

refactor(agent): remove deprecated KUBB_AGENT_ALLOW_* env var fallbacks
  docs/architecture/adr/0004_permissions_in_defineconfig.md
  env.d.ts
  packages/agent/server/utils/runtimeConfig.ts
  packages/cli/src/runners/agent.ts
Due: @kubb/cli

docs(adr): humanize all ADRs, rename ADR-0004, update env var refs in ADR-0003
  cspell.json
  docs/architecture/adr/0001_include_filter.md
  docs/architecture/adr/0002_extension_naming_and_structure.md
  docs/architecture/adr/0003_kubb_agent.md
  docs/architecture/adr/0004_permissions.md
  docs/architecture/adr/README.md
Due: none

refactor(agent,cli): rename allowWrite/allowAll/allowPublish to filesystem/all/publish
  docs/architecture/adr/0001_include_filter.md
  docs/architecture/adr/0002_extension_naming_and_structure.md
  docs/architecture/adr/0003_kubb_agent.md
  docs/architecture/adr/0004_permissions.md
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/runtimeConfig.ts
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/runners/agent.ts
Due: @kubb/cli

rename permission 'all' -> 'yolo' and KUBB_PERMISSION_ALL -> KUBB_PERMISSION_YOLO
  docs/architecture/adr/0003_kubb_agent.md
  docs/architecture/adr/0004_permissions.md
  env.d.ts
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/runtimeConfig.ts
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/runners/agent.ts
Due: @kubb/cli

chore: add changeset for permissions in defineConfig
  .changeset/add-permissions-defineconfig.md
Due: none

chore: format and lint fixes
  packages/agent/README.md
  packages/agent/docker-compose.yaml
  packages/cli/package.json
  packages/cli/src/runners/validate.test.ts
  packages/cli/src/runners/validate.ts
Due: @kubb/cli

feat(permissions): use none/read/write levels instead of booleans
  .changeset/add-permissions-defineconfig.md
  docs/architecture/adr/0004_permissions.md
  env.d.ts
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/runtimeConfig.ts
  packages/cli/src/runners/agent.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

feat(adapter-oas): hide parseDocument/parseFromConfig/validateDocument, add validate to adapterOas
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/index.ts
  packages/cli/src/runners/validate.test.ts
  packages/cli/src/runners/validate.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

chore: format and lint fixes
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

refactor(permissions): move permissions type from core to agent
  .changeset/add-permissions-defineconfig.md
  docs/architecture/adr/0004_permissions.md
  packages/agent/server/plugins/studio.ts
  packages/core/src/types.ts
Due: @kubb/core

docs(adr): add permissions ADR and humanize existing ADRs
  .changeset/add-permissions-defineconfig.md
  .github/workflows/pr.yml
  configs/setup.ts
  configs/vitest.config.ts
  env.d.ts
  package.json
  packages/agent/README.md
  packages/agent/docker-compose.yaml
  packages/agent/server/plugins/resolvePermissions.ts
  packages/agent/server/plugins/studio.permissions.test.ts
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/publish.ts
  packages/agent/server/utils/runtimeConfig.ts
  packages/agent/server/utils/ws.ts
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/runners/agent.ts
  packages/core/src/types.test.ts
Due: @kubb/cli, @kubb/core

Update pr.yml
  .github/workflows/pr.yml
Due: none

feat(cli): add examples support and non-interactive init flags
  internals/utils/src/cli/help.test.ts
  internals/utils/src/cli/help.ts
  internals/utils/src/cli/schema.test.ts
  internals/utils/src/cli/schema.ts
  internals/utils/src/cli/types.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/runners/init.ts
Due: @kubb/cli

fix(cli): add examples to defineCommand parameter type
  internals/utils/src/cli/define.ts
Due: none
