Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

stream cleanup
  .changeset/always-stream-oas-adapter.md
  .changeset/input-meta-circular-enum-names.md
  .changeset/kubb-driver-streaming-cleanup.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/discriminator.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
Due: none

stream cleanup
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/discriminator.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/nodes/root.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

stream cleanup with once helper
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/adapter-oas/src/adapter.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

cleanup
  .changeset/always-stream-oas-adapter.md
  .changeset/kubb-driver-streaming-cleanup.md
  docs/performance.md
Due: none

cleanup
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/ast/src/utils.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

Improve performance
  .changeset/always-stream-oas-adapter.md
  .changeset/input-meta-circular-enum-names.md
  .changeset/kubb-driver-streaming-cleanup.md
  docs/architecture/always-stream.md
  docs/performance.md
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/discriminator.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/factory.ts
  packages/ast/src/nodes/root.ts
  packages/ast/src/utils.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/mocks.ts
Due: @kubb/core

cleanup
  internals/utils/src/promise.ts
  packages/adapter-oas/src/adapter.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

Performance improvements (#3331)
  .changeset/always-stream-oas-adapter.md
  .changeset/input-meta-circular-enum-names.md
  .changeset/kubb-driver-streaming-cleanup.md
  docs/performance.md
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/discriminator.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/factory.ts
  packages/ast/src/nodes/root.ts
  packages/ast/src/utils.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/core/src/mocks.ts
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

move all helpers to KubbDriver.ts
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

more use of using
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createRenderer.ts
  packages/renderer-jsx/src/createRenderer.tsx
Due: @kubb/core

use class for createKubb
  packages/core/src/createKubb.ts
Due: @kubb/core

push plan
  plans/perf-followups.md
Due: none

update spellcheck
  cspell.json
  plans/perf-followups.md
Due: none

use dispose
  packages/core/src/FileProcessor.ts
  packages/core/src/createKubb.ts
  packages/core/src/createRenderer.ts
  packages/renderer-jsx/src/createRenderer.tsx
Due: @kubb/core

check emit event before using it
  packages/core/src/KubbDriver.ts
Due: @kubb/core

add batch update for files
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/ws.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/types.ts
  plans/studio-event-parity.md
Due: @kubb/cli, @kubb/core, @kubb/mcp

changeset
  .changeset/improve-kubb-driver.md
Due: none

fixed
  packages/agent/server/utils/ws.ts
Due: none

update packages
  .claude/settings.json
Due: none

resolve issues
  packages/core/src/createKubb.ts
Due: @kubb/core

use of null
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/discriminator.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/guards.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/nodes/root.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/printer.test.ts
  packages/ast/src/printer.ts
  packages/ast/src/refs.test.ts
  packages/ast/src/refs.ts
  packages/ast/src/resolvers.test.ts
  packages/ast/src/resolvers.ts
  packages/ast/src/transformers.test.ts
  packages/ast/src/transformers.ts
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
  packages/ast/src/visitor.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/mocks.ts
  packages/middleware-barrel/src/utils.ts
  packages/renderer-jsx/src/dom.test.ts
  packages/renderer-jsx/src/dom.ts
  packages/renderer-jsx/src/types.ts
  plans/perf-followups.md
Due: @kubb/cli, @kubb/core

use of null
  .changeset/null-undefined-standardization.md
Due: none

update release
  .github/workflows/release.yml
Due: none

fix: exclude/include operations
  .changeset/vast-insects-type.md
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

fix null checks
  packages/ast/src/nodes/file.ts
  packages/core/src/defineResolver.ts
  packages/renderer-jsx/src/components/File.tsx
Due: @kubb/core

fix null for urlPath
  internals/utils/src/urlPath.ts
Due: none

use of undefined | null instead of just void
  packages/ast/src/visitor.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/defineGenerator.ts
Due: @kubb/core

use of undefined | null instead of just void
  packages/ast/src/nodes/code.ts
  packages/ast/src/visitor.ts
  packages/cli/src/loggers/utils.ts
  packages/core/src/defineGenerator.ts
  packages/parser-ts/src/utils.ts
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/components/Const.tsx
  packages/renderer-jsx/src/components/Function.tsx
  packages/renderer-jsx/src/types.ts
  packages/renderer-jsx/src/utils.ts
Due: @kubb/cli, @kubb/core

ci(release): re-enable npm provenance for v4 publishes
  .changeset/re-enable-npm-provenance.md
  .github/workflows/release.yml
Due: none

chore(examples): update generated files
  examples/vue-query/src/gen/hooks/useGetOrderById.ts
  examples/vue-query/src/gen/hooks/useGetPetById.ts
  examples/vue-query/src/gen/hooks/useGetUserByName.ts
Due: none

ci(release): re-enable npm provenance for v4 publishes (#3339)
  .changeset/re-enable-npm-provenance.md
  .github/workflows/release.yml
Due: none

extend null support to generics prop
  packages/ast/src/nodes/code.ts
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/components/Function.tsx
  packages/renderer-jsx/src/utils.ts
Due: none

accept null on JSDoc prop; strip null-only doc comments
  packages/ast/src/nodes/code.ts
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/components/Const.tsx
  packages/renderer-jsx/src/components/Function.tsx
  packages/renderer-jsx/src/components/Type.tsx
  packages/renderer-jsx/src/utils.ts
Due: none

fix(ci): ensure NPM_TOKEN is used for npm publish
  .github/workflows/release.yml
Due: none
