Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

chore(examples): update generated files
  examples/typescript/src/gen/models.ts
  examples/typescript/src/gen/modelsConst.ts
  examples/typescript/src/gen/modelsConstEnum.ts
  examples/typescript/src/gen/modelsLiteral.ts
  examples/typescript/src/gen/modelsPascalConst.ts
  examples/typescript/src/gen/schemas/pet.json
Due: none

ci(changesets): version packages
  .changeset/fix-zod-namespace-import.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

reset
  docs/plugins/plugin-ts.md
  examples/advanced/configs/kubb.config.ts
  examples/advanced/src/gen/mcp/.mcp.json
  examples/advanced/src/gen/mcp/petRequests/findPetsByStatus.ts
  examples/advanced/src/gen/mcp/petsRequests/createPets.ts
  examples/advanced/src/gen/mcp/server.ts
  examples/advanced/src/gen/models/ts/Order.ts
  examples/advanced/src/gen/models/ts/petController/DeletePet.ts
  examples/advanced/src/gen/models/ts/petController/FindPetsByStatus.ts
  examples/advanced/src/gen/models/ts/petController/FindPetsByTags.ts
  examples/advanced/src/gen/models/ts/petsController/CreatePets.ts
  examples/mcp/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/findPetsByStatus.ts
  examples/mcp/src/gen/mcp/server.ts
  packages/core/mocks/helloWorld.js
  packages/plugin-mcp/src/components/Server.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.tsx
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/parser.test.ts
  packages/plugin-ts/src/parser.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/core, @kubb/plugin-mcp, @kubb/plugin-ts

fix: externalize @kubb/core in tsdown configs
  .changeset/fix-externalize-kubb-core.md
  packages/oas/tsdown.config.ts
  packages/plugin-client/tsdown.config.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-faker/tsdown.config.ts
  packages/plugin-mcp/tsdown.config.ts
  packages/plugin-msw/tsdown.config.ts
  packages/plugin-oas/tsdown.config.ts
  packages/plugin-react-query/tsdown.config.ts
  packages/plugin-redoc/tsdown.config.ts
  packages/plugin-solid-query/tsdown.config.ts
  packages/plugin-svelte-query/tsdown.config.ts
  packages/plugin-swr/tsdown.config.ts
  packages/plugin-ts/tsdown.config.ts
  packages/plugin-vue-query/tsdown.config.ts
  packages/plugin-zod/tsdown.config.ts
Due: @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

Fix `asPascalConst` enum const values not exported in barrel files (#2429)
  packages/plugin-ts/src/components/Type.tsx
Due: @kubb/plugin-ts

update packages
  .changeset/cyan-chefs-watch.md
  docs/changelog.md
  examples/advanced/package.json
  examples/advanced/petStore.yaml
  examples/advanced/src/gen/docs.html
  examples/advanced/src/gen/index.ts
  examples/advanced/src/gen/mocks/index.ts
  examples/advanced/src/gen/mocks/petController/index.ts
  examples/advanced/src/gen/models/ts/index.ts
  examples/advanced/src/gen/models/ts/petController/AddPet.ts
  examples/advanced/src/gen/models/ts/petController/index.ts
  examples/advanced/src/gen/msw/index.ts
  examples/advanced/src/gen/msw/petController/addPetHandler.ts
  examples/advanced/src/gen/msw/petController/index.ts
  examples/advanced/src/gen/zod/index.ts
  examples/advanced/src/gen/zod/petController/addPetSchema.ts
  examples/advanced/src/gen/zod/petController/index.ts
  examples/client/package.json
  examples/faker/package.json
  examples/generators/package.json
  examples/react-query/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/mcp/package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli, @kubb/core, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

update packages
  examples/advanced/src/gen/mocks/petController/createAddPetFaker.ts
Due: none

ci(changesets): version packages
  .changeset/cyan-chefs-watch.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

fix: externalize @kubb/core in tsdown configs (#2427)
  .changeset/fix-externalize-kubb-core.md
  packages/oas/tsdown.config.ts
  packages/plugin-client/tsdown.config.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-faker/tsdown.config.ts
  packages/plugin-mcp/tsdown.config.ts
  packages/plugin-msw/tsdown.config.ts
  packages/plugin-oas/tsdown.config.ts
  packages/plugin-react-query/tsdown.config.ts
  packages/plugin-redoc/tsdown.config.ts
  packages/plugin-solid-query/tsdown.config.ts
  packages/plugin-svelte-query/tsdown.config.ts
  packages/plugin-swr/tsdown.config.ts
  packages/plugin-ts/tsdown.config.ts
  packages/plugin-vue-query/tsdown.config.ts
  packages/plugin-zod/tsdown.config.ts
Due: @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

ci(changesets): version packages
  .changeset/fix-externalize-kubb-core.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

npmx
  packages/core/README.md
Due: @kubb/core

paramsCasing cannot be overriden with override
  packages/plugin-client/src/types.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-faker/src/types.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-react-query/src/types.ts
  packages/plugin-solid-query/src/types.ts
  packages/plugin-svelte-query/src/types.ts
  packages/plugin-swr/src/types.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-vue-query/src/types.ts
Due: @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

add docs
  .changeset/add-params-casing-support.md
  docs/changelog.md
  docs/config.json
  docs/guide/parameter-casing.md
  docs/plugins/plugin-client/paramsCasing.md
  docs/plugins/plugin-faker.md
  docs/plugins/plugin-mcp.md
  docs/plugins/plugin-ts.md
  examples/advanced/configs/kubb.config.ts
Due: none

update examples
  biome.json
  examples/advanced/configs/kubb.config.ts
  examples/advanced/src/gen/mcp/petRequests/deletePet.ts
  examples/advanced/src/gen/mcp/petRequests/findPetsByStatus.ts
  examples/advanced/src/gen/mcp/petRequests/findPetsByTags.ts
  examples/advanced/src/gen/mcp/petsRequests/createPets.ts
  examples/advanced/src/gen/mcp/server.ts
  examples/advanced/src/gen/mocks/petController/createDeletePetFaker.ts
  examples/advanced/src/gen/mocks/petController/createFindPetsByStatusFaker.ts
  examples/advanced/src/gen/mocks/petController/createFindPetsByTagsFaker.ts
  examples/advanced/src/gen/mocks/petsController/createCreatePetsFaker.ts
Due: none

cleanup
  packages/core/mocks/helloWorld.js
  packages/plugin-faker/src/generators/fakerGenerator.tsx
  packages/plugin-oas/src/utils/getParams.test.ts
  packages/plugin-oas/src/utils/getParams.ts
  packages/plugin-oas/src/utils/index.ts
  packages/plugin-oas/src/utils/paramsCasing.test.ts
  packages/plugin-oas/src/utils/paramsCasing.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/core, @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts

linting
  packages/plugin-oas/src/utils/index.ts
Due: @kubb/plugin-oas

correct use of linting
  tests/e2e/kubb.config.js
Due: none

cspell change
  cspell.json
Due: none

revert kubb e2e
  tests/e2e/kubb.config.js
Due: none

remove default for cypress
  packages/plugin-cypress/src/plugin.ts
Due: @kubb/plugin-cypress

ci(changesets): version packages
  .changeset/add-params-casing-support.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

small cleanup
  packages/cli/src/commands/mcp.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/utils/watcher.ts
  packages/core/src/PackageManager.ts
  packages/core/src/fs/write.ts
  packages/oas/package.json
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-svelte-query/src/types.ts
  packages/plugin-vue-query/src/types.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, @kubb/oas, @kubb/plugin-oas, @kubb/plugin-svelte-query, @kubb/plugin-vue-query

cleanup
  configs/mocks.ts
  packages/plugin-zod/src/generators/__snapshots__/createItemUnionWithReadOnly.ts
  packages/plugin-zod/src/generators/__snapshots__/createPet.ts
  packages/plugin-zod/src/generators/__snapshots__/createPetWithUnknownTypeUnknown.ts
  packages/plugin-zod/src/generators/__snapshots__/deletePet.ts
  packages/plugin-zod/src/generators/__snapshots__/getPets.ts
  packages/plugin-zod/src/generators/__snapshots__/getPetsWithQueryFilter.ts
  packages/plugin-zod/src/generators/__snapshots__/queryAllDefaulted.ts
  packages/plugin-zod/src/generators/__snapshots__/showPetById.ts
  packages/plugin-zod/src/generators/__snapshots__/updateItemUnionWithReadOnly.ts
Due: @kubb/plugin-zod

cleanup
  packages/core/src/fs/read.test.ts
Due: @kubb/core

cleanup
  packages/plugin-ts/src/generators/__snapshots__/BodyUploadFileApiAssetsPost/BodyUploadFileApiAssetsPost.ts
  packages/plugin-ts/src/generators/__snapshots__/CreatePetWithEmptySchemaTypeUnknown/createPetWithEmptySchemaTypeUnknown.ts
  packages/plugin-ts/src/generators/__snapshots__/CreatePetWithEmptySchemaTypeVoid/createPetWithEmptySchemaTypeVoid.ts
  packages/plugin-ts/src/generators/__snapshots__/CreatePetWithUnknownTypeUnknown/createPetWithUnknownTypeUnknown.ts
  packages/plugin-ts/src/generators/__snapshots__/CreatePetWithUnknownTypeVoid/createPetWithUnknownTypeVoid.ts
  packages/plugin-ts/src/generators/__snapshots__/EnumArray20/enum/Array.ts
  packages/plugin-ts/src/generators/__snapshots__/FindArtifactsWithMixedQueryParams/findArtifactsWithMixedQueryParams.ts
  packages/plugin-ts/src/generators/__snapshots__/PlainDateDate/PlainDate.ts
  packages/plugin-ts/src/generators/__snapshots__/PlainDateString/PlainDate.ts
  packages/plugin-ts/src/generators/__snapshots__/PlainEmail/PlainEmail.ts
  packages/plugin-ts/src/generators/__snapshots__/PlainFile/PlainFile.ts
  packages/plugin-ts/src/generators/__snapshots__/PlainTimeDate/PlainTime.ts
  packages/plugin-ts/src/generators/__snapshots__/PlainUuid/PlainUuid.ts
  packages/plugin-ts/src/generators/__snapshots__/SystemsWithExplodeForm/systemsWithExplodeForm.ts
Due: @kubb/plugin-ts

use of " instead of '
  docs/builders/unplugin.md
  docs/examples/client.md
  docs/getting-started/configure.md
  docs/guide/claude.md
  docs/guide/generators.md
  docs/guide/resolvers.md
  docs/migration-guide.md
  docs/plugins/core/barrelTypes.md
  docs/plugins/plugin-client.md
  docs/plugins/plugin-client/dataReturnType.md
  docs/plugins/plugin-faker.md
  docs/plugins/plugin-react-query.md
  docs/plugins/plugin-solid-query.md
  docs/plugins/plugin-svelte-query.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-vue-query.md
  docs/plugins/plugin-zod.md
Due: none
