Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

Update tsdown to 0.19.0 and enable keepNames for DevTools compatibility (#2330)
  .changeset/update-tsdown-keepnames.md
  docs/changelog.md
  packages/cli/tsdown.config.ts
  packages/core/tsdown.config.ts
  packages/kubb/tsdown.config.ts
  packages/mcp/tsdown.config.ts
  packages/oas/tsdown.config.ts
  packages/plugin-client/tsdown.config.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-faker/tsdown.config.ts
  packages/plugin-mcp/tsdown.config.ts
  packages/plugin-msw/tsdown.config.ts
  packages/plugin-oas/tsdown.config.ts
  packages/plugin-react-query/tsdown.config.ts
  packages/plugin-redoc/tsdown.config.ts
  packages/plugin-solid-query/tsdown.config.ts
  packages/plugin-svelte-query/tsdown.config.ts
  packages/plugin-swr/tsdown.config.ts
  packages/plugin-ts/tsdown.config.ts
  packages/plugin-vue-query/tsdown.config.ts
  packages/plugin-zod/tsdown.config.ts
  packages/unplugin-kubb/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

cleanuip
  docs/changelog.md
Due: none

Update debugging helpers for react-fabric
  docs/knowledge-base/debugging.md
  examples/advanced/configs/kubb.config.ts
  examples/advanced/package.json
  examples/client/kubb.config.ts
  examples/client/package.json
  examples/faker/package.json
  examples/fetch/kubb.config.ts
  examples/generators/kubb.config.ts
  examples/generators/package.json
  examples/mcp/kubb.config.ts
  examples/react-query/package.json
  packages/core/package.json
  packages/mcp/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/kubb-petstore.config.js
  tests/e2e/kubb.config.js
Due: @kubb/core, @kubb/mcp, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

Update debugging.md
  docs/knowledge-base/debugging.md
Due: none

feat: add `clientType: staticClass` option
  docs/plugins/plugin-client/clientType.md
  packages/core/mocks/hellowWorld.js
  packages/plugin-client/src/components/StaticClassClient.tsx
  packages/plugin-client/src/generators/__snapshots__/static/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/static/Store.ts
  packages/plugin-client/src/generators/__snapshots__/static/User.ts
  packages/plugin-client/src/generators/index.ts
  packages/plugin-client/src/generators/staticClassClientGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-client/src/plugin.ts
  packages/plugin-client/src/types.ts
Due: @kubb/core, @kubb/plugin-client

docs: update more documentation
  docs/changelog.md
  docs/examples/client.md
  docs/migration-guide.md
  docs/plugins/plugin-client.md
Due: none

chore: add changeset
  .changeset/eager-clouds-study.md
Due: none

chore: address review comments
  docs/plugins/plugin-client.md
  packages/plugin-client/src/components/index.ts
Due: @kubb/plugin-client

Update debugging documentation for yarn and config
  docs/knowledge-base/debugging.md
Due: none

Update fabric
  examples/advanced/package.json
  examples/client/package.json
  examples/faker/package.json
  examples/generators/package.json
  examples/react-query/package.json
  packages/core/mocks/hellowWorld.js
  packages/core/package.json
  packages/mcp/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-oas/src/utils.tsx
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core, @kubb/mcp, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

Feature: Add support for static class client generation (#2333)
  .changeset/eager-clouds-study.md
  docs/changelog.md
  docs/examples/client.md
  docs/migration-guide.md
  docs/plugins/plugin-client.md
  docs/plugins/plugin-client/clientType.md
  packages/plugin-client/src/components/StaticClassClient.tsx
  packages/plugin-client/src/components/index.ts
  packages/plugin-client/src/generators/__snapshots__/static/Pet.ts
  packages/plugin-client/src/generators/__snapshots__/static/Store.ts
  packages/plugin-client/src/generators/__snapshots__/static/User.ts
  packages/plugin-client/src/generators/index.ts
  packages/plugin-client/src/generators/staticClassClientGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-client/src/plugin.ts
  packages/plugin-client/src/types.ts
Due: @kubb/plugin-client

ci(changesets): version packages
  .changeset/fix-self-referencing-types.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

[plugin-faker] Fix incorrect spreading of single refs in allOf schemas (#2339)
  .changeset/fix-allof-spreading.md
  docs/changelog.md
  examples/advanced/src/gen/mocks/createPetFaker.ts
  packages/plugin-faker/src/__snapshots__/parser.test.ts.snap
  packages/plugin-faker/src/components/Faker.tsx
  packages/plugin-faker/src/generators/__snapshots__/node.ts
  packages/plugin-faker/src/generators/__snapshots__/treeNode.ts
  packages/plugin-faker/src/parser.ts
  packages/plugin-oas/src/mocks/schemas.ts
  packages/plugin-ts/src/__snapshots__/parser.test.ts.snap
  packages/plugin-zod/src/__snapshots__/parser.test.ts.snap
Due: @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

ci(changesets): version packages
  .changeset/fix-allof-spreading.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

add readme symlink
  README.md
  packages/core/README.md
Due: @kubb/core

add readme symlink
  README.md
Due: none

add agent skills
  .github/skills/*
  .github/workflows/update-agents-skills.yml
  .skills/changelog/SKILL.md
Due: none

open pr for changes
  .github/workflows/update-agents-skills.yml
Due: none

open pr for changes
  .github/skills
  .github/workflows/update-agents-skills.yml
Due: none

chore(agents): update AGENTS.md
  AGENTS.md
Due: none

update agents
  .skills/changelog/SKILL.md
  .skills/coding-style/SKILL.md
  .skills/documentation/SKILL.md
  .skills/documentation/references/content-patterns.md
  .skills/documentation/references/writing-style.md
  AGENTS.md
  docs/AGENTS.md
Due: none

update agents
  AGENTS.md
Due: none

update agents
  .skills/changelog/SKILL.md
  .skills/coding-style/SKILL.md
  .skills/components-generators/SKILL.md
  .skills/documentation/SKILL.md
  .skills/plugin-architecture/SKILL.md
  .skills/pr/SKILL.md
  .skills/testing/SKILL.md
  AGENTS.md
Due: none

correct linking
  .skills/components-generators/SKILL.md
  .skills/plugin-architecture/SKILL.md
Due: none

correct linking
  AGENTS.md
Due: none

remove copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Agent skills (#2341)
  .github/copilot-instructions.md
  .github/skills
  .github/workflows/update-agents-skills.yml
  .skills/changelog/SKILL.md
  .skills/coding-style/SKILL.md
  .skills/components-generators/SKILL.md
  .skills/documentation/SKILL.md
  .skills/documentation/references/content-patterns.md
  .skills/documentation/references/writing-style.md
  .skills/plugin-architecture/SKILL.md
  .skills/pr/SKILL.md
  .skills/testing/SKILL.md
  AGENTS.md
  docs/AGENTS.md
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

Update branch name for pull request creation
  .github/workflows/update-agents-skills.yml
Due: none

feat: auto-generate examples with PR creation workflow (#2345)
  .github/workflows/pr.yml
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

revert
  .github/skills
Due: none
