Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

chore(studio): keep a run's output from its returned files
  packages/studio/src/operations/generate.ts
  packages/studio/src/operations/generationEvents.ts
  packages/studio/src/operations/generations.ts
  packages/studio/src/operations/resolveConfig.ts
  packages/studio/src/runtime/StudioSession.ts
Due: none

chore(plugin-barrel): exclude barrel:false outputs with isPathInside
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
Due: none

chore(studio): inline the studio hook context types
  packages/studio/src/operations/hooks.ts
Due: none

chore(parser-ts): keep node printers private and type print as ts.Node
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
Due: none

chore(plugin-barrel): pick the leaf strategy with a ternary
  packages/plugin-barrel/src/utils.ts
Due: none

chore(renderer-jsx): fold Runtime into jsxRenderer with one walker
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/components/File.test.tsx
  packages/renderer-jsx/src/components/js/Type.test.tsx
  packages/renderer-jsx/src/components/md/Callout.test.tsx
  packages/renderer-jsx/src/components/md/Frontmatter.test.tsx
  packages/renderer-jsx/src/components/md/Heading.test.tsx
  packages/renderer-jsx/src/components/md/List.test.tsx
  packages/renderer-jsx/src/constants.ts
  packages/renderer-jsx/src/index.ts
  packages/renderer-jsx/src/jsxRenderer.test.tsx
  packages/renderer-jsx/src/jsxRenderer.ts
  packages/renderer-jsx/src/jsxRenderer.tsx
Due: none

chore(plugin-barrel): trim barrel helpers and share walk params
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/types.ts
  packages/plugin-barrel/src/utils.ts
Due: none

chore(studio): share the literal predicate and config parse step
  packages/studio/src/operations/configFile.test.ts
  packages/studio/src/operations/configFile.ts
  packages/studio/src/operations/generations.ts
  packages/studio/src/operations/resolveConfig.ts
Due: none

chore(renderer-jsx): drop displayName and key props, spread host props
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/components/js/Const.tsx
  packages/renderer-jsx/src/components/js/Function.tsx
  packages/renderer-jsx/src/components/js/Type.tsx
  packages/renderer-jsx/src/components/jsx/Jsx.tsx
  packages/renderer-jsx/src/components/md/Callout.tsx
  packages/renderer-jsx/src/components/md/Frontmatter.tsx
  packages/renderer-jsx/src/components/md/Heading.tsx
  packages/renderer-jsx/src/components/md/List.tsx
  packages/renderer-jsx/src/components/md/Paragraph.tsx
Due: none

chore(parser-ts): load TypeScript on the first print or copy
  packages/parser-ts/src/utils.ts
Due: none

chore(plugin-barrel): depend on @kubb/kit only
  packages/plugin-barrel/package.json
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/types.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
  pnpm-lock.yaml
Due: none

chore(ast): derive schema type unions and share small helpers
  packages/ast/src/createPrinter.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/optionality.ts
  packages/ast/src/utils/extractStringsFromNodes.ts
Due: none

chore(parser-ts): add changeset for the printer cleanup
  .changeset/parser-ts-printers.md
Due: none

chore(renderer-jsx): alias JSDoc to ast.JSDocNode and prune JSX namespace
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/renderer-jsx/src/types.ts
Due: none

chore(plugin-barrel): report an escaping output path as a diagnostic
  .changeset/plugin-barrel-layers.md
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/plugin.ts
Due: none

chore(ast): fold the utils barrel into exports.ts
  packages/ast/src/exports.ts
  packages/ast/src/utils/index.ts
Due: none

chore(renderer-jsx): build jsx-dev-runtime from jsx-runtime.ts
  packages/renderer-jsx/src/jsx-dev-runtime.ts
  packages/renderer-jsx/tsdown.config.ts
Due: none

chore(renderer-jsx): add changeset for the walker cleanup
  .changeset/renderer-jsx-walker.md
Due: none

chore(ast): export mergeRefWithSchema for ref metadata merging
  .changeset/ast-internal-dedupe.md
  packages/ast/src/exports.ts
  packages/ast/src/utils/refs.ts
Due: none

chore(studio): bracket Studio commands through one helper
  packages/studio/src/runtime/StudioSession.ts
Due: none

fix(core): settle runHook on listener errors and emit one success per pass
  packages/core/src/output/runHook.test.ts
  packages/core/src/output/runHook.ts
  packages/core/src/output/runOutputPasses.test.ts
  packages/core/src/output/runOutputPasses.ts
Due: @kubb/core

chore(studio): stop exporting internals with no importer
  packages/studio/src/operations/generate.ts
  packages/studio/src/operations/generations.ts
  packages/studio/src/runtime/StudioSession.ts
  packages/studio/src/runtime/runConnection.ts
Due: none

chore(studio): add the internal dedupe changeset
  .changeset/studio-internal-dedupe.md
Due: none

test(core): shorten the comments on the shared test helpers
  packages/core/src/createKubb.test.ts
  packages/core/src/createStorage.test.ts
  packages/core/src/input.test.ts
  packages/core/src/outputManifest.test.ts
  packages/core/src/storages/fsStorage.test.ts
  packages/core/src/storages/memoryStorage.test.ts
Due: @kubb/core

chore(cli): dissolve loggers/utils into createLogger and reporters
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/generation.test.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/reporters.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.ts
Due: @kubb/cli

chore(cli): make Logger the install function and share SYMBOLS
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/generation.test.ts
  packages/cli/src/loggers/output.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/reporters.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.ts
Due: @kubb/cli

test(adapter-oas): merge per-format and per-type cases into tables
  packages/adapter-oas/src/emit/discriminator/propagate.test.ts
  packages/adapter-oas/src/emit/schemaShape.test.ts
  packages/adapter-oas/src/load/normalize.test.ts
  packages/adapter-oas/src/load/source.test.ts
  packages/adapter-oas/src/model/components.test.ts
  packages/adapter-oas/src/model/server.test.ts
  packages/adapter-oas/src/oas.test.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/refs.test.ts
Due: none

test(adapter-oas): parse whole-spec cases through adapterOas
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/emit/converters/annotatedEnum.test.ts
  packages/adapter-oas/src/emit/discriminator/preserve.test.ts
  packages/adapter-oas/src/parser.test.ts
Due: none

chore(studio): shorten the doc comments on the new helpers
  packages/studio/src/operations/generationEvents.ts
  packages/studio/src/operations/resolveConfig.ts
Due: none

chore(renderer-jsx): shorten the walker comments
  packages/renderer-jsx/src/jsxRenderer.ts
Due: none

chore(cli): load every command the same way and merge studio runners
  packages/cli/src/commands/mcp.ts
  packages/cli/src/commands/shared.ts
  packages/cli/src/commands/studio/background.ts
  packages/cli/src/commands/studio/connect.ts
  packages/cli/src/commands/studio/index.ts
  packages/cli/src/commands/studio/login.ts
  packages/cli/src/commands/studio/logout.ts
  packages/cli/src/commands/studio/snapshot.ts
  packages/cli/src/commands/studio/status.ts
  packages/cli/src/commands/validate.test.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/mcp/run.ts
  packages/cli/src/runners/studio/commands.ts
  packages/cli/src/runners/studio/connect.ts
  packages/cli/src/runners/studio/login.ts
  packages/cli/src/runners/studio/logout.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/cli/src/runners/studio/start.ts
  packages/cli/src/runners/studio/status.ts
  packages/cli/src/runners/studio/stop.ts
  packages/cli/src/runners/validate/run.test.ts
  packages/cli/src/runners/validate/run.ts
Due: @kubb/cli

chore(core): drop the fsStorage write limiter and use exists()
  packages/core/src/storages/fsStorage.ts
Due: @kubb/core

chore(kit): reuse ast mergeRefWithSchema in syncSchemaRef
  packages/kit/src/utils/refs.test.ts
  packages/kit/src/utils/refs.ts
Due: none

chore(cli): add trackRun and co-locate tools, dry-run type, constants
  packages/cli/src/Telemetry.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/shared.ts
  packages/cli/src/constants.ts
  packages/cli/src/gunshiDryRun.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/init/run.ts
  packages/cli/src/runners/init/utils.test.ts
  packages/cli/src/runners/init/utils.ts
  packages/cli/src/runners/mcp/run.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/validate/run.ts
  packages/cli/src/tools.test.ts
  packages/cli/src/tools.ts
Due: @kubb/cli

chore(studio): replace ofetch with the global fetch
  packages/studio/package.json
  packages/studio/src/operations/api.ts
  packages/studio/src/operations/pair.ts
  packages/studio/src/operations/request.ts
  pnpm-lock.yaml
Due: none

chore(kit): check circular refs with the memoized ast collector
  packages/ast/src/exports.ts
  packages/ast/src/utils/schemaGraph.test.ts
  packages/ast/src/utils/schemaGraph.ts
  packages/kit/src/utils/schemaGraph.ts
Due: none

chore(kit): drop the macros and utils barrels
  packages/kit/src/index.ts
  packages/kit/src/macros/index.ts
  packages/kit/src/utils/index.ts
Due: none

chore(core): fold single-caller KubbDriver helpers
  packages/core/src/KubbDriver.ts
Due: @kubb/core

test(studio): restore the registration retry, secret format and export name cases
  packages/studio/src/operations/api.test.ts
  packages/studio/src/operations/configFile.test.ts
  packages/studio/src/operations/machine.test.ts
  packages/studio/src/operations/resolveConfig.test.ts
Due: none

test(ast): restore the inference, printer type and node default cases
  packages/ast/src/createPrinter.test.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/infer.test.ts
  packages/ast/src/nodes/operation.test.ts
  packages/ast/src/nodes/parameter.test.ts
  packages/ast/src/utils/schemaGraph.test.ts
Due: none
