Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

refactor(core): collapse parallel generate batches into a single ordered pass
  .changeset/core-simplify-generate-dispatch.md
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
Due: @kubb/core

refactor(core): drop redundant operations buffer and dedupe dispatch type
  .changeset/core-simplify-generate-dispatch.md
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

update packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor(ast): prune unused @kubb/ast/utils barrel re-exports
  .changeset/ast-prune-unused-utils-exports.md
  packages/ast/src/utils/index.ts
  packages/parser-md/src/utils.ts
  packages/renderer-jsx/src/components/Callout.tsx
Due: none

feat(core): deprecate defineConfig from @kubb/core in favor of kubb
  .changeset/deprecate-core-define-config.md
  packages/core/src/config.ts
  packages/kubb/src/defineConfig.ts
  packages/kubb/src/index.ts
Due: @kubb/core, kubb

feat(ast): accept a binding-pattern name in createFunctionParameter
  .changeset/ast-function-parameter-binding-name.md
  packages/ast/src/nodes/function.ts
Due: none

feat: add @deprecated v5 migration warnings across core and plugins
  .changeset/deprecate-core-define-config.md
  packages/core/src/types.ts
  packages/plugin-client/src/types.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-faker/src/types.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-msw/src/types.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-react-query/src/types.ts
  packages/plugin-solid-query/src/plugin.ts
  packages/plugin-solid-query/src/types.ts
  packages/plugin-svelte-query/src/plugin.ts
  packages/plugin-svelte-query/src/types.ts
  packages/plugin-swr/src/types.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-vue-query/src/types.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

docs: reword v5 @deprecated messages to describe v5, not prescribe v4-unusable syntax
  packages/core/src/types.ts
  packages/plugin-client/src/types.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-faker/src/types.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-msw/src/types.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-react-query/src/types.ts
  packages/plugin-swr/src/types.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-vue-query/src/types.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

feat(core): add output.barrel object and trim v5-only deprecations
  .changeset/deprecate-core-define-config.md
  packages/core/src/build.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/getBarrelFiles.ts
  packages/core/src/utils/resolveBarrelType.test.ts
  packages/core/src/utils/resolveBarrelType.ts
  packages/plugin-client/src/plugin.ts
  packages/plugin-client/src/types.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-faker/src/plugin.ts
  packages/plugin-faker/src/types.ts
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-msw/src/plugin.ts
  packages/plugin-msw/src/types.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-react-query/src/plugin.ts
  packages/plugin-react-query/src/types.ts
  packages/plugin-solid-query/src/plugin.ts
  packages/plugin-svelte-query/src/plugin.ts
  packages/plugin-swr/src/plugin.ts
  packages/plugin-swr/src/types.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-vue-query/src/plugin.ts
  packages/plugin-vue-query/src/types.ts
  packages/plugin-zod/src/plugin.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

docs: name the v5-aligned value in removed-option deprecations
  .changeset/deprecate-core-define-config.md
  packages/plugin-client/src/types.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-faker/src/types.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-react-query/src/types.ts
  packages/plugin-swr/src/types.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-vue-query/src/types.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-react-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

docs(changeset): humanize wording and fix orphaned list item
  .changeset/deprecate-core-define-config.md
Due: none

feat(ast): add expression and type intermediate representations
  packages/ast/src/exports.ts
  packages/ast/src/factory.ts
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/code.ts
  packages/ast/src/nodes/expression.test.ts
  packages/ast/src/nodes/expression.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/type.test.ts
  packages/ast/src/nodes/type.ts
  packages/ast/src/registry.ts
  packages/ast/src/utils/extractStringsFromNodes.test.ts
  packages/ast/src/utils/extractStringsFromNodes.ts
Due: none

feat(parser-ts): serialize the expression and type IR
  .changeset/ast-expression-and-type-ir.md
  packages/parser-md/src/parserMd.test.ts
  packages/parser-ts/package.json
  packages/parser-ts/src/index.ts
  packages/parser-ts/src/typeFactory.test.ts
  packages/parser-ts/src/typeFactory.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
  pnpm-lock.yaml
Due: none

docs: humanize the changeset and IR doc comments
  .changeset/ast-expression-and-type-ir.md
  packages/ast/src/nodes/expression.ts
  packages/ast/src/nodes/type.ts
  packages/parser-ts/src/typeFactory.test.ts
Due: none

refactor(ast): remove the TypeScript function-parameter model
  .changeset/remove-function-params-from-ast.md
  packages/ast/src/factory.ts
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/function.test.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/registry.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/operationParams.test.ts
  packages/ast/src/utils/operationParams.ts
  packages/ast/src/utils/refs.ts
Due: none

refactor: replace plugin-client references with plugin-axios and plugin-fetch
  .changeset/banner-per-file-context.md
  codecov.yml
  internals/shared/src/constants.ts
  packages/ast/src/utils/fileMerge.test.ts
  packages/cli/README.md
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/commands/init.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/definePlugin.test.ts
  packages/kubb/README.md
  packages/mcp/README.md
  packages/parser-ts/src/utils.test.ts
  tools/claude/agents/kubb-expert.md
  tools/claude/commands/init.md
  tools/claude/skills/config/SKILL.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp

chore: add changeset for the init plugin-axios/plugin-fetch scaffolding
  .changeset/init-axios-fetch-plugins.md
Due: none

fix(adapter-oas): close tuples when prefixItems has items: false
  .changeset/fix-tuple-items-false-closed.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
Due: none

fix(plugin-oas): close tuples when prefixItems has items: false
  .changeset/fix-tuple-items-false-closed.md
  packages/plugin-oas/src/SchemaGenerator.test.ts
  packages/plugin-oas/src/SchemaGenerator.ts
Due: @kubb/plugin-oas

chore: update codecov component list and fix duplicate keys
  codecov.yml
Due: none

upate packages
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

docs(changeset): forbid @internals packages in changeset frontmatter
  .claude/commands/changeset.md
Due: none

update packages
  packages/cli/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, unplugin-kubb

cleanup
  internals/utils/src/cli/createCLI.test.ts
  internals/utils/src/cli/createCLI.ts
  internals/utils/src/cli/runCLI.test.ts
  internals/utils/src/cli/runCLI.ts
  internals/utils/src/index.ts
  licenses/LICENSE-MIT
  packages/ast/src/constants.ts
  packages/cli/README.md
  packages/cli/src/index.ts
  packages/core/package.json
  packages/kubb/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/README.md
  packages/plugin-barrel/package.json
  packages/renderer-jsx/README.md
  packages/renderer-jsx/package.json
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/unplugin-kubb/README.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, unplugin-kubb

cleanup
  internals/shared/src/loader.ts
  internals/utils/src/buildTree.ts
  internals/utils/src/colors.ts
  internals/utils/src/index.ts
  internals/utils/src/object.ts
  internals/utils/src/tools.ts
Due: none

test(unplugin-kubb): cover rolldown subpackage and nuxt plugin registration
  packages/unplugin-kubb/src/unpluginFactory.test.ts
Due: unplugin-kubb

feat(core): let addGenerator register multiple generators in one call
  .changeset/add-generator-array-to-add-generator.md
  packages/core/src/KubbDriver.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

chore: format and lint fixes
  internals/shared/src/loader.ts
Due: none

fix(plugin-zod): wrap nullable allOf members instead of intersecting them
  .changeset/fix-zod-nullable-allof.md
  packages/plugin-zod/mocks/nullableAllOf.yaml
  packages/plugin-zod/src/generators/nullableAllOf.test.tsx
  packages/plugin-zod/src/parser.ts
Due: @kubb/plugin-zod

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
