Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

run on all pull_request
  .github/workflows/autofix.yml
  .github/workflows/pr.yml
Due: none

e2e issues
  tests/e2e/TYPECHECK_ISSUES.md
Due: none

resolve e2e issues
  internals/utils/src/casing.ts
  packages/plugin-oas/src/hooks/useOperationManager.ts
  packages/plugin-ts/src/components/Enum.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/printer.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/Variant.ts
  tests/3.0.x/__snapshots__/discriminatorAllOf/types/ExtendedPaymentMethodUnion.ts
  tests/3.0.x/__snapshots__/discriminatorAllOf/types/PaymentMethodMapped.ts
  tests/3.0.x/__snapshots__/discriminatorAnyOf/types/ElectricCar.ts
  tests/3.0.x/__snapshots__/discriminatorAnyOf/types/SUV.ts
  tests/3.0.x/__snapshots__/discriminatorAnyOf/types/Sedan.ts
  tests/3.0.x/__snapshots__/discriminatorAnyOf/types/index.ts
  tests/3.0.x/__snapshots__/discriminatorOneOf/types/ElectricCar.ts
  tests/3.0.x/__snapshots__/discriminatorOneOf/types/SUV.ts
  tests/3.0.x/__snapshots__/discriminatorOneOf/types/Sedan.ts
  tests/3.0.x/__snapshots__/duplicateEnum/types/NotificationTypeA.ts
  tests/3.0.x/__snapshots__/duplicateEnum/types/NotificationTypeB.ts
  tests/3.0.x/__snapshots__/petStore/types/AddPetRequest.ts
  tests/3.0.x/__snapshots__/petStore/types/FindPetsByStatus.ts
  tests/3.0.x/__snapshots__/petStore/types/Order.ts
  tests/3.0.x/__snapshots__/petStore/types/Pet.ts
  tests/3.0.x/__snapshots__/simple/types/AddPetRequest.ts
  tests/3.0.x/__snapshots__/simple/types/FindPetsByStatus.ts
  tests/3.0.x/__snapshots__/simple/types/Order.ts
  tests/3.0.x/__snapshots__/simple/types/Pet.ts
  tests/e2e/TYPECHECK_ISSUES.md
Due: @kubb/plugin-oas, @kubb/plugin-ts

format
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsConst/enumNames.Type.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNamesTypeAsPascalConst/enumNames.Type.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyDeletePetWithResponseEnumArray/deletePet.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyFindPetsByStatusWithQueryParamEnum/findPetsByStatus.ts
Due: @kubb/plugin-ts

add test cases
  internals/utils/src/casing.test.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/printer.test.ts
  schemas/3.0.x/allOfRefOverride.yaml
  schemas/3.0.x/asConstEnum.yaml
  schemas/3.0.x/circularDiscriminator.yaml
  schemas/3.0.x/noTagsDotOperationId.yaml
  tests/3.0.x/__snapshots__/allOfRefOverride/types/CreateTestRequest.ts
  tests/3.0.x/__snapshots__/allOfRefOverride/types/TestContent.ts
  tests/3.0.x/__snapshots__/allOfRefOverride/types/TestName.ts
  tests/3.0.x/__snapshots__/asConstEnum/types/Priority.ts
  tests/3.0.x/__snapshots__/asConstEnum/types/Status.ts
  tests/3.0.x/__snapshots__/asConstEnum/types/Task.ts
  tests/3.0.x/__snapshots__/circularDiscriminator/types/DisconnectedProblem.ts
  tests/3.0.x/__snapshots__/circularDiscriminator/types/ForbiddenProblem.ts
  tests/3.0.x/__snapshots__/circularDiscriminator/types/GenericProblem.ts
  tests/3.0.x/__snapshots__/circularDiscriminator/types/Problem.ts
  tests/3.0.x/__snapshots__/noTagsDotOperationId/types/Config.ts
  tests/3.0.x/__snapshots__/noTagsDotOperationId/types/ConfigCreate.ts
  tests/3.0.x/__snapshots__/noTagsDotOperationId/types/defaultController/CreateConfigV20250.ts
  tests/3.0.x/__snapshots__/noTagsDotOperationId/types/defaultController/GetConfigIdV20250.ts
  tests/3.0.x/main.test.ts
  tests/e2e/package.json
Due: @kubb/plugin-ts

cleanup
  cspell.json
  tests/e2e/kubb.config.js
Due: none

chore(examples): update generated files
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

support atlassian
  packages/plugin-zod/src/parser.ts
  tests/e2e/kubb.config.js
Due: @kubb/plugin-zod

small update for docs
  docs/config.json
  docs/guide/oas.md
  docs/guide/openapi-support.md
Due: none

chore(examples): update generated files
  examples/mcp/src/gen/mcp/.mcp.json
  examples/simple-single/src/gen/zod.ts
  examples/zod/src/gen/zod/findPetsByStatusSchema.ts
Due: none

cleanup for zod default
  examples/advanced/src/gen/mcp/.mcp.json
  packages/plugin-zod/src/parser.ts
Due: @kubb/plugin-zod

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

cspell fix
  cspell.json
Due: none

docs: update changelog for v5.0.0-alpha.12
  docs/changelog.md
Due: none

docs: update changelog for v4.36.2
  docs/changelog.md
Due: none

Clean up changelog by removing extra lines
  docs/changelog.md
Due: none

use of resolver.ts
  packages/plugin-ts/src/generators/utils.test.ts
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/printer.test.ts
  packages/plugin-ts/src/resolver.ts
Due: @kubb/plugin-ts

fix docs
  docs/plugins/plugin-ts.md
Due: none

Update kubb.config.js
  tests/e2e/kubb.config.js
Due: none

comparison document
  v4-v5-comparison.md
Due: none

legacy changes to support v4 output in v5
  packages/adapter-oas/src/parser.ts
  packages/ast/src/nodes/operation.ts
  packages/plugin-ts/src/components/Enum.tsx
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

update packages
  packages/agent/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

add changeset
  .changeset/fiery-states-glow.md
Due: none

update markdown
  v4-v5-comparison.md
Due: none

update fix/v5-legacy-comparison
  v4-v5-comparison.md
Due: none

update fixes
  packages/adapter-oas/src/parser.ts
  packages/ast/src/nodes/schema.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/utils.ts
  packages/plugin-ts/src/printer.ts
  v4-v5-comparison.md
Due: @kubb/plugin-ts

update v4
  v4-v5-comparison.md
Due: none

resolve last issues
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/plugin-ts/src/generators/utils.ts
  packages/plugin-ts/src/printer.ts
  v4-v5-comparison.md
Due: @kubb/plugin-ts

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
