Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

ci(changesets): version packages
  .changeset/lovely-streets-judge.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/mocks/helloWorld.js
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

upgrade packages
  examples/advanced/package.json
  examples/client/package.json
  examples/generators/package.json
  examples/mcp/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  examples/svelte-query/package.json
  examples/swr/package.json
  examples/typescript/package.json
  examples/vue-query/package.json
  examples/zod/package.json
  packages/plugin-client/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Due: @kubb/plugin-client

update packages
  package.json
  pnpm-lock.yaml
Due: none

test(faker): update pet
  packages/plugin-faker/mocks/petStore.yaml
  packages/plugin-faker/src/generators/__snapshots__/updatePet.ts
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
Due: @kubb/plugin-faker

Update output message from 'Hello' to 'Goodbye'
  docs/public/feature/faker.svg
Due: none

remove index.md
  docs/index.md
  package.json
  pnpm-lock.yaml
Due: none

add plugins overview
  docs/config.json
  docs/plugins.md
  examples/advanced/package.json
  examples/advanced/src/gen/mcp/.mcp.json
  examples/client/package.json
  examples/faker/package.json
  examples/generators/package.json
  examples/mcp/src/gen/mcp/.mcp.json
  examples/react-query/package.json
  packages/cli/package.json
  packages/core/mocks/helloWorld.js
  packages/core/package.json
  packages/mcp/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli, @kubb/core, @kubb/mcp, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

ci(changesets): version packages
  .changeset/lovely-streets-judge.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

feat: cli init script
  .changeset/friendly-doors-study.md
  docs/changelog.md
  docs/getting-started/installation.md
  docs/getting-started/introduction.md
  docs/getting-started/quick-start.md
  docs/helpers/cli.md
  packages/cli/README.md
  packages/cli/src/commands/init.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/packageManager.test.ts
  packages/cli/src/utils/packageManager.ts
  packages/core/README.md
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

update pack
  packages/core/mocks/helloWorld.js
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/core, unplugin-kubb

remove about
  docs/about.md
Due: none

SEO skill
  .skills/documentation/SKILL.md
  .skills/documentation/references/seo-optimization.md
Due: none

chore(agents): update AGENTS.md
  AGENTS.md
Due: none

SEO fixes
  docs/guide/best-practices.md
Due: none

SEO fixes
  docs/guide/fileManager.md
Due: none

SEO fixes
  docs/plugins.md
Due: none

SEO fixes
  docs/plugins/core.md
Due: none

spell check
  .github/workflows/pr.yml
Due: none

Delete packages/plugin-oas/src/utils/getComments.integration.test.ts
  packages/plugin-oas/src/utils/getComments.integration.test.ts
Due: @kubb/plugin-oas

Update changelog.md
  docs/changelog.md
Due: none

feat resolvers
  packages/core/src/types.ts
  packages/plugin-oas/src/hooks/index.ts
  packages/plugin-oas/src/hooks/useResolve.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/resolvers/createResolver.test.ts
  packages/plugin-oas/src/resolvers/createResolver.ts
  packages/plugin-oas/src/resolvers/index.ts
  packages/plugin-oas/src/resolvers/types.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/resolver.ts
  packages/plugin-ts/src/resolverTypes.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

ci(changesets): version packages
  .changeset/fix-line-breaks-jsdoc.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/oas/CHANGELOG.md
  packages/oas/package.json
  packages/plugin-client/CHANGELOG.md
  packages/plugin-client/package.json
  packages/plugin-cypress/CHANGELOG.md
  packages/plugin-cypress/package.json
  packages/plugin-faker/CHANGELOG.md
  packages/plugin-faker/package.json
  packages/plugin-mcp/CHANGELOG.md
  packages/plugin-mcp/package.json
  packages/plugin-msw/CHANGELOG.md
  packages/plugin-msw/package.json
  packages/plugin-oas/CHANGELOG.md
  packages/plugin-oas/package.json
  packages/plugin-react-query/CHANGELOG.md
  packages/plugin-react-query/package.json
  packages/plugin-redoc/CHANGELOG.md
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/CHANGELOG.md
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/CHANGELOG.md
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/CHANGELOG.md
  packages/plugin-swr/package.json
  packages/plugin-ts/CHANGELOG.md
  packages/plugin-ts/package.json
  packages/plugin-vue-query/CHANGELOG.md
  packages/plugin-vue-query/package.json
  packages/plugin-zod/CHANGELOG.md
  packages/plugin-zod/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

resolve generation
  docs/architecture/resolver-architecture.md
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  packages/core/src/types.ts
  packages/plugin-oas/src/resolvers/createResolver.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/resolver.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

resolve generation
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/resolver.ts
Due: @kubb/plugin-ts

cleanup
  examples/msw/src/gen/mocks/createCategory.ts
  examples/msw/src/gen/models/GetOrderById.ts
  examples/msw/src/gen/models/UpdatePetWithForm.ts
  examples/svelte-query/src/gen/hooks/createAddPet.ts
  examples/svelte-query/src/gen/hooks/createGetPetById.ts
  examples/svelte-query/src/gen/hooks/createGetUserByName.ts
  examples/svelte-query/src/gen/hooks/createUpdatePet.ts
  examples/svelte-query/src/gen/models/AddPetRequest.ts
  examples/svelte-query/src/gen/models/ApiResponse.ts
  examples/svelte-query/src/gen/models/DeleteOrder.ts
  examples/svelte-query/src/gen/models/DeleteUser.ts
  examples/svelte-query/src/gen/models/FindPetsByTags.ts
  examples/svelte-query/src/gen/models/GetInventory.ts
  examples/svelte-query/src/gen/models/GetOrderById.ts
  examples/svelte-query/src/gen/models/GetUserByName.ts
  examples/svelte-query/src/gen/models/LogoutUser.ts
  examples/svelte-query/src/gen/models/PetNotFound.ts
  examples/svelte-query/src/gen/models/PlaceOrderPatch.ts
  examples/svelte-query/src/gen/models/UpdateUser.ts
  packages/plugin-ts/src/index.ts
Due: @kubb/plugin-ts

cleanup
  examples/msw/src/gen/mocks/createCategory.ts
  examples/msw/src/gen/models/GetOrderById.ts
  examples/msw/src/gen/models/UpdatePetWithForm.ts
  examples/svelte-query/src/gen/hooks/createAddPet.ts
  examples/svelte-query/src/gen/hooks/createGetPetById.ts
  examples/svelte-query/src/gen/hooks/createGetUserByName.ts
  examples/svelte-query/src/gen/hooks/createUpdatePet.ts
  examples/svelte-query/src/gen/models/AddPetRequest.ts
  examples/svelte-query/src/gen/models/ApiResponse.ts
  examples/svelte-query/src/gen/models/DeleteOrder.ts
  examples/svelte-query/src/gen/models/DeleteUser.ts
  examples/svelte-query/src/gen/models/FindPetsByTags.ts
  examples/svelte-query/src/gen/models/GetInventory.ts
  examples/svelte-query/src/gen/models/GetOrderById.ts
  examples/svelte-query/src/gen/models/GetUserByName.ts
  examples/svelte-query/src/gen/models/LogoutUser.ts
  examples/svelte-query/src/gen/models/PetNotFound.ts
  examples/svelte-query/src/gen/models/PlaceOrderPatch.ts
  examples/svelte-query/src/gen/models/UpdateUser.ts
Due: none

cleanup
  packages/core/mocks/helloWorld.js
  packages/plugin-oas/src/hooks/useResolve.ts
  packages/plugin-oas/src/hooks/useSchemaManager.ts
  packages/plugin-oas/src/resolvers/createResolver.ts
  packages/plugin-oas/src/resolvers/types.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/resolver.ts
  packages/plugin-ts/src/resolverTypes.ts
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

add createResolve like createGenerator
  packages/plugin-oas/package.json
  packages/plugin-oas/src/hooks/index.ts
  packages/plugin-oas/src/hooks/useResolve.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/resolvers/createResolver.test.ts
  packages/plugin-oas/src/resolvers/createResolver.ts
  packages/plugin-oas/src/resolvers/index.ts
  packages/plugin-oas/src/resolvers/types.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/tsdown.config.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/resolver.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

add docs
  docs/architecture/resolver-expansion-plan.md
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/plugin-ts

update
  packages/plugin-oas/src/hooks/useResolve.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/resolver.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

Delete cleanup.yml
  .github/workflows/cleanup.yml
Due: none

Delete release-comment-manual.yml
  .github/workflows/release-comment-manual.yml
Due: none
