Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

docs: update barrel config references in core and agent packages
  packages/agent/server/plugins/studio.test.ts
  packages/core/src/Kubb.ts
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

Fix #3172 faker infinite recursion (#3191)
  .changeset/fix-faker-mutual-recursion.md
  packages/plugin-faker/mocks/mutualRecursion.yaml
  packages/plugin-faker/mocks/recursive.yaml
  packages/plugin-faker/src/__snapshots__/parser.test.ts.snap
  packages/plugin-faker/src/components/Faker.tsx
  packages/plugin-faker/src/generators/__snapshots__/mutualRecursionCat.ts
  packages/plugin-faker/src/generators/__snapshots__/mutualRecursionDog.ts
  packages/plugin-faker/src/generators/__snapshots__/mutualRecursionPet.ts
  packages/plugin-faker/src/generators/__snapshots__/recursiveExample.ts
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-faker/src/parser.test.ts
  packages/plugin-faker/src/parser.ts
Due: @kubb/plugin-faker

fix(docs): resolve 403 on /plugins/plugin-client/ by moving to index.md (#3204)
  docs/plugins/plugin-client/index.md
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/mocks/createAddPetRequestFaker.ts
  examples/advanced/src/gen/mocks/createCustomerFaker.ts
  examples/advanced/src/gen/mocks/createDogFaker.ts
  examples/advanced/src/gen/mocks/createPetFaker.ts
  examples/advanced/src/gen/mocks/createUserFaker.ts
  examples/faker/src/gen/faker/createCustomer.ts
  examples/faker/src/gen/faker/createPet.ts
  examples/faker/src/gen/tag/createCustomer.ts
  examples/faker/src/gen/tag/createPet.ts
  examples/msw/src/gen/mocks/createAddPetRequest.ts
  examples/msw/src/gen/mocks/createCustomer.ts
  examples/msw/src/gen/mocks/createPet.ts
  packages/plugin-faker/src/parser.test.ts
  packages/plugin-faker/src/parser.ts
Due: @kubb/plugin-faker

fix: correct include paths in docs/plugins/plugin-client/index.md (#3206)
  docs/plugins/plugin-client/index.md
Due: none

chore: format and lint fixes
  packages/ast/src/utils.test.ts
Due: none

[adapter-oas] set integerType default to 'bigint' (#3209)
  .changeset/adapter-oas-integer-type-bigint-default.md
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/parser.test.ts
Due: none

Refactor changelog package handling and functions
  internals/changelog/index.mjs
Due: none

fix(ast): check import alias in combineImports tree-shake filter
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
Due: none

chore: add changeset for aliased import tree-shake fix
  .changeset/fix-faker-import-alias-treeshake.md
Due: none

fix(ast): check import alias in combineImports tree-shake filter (#3212)
  .changeset/fix-faker-import-alias-treeshake.md
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
Due: none

Copy content from packages/core/README.md to packages/kubb/README.md and update root symlink
  README.md
  packages/kubb/README.md
Due: kubb

Update README.md
  packages/kubb/README.md
Due: kubb

Copy content from packages/core/README.md to packages/kubb/README.md and update root symlink (#3214)
  README.md
  packages/kubb/README.md
Due: kubb

update packages
  packages/kubb/package.json
  packages/mcp/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: kubb, @kubb/mcp, unplugin-kubb

chore(kubb): move @kubb/agent and @kubb/mcp to optional peer deps
  .changeset/reduce-kubb-install-size.md
  packages/cli/package.json
  packages/kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, kubb

feat(cli): improve error messages for missing optional peer deps
  packages/cli/src/runners/agent.ts
  packages/cli/src/runners/mcp.ts
Due: @kubb/cli

docs: add install size optimization research analysis
  docs/INSTALL_SIZE_OPTIMIZATION_RESEARCH.md
Due: none

docs: add @stoplight/spectral-core and @scalar/openapi-parser analysis
  docs/INSTALL_SIZE_OPTIMIZATION_RESEARCH.md
Due: none

docs: clarify remote $ref support requirement
  docs/INSTALL_SIZE_OPTIMIZATION_RESEARCH.md
Due: none

Delete docs/INSTALL_SIZE_OPTIMIZATION_RESEARCH.md
  docs/INSTALL_SIZE_OPTIMIZATION_RESEARCH.md
Due: none

chore(kubb): move @kubb/agent and @kubb/mcp to optional peer deps (#3215)
  .changeset/reduce-kubb-install-size.md
  packages/cli/package.json
  packages/cli/src/runners/agent.ts
  packages/cli/src/runners/mcp.ts
  packages/kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, kubb

[ast] Fix Set-based deduplication for object import names in combineImports (#3217)
  .changeset/fix-combine-imports-object-name-dedup.md
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
Due: none

Update CLAUDE.md with accurate folder structure and high-level architecture
  AGENTS.md
Due: none

Update CLAUDE.md title back to AGENTS.md
  AGENTS.md
Due: none

Update CLAUDE.md with accurate folder structure and architecture (#3219)
  AGENTS.md
Due: none

docs: add kubb v5 agent migration plan for studio support
  docs/architecture/kubb-v5-agent.md
Due: none

docs: expand agent plan with v5 config format, adapter, middleware, and plugin options
  docs/architecture/kubb-v5-agent.md
Due: none

docs: add generic agent design section to kubb-v5-agent plan
  docs/architecture/kubb-v5-agent.md
Due: none

docs: add ADR-0002 for generic agent plugin/adapter design
  docs/architecture/adr/0002_generic_agent_plugins_adapters.md
  docs/architecture/adr/README.md
  docs/architecture/kubb-v5-agent.md
Due: none

docs: expand ADR-0002 to cover AI agent deployment and security model
  docs/architecture/adr/0002_generic_agent_plugins_adapters.md
  docs/architecture/adr/0002_kubb_agent.md
  docs/architecture/adr/README.md
  docs/architecture/kubb-v5-agent.md
Due: none

docs: rewrite ADR-0002 around the real agent <-> Studio protocol
  docs/architecture/adr/0002_kubb_agent.md
  docs/architecture/adr/README.md
  docs/architecture/kubb-v5-agent.md
Due: none
