Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

cleanup
  packages/ast/src/nodes/input.ts
Due: none

cleanup
  packages/ast/src/constants.ts
  packages/ast/src/dedupe.ts
  packages/ast/src/factory.test.ts
  packages/ast/src/macros/macroDiscriminatorEnum.ts
  packages/ast/src/macros/macroEnumName.ts
  packages/ast/src/macros/macroSimplifyUnion.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/utils/operationParams.test.ts
  packages/ast/src/utils/operationParams.ts
Due: none

cleanup vistorKey
  packages/ast/src/defineMacro.ts
  packages/ast/src/macros/macroSimplifyUnion.ts
  packages/ast/src/node.ts
Due: none

enforce type
  packages/ast/src/defineMacro.ts
  packages/ast/src/index.ts
  packages/ast/src/types.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

add optionality to dialect
  packages/adapter-oas/src/dialect.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/dedupe.test.ts
  packages/ast/src/defineMacro.ts
  packages/ast/src/dialect.ts
  packages/ast/src/index.ts
  packages/ast/src/node.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
Due: none

cleanup dialect concept
  packages/adapter-oas/src/dialect.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/dialect.ts
  packages/ast/src/index.ts
  packages/ast/src/node.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/types.ts
Due: none

move factory test cases
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/ast/src/mocks.ts
  packages/ast/src/nodes/code.test.ts
  packages/ast/src/nodes/file.test.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/nodes/function.test.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/input.test.ts
  packages/ast/src/nodes/operation.test.ts
  packages/ast/src/nodes/parameter.test.ts
  packages/ast/src/nodes/property.test.ts
  packages/ast/src/nodes/response.test.ts
  packages/ast/src/nodes/schema.test.ts
  packages/ast/src/types.ts
  packages/ast/src/visitor.test.ts
Due: none

name change for defineNode
  packages/ast/src/defineMacro.ts
  packages/ast/src/defineNode.ts
  packages/ast/src/definePrinter.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/code.ts
  packages/ast/src/nodes/content.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/nodes/input.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/output.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/nodes/requestBody.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/printer.test.ts
  packages/ast/src/registry.ts
  packages/ast/src/types.ts
  packages/ast/src/visitor.ts
Due: none

changeset
  .changeset/ast-colocate-node-builders.md
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

move dedupe to dialect
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/dedupe.test.ts
  packages/adapter-oas/src/dedupe.ts
  packages/adapter-oas/src/dialect.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/dedupe.ts
  packages/ast/src/dialect.ts
  packages/ast/src/index.ts
  packages/ast/src/types.ts
Due: none

cleanup up jsdocs and dedupe
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/dedupe.test.ts
  packages/adapter-oas/src/dedupe.ts
  packages/adapter-oas/src/dialect.ts
  packages/adapter-oas/src/discriminator.ts
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/stream.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/constants.ts
  packages/ast/src/defineMacro.ts
  packages/ast/src/definePrinter.test.ts
  packages/ast/src/definePrinter.ts
  packages/ast/src/dialect.ts
  packages/ast/src/factory.ts
  packages/ast/src/infer.ts
  packages/ast/src/macros/macroEnumName.ts
  packages/ast/src/nodes/code.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/utils/codegen.ts
  packages/ast/src/utils/fileMerge.ts
  packages/ast/src/utils/operationParams.ts
  packages/ast/src/utils/refs.ts
  packages/ast/src/utils/schemaGraph.ts
  packages/ast/src/utils/schemaMerge.ts
  packages/ast/src/visitor.ts
Due: none

add changesets
  .changeset/dedupe-single-plan.md
  .changeset/jsdoc-accuracy-pass.md
Due: none

chore: bump all packages to 5.0.0-beta.75
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix(plugin-ts): preserve empty string values in enum type generation
  .changeset/empty-string-enum-typescript.md
  packages/plugin-ts/src/factory.test.ts
  packages/plugin-ts/src/factory.ts
Due: @kubb/plugin-ts

feat(diagnostics): render terminal diagnostics as a box-drawing tree
  .changeset/diagnostics-tree-render.md
  packages/cli/src/loggers/clackLogger.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/reporters/fileReporter.test.ts
  packages/mcp/src/utils.test.ts
  packages/mcp/src/utils.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp

fix(plugin-ts): add missing snapshots and fix spelling (colour → color)
  packages/plugin-ts/src/__snapshots__/factory.test.ts.snap
  packages/plugin-ts/src/factory.test.ts
Due: @kubb/plugin-ts

refactor(diagnostics): drop the tree connectors from terminal output
  .changeset/diagnostics-tree-render.md
  packages/cli/src/loggers/clackLogger.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/mcp/src/utils.test.ts
  packages/mcp/src/utils.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp

test(plugin-ts): update stale type snapshots for $ref properties
  packages/plugin-ts/src/generators/__snapshots__/petIntegerTypeNumber.ts
  packages/plugin-ts/src/generators/__snapshots__/petQuestionToken.ts
  packages/plugin-ts/src/generators/__snapshots__/petQuestionTokenAndUndefined.ts
  packages/plugin-ts/src/generators/__snapshots__/petUndefined.ts
Due: @kubb/plugin-ts

fix(plugin-ts): make type snapshots deterministic with a local Category ref
  packages/plugin-ts/mocks/petStore.yaml
  packages/plugin-ts/src/generators/__snapshots__/petIntegerTypeNumber.ts
  packages/plugin-ts/src/generators/__snapshots__/petQuestionToken.ts
  packages/plugin-ts/src/generators/__snapshots__/petQuestionTokenAndUndefined.ts
  packages/plugin-ts/src/generators/__snapshots__/petUndefined.ts
Due: @kubb/plugin-ts

fix(plugin-ts): make typeGenerator snapshots deterministic (remove network-dependent $ref) (#3608)
  packages/plugin-ts/mocks/petStore.yaml
Due: @kubb/plugin-ts

cleanup env
  .env.example
  env.d.ts
  packages/ast/src/defineDialect.ts
  packages/ast/src/index.ts
  packages/ast/src/types.ts
Due: none

better treeshaking
  packages/ast/src/exports.ts
  packages/ast/src/index.ts
  packages/core/src/index.ts
Due: @kubb/core

Cleanup packages by using alternatives that are lower in install size
  .changeset/adapter-oas-scalar-upgrader.md
  .changeset/ast-namespace-treeshake.md
  .changeset/cli-unconfig-module-configs.md
  .changeset/drop-published-src.md
  .changeset/mcp-stdio-only.md
  packages/adapter-oas/package.json
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/guards.test.ts
  packages/adapter-oas/src/guards.ts
  packages/ast/package.json
  packages/cli/bin/kubb.js
  packages/cli/package.json
  packages/cli/src/commands/mcp.ts
  packages/cli/src/runners/generate/getConfigs.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/mcp/run.ts
  packages/core/package.json
  packages/kubb/bin/kubb.js
  packages/kubb/package.json
  packages/mcp/package.json
  packages/mcp/src/index.ts
  packages/mcp/src/server.ts
  packages/parser-md/package.json
  packages/parser-md/src/utils.ts
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/renderer-jsx/src/components/Frontmatter.tsx
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

reduce packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

cleanup
  packages/cli/src/runners/generate/utils.ts
Due: @kubb/cli

Chore/cleanup packages (#3611)
  .changeset/adapter-oas-scalar-upgrader.md
  .changeset/ast-namespace-treeshake.md
  .changeset/cli-unconfig-module-configs.md
  .changeset/drop-published-src.md
  .changeset/mcp-stdio-only.md
  packages/adapter-oas/package.json
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/guards.test.ts
  packages/adapter-oas/src/guards.ts
  packages/ast/package.json
  packages/cli/bin/kubb.js
  packages/cli/package.json
  packages/cli/src/commands/mcp.ts
  packages/cli/src/runners/generate/getConfigs.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/mcp/run.ts
  packages/core/package.json
  packages/kubb/bin/kubb.js
  packages/kubb/package.json
  packages/mcp/package.json
  packages/mcp/src/index.ts
  packages/mcp/src/server.ts
  packages/parser-md/package.json
  packages/parser-md/src/utils.ts
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/renderer-jsx/src/components/Frontmatter.tsx
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

cleanup
  internals/shared/src/constants.ts
  internals/shared/src/index.ts
  internals/shared/src/init.ts
  internals/utils/src/cli/adapters/nodeAdapter.test.ts
  internals/utils/src/cli/adapters/nodeAdapter.ts
  internals/utils/src/cli/createCLI.test.ts
  internals/utils/src/cli/createCLI.ts
  internals/utils/src/cli/defineCommand.test.ts
  internals/utils/src/cli/defineCommand.ts
  internals/utils/src/cli/help.ts
  internals/utils/src/cli/renderHelp.test.ts
  internals/utils/src/cli/renderHelp.ts
  internals/utils/src/cli/schema.test.ts
  internals/utils/src/cli/schema.ts
  internals/utils/src/cli/types.ts
  internals/utils/src/index.ts
  internals/utils/src/object.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/plugin-barrel/src/plugin.ts
  packages/renderer-jsx/package.json
  packages/renderer-jsx/src/globals.ts
Due: @kubb/cli

chore: format and lint fixes
  packages/adapter-oas/src/constants.ts
Due: none

Fix/ponytail audit (#3617)
  internals/shared/src/constants.ts
  internals/shared/src/index.ts
  internals/shared/src/init.ts
  internals/utils/src/cli/adapters/nodeAdapter.test.ts
  internals/utils/src/cli/adapters/nodeAdapter.ts
  internals/utils/src/cli/createCLI.test.ts
  internals/utils/src/cli/createCLI.ts
  internals/utils/src/cli/defineCommand.test.ts
  internals/utils/src/cli/defineCommand.ts
  internals/utils/src/cli/help.ts
  internals/utils/src/cli/renderHelp.test.ts
  internals/utils/src/cli/renderHelp.ts
  internals/utils/src/cli/schema.test.ts
  internals/utils/src/cli/schema.ts
  internals/utils/src/cli/types.ts
  internals/utils/src/index.ts
  internals/utils/src/object.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/plugin-barrel/src/plugin.ts
  packages/renderer-jsx/package.json
  packages/renderer-jsx/src/globals.ts
Due: @kubb/cli

ci: make canary publish non-fatal with continue-on-error
  .github/workflows/release.yml
Due: none

ci: make canary publish non-fatal with continue-on-error (#3618)
  .github/workflows/release.yml
Due: none

support examples 3.1
  .changeset/adapter-oas-target-openapi-31.md
  packages/adapter-oas/mocks/oas.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/dedupe.ts
  packages/adapter-oas/src/factory.test.ts
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/guards.test.ts
  packages/adapter-oas/src/guards.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.test.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/signature.test.ts
  packages/ast/src/signature.ts
  packages/core/src/createAdapter.ts
Due: @kubb/core
