Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

docs(renderer-jsx): apply jsdoc skill; humanize changeset
  .changeset/perf-renderer-jsx-legacyroot-sync.md
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/constants.ts
  packages/renderer-jsx/src/createRenderer.tsx
  packages/renderer-jsx/src/utils.ts
Due: none

[renderer-jsx] eliminate virtual DOM in SyncRuntime — single-pass JSX→FileNode
  packages/renderer-jsx/src/SyncRuntime.tsx
Due: none

[renderer-jsx] rename to jsxRendererSlim, remove SOURCE_IGNORES, stream in core
  packages/core/src/PluginDriver.ts
  packages/core/src/createRenderer.ts
  packages/renderer-jsx/src/constants.ts
  packages/renderer-jsx/src/createRenderer.test.tsx
  packages/renderer-jsx/src/createRenderer.tsx
  packages/renderer-jsx/src/index.ts
Due: @kubb/core

[renderer-jsx] update changeset: jsxRendererSync → jsxRendererSlim
  .changeset/perf-renderer-jsx-legacyroot-sync.md
Due: none

[renderer-jsx] simplify JSDoc across createRenderer and core Renderer type
  packages/core/src/createRenderer.ts
  packages/renderer-jsx/src/createRenderer.tsx
Due: @kubb/core

[renderer-jsx] rename jsxRendererSlim → jsxRendererSync
  .changeset/perf-renderer-jsx-legacyroot-sync.md
  packages/renderer-jsx/src/createRenderer.test.tsx
  packages/renderer-jsx/src/createRenderer.tsx
  packages/renderer-jsx/src/index.ts
Due: none

[renderer-jsx] remove em dashes from JSDoc and changeset per humanizer guidelines
  .changeset/perf-renderer-jsx-legacyroot-sync.md
  packages/core/src/createRenderer.ts
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/createRenderer.tsx
  packages/renderer-jsx/src/utils.ts
Due: @kubb/core

[renderer-jsx] remove section divider comments from SyncRuntime
  packages/renderer-jsx/src/SyncRuntime.tsx
Due: none

[renderer-jsx] address code review: constants, dom, utils, SyncRuntime, core
  packages/core/src/createRenderer.ts
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/constants.ts
  packages/renderer-jsx/src/dom.ts
  packages/renderer-jsx/src/utils.ts
Due: @kubb/core

[renderer-jsx] improve function naming across SyncRuntime and utils
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/utils.ts
Due: none

[renderer-jsx] align function names with @kubb/ast and @kubb/core conventions
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/utils.test.ts
  packages/renderer-jsx/src/utils.ts
Due: none

chore: format and lint fixes
  packages/renderer-jsx/src/SyncRuntime.tsx
Due: none

[renderer-jsx] add JSDoc to all Renderer type members
  packages/core/src/createRenderer.ts
Due: @kubb/core

[renderer-jsx] replace Promise.resolve/reject with async/await
  packages/core/src/createKubb.ts
  packages/renderer-jsx/src/createRenderer.tsx
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat: adopt Symbol.dispose and using for explicit resource management
  packages/agent/server/utils/connectStudio.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/FileManager.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.ts
  packages/mcp/src/server.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp

chore: add changeset for Symbol.dispose resource management
  .changeset/add-symbol-dispose-resource-management.md
Due: none

feat: post vitest benchmark results as PR comment
  .github/workflows/pr.yml
  configs/vitest.bench.config.ts
Due: none

feat: remove publish command from agent WebSocket protocol
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/runtimeConfig.ts
  packages/agent/server/utils/ws.ts
Due: none

remove KUBB_AGENT_PUBLISH_COMMAND
  docs/architecture/adr/0004_permissions.md
  env.d.ts
  package.json
Due: none

chore: shorten changeset descriptions and clean up pre.json
  .changeset/add-code-ast-nodes.md
  .changeset/add-collect-lazy-generator.md
  .changeset/add-core-mocks-subpath.md
  .changeset/add-create-operation-params.md
  .changeset/add-file-processor-stream.md
  .changeset/add-find-circular-schemas.md
  .changeset/add-generator-context-api.md
  .changeset/add-generator-run-helpers.md
  .changeset/add-per-package-yaml-metadata.md
  .changeset/add-renderer-jsx-package.md
  .changeset/add-resolver-and-transformer-helpers.md
  .changeset/add-type-helper-nodes.md
  .changeset/agent-dynamic-plugin-resolution.md
  .changeset/ast-helper-reorganization.md
  .changeset/backend-refactor-dedupe.md
  .changeset/barrel-root-type-and-cli-v5-init.md
  .changeset/clever-cases-deny.md
  .changeset/core-getmode-static-cleanup.md
  .changeset/ctx-param-in-define-resolver.md
  .changeset/fiery-books-report.md
  .changeset/fix-barrel-non-ts-and-non-indexable.md
  .changeset/fix-bunx-argv-stripping.md
  .changeset/fix-include-filter-schema-scoping.md
  .changeset/perf-generator-functions-optimization.md
  .changeset/perf-renderer-jsx-legacyroot-sync.md
  .changeset/pre.json
  .changeset/preserve-union-kind-semantics.md
  .changeset/reduce-memory-fs-caching.md
  .changeset/reduce-memory-snapshot-cache.md
  .changeset/refactor-barrel-config-api.md
  .changeset/remove-legacy-plugin-types.md
  .changeset/rich-zebras-end.md
  .changeset/strict-mails-unite.md
Due: none

docs: shorten and deduplicate CHANGELOG.md entries
  CHANGELOG.md
Due: none

docs: shorten beta.18 CHANGELOG entries
  CHANGELOG.md
Due: none

perf: hoist TS printer + cache BaseOas + reduce per-call allocations
  internals/utils/src/asyncEventEmitter.ts
  packages/adapter-oas/src/adapter.ts
  packages/core/src/FileProcessor.ts
  packages/parser-ts/src/utils.ts
Due: @kubb/core

perf: parallel plugin dispatch and bounded-concurrency file parsing
  packages/core/src/FileProcessor.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

perf: emit imports and exports as strings, bypass TypeScript printer
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
Due: none

perf: skip per-file microtask for the sync JSX renderer
  packages/core/src/PluginDriver.ts
  packages/core/src/createRenderer.ts
  packages/renderer-jsx/src/createRenderer.test.tsx
  packages/renderer-jsx/src/createRenderer.tsx
Due: @kubb/core

changeset: performance optimizations for streaming pipeline
  .changeset/perf-optimize-stream-pipeline.md
Due: none

perf: memoize findCircularSchemas and the synthetic stream inputNode
  packages/ast/src/utils.ts
  packages/core/src/PluginDriver.ts
Due: @kubb/core

perf: make parserTs.parse synchronous, drop concurrency from FileProcessor
  packages/core/src/FileProcessor.ts
  packages/parser-ts/src/parserTs.ts
Due: @kubb/core

perf: skip await microtasks on the sync renderer + sync parser path
  internals/utils/src/asyncEventEmitter.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.ts
Due: @kubb/cli, @kubb/core

refactor: rename isThenable to isPromise, use instanceof Promise
  packages/core/src/FileProcessor.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

cleanup stream
  packages/core/src/FileProcessor.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/createRenderer.ts
  packages/renderer-jsx/src/createRenderer.tsx
Due: @kubb/core

remove emitExport and emitImport again
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
Due: none

do not use promise/async in parser
  packages/core/src/FileProcessor.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineParser.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
Due: @kubb/core

cleanup
  packages/core/src/FileProcessor.ts
Due: @kubb/core

cleanup
  packages/ast/src/utils.ts
  packages/parser-ts/src/utils.ts
Due: none

cleanup
  packages/core/src/createKubb.ts
Due: @kubb/core
