Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

fix(cli): remove unused startSpinner after kubb:config:start removal
  packages/cli/src/loggers/clackLogger.ts
Due: @kubb/cli

core(cli): remove unused kubb:config:start and kubb:config:end events (#3534)
  .changeset/remove-config-lifecycle-events.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

core: move Telemetry, defineLogger, and selectReporters to CLI
  .changeset/move-telemetry-definelogger-to-cli.md
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/mcp/run.ts
  packages/cli/src/runners/validate/run.test.ts
  packages/cli/src/runners/validate/run.ts
  packages/core/src/constants.ts
  packages/core/src/createReporter.ts
  packages/core/src/index.ts
  packages/core/src/reporters/cliReporter.ts
  packages/core/src/reporters/fileReporter.test.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

chore: format and lint fixes
  packages/core/src/createReporter.ts
Due: @kubb/core

core: move Telemetry, defineLogger, and selectReporters to CLI (#3536)
  .changeset/move-telemetry-definelogger-to-cli.md
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/mcp/run.ts
  packages/cli/src/runners/validate/run.test.ts
  packages/cli/src/runners/validate/run.ts
  packages/core/src/constants.ts
  packages/core/src/createReporter.ts
  packages/core/src/index.ts
  packages/core/src/reporters/cliReporter.ts
  packages/core/src/reporters/fileReporter.test.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

core: replace middleware with post-enforced plugins (#3531)
  .changeset/core-remove-middleware.md
  packages/cli/src/runners/generate/run.ts
  packages/core/src/FileManager.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/HookRegistry.test.ts
  packages/core/src/HookRegistry.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineMiddleware.test.ts
  packages/core/src/defineMiddleware.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/kubb/src/index.ts
  packages/plugin-barrel/README.md
  packages/plugin-barrel/extension.yaml
  packages/plugin-barrel/package.json
  packages/plugin-barrel/src/index.ts
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/types.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
  packages/plugin-barrel/tsconfig.json
  packages/plugin-barrel/tsdown.config.ts
  packages/plugin-barrel/vitest.config.ts
  packages/unplugin-kubb/package.json
  packages/unplugin-kubb/src/index.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
  pnpm-lock.yaml
  tsconfig.json
Due: @kubb/cli, @kubb/core, kubb, unplugin-kubb

middleware-barrel: deprecate — re-export from plugin-barrel
  packages/middleware-barrel/package.json
  packages/middleware-barrel/src/index.ts
  packages/middleware-barrel/src/middleware.test.ts
  packages/middleware-barrel/src/middleware.ts
  pnpm-lock.yaml
Due: none

feat(adapter-oas): drop dead exports and lazy-load heavy deps
  .changeset/adapter-oas-lazy-load-heavy-deps.md
  packages/adapter-oas/package.json
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/index.ts
  pnpm-lock.yaml
Due: none

docs: update READMEs to use plugin-barrel instead of middleware-barrel
  packages/middleware-barrel/README.md
  packages/plugin-barrel/README.md
Due: none

refactor: remove @kubb/middleware-barrel package entirely
  .changeset/add-middleware-barrel-tests.md
  .changeset/add-middleware-barrel.md
  .changeset/add-per-package-yaml-metadata.md
  .changeset/banner-per-file-context.md
  .changeset/barrel-getbarrelfiles-generator.md
  .changeset/barrel-middleware-recursive-subdirs.md
  .changeset/barrel-root-type-and-cli-v5-init.md
  .changeset/clever-cases-deny.md
  .changeset/core-remove-middleware.md
  .changeset/enforce-array-type-syntax.md
  .changeset/fix-barrel-non-ts-and-non-indexable.md
  .changeset/fix-middleware-barrel-banner-bleed.md
  .changeset/fix-middleware-barrel-barrel-type-augmentation.md
  .changeset/fix-middleware-barrel-generation.md
  .changeset/fix-middleware-barrel-windows.md
  .changeset/fix-unplugin-generation-defaults.md
  .changeset/middleware-barrel-output-mode.md
  .changeset/null-undefined-standardization.md
  .changeset/pre.json
  .changeset/refactor-barrel-config-api.md
  .changeset/refactor-middleware-barrel.md
  .changeset/sort-named-barrel-exports.md
  .changeset/true-ways-fetch.md
  .changeset/unplugin-default-middleware-barrel.md
  CONTRIBUTING.md
  internals/changelog/index.test.ts
  packages/middleware-barrel/README.md
  packages/middleware-barrel/extension.yaml
  packages/middleware-barrel/package.json
  packages/middleware-barrel/src/index.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/types.ts
  packages/middleware-barrel/src/utils.test.ts
  packages/middleware-barrel/src/utils.ts
  packages/middleware-barrel/tsconfig.json
  packages/middleware-barrel/tsdown.config.ts
  packages/middleware-barrel/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: none

test(adapter-oas): add external file $ref bundling coverage
  packages/adapter-oas/mocks/external/pet.yaml
  packages/adapter-oas/mocks/withExternalFileRef.yaml
  packages/adapter-oas/src/factory.test.ts
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat(adapter-oas): drop dead exports and lazy-load heavy deps (#3538)
  .changeset/adapter-oas-lazy-load-heavy-deps.md
  packages/adapter-oas/mocks/external/pet.yaml
  packages/adapter-oas/mocks/withExternalFileRef.yaml
  packages/adapter-oas/package.json
  packages/adapter-oas/src/factory.test.ts
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/index.ts
  pnpm-lock.yaml
Due: none

refactor(core): resolve config in the Kubb constructor
  .changeset/simplify-kubb-class-resolve-config-in-constructor.md
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/core, unplugin-kubb

refactor(core): split createKubb.ts types and fold away dead internals
  .changeset/core-split-createkubb-types.md
  packages/core/package.json
  packages/core/src/Fingerprint.test.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/HookRegistry.test.ts
  packages/core/src/HookRegistry.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Manifest.ts
  packages/core/src/caches/fsCache.ts
  packages/core/src/createKubb.ts
  packages/core/src/createReporter.ts
  packages/core/src/diagnostics.ts
  packages/core/src/types.ts
  pnpm-lock.yaml
Due: @kubb/core

refactor(core): resolve config in the Kubb constructor (#3540)
  .changeset/simplify-kubb-class-resolve-config-in-constructor.md
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/core, unplugin-kubb

refactor(core): split createKubb.ts types and fold away dead internals (#3541)
  .changeset/core-split-createkubb-types.md
  packages/core/package.json
  packages/core/src/Fingerprint.test.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/HookRegistry.test.ts
  packages/core/src/HookRegistry.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Manifest.ts
  packages/core/src/caches/fsCache.ts
  packages/core/src/createKubb.ts
  packages/core/src/createReporter.ts
  packages/core/src/diagnostics.ts
  packages/core/src/types.ts
  pnpm-lock.yaml
Due: @kubb/core

chore: remove unused code flagged by knip
  .changeset/knip-trim-unused-exports.md
  internals/utils/src/cli/types.ts
  package.json
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/constants.ts
  packages/ast/src/factory.ts
  packages/ast/src/mocks.ts
  packages/cli/src/constants.ts
  packages/core/mocks/noop.cjs
  packages/core/mocks/noop.js
  packages/core/src/defineResolver.ts
  packages/core/src/reporters/report.ts
  packages/parser-md/src/utils.ts
  packages/parser-ts/src/constants.ts
  packages/parser-ts/src/utils.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

chore: remove unused code flagged by knip (#3544)
  .changeset/knip-trim-unused-exports.md
  internals/utils/src/cli/types.ts
  package.json
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/constants.ts
  packages/ast/src/factory.ts
  packages/ast/src/mocks.ts
  packages/cli/src/constants.ts
  packages/core/mocks/noop.cjs
  packages/core/mocks/noop.js
  packages/core/src/defineResolver.ts
  packages/core/src/reporters/report.ts
  packages/parser-md/src/utils.ts
  packages/parser-ts/src/constants.ts
  packages/parser-ts/src/utils.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

update packages
  packages/cli/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli, unplugin-kubb

chore: stop shipping extension.yaml and drop the extension schema
  .changeset/remove-extension-yaml-manifests.md
  AGENTS.md
  packages/adapter-oas/extension.yaml
  packages/adapter-oas/package.json
  packages/parser-md/extension.yaml
  packages/parser-md/package.json
  packages/parser-ts/extension.yaml
  packages/parser-ts/package.json
  packages/plugin-barrel/extension.yaml
  packages/plugin-barrel/package.json
  schemas/README.md
  schemas/extension.json
  tools/claude/agents/kubb-expert.md
  tools/claude/skills/config/SKILL.md
  tools/claude/skills/output/SKILL.md
Due: none

chore: stop shipping extension.yaml and drop the extension schema (#3547)
  .changeset/remove-extension-yaml-manifests.md
  AGENTS.md
  packages/adapter-oas/extension.yaml
  packages/adapter-oas/package.json
  packages/parser-md/extension.yaml
  packages/parser-md/package.json
  packages/parser-ts/extension.yaml
  packages/parser-ts/package.json
  packages/plugin-barrel/extension.yaml
  packages/plugin-barrel/package.json
  schemas/README.md
  schemas/extension.json
  tools/claude/agents/kubb-expert.md
  tools/claude/skills/config/SKILL.md
  tools/claude/skills/output/SKILL.md
Due: none

fix(adapter-oas): bundle external refs into named components.schemas entries
  .changeset/adapter-oas-bundle-named-components.md
  packages/adapter-oas/mocks/external/animals.yaml
  packages/adapter-oas/mocks/phantom/components/schemas/Employer.yaml
  packages/adapter-oas/mocks/phantom/components/schemas/User.yaml
  packages/adapter-oas/mocks/phantom/main.yaml
  packages/adapter-oas/mocks/phantom/paths/employers.yaml
  packages/adapter-oas/mocks/phantom/paths/me.yaml
  packages/adapter-oas/mocks/withFragmentRef.yaml
  packages/adapter-oas/mocks/withUrlRef.yaml
  packages/adapter-oas/package.json
  packages/adapter-oas/src/bundler.test.ts
  packages/adapter-oas/src/bundler.ts
  packages/adapter-oas/src/factory.test.ts
  packages/adapter-oas/src/factory.ts
  pnpm-lock.yaml
Due: none

refactor(adapter-oas): read bundler sources via @internals/utils read
  packages/adapter-oas/src/bundler.ts
Due: none

docs(adapter-oas): split bundleDocument example into file and URL variants
  packages/adapter-oas/src/bundler.ts
Due: none

fix(adapter-oas): collapse bundler-suffixed duplicate schemas in the dedupe pass
  .changeset/adapter-oas-collapse-bundled-duplicates.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/types.ts
Due: none

refactor(adapter-oas): detect collapsed bundling artifacts by stripping trailing digits
  packages/adapter-oas/src/stream.ts
Due: none

refactor(ast): repoint refs at duplicate schemas via content-based aliasNames in applyDedupe
  .changeset/adapter-oas-collapse-bundled-duplicates.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/dedupe.test.ts
  packages/ast/src/dedupe.ts
  packages/ast/src/types.ts
Due: none

fix(adapter-oas): stop emitting duplicate top-level schemas
  .changeset/adapter-oas-collapse-bundled-duplicates.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/stream.ts
Due: none

feat: move @kubb/plugin-barrel source to kubb-labs/plugins
  .changeset/plugin-barrel-move-to-plugins-repo.md
  packages/kubb/package.json
  packages/plugin-barrel/README.md
  packages/plugin-barrel/package.json
  packages/plugin-barrel/src/index.ts
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/types.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
  packages/plugin-barrel/tsconfig.json
  packages/plugin-barrel/tsdown.config.ts
  packages/plugin-barrel/vitest.config.ts
  packages/unplugin-kubb/package.json
  pnpm-workspace.yaml
Due: kubb, unplugin-kubb

fix: use published @kubb/plugin-barrel version and exclude from release age gate
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
