Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

core data
  packages/agent/docker-compose.yaml
Due: none

use cache
  packages/agent/docker-compose.yaml
Due: none

cache location
  packages/agent/docker-compose.yaml
  packages/agent/nitro.config.ts
Due: none

fix(plugin-oas): centralize required requestBody schema normalization
  packages/plugin-client/mocks/requiredOneOfRequestBody.yaml
  packages/plugin-client/src/generators/__snapshots__/requiredOneOfRequestBody.ts
  packages/plugin-client/src/generators/clientGenerator.test.tsx
  packages/plugin-oas/src/OperationGenerator.test.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/utils/index.ts
  packages/plugin-oas/src/utils/requestBody.test.ts
  packages/plugin-oas/src/utils/requestBody.ts
  packages/plugin-react-query/mocks/requiredOneOfRequestBody.yaml
  packages/plugin-react-query/src/components/Mutation.tsx
  packages/plugin-react-query/src/components/MutationOptions.tsx
  packages/plugin-react-query/src/generators/__snapshots__/requiredOneOfRequestBody.ts
  packages/plugin-react-query/src/generators/__snapshots__/requiredOneOfRequestBodyWithClientPlugin.ts
  packages/plugin-react-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-react-query/src/generators/mutationGenerator.tsx
Due: @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query

cache location
  .github/workflows/docker-agent.yml
  docker-compose.yaml
  env.d.ts
  packages/agent/Dockerfile
  packages/agent/README.md
  packages/agent/docker-compose.yaml
  packages/agent/server/utils/machineToken.ts
Due: none

chore(plugin-oas): adjust test wording for cspell
  packages/plugin-oas/src/OperationGenerator.test.ts
Due: @kubb/plugin-oas

--wip--
  examples/vue-query/src/gen/hooks/useFindPetsByStatus.ts
  examples/vue-query/src/gen/hooks/useFindPetsByTags.ts
  examples/vue-query/src/gen/hooks/useGetInventory.ts
  examples/vue-query/src/gen/hooks/useGetOrderById.ts
  examples/vue-query/src/gen/hooks/useGetPetById.ts
  examples/vue-query/src/gen/hooks/useGetUserByName.ts
  examples/vue-query/src/gen/hooks/useLoginUser.ts
  examples/vue-query/src/gen/hooks/useLogoutUser.ts
Due: none

token update
  .github/workflows/docker-agent.yml
  docker-compose.yaml
  env.d.ts
  packages/agent/README.md
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/machineToken.ts
  packages/agent/server/utils/token.ts
Due: none

when isSandbox, write is disabled
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/api.ts
Due: none

when isSandbox, write is disabled
  packages/agent/.gitignore
  packages/agent/README.md
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
Due: none

correct secret generation
  env.d.ts
  packages/agent/server/utils/token.ts
  packages/cli/src/commands/agent/start.ts
Due: @kubb/cli

feat(plugin-ts): add `integerType` option to control int64 TypeScript type
  docs/changelog.md
  docs/plugins/plugin-ts.md
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/utils/index.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/types.ts
  src/gen/mocks/excluded.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

chore changeset
  .changeset/plugin-ts-integer-type.md
  packages/plugin-ts/src/generators/__snapshots__/petIntegerTypeNumber.ts
Due: @kubb/plugin-ts

fix: handle content media as blob
  packages/plugin-oas/mocks/binaryFormat.yaml
  packages/plugin-oas/src/SchemaGenerator.test.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/__snapshots__/SchemaGenerator.test.ts.snap
Due: @kubb/plugin-oas

style: format index utils
  packages/plugin-oas/src/utils/index.ts
Due: @kubb/plugin-oas

test: type generation with blob
  packages/plugin-ts/mocks/binaryFile.yaml
  packages/plugin-ts/src/generators/__snapshots__/bodyTest.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
Due: @kubb/plugin-ts

docs: remove details
  packages/plugin-oas/src/SchemaGenerator.ts
Due: @kubb/plugin-oas

docs: changelog
  docs/changelog.md
Due: none

chore: generate changeset
  .changeset/tricky-cloths-help.md
Due: none

cleanup
  .env.example
  packages/agent/docker-compose.yaml
Due: none

use of tiny libraries
  package.json
  packages/agent/package.json
  packages/agent/server/plugins/studio.ts
  packages/cli/package.json
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/utils/packageManager.ts
  packages/core/package.json
  packages/core/src/PackageManager.ts
  packages/core/src/fs/clean.ts
  packages/core/src/fs/exists.test.ts
  packages/core/src/fs/exists.ts
  packages/core/src/fs/read.ts
  packages/core/src/fs/write.ts
  packages/core/src/utils/formatters.test.ts
  packages/core/src/utils/formatters.ts
  packages/core/src/utils/linters.test.ts
  packages/core/src/utils/linters.ts
  packages/kubb/package.json
  packages/mcp/package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  packages/plugin-cypress/package.json
  packages/plugin-faker/package.json
  packages/plugin-mcp/package.json
  packages/plugin-msw/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  packages/plugin-zod/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  src/gen/mocks/excluded.ts
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

reduce imports
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/fs/exists.ts
  packages/core/src/fs/read.ts
  packages/core/src/fs/write.ts
  packages/core/src/gen/mocks/excluded.ts
  packages/core/src/transformers/index.ts
  packages/core/src/utils/FunctionParams.ts
  packages/oas/src/Oas.ts
  packages/plugin-ts/package.json
  packages/plugin-ts/src/factory.ts
  pnpm-lock.yaml
  src/gen/mocks/excluded.ts
Due: @kubb/cli, @kubb/core, @kubb/oas, @kubb/plugin-ts

use of styleText
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/mcp.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/Writables.ts
  packages/cli/src/utils/formatMsWithColor.test.ts
  packages/cli/src/utils/formatMsWithColor.ts
  packages/cli/src/utils/getSummary.ts
  packages/cli/src/utils/randomColor.ts
  packages/cli/src/utils/watcher.ts
Due: @kubb/cli

use of styleText
  packages/cli/src/commands/agent/start.ts
Due: @kubb/cli

use of fetch instead of getLatestVersion
  packages/cli/src/commands/generate.ts
Due: @kubb/cli

use of styletext
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/logger.ts
Due: none

add changeset
  .changeset/shy-mangos-pick.md
  packages/core/src/utils/tokenize.test.ts
  packages/core/src/utils/tokenize.ts
  src/gen/mocks/excluded.ts
Due: @kubb/core

cleanup
  cspell.json
  examples/mcp/src/gen/mcp/.mcp.json
  packages/core/package.json
  pnpm-lock.yaml
Due: @kubb/core

fix unplugin and upgrade unplugin to latest version
  .changeset/great-kids-know.md
  .changeset/spotty-squids-sing.md
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/oas/package.json
  packages/plugin-cypress/package.json
  packages/plugin-faker/package.json
  packages/plugin-mcp/package.json
  packages/plugin-msw/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  packages/unplugin-kubb/package.json
  packages/unplugin-kubb/src/astro.ts
  packages/unplugin-kubb/src/esbuild.ts
  packages/unplugin-kubb/src/farm.ts
  packages/unplugin-kubb/src/index.ts
  packages/unplugin-kubb/src/nuxt.ts
  packages/unplugin-kubb/src/rolldown.ts
  packages/unplugin-kubb/src/rollup.ts
  packages/unplugin-kubb/src/rspack.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
  packages/unplugin-kubb/src/vite.ts
  packages/unplugin-kubb/src/webpack.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/gen/mocks/excluded.ts
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, unplugin-kubb

update lock
  pnpm-lock.yaml
Due: none

update lock
  packages/unplugin-kubb/package.json
Due: unplugin-kubb

cleanup
  package.json
  packages/agent/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/tsdown.config.ts
  packages/kubb/package.json
  packages/mcp/package.json
  packages/mcp/tsdown.config.ts
  packages/oas/package.json
  packages/oas/tsdown.config.ts
  packages/plugin-client/package.json
  packages/plugin-cypress/package.json
  packages/plugin-faker/package.json
  packages/plugin-mcp/package.json
  packages/plugin-msw/package.json
  packages/plugin-oas/package.json
  packages/plugin-oas/tsdown.config.ts
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  packages/plugin-zod/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

cleanup
  packages/core/tsdown.config.ts
  packages/plugin-oas/tsdown.config.ts
  packages/unplugin-kubb/package.json
Due: @kubb/core, @kubb/plugin-oas, unplugin-kubb

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
