Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

add docs for adapter
  docs/adapters.md
  docs/adapters/adapter-oas.md
  docs/config.json
  docs/plugins/plugin-cypress.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-zod.md
  examples/advanced/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  pnpm-lock.yaml
Due: none

update ts doc
  docs/plugins/plugin-ts.md
Due: none

update docs
  docs/plugins/core/transformers.md
  docs/plugins/plugin-cypress.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-zod.md
Due: none

chore: update examples
  packages/plugin-client/src/components/Client.tsx
  packages/plugin-client/src/generators/clientGenerator.test.tsx
Due: @kubb/plugin-client

chore: update docs
  docs/plugins/core/outputBanner.md
  docs/plugins/core/outputFooter.md
  docs/plugins/plugin-cypress.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-zod.md
Due: none

outputBarrelTypes
  docs/plugins/core/barrelTypes.md
  docs/plugins/core/outputBarrelType.md
  docs/plugins/plugin-client.md
  docs/plugins/plugin-cypress.md
  docs/plugins/plugin-faker.md
  docs/plugins/plugin-mcp.md
  docs/plugins/plugin-msw.md
  docs/plugins/plugin-oas.md
  docs/plugins/plugin-react-query.md
  docs/plugins/plugin-solid-query.md
  docs/plugins/plugin-svelte-query.md
  docs/plugins/plugin-swr.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-vue-query.md
  docs/plugins/plugin-zod.md
Due: none

docs: update changelog for v5.0.0-alpha.25
  docs/changelog.md
Due: none

refactor docs
  docs/plugins/core/clientClientType.md
  docs/plugins/core/groupType.md
  docs/plugins/core/groupTypes.md
  docs/plugins/core/mutationMethods.md
  docs/plugins/core/outputPath.md
  docs/plugins/core/queryMethods.md
  docs/plugins/plugin-client.md
  docs/plugins/plugin-cypress.md
  docs/plugins/plugin-faker.md
  docs/plugins/plugin-mcp.md
  docs/plugins/plugin-msw.md
  docs/plugins/plugin-oas.md
  docs/plugins/plugin-react-query.md
  docs/plugins/plugin-redoc.md
  docs/plugins/plugin-solid-query.md
  docs/plugins/plugin-svelte-query.md
  docs/plugins/plugin-swr.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-vue-query.md
  docs/plugins/plugin-zod.md
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/clients/axios/petService/findPetsByStatus.ts
Due: none

docs: update changelog for v5.0.0-alpha.26
  docs/changelog.md
Due: none

cleanup
  docs/config.json
Due: none

docs: update changelog for v4.37.1
  docs/changelog.md
Due: none

Update changelog.md
  docs/changelog.md
Due: none

feat: add Printer<T> type and printer field to presets
  packages/ast/src/index.ts
  packages/core/src/types.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/presets.ts
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/components/Zod.tsx
  packages/plugin-zod/src/components/ZodMini.tsx
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.test.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/index.ts
  packages/plugin-zod/src/plugin.ts
  packages/plugin-zod/src/presets.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-ts, @kubb/plugin-zod

feat: add PrinterPartial utility type and node override tests
  packages/ast/src/index.ts
  packages/ast/src/printer.ts
  packages/ast/src/types.ts
  packages/core/src/types.ts
  packages/plugin-ts/src/printers/printerTs.test.ts
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-zod/src/printers/printerZod.test.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.test.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
Due: @kubb/core, @kubb/plugin-ts, @kubb/plugin-zod

feat: single resolver/transformer with null fallback + printer node overrides
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/getPreset.test.ts
  packages/core/src/utils/getPreset.ts
  packages/core/src/utils/mergeResolvers.test.ts
  packages/core/src/utils/mergeResolvers.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.ts
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-cypress/src/presets.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-ts/src/generators/typeGenerator.test.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/presets.ts
  packages/plugin-ts/src/printers/printerTs.test.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.test.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/plugin.ts
  packages/plugin-zod/src/presets.ts
  packages/plugin-zod/src/printers/printerZod.test.ts
  packages/plugin-zod/src/printers/printerZodMini.test.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-cypress, @kubb/plugin-ts, @kubb/plugin-zod

feat: expose transformer on Plugin and PluginContext
  configs/mocks.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/types.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.ts
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-ts/src/generators/typeGenerator.test.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.test.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/plugin.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-cypress, @kubb/plugin-ts, @kubb/plugin-zod

cleanup
  packages/ast/src/index.ts
  packages/ast/src/printer.ts
  packages/ast/src/types.ts
  packages/core/src/types.ts
  packages/plugin-client/src/generators/classClientGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.test.tsx
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-ts, @kubb/plugin-zod

refactor: simplify getPreset.ts — merge withFallback helpers
  packages/core/src/utils/getPreset.ts
Due: @kubb/core

naming fix
  packages/ast/src/printer.ts
  packages/core/src/types.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/components/Zod.tsx
  packages/plugin-zod/src/index.ts
  packages/plugin-zod/src/printers/printerZod.ts
  packages/plugin-zod/src/printers/printerZodMini.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/core, @kubb/plugin-ts, @kubb/plugin-zod

test cases for resolver, transformer and printer
  packages/core/src/utils/getPreset.ts
  packages/plugin-cypress/src/types.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/types.ts
  schemas/3.0.x/simple.yaml
  tests/3.0.x/__snapshots__/main/printerNodesZod/zod/getItemSchema.ts
  tests/3.0.x/__snapshots__/main/printerNodesZod/zod/itemSchema.ts
  tests/3.0.x/__snapshots__/main/resolverCustomPrefix/types/GetItem.ts
  tests/3.0.x/__snapshots__/main/resolverCustomPrefix/types/Item.ts
  tests/3.0.x/__snapshots__/main/transformerStripDescriptions/types/GetItem.ts
  tests/3.0.x/__snapshots__/main/transformerStripDescriptions/types/Item.ts
  tests/3.0.x/main.test.ts
Due: @kubb/core, @kubb/plugin-cypress, @kubb/plugin-ts, @kubb/plugin-zod

update docs
  docs/migration-guide.md
  docs/plugins/core/resolvers.md
  docs/plugins/core/transformers.md
  docs/plugins/plugin-cypress.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-zod.md
  update-v5-guide.md
Due: none

resolve
  packages/plugin-ts/src/generators/__snapshots__/legacyAddPetNameTransformer/AddPetType.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/resolvers/resolverTsLegacy.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-zod/src/generators/__snapshots__/listPetsGETInferred/listPetsInferredSchema.ts
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.test.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/resolvers/resolverZod.ts
  packages/plugin-zod/src/resolvers/resolverZodLegacy.ts
  packages/plugin-zod/src/types.ts
Due: @kubb/plugin-ts, @kubb/plugin-zod

resolved
  .changeset/printer-node-override.md
  packages/plugin-zod/src/generators/__snapshots__/legacyAddPetNameTransformer/addPetSchema.ts
  packages/plugin-zod/src/generators/__snapshots__/listPetsGETInferred/listPetsInferredSchema.ts
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/plugin-zod/src/resolvers/resolverZod.ts
  packages/plugin-zod/src/types.ts
  tests/3.0.x/__snapshots__/main/resolverCustomPrefix/types/GetItem.ts
  tests/3.0.x/main.test.ts
Due: @kubb/plugin-zod

update
  examples/advanced/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  examples/svelte-query/package.json
  package.json
  packages/cli/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Due: @kubb/cli, unplugin-kubb

docs: update changelog for v5.0.0-alpha.27
  docs/changelog.md
Due: none

update docs
  docs/migration-guide.md
  docs/plugins/core/resolvers.md
  docs/plugins/plugin-mcp.md
Due: none

feat: support contentType in operationNode
  packages/adapter-oas/src/parser.ts
  packages/ast/src/nodes/operation.ts
Due: none

feat: add support for v5 ast
  .changeset/plugin-mcp-v5-migration.md
  packages/plugin-mcp/package.json
  packages/plugin-mcp/src/components/McpHandler.tsx
  packages/plugin-mcp/src/components/Server.tsx
  packages/plugin-mcp/src/components/index.ts
  packages/plugin-mcp/src/generators/__snapshots__/createPet/createPets.ts
  packages/plugin-mcp/src/generators/__snapshots__/deletePet/deletePet.ts
  packages/plugin-mcp/src/generators/__snapshots__/getPetsTemplateString/getPets.ts
  packages/plugin-mcp/src/generators/__snapshots__/showPetById/.mcp.json
  packages/plugin-mcp/src/generators/__snapshots__/showPetById/server.ts
  packages/plugin-mcp/src/generators/__snapshots__/showPetById/showPetById.ts
  packages/plugin-mcp/src/generators/index.ts
  packages/plugin-mcp/src/generators/mcpGenerator.test.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.tsx
  packages/plugin-mcp/src/generators/serverGenerator.test.tsx
  packages/plugin-mcp/src/generators/serverGeneratorLegacy.tsx
  packages/plugin-mcp/src/index.ts
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-mcp/src/presets.ts
  packages/plugin-mcp/src/resolvers/resolverMcp.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-mcp/src/utils.ts
  packages/plugin-mcp/tsdown.config.ts
  packages/plugin-ts/src/printers/functionPrinter.ts
  pnpm-lock.yaml
Due: @kubb/plugin-mcp, @kubb/plugin-ts

cleanup
  examples/advanced/configs/kubb.config.ts
  examples/advanced/src/gen/mcp/petRequests/addFiles.ts
  examples/advanced/src/gen/mcp/server.ts
  examples/mcp/kubb.config.ts
  examples/mcp/src/gen/mcp/addFiles.ts
  examples/mcp/src/gen/mcp/server.ts
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-mcp/src/components/McpHandler.tsx
  packages/plugin-mcp/src/components/Server.tsx
  packages/plugin-mcp/src/generators/serverGenerator.tsx
  packages/plugin-mcp/src/generators/serverGeneratorLegacy.tsx
  packages/plugin-mcp/src/utils.ts
Due: @kubb/plugin-cypress, @kubb/plugin-mcp

cleanup
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.tsx
  update-v5-guide.md
Due: @kubb/plugin-cypress, @kubb/plugin-mcp

MCP plugin v5 (#2962)
  .changeset/plugin-mcp-v5-migration.md
  docs/migration-guide.md
  docs/plugins/core/resolvers.md
  docs/plugins/plugin-mcp.md
  examples/advanced/configs/kubb.config.ts
  examples/advanced/src/gen/mcp/petRequests/addFiles.ts
  examples/advanced/src/gen/mcp/server.ts
  examples/mcp/kubb.config.ts
  examples/mcp/src/gen/mcp/addFiles.ts
  examples/mcp/src/gen/mcp/server.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/nodes/operation.ts
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-mcp/package.json
  packages/plugin-mcp/src/components/McpHandler.tsx
  packages/plugin-mcp/src/components/Server.tsx
  packages/plugin-mcp/src/components/index.ts
  packages/plugin-mcp/src/generators/__snapshots__/createPet/createPets.ts
  packages/plugin-mcp/src/generators/__snapshots__/deletePet/deletePet.ts
  packages/plugin-mcp/src/generators/__snapshots__/getPetsTemplateString/getPets.ts
  packages/plugin-mcp/src/generators/__snapshots__/showPetById/.mcp.json
  packages/plugin-mcp/src/generators/__snapshots__/showPetById/server.ts
  packages/plugin-mcp/src/generators/__snapshots__/showPetById/showPetById.ts
  packages/plugin-mcp/src/generators/index.ts
  packages/plugin-mcp/src/generators/mcpGenerator.test.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.tsx
  packages/plugin-mcp/src/generators/serverGenerator.test.tsx
  packages/plugin-mcp/src/generators/serverGeneratorLegacy.tsx
  packages/plugin-mcp/src/index.ts
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-mcp/src/presets.ts
  packages/plugin-mcp/src/resolvers/resolverMcp.ts
  packages/plugin-mcp/src/types.ts
  packages/plugin-mcp/src/utils.ts
  packages/plugin-mcp/tsdown.config.ts
  packages/plugin-ts/src/printers/functionPrinter.ts
  pnpm-lock.yaml
  update-v5-guide.md
Due: @kubb/plugin-cypress, @kubb/plugin-mcp, @kubb/plugin-ts
