Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

test(cli): restore the unknown-flag, reporter wiring and clack routing cases
  packages/cli/src/commands/validate.test.ts
  packages/cli/src/loggers/generation.test.ts
  packages/cli/src/loggers/output.test.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/runners/generate/run.test.ts
Due: @kubb/cli

chore(cli): key output passes by kind and announce hooks in runHook
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
Due: @kubb/cli

chore(core): share one path guard in Resolver and build default once
  packages/core/src/Resolver.ts
Due: @kubb/core

test(parser-ts): restore the multi-generic, multi-import and empty-source cases
  packages/parser-ts/src/parserTs.test.ts
Due: none

chore(adapter-oas): depend on @kubb/kit only
  packages/adapter-oas/package.json
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/annotatedEnums.test.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/emit/converters/annotatedEnum.ts
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/converters/structural.ts
  packages/adapter-oas/src/emit/createNode.ts
  packages/adapter-oas/src/emit/discriminator/preserve.ts
  packages/adapter-oas/src/emit/discriminator/propagate.test.ts
  packages/adapter-oas/src/emit/discriminator/propagate.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/emit/schemaShape.ts
  packages/adapter-oas/src/load/normalize.test.ts
  packages/adapter-oas/src/load/normalize.ts
  packages/adapter-oas/src/load/source.test.ts
  packages/adapter-oas/src/load/source.ts
  packages/adapter-oas/src/model/server.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/promoteEnums.test.ts
  packages/adapter-oas/src/promoteEnums.ts
  packages/adapter-oas/src/refs.test.ts
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/schemaDiagnostics.test.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/adapter-oas/src/types.ts
  packages/kit/src/index.ts
  pnpm-lock.yaml
Due: none

test(core): restore the driver, resolver, reporter and diagnostics cases
  packages/core/src/Diagnostics.test.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/createStorage.test.ts
  packages/core/src/reporters/htmlReporter.test.ts
  packages/core/src/storages/cacheStorage.test.ts
Due: @kubb/core

chore: add changeset for the kit dedupe
  .changeset/kit-dedupe.md
Due: none

chore(core): share dispatch and render helpers with the mocks
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/mocks.ts
Due: @kubb/core

chore(cli): draw command output through the writers and gate silent once
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/output.ts
  packages/cli/src/loggers/plainLogger.ts
Due: @kubb/cli

chore(core): keep hasHookGenerators for the restored driver case
  packages/core/src/KubbDriver.ts
Due: @kubb/core

chore(studio): open the Studio socket with the Node WebSocket
  packages/studio/package.json
  packages/studio/src/operations/rpc.ts
  packages/studio/src/operations/websocket.ts
  pnpm-lock.yaml
Due: none

chore(core): dedupe the hook context types
  packages/core/src/definePlugin.ts
  packages/core/src/types.ts
Due: @kubb/core

chore(cli): move getConfigs into src/config.ts and pin discovery
  packages/cli/src/config.test.ts
  packages/cli/src/config.ts
  packages/cli/src/runners/generate/run.test.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
Due: @kubb/cli

chore(core): compact the Diagnostics helpers
  packages/core/src/Diagnostics.ts
Due: @kubb/core

test(plugin-barrel, kubb, renderer-jsx): restore the exclusion, depth and default cases
  packages/kubb/src/defineConfig.test.ts
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/renderer-jsx/src/components/md/Paragraph.test.tsx
Due: kubb

chore(studio): keep the machine secret with node:fs instead of unstorage
  packages/studio/package.json
  packages/studio/src/operations/machine.test.ts
  packages/studio/src/operations/machine.ts
  pnpm-lock.yaml
Due: none

chore(core): move each constant to the module that owns it
  packages/core/src/Diagnostics.ts
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.ts
  packages/core/src/definePlugin.ts
  packages/core/src/outputManifest.ts
Due: @kubb/core

chore(cli): find the config, watch the input and compare versions in-house
  .changeset/cli-internal-layers.md
  packages/cli/package.json
  packages/cli/src/config.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
  pnpm-lock.yaml
Due: @kubb/cli

chore(studio): add the native dependencies changeset
  .changeset/studio-native-deps.md
Due: none

chore(core): trim FileManager and the Kubb storage field
  packages/core/src/FileManager.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

chore(core): add the changeset for the helper cleanup
  .changeset/core-fold-helpers.md
Due: none

chore(studio): trim the doc comments on the native helpers
  packages/studio/src/operations/api.ts
  packages/studio/src/operations/machine.ts
  packages/studio/src/operations/request.ts
  packages/studio/src/operations/rpc.ts
Due: none

chore(core): keep diagnosticCode in constants and trim moved docs
  packages/core/src/Diagnostics.ts
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Resolver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.ts
  packages/core/src/definePlugin.ts
  packages/core/src/mocks.ts
  packages/core/src/storages/fsStorage.ts
  packages/core/src/types.ts
Due: @kubb/core

chore(cli): trim the moved doc comments
  packages/cli/src/Telemetry.ts
  packages/cli/src/commands/mcp.ts
  packages/cli/src/commands/shared.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/config.test.ts
  packages/cli/src/config.ts
  packages/cli/src/index.ts
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/output.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/reporters.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/init/utils.ts
  packages/cli/src/runners/studio/commands.ts
Due: @kubb/cli

chore(studio): add the core generation changeset
  .changeset/studio-generate-core.md
Due: none

chore(studio): generate through core and drop the spawn path
  packages/studio/src/operations/generate.ts
  packages/studio/src/operations/generationEvents.test.ts
  packages/studio/src/operations/generationEvents.ts
  packages/studio/src/operations/hooks.test.ts
  packages/studio/src/operations/hooks.ts
  packages/studio/src/runtime/StudioSession.ts
Due: none

chore(studio): drop the tinyexec dependency
  packages/studio/package.json
  pnpm-lock.yaml
Due: none

chore(adapter-oas): fold ref helpers into createRefs
  packages/adapter-oas/src/model/operations.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/refs.test.ts
  packages/adapter-oas/src/refs.ts
Due: none

chore(adapter-oas): merge operation accessors into operation.ts
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/model/operations.ts
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/parser.ts
Due: none

chore(adapter-oas): bind parser options once
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/converters/structural.ts
  packages/adapter-oas/src/emit/createNode.ts
  packages/adapter-oas/src/emit/discriminator/preserve.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/refs.ts
Due: none

chore(adapter-oas): inline schemaShape helpers and trivial converters
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/emit/schemaShape.ts
  packages/adapter-oas/src/parser.ts
Due: none

chore(cli): run the output passes through core
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
Due: @kubb/cli

chore(cli): pin the post-generate outcome through the generate path
  packages/cli/src/runners/generate/run.test.ts
Due: @kubb/cli

chore(cli): add the changeset for the core output passes
  .changeset/cli-core-output-passes.md
Due: none

chore(adapter-oas): resolve adapter options once
  .changeset/adapter-oas-fold.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/load/normalize.ts
  packages/adapter-oas/src/load/source.ts
  packages/adapter-oas/src/model/components.ts
  packages/adapter-oas/src/types.ts
Due: none

chore(adapter-oas): shorten doc comments on folded helpers
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/emit/schemaShape.ts
  packages/adapter-oas/src/load/normalize.ts
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/refs.ts
Due: none

fix(core): run hooks like the cli did on Windows, PATH, stderr and abort
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/output/runHook.test.ts
  packages/core/src/output/runHook.ts
  packages/core/src/output/runOutputPasses.test.ts
Due: @kubb/core

test(cli): run the post-generate cases on disk storage
  packages/cli/src/runners/generate/run.test.ts
Due: @kubb/cli

fix(renderer-jsx): keep the key prop on every component
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/components/js/Const.tsx
  packages/renderer-jsx/src/components/js/Function.tsx
  packages/renderer-jsx/src/components/js/Type.tsx
  packages/renderer-jsx/src/components/jsx/Jsx.tsx
  packages/renderer-jsx/src/components/md/Callout.tsx
  packages/renderer-jsx/src/components/md/Frontmatter.tsx
  packages/renderer-jsx/src/components/md/Heading.tsx
  packages/renderer-jsx/src/components/md/List.tsx
  packages/renderer-jsx/src/components/md/Paragraph.tsx
Due: none

fix(renderer-jsx): ship the jsx-runtime types again
  packages/renderer-jsx/src/jsx-dev-runtime.ts
  packages/renderer-jsx/tsdown.config.ts
Due: none
