Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

update naming
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

small cleanup
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/parserSchemaNode.ts
  tests/3.0.x/__snapshots__/simple/types/DeleteOrder.ts
  tests/3.0.x/__snapshots__/simple/types/DeletePet.ts
  tests/3.0.x/__snapshots__/simple/types/FindPetsByStatus.ts
  tests/3.0.x/__snapshots__/simple/types/GetOrderById.ts
  tests/3.0.x/__snapshots__/simple/types/GetPetById.ts
  tests/3.0.x/__snapshots__/simple/types/UpdatePetWithForm.ts
  tests/3.0.x/__snapshots__/simple/types/UploadFile.ts
  tests/3.0.x/main.test.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

correct use of enumName (v5 support)
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  tests/3.0.x/__snapshots__/simple/types/FindPetsByStatus.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

more use cases
  tests/3.0.x/__snapshots__/caseSensitivity/types/Order.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/Product.ts
  tests/3.0.x/__snapshots__/petStore/types/DeleteOrder.ts
  tests/3.0.x/__snapshots__/petStore/types/DeletePet.ts
  tests/3.0.x/__snapshots__/petStore/types/GetOrderById.ts
  tests/3.0.x/__snapshots__/petStore/types/GetPetById.ts
  tests/3.0.x/__snapshots__/petStore/types/PetRequest.ts
  tests/3.0.x/__snapshots__/petStore/types/PetSchema.ts
  tests/3.0.x/__snapshots__/petStore/types/UpdatePetWithForm.ts
  tests/3.0.x/__snapshots__/petStore/types/UploadFile.ts
  tests/3.0.x/__snapshots__/simple/types/PetRequest.ts
  tests/3.0.x/__snapshots__/simple/types/PetSchema.ts
  tests/3.0.x/main.test.ts
Due: none

upgrade of packages
  package.json
  packages/oas/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  tests/3.0.x/__snapshots__/caseSensitivity/types/Order.ts
  tests/3.0.x/__snapshots__/caseSensitivity/types/Product.ts
  tests/3.0.x/__snapshots__/petStore/types/PetRequest.ts
  tests/3.0.x/__snapshots__/petStore/types/PetSchema.ts
  tests/3.0.x/__snapshots__/simple/types/PetRequest.ts
  tests/3.0.x/__snapshots__/simple/types/PetSchema.ts
Due: @kubb/oas, unplugin-kubb

tryout
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  tests/3.0.x/__snapshots__/issue2619/types/ContactDetailsType.ts
  tests/3.0.x/__snapshots__/issue2619/types/CreateReturnTypeA.ts
  tests/3.0.x/__snapshots__/issue2619/types/CreateReturnTypeB.ts
  tests/3.0.x/__snapshots__/issue2619/types/Parcel.ts
  tests/3.0.x/__snapshots__/issue2619/types/ProductDetails.ts
  tests/3.0.x/__snapshots__/issue2619/types/Result.ts
  tests/3.0.x/__snapshots__/issue2619/types/TypeARequest.ts
  tests/3.0.x/__snapshots__/issue2619/types/TypeBRequest.ts
  tests/3.0.x/main.test.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

fix naming refs
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/plugin-oas, @kubb/plugin-ts

feat(ast): add `date` to `PrimitiveSchemaType` (#2722)
  internals/ast/src/nodes/schema.ts
Due: none

UNSTABLE_SCHEMA for typescript examples
  examples/typescript/kubb.config.ts
  examples/typescript/src/gen/models.ts
  examples/typescript/src/gen/modelsConst.ts
  examples/typescript/src/gen/modelsConstEnum.ts
  examples/typescript/src/gen/modelsLiteral.ts
  examples/typescript/src/gen/modelsPascalConst.ts
  examples/typescript/src/gen/ts/models/AddPet.ts
  examples/typescript/src/gen/ts/models/DeleteOrder.ts
  examples/typescript/src/gen/ts/models/DeletePet.ts
  examples/typescript/src/gen/ts/models/GetOrderById.ts
  examples/typescript/src/gen/ts/models/GetPetById.ts
  examples/typescript/src/gen/ts/models/UpdatePetWithForm.ts
  examples/typescript/src/gen/ts/models/UploadFile.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

UNSTABLE_SCHEMA for examples
  examples/mcp/kubb.config.ts
  examples/msw/kubb.config.js
Due: none

default issue
  examples/zod/kubb.config.js
  examples/zod/src/gen/ts/AddPetType.ts
  examples/zod/src/gen/ts/DeleteOrderType.ts
  examples/zod/src/gen/ts/DeletePetType.ts
  examples/zod/src/gen/ts/GetOrderByIdType.ts
  examples/zod/src/gen/ts/GetPetByIdType.ts
  examples/zod/src/gen/ts/UpdatePetWithFormType.ts
  examples/zod/src/gen/ts/UploadFileType.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/parserSchemaNode.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

advanaced examples with UNSTABLE_SCHEMA: true,
  examples/advanced/configs/kubb.config.ts
  examples/advanced/src/gen/models/ts/petController/AddPet.ts
  examples/advanced/src/gen/models/ts/petController/DeletePet.ts
  examples/advanced/src/gen/models/ts/petController/GetPetById.ts
  examples/advanced/src/gen/models/ts/petController/UpdatePet.ts
  examples/advanced/src/gen/models/ts/petController/UpdatePetWithForm.ts
  examples/advanced/src/gen/models/ts/petController/UploadFile.ts
  examples/advanced/src/gen/models/ts/storeController/DeleteOrder.ts
  examples/advanced/src/gen/models/ts/storeController/GetOrderById.ts
Due: none

docs: update changelog for v4.33.3
  docs/changelog.md
Due: none

cleanup of oasParser
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-faker/src/generators/fakerGenerator.tsx
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/generators/types.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
Due: @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

cleanup of oasParser
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/plugin-oas, @kubb/plugin-ts

move $ref resolve to getSchemas
  packages/oas/src/Oas.ts
  packages/plugin-oas/src/SchemaGenerator.ts
Due: @kubb/oas, @kubb/plugin-oas

prep unstable type
  internals/ast/src/guards.ts
  internals/ast/src/index.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/nodes/schema.ts
  internals/ast/src/visitor.test.ts
  internals/ast/src/visitor.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/components/UnstableType.tsx
  packages/plugin-ts/src/components/index.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
Due: @kubb/plugin-oas, @kubb/plugin-ts

visitor update
  internals/ast/src/index.ts
  internals/ast/src/visitor.ts
Due: none

parser update
  packages/plugin-oas/src/parser.ts
  packages/plugin-oas/src/utils/getImports.ts
Due: @kubb/plugin-oas

parser update
  examples/typescript/src/gen/index.ts
  examples/typescript/src/gen/models.ts
  examples/typescript/src/gen/modelsConst.ts
  examples/typescript/src/gen/modelsConstEnum.ts
  examples/typescript/src/gen/modelsLiteral.ts
  examples/typescript/src/gen/modelsPascalConst.ts
  examples/typescript/src/gen/ts/models/AddPetRequest.ts
  examples/typescript/src/gen/ts/models/Address.ts
  examples/typescript/src/gen/ts/models/ApiResponse.ts
  examples/typescript/src/gen/ts/models/Category.ts
  examples/typescript/src/gen/ts/models/Customer.ts
  examples/typescript/src/gen/ts/models/FullAddress.ts
  examples/typescript/src/gen/ts/models/Order.ts
  examples/typescript/src/gen/ts/models/Pet.ts
  examples/typescript/src/gen/ts/models/PetNotFound.ts
  examples/typescript/src/gen/ts/models/Tag.ts
  examples/typescript/src/gen/ts/models/User.ts
  examples/typescript/src/gen/ts/models/index.ts
  internals/ast/src/index.ts
  internals/ast/src/nodes/schema.ts
  internals/ast/src/visitor.test.ts
  internals/ast/src/visitor.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/components/UnstableType.tsx
  packages/plugin-ts/src/generators/index.ts
  packages/plugin-ts/src/generators/unstableTypeGenerator.tsx
  packages/plugin-ts/src/plugin.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

parser update
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-ts/src/parserSchemaNode.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

parser update
  internals/ast/src/factory.test.ts
Due: none

parser update
  packages/plugin-faker/src/generators/fakerGenerator.tsx
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/generators/types.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/src/components/UnstableType.tsx
  packages/plugin-ts/src/generators/__snapshots__/enumItems.ts
  packages/plugin-ts/src/generators/__snapshots__/showPetById.ts
  packages/plugin-ts/src/generators/__snapshots__/systemsWithExplodeForm.ts
  packages/plugin-ts/src/generators/unstableTypeGenerator.tsx
  packages/plugin-ts/src/parserSchemaNode.test.ts
  packages/plugin-zod/src/generators/zodGenerator.tsx
Due: @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

parser update
  examples/typescript/src/gen/index.ts
  examples/typescript/src/gen/ts/models/index.ts
Due: none

update packages
  .changeset/grumpy-ways-sleep.md
  examples/advanced/package.json
  examples/client/package.json
  examples/faker/package.json
  examples/generators/package.json
  examples/react-query/package.json
  examples/solid-query/package.json
  examples/vue-query/package.json
  internals/tanstack-query/package.json
  package.json
  packages/core/package.json
  packages/mcp/package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-vue-query/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: @kubb/core, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-vue-query, unplugin-kubb

tryout
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/generators/types.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/src/generators/unstableTypeGenerator.tsx
Due: @kubb/plugin-oas, @kubb/plugin-ts

tryout
  examples/typescript/src/gen/index.ts
  examples/typescript/src/gen/ts/models/index.ts
Due: none

docs: update changelog for v4.33.4
  docs/changelog.md
Due: none

Update changelog.md
  docs/changelog.md
Due: none

feat: ast
  internals/ast/package.json
  internals/ast/src/__snapshots__/refs.test.ts.snap
  internals/ast/src/factory.test.ts
  internals/ast/src/factory.ts
  internals/ast/src/guards.test.ts
  internals/ast/src/guards.ts
  internals/ast/src/index.ts
  internals/ast/src/nodes/base.ts
  internals/ast/src/nodes/http.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/nodes/operation.ts
  internals/ast/src/nodes/parameter.ts
  internals/ast/src/nodes/property.ts
  internals/ast/src/nodes/response.ts
  internals/ast/src/nodes/root.ts
  internals/ast/src/nodes/schema.ts
  internals/ast/src/refs.test.ts
  internals/ast/src/refs.ts
  internals/ast/src/visitor.test.ts
  internals/ast/src/visitor.ts
  internals/ast/tsconfig.json
  internals/ast/tsdown.config.ts
Due: none

refactor
  internals/ast/src/constants.ts
  internals/ast/src/factory.ts
  internals/ast/src/guards.ts
  internals/ast/src/index.ts
  internals/ast/src/nodes/base.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/nodes/operation.ts
  internals/ast/src/nodes/parameter.ts
  internals/ast/src/nodes/property.ts
  internals/ast/src/nodes/response.ts
  internals/ast/src/nodes/root.ts
  internals/ast/src/nodes/schema.ts
  internals/ast/src/refs.ts
  internals/ast/src/visitor.test.ts
  internals/ast/src/visitor.ts
Due: none

cleanup
  internals/ast/src/__snapshots__/refs.test.ts.snap
  internals/ast/src/factory.test.ts
  internals/ast/src/factory.ts
  internals/ast/src/guards.ts
  internals/ast/src/index.ts
  internals/ast/src/nodes/schema.ts
  internals/ast/src/refs.test.ts
  internals/ast/src/refs.ts
  internals/ast/src/visitor.test.ts
  internals/ast/src/visitor.ts
Due: none

cleanup
  internals/ast/src/factory.test.ts
  internals/ast/src/guards.test.ts
  internals/ast/src/mocks.ts
  internals/ast/src/visitor.test.ts
Due: none

move to its own package so we can reuse it in the studio
  packages/ast/package.json
  packages/ast/src/constants.ts
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/guards.ts
  packages/ast/src/index.ts
  packages/ast/src/mocks.ts
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/http.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/nodes/root.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/refs.test.ts
  packages/ast/src/refs.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
  packages/ast/tsconfig.json
  packages/ast/tsdown.config.ts
  pnpm-lock.yaml
Due: none

add types subpackage
  packages/ast/package.json
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/types.ts
  packages/ast/tsdown.config.ts
Due: none

add types subpackage
  packages/ast/README.md
  packages/ast/package.json
  packages/ast/vitest.config.ts
Due: none

ast guide
  docs/config.json
  docs/guide/ast.md
Due: none
