Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

refactor(adapter-oas): pass config.storage directly to parse() for document cache
  packages/adapter-oas/src/adapter.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

chore: add changeset for resolvedRefCache and storage document cache
  .changeset/perf-ref-cache-storage.md
Due: none

revert: remove storage document cache — will land in a separate PR
  .changeset/perf-ref-cache-storage.md
  packages/adapter-oas/src/adapter.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix: process all defineConfig array entries even when one fails
  .changeset/fix-multiple-config-defineconfig.md
  packages/cli/src/runners/generate/run.ts
  packages/core/src/createKubb.ts
Due: @kubb/cli, @kubb/core

perf: update measurements with 5-run median and AST-phase isolation
  docs/performance-report-streaming-adapter.md
  packages/adapter-oas/src/perf-report.mjs
Due: none

chore: format and lint fixes
  packages/adapter-oas/src/perf-report.mjs
Due: none

fix: set plugin oas to 4.37.5
  packages/cli/src/runners/init.ts
Due: @kubb/cli

docs: update performance report with definitive 5-run measurements
  docs/performance-report-streaming-adapter.md
  docs/performance-results.md
Due: none

chore: generate changeset
  .changeset/swift-trains-chew.md
Due: none

feat: WeakMap/WeakSet for GC-eligible keying + generator-based barrel file emission
  .changeset/barrel-getbarrelfiles-generator.md
  cspell.json
  internals/utils/src/buildTree.ts
  internals/utils/src/context.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/utils.test.ts
  packages/middleware-barrel/src/utils.ts
Due: none

docs(adr): add ADR-0005 for generator functions in lazy AST traversal
  docs/architecture/adr/0005_generator_functions.md
Due: none

docs(adr): rename ADR-0005 to ADR-0006 generator functions
  docs/architecture/adr/0006_generator_functions.md
Due: none

perf(ast): use generator functions for lazy AST traversal
  packages/adapter-oas/src/resolvers.ts
  packages/ast/src/index.ts
  packages/ast/src/utils.ts
  packages/ast/src/visitor.ts
Due: none

refactor(ast): rename collectGen to collectLazy, remove private _collectGen wrapper
  packages/ast/src/index.ts
  packages/ast/src/utils.ts
  packages/ast/src/visitor.ts
Due: none

update packages
  package.json
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/cli/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli, unplugin-kubb

perf: convert array-building loops to generator functions
  packages/adapter-oas/src/parser.ts
  packages/ast/src/index.ts
  packages/ast/src/transformers.ts
  packages/core/src/storages/fsStorage.ts
Due: @kubb/core

perf: replace content-type generator with for-push; add bench files
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/transformers.bench.ts
  packages/core/src/storages/fsStorage.bench.ts
Due: @kubb/core

docs: add generator optimization benchmark report
  generator-optimization-report.md
Due: none

chore: remove benchmark files and optimization report
  generator-optimization-report.md
  packages/adapter-oas/src/adapter.bench.ts
  packages/ast/src/transformers.bench.ts
  packages/core/src/storages/fsStorage.bench.ts
Due: @kubb/core

docs: add generator optimization benchmark report (petStore + Stripe)
  generator-optimization-report.md
Due: none

feat(cli): show live progress for hook execution
  .changeset/show-hooks-cli-progress.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
Due: @kubb/cli

perf: revert operations enumeration from generator back to flatMap+filter
  packages/adapter-oas/src/parser.ts
Due: none

feat(cli): polish loggers and remove blocking gaps
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/runners/generate/run.ts
Due: @kubb/cli

Delete generator-optimization-report.md
  generator-optimization-report.md
Due: none

perf: memoize schema ref collection, parallelize generators, single file flush
  packages/ast/src/utils.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

refactor: clean up naming and reduce complexity in perf changes
  packages/ast/src/utils.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

refactor: extract pending() helper for generator dispatch
  packages/core/src/createKubb.ts
Due: @kubb/core

refactor(core): replace pending helper with inline generator IIFEs
  packages/core/src/createKubb.ts
Due: @kubb/core

fix(core): replace generator IIFE in Promise.all with filter+map
  packages/core/src/createKubb.ts
Due: @kubb/core

fix(cli): plug spinner and group leaks in the new logger flow
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
Due: @kubb/cli

fix(cli): keep logger listeners across watch-mode regenerations
  packages/cli/src/runners/generate/run.ts
Due: @kubb/cli

fix: resolve spell check errors
  cspell.json
  packages/adapter-oas/src/parser.ts
  packages/parser-ts/src/constants.ts
  packages/parser-ts/src/utils.ts
Due: none

chore: add changeset for generator performance optimizations
  .changeset/perf-generator-functions-optimization.md
Due: none

update packages
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/mcp/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/mcp, unplugin-kubb

remove empty line in clackLogger
  packages/cli/src/loggers/clackLogger.ts
Due: @kubb/cli
