Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

cleanup
  pnpm-lock.yaml
  src/gen/mocks/excluded.ts
Due: none

inlineOnly
  packages/oas/tsdown.config.ts
Due: @kubb/oas

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

fix: make sure we removeAll previous listeners
  packages/agent/server/plugins/studio.ts
  packages/cli/src/commands/generate.ts
Due: @kubb/cli

chore: exclude
  .gitignore
Due: none

fix: move createReactFabric() to describe scope to fix MaxListenersExceededWarning
  packages/plugin-client/src/generators/classClientGenerator.test.tsx
  packages/plugin-client/src/generators/clientGenerator.test.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.test.tsx
  packages/plugin-client/src/generators/operationsGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.test.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.test.tsx
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.test.tsx
  packages/plugin-mcp/src/generators/serverGenerator.test.tsx
  packages/plugin-msw/src/generators/handlersGenerator.test.tsx
  packages/plugin-msw/src/generators/mswGenerator.test.tsx
  packages/plugin-react-query/src/generators/infiniteQueryGenerator.test.tsx
  packages/plugin-react-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-react-query/src/generators/queryGenerator.test.tsx
  packages/plugin-react-query/src/generators/suspenseInfiniteQueryGenerator.test.tsx
  packages/plugin-react-query/src/generators/suspenseQueryGenerator.test.tsx
  packages/plugin-solid-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-solid-query/src/generators/queryGenerator.test.tsx
  packages/plugin-svelte-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-svelte-query/src/generators/queryGenerator.test.tsx
  packages/plugin-swr/src/generators/mutationGenerator.test.tsx
  packages/plugin-swr/src/generators/queryGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-vue-query/src/generators/infiniteQueryGenerator.test.tsx
  packages/plugin-vue-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-vue-query/src/generators/queryGenerator.test.tsx
  packages/plugin-zod/src/generators/operationsGenerator.test.tsx
  packages/plugin-zod/src/generators/zodGenerator.test.tsx
Due: @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

fix: upgrade @kubb/fabric-core and @kubb/react-fabric to 0.13.2
  package.json
  packages/core/package.json
  packages/mcp/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-oas/src/OperationGenerator.test.ts
  packages/plugin-oas/src/SchemaGenerator.test.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-oas/src/utils/fullSpecCircular.test.ts
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core, @kubb/mcp, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

update
  .gitignore
  examples/advanced/package.json
  examples/client/package.json
  examples/faker/package.json
  examples/generators/package.json
  examples/react-query/package.json
  package.json
  packages/core/src/gen/mocks/excluded.ts
  pnpm-lock.yaml
Due: @kubb/core

add test cases
  packages/agent/server/mocks/websocket.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/loadConfig.test.ts
  packages/agent/server/utils/loadConfig.ts
  packages/agent/server/utils/setupHookListener.test.ts
  packages/agent/server/utils/setupHookListener.ts
Due: none

KUBB_AGENT_HEARTBEAT_INTERVAL
  env.d.ts
  packages/agent/Dockerfile
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

allow all
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

do not publish snapshot files
  packages/agent/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  packages/plugin-cypress/package.json
  packages/plugin-faker/package.json
  packages/plugin-mcp/package.json
  packages/plugin-msw/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  packages/plugin-zod/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

add e2e test cases
  packages/agent/README.md
  packages/agent/server/__tests__/helpers.ts
  packages/agent/server/__tests__/studio.e2e.test.ts
  packages/agent/server/mocks/websocket.ts
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

cleanup
  cspell.json
  packages/agent/server/__tests__/helpers.ts
  packages/agent/server/__tests__/studio.e2e.test.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/loadConfig.test.ts
  packages/agent/server/utils/setupHookListener.test.ts
  packages/core/tsdown.config.ts
Due: @kubb/core

add more timeout
  packages/agent/package.json
  packages/agent/server/__tests__/helpers.ts
  pnpm-lock.yaml
Due: none

fix issues with ga
  .github/workflows/pr.yml
Due: none

ai refactor
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

ai refactor
  packages/agent/server/plugins/studio.ts
Due: none

ai refactor
  packages/agent/server/utils/api.ts
Due: none

better logging
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

better logging
  .gitignore
  packages/agent/server/utils/connectStudio.test.ts
Due: none

use of KUBB_AGENT_SECRET
  package.json
  packages/agent/README.md
  packages/agent/server/utils/token.ts
  pnpm-lock.yaml
Due: none

maskedString
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/maskedString.ts
Due: none

support multiple connections per sandbox
  env.d.ts
  packages/agent/server/__tests__/helpers.ts
  packages/agent/server/__tests__/studio.e2e.test.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

cleanup and resetTimeout
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  src/gen/mocks/excluded.ts
Due: none

feat(agent): remove isSandbox gate from pool, pass poolSize in register request (#2589)
  env.d.ts
  packages/agent/Dockerfile
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/api.ts
Due: none

chore(examples): update generated files
  packages/agent/server/utils/connectStudio.test.ts
Due: none

improve logging
  package.json
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/smithery/package.json
Due: unplugin-kubb

make KUBB_AGENT_SECRET required
  env.d.ts
  packages/agent/server/utils/token.ts
Due: none

make KUBB_AGENT_SECRET required
  packages/agent/server/plugins/studio.ts
Due: none

make KUBB_AGENT_SECRET required
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/packageManager.test.ts
  packages/cli/src/utils/packageManager.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/packageManager.test.ts
  packages/core/src/utils/packageManager.ts
  src/gen/mocks/excluded.ts
Due: @kubb/cli, @kubb/core

use of sessionId
  examples/advanced/.env.example
  packages/agent/.env.example
  packages/agent/server/__tests__/helpers.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/api.ts
Due: none

cleanup of cache
  packages/agent/server/__tests__/studio.e2e.test.ts
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/getSessionKey.ts
  packages/agent/server/utils/isSessionValid.ts
  packages/agent/server/utils/studioConfig.test.ts
  packages/agent/server/utils/studioConfig.ts
Due: none

agentcache
  packages/agent/server/utils/agentCache.test.ts
  packages/agent/server/utils/agentCache.ts
Due: none
