Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

fix(core): tighten Override.options type to exclude nested override
  packages/core/src/definePlugin.ts
Due: @kubb/core

make storage required
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

remove renderer out of plugin and kubb config
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.ts
  packages/renderer-jsx/src/createRenderer.tsx
Due: @kubb/core

naming fixes
  .changeset/remove-plugin-config-renderer.md
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/mocks.ts
Due: @kubb/core

cleanup
  packages/core/src/FileProcessor.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

refactor(core): split driver into parse, transform, generate phases (#3447)
  .changeset/core-compiler-phases.md
  .changeset/remove-plugin-config-renderer.md
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Transform.test.ts
  packages/core/src/Transform.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/renderer-jsx/src/createRenderer.tsx
  plans/core-improvements/architecture-review.md
  plans/core-improvements/research.md
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  .github/canary.sh
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

add maxlisteners
  internals/utils/src/asyncEventEmitter.test.ts
  internals/utils/src/asyncEventEmitter.ts
Due: none

DiagnosticError
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/resolvers.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/diagnostics.test.ts
  packages/cli/src/loggers/diagnostics.ts
  packages/cli/src/loggers/fileSystemLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createDebugger.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

DiagnosticError
  .changeset/clack-plugin-progress-bar.md
  .changeset/debug-logger-and-diagnostics.md
  .changeset/diagnostics-help-plugin-rendering.md
  .changeset/hooks-max-listeners.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/mcp/src/tools/generate.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

DiagnosticError
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/diagnostics.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/createKubb.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, unplugin-kubb

nixpack update
  nixpacks.toml
Due: none

nginx
  nixpacks.toml
Due: none

remove
  nixpacks.toml
Due: none

fix spelling
  cspell.json
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/ws.ts
Due: none

KUBB_PACKAGES
  packages/agent/docker-compose.yaml
Due: none

add plan
  plans/diagnostic-reporting/plan.md
Due: none

reporter and advanced diagnostics
  .changeset/diagnostic-reporting-completeness.md
  packages/adapter-oas/src/refs.ts
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/ws.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/diagnostics.test.ts
  packages/cli/src/loggers/diagnostics.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/reporters/jsonReporter.test.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, unplugin-kubb

cleanup
  .changeset/diagnostic-reporting-completeness.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/diagnostics.test.ts
  packages/cli/src/loggers/diagnostics.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
Due: @kubb/cli

feat(core): route generator context warn/error/info through diagnostics
  .changeset/route-plugin-context-through-diagnostics.md
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/index.ts
Due: @kubb/core

refactor(core): drop ctx.report from the generator context
  .changeset/route-plugin-context-through-diagnostics.md
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/defineGenerator.ts
Due: @kubb/core

feat(core,adapter-oas,mcp,cli): coded errors everywhere and structured MCP diagnostics
  .changeset/coded-errors-and-mcp-diagnostics.md
  packages/adapter-oas/src/factory.test.ts
  packages/adapter-oas/src/factory.ts
  packages/cli/src/loggers/diagnostics.ts
  packages/cli/src/reporters/jsonReporter.test.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/validate.ts
  packages/mcp/src/types.ts
  packages/mcp/src/utils/formatDiagnostics.test.ts
  packages/mcp/src/utils/formatDiagnostics.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp

feat(adapter-oas): opt-in advisory diagnostics for unsupported formats and deprecations
  .changeset/coded-errors-and-mcp-diagnostics.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/documentDiagnostics.test.ts
  packages/adapter-oas/src/documentDiagnostics.ts
  packages/adapter-oas/src/types.ts
Due: none

refactor(adapter-oas): emit advisory diagnostics from the parse pass
  .changeset/coded-errors-and-mcp-diagnostics.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/documentDiagnostics.test.ts
  packages/adapter-oas/src/documentDiagnostics.ts
  packages/adapter-oas/src/schemaDiagnostics.test.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/adapter-oas/src/stream.ts
Due: none

docs(adapter-oas): fix spell check by referencing preScan by name
  packages/adapter-oas/src/schemaDiagnostics.ts
Due: none

refactor(core): fold diagnosticDocsUrl into Diagnostics.docsUrl
  packages/cli/src/loggers/diagnostics.test.ts
  packages/cli/src/loggers/diagnostics.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
Due: @kubb/cli, @kubb/core

fix(mcp,core,adapter-oas): give the MCP tools coded, structured diagnostics
  .changeset/coded-errors-and-mcp-diagnostics.md
  packages/adapter-oas/src/factory.ts
  packages/core/src/createKubb.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/mcp/src/tools/generate.test.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/validate.test.ts
Due: @kubb/core, @kubb/mcp

test(mcp): use a top-level fs import in the validate tool test
  packages/mcp/src/tools/validate.test.ts
Due: @kubb/mcp

feat(core): route generator context warn/error/info through diagnostics (#3451)
  .changeset/coded-errors-and-mcp-diagnostics.md
  .changeset/route-plugin-context-through-diagnostics.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/factory.test.ts
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/schemaDiagnostics.test.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/adapter-oas/src/stream.ts
  packages/adapter-oas/src/types.ts
  packages/cli/src/loggers/diagnostics.test.ts
  packages/cli/src/loggers/diagnostics.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/reporters/jsonReporter.test.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/types.ts
  packages/mcp/src/tools/generate.test.ts
  packages/mcp/src/tools/generate.ts
  packages/mcp/src/tools/validate.test.ts
  packages/mcp/src/tools/validate.ts
  packages/mcp/src/types.ts
  packages/mcp/src/utils/formatDiagnostics.test.ts
  packages/mcp/src/utils/formatDiagnostics.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp

feat(core,adapter-oas,cli,mcp): extend diagnostics for debugging
  .changeset/extend-diagnostics-debugging.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/factory.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/types.ts
  packages/mcp/src/tools/validate.test.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp

feat(core): add a diagnostics catalog as the source of truth for docs
  packages/core/src/diagnosticCatalog.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: @kubb/core

refactor(core): inline the diagnostics catalog into diagnostics.ts
  packages/core/src/diagnosticCatalog.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: @kubb/core

refactor(core,cli): drop config.diagnostics.levels severity overrides
  .changeset/extend-diagnostics-debugging.md
  packages/cli/src/runners/generate/run.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

feat(core): extend diagnostics for debugging (#3452)
  .changeset/extend-diagnostics-debugging.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/factory.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/mcp/src/tools/validate.test.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp

feat(core,cli): replace debug logger with selectable reporters
  .changeset/debug-logger-and-diagnostics.md
  .changeset/diagnostic-reporting-completeness.md
  .changeset/reporters-replace-debug.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/schemaDiagnostics.test.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/adapter-oas/src/stream.ts
  packages/adapter-oas/src/types.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/types.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/reporters/fileReporter.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/cli/src/reporters/reporters.test.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createDebugger.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/reporters.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

refactor(cli,core): build the summary from diagnostics on generation:end
  .changeset/reporters-replace-debug.md
  packages/agent/server/utils/ws.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/cli/src/reporters/reporters.test.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, unplugin-kubb

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
