Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

perf(core): reduce build memory and duplicated hot-path work (#3499)
  .changeset/core-hot-path-perf.md
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Transform.test.ts
  packages/core/src/Transform.ts
  packages/core/src/cache.test.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/defineMiddleware.ts
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat(ast, parser-ts): unquote identifier keys, single-quote, collapse blank lines (#3498)
  .changeset/ast-stringify-helpers.md
  .changeset/objectkey-singlequote-blanklines.md
  internals/utils/src/index.ts
  internals/utils/src/reserved.test.ts
  internals/utils/src/reserved.ts
  internals/utils/src/string.test.ts
  internals/utils/src/string.ts
  packages/adapter-oas/package.json
  packages/adapter-oas/src/parser.ts
  packages/ast/package.json
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/refs.test.ts
  packages/ast/src/refs.ts
  packages/ast/src/resolvers.test.ts
  packages/ast/src/resolvers.ts
  packages/ast/src/signature.ts
  packages/ast/src/transformers.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/ast.test.ts
  packages/ast/src/utils/ast.ts
  packages/ast/src/utils/index.test.ts
  packages/ast/src/utils/index.ts
  packages/ast/tsdown.config.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
  pnpm-lock.yaml
Due: none

refactor(ast): remove unused type exports
  .changeset/ast-trim-unused-type-exports.md
  packages/ast/src/nodes/code.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/nodes/http.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/printer.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/ast.ts
  packages/ast/src/visitor.ts
Due: none

refactor(ast): remove unused type exports (#3502)
  .changeset/ast-trim-unused-type-exports.md
  packages/ast/src/nodes/code.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/nodes/http.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/printer.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/ast.ts
  packages/ast/src/visitor.ts
Due: none

docs: sync integerType default and renderer-jsx API docs with code
  .changeset/sync-docs-with-code-defaults.md
  packages/adapter-oas/extension.yaml
  packages/ast/src/infer.ts
  packages/renderer-jsx/README.md
Due: none

docs(core): correct diagnostic kind name in BuildOutput JSDoc
  packages/core/src/createKubb.ts
Due: @kubb/core

chore: include @kubb/core in the docs-sync changeset
  .changeset/sync-docs-with-code-defaults.md
Due: none

fix(core): default tag group folder to the plain tag
  .changeset/group-tag-default-plain-tag.md
  .changeset/remove-user-group-type.md
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

feat(core): add explicit output.mode and remove implicit single-file detection
  .changeset/ast-strip-self-imports.md
  .changeset/middleware-barrel-output-mode.md
  .changeset/output-mode-explicit.md
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/diagnostics.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/middleware-barrel/src/middleware.test.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/utils.ts
Due: @kubb/core

chore: format and lint fixes
  packages/middleware-barrel/src/middleware.test.ts
Due: none

core: remove auto extension-appending from normalizeOutput and defaultResolvePath
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

core: group is forbidden for mode:'file' in OutputOptions
  packages/core/src/definePlugin.ts
Due: @kubb/core

fix(ast): drop self-imports of locally-defined symbols in grouped output
  .changeset/ast-drop-grouped-self-import.md
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
Due: none

docs(ast): tighten self-import comment and changeset wording
  .changeset/ast-drop-grouped-self-import.md
  packages/ast/src/factory.ts
Due: none

feat(core)!: remove 'group' output mode
  .changeset/remove-group-output-mode.md
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/core/src/constants.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/diagnostics.ts
  packages/middleware-barrel/src/middleware.ts
Due: @kubb/core

feat(cli): add --no-cache flag to kubb generate
  .changeset/cli-generate-no-cache.md
  packages/cli/README.md
  packages/cli/src/commands/generate.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/createKubb.ts
Due: @kubb/cli, @kubb/core

chore: add changeset for @kubb/agent removal (major)
  .changeset/remove-agent-package.md
Due: none

chore: downgrade changeset to minor bump
  .changeset/remove-agent-package.md
Due: none

chore: update lockfile after removing @kubb/agent dependencies
  pnpm-lock.yaml
Due: none

ci: remove Build agent step from Tests job
  .github/workflows/pr.yml
Due: none

ci: add Build step to Tests job
  .github/workflows/pr.yml
Due: none

chore: remove spec-driven plans workflow (folder, commands, skill)
  .agents/skills/spec-driven/SKILL.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/spec.md
  .claude/commands/verify.md
  AGENTS.md
  plans/README.md
  plans/templates/plan.md
  plans/templates/research.md
  plans/templates/slice.md
  plans/templates/spec.md
  plans/templates/verification.md
Due: none

chore: add workflow to delete git tags older than 6 months
  .github/workflows/cleanup-old-tags.yml
Due: none

chore: trigger tag cleanup on push to branch
  .github/workflows/cleanup-old-tags.yml
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

core(cli): remove unused kubb:config:start and kubb:config:end events
  .changeset/remove-config-lifecycle-events.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
