Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

Delete .github/canary.sh
  .github/canary.sh
Due: none

chore: format and lint fixes
  .github/canary.sh
Due: none

feat(core)!: flip output.mode default from directory to file (#3791)
  .changeset/output-mode-default-file-barrel.md
  .changeset/output-mode-default-file.md
  .github/canary.sh
  packages/core/src/Resolver.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/plugin-barrel/src/plugin.test.ts
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs(adapter-oas): add leaner-shape refactor plan
  packages/adapter-oas/plan.md
Due: none

Move macro presets from @kubb/ast to @kubb/kit
  .changeset/macros-ast-to-kit.md
  packages/adapter-oas/package.json
  packages/adapter-oas/src/converters.ts
  packages/ast/README.md
  packages/ast/src/exports.ts
  packages/ast/src/macros/macroSimplifyUnion.test.ts
  packages/kit/README.md
  packages/kit/src/index.ts
  packages/kit/src/macros/index.ts
  packages/kit/src/macros/macroDiscriminatorEnum.test.ts
  packages/kit/src/macros/macroDiscriminatorEnum.ts
  packages/kit/src/macros/macroEnumName.test.ts
  packages/kit/src/macros/macroEnumName.ts
  packages/kit/src/macros/macroRenameSchema.test.ts
  packages/kit/src/macros/macroRenameSchema.ts
  packages/kit/src/macros/macroSimplifyUnion.test.ts
  packages/kit/src/macros/macroSimplifyUnion.ts
  pnpm-lock.yaml
Due: none

Move externally-used ast utils to @kubb/kit, rename collect/collectLazy
  .changeset/ast-utils-to-kit.md
  .changeset/collect-collectsync-rename.md
  packages/adapter-oas/src/converters.ts
  packages/adapter-oas/src/parser.test.ts
  packages/ast/README.md
  packages/ast/src/exports.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/refs.test.ts
  packages/ast/src/utils/refs.ts
  packages/ast/src/utils/schemaGraph.test.ts
  packages/ast/src/utils/schemaGraph.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
  packages/core/src/Resolver.ts
  packages/kit/README.md
  packages/kit/src/index.ts
  packages/kit/src/macros/macroEnumName.ts
  packages/kit/src/utils/index.ts
  packages/kit/src/utils/mergeAdjacentSchemas.test.ts
  packages/kit/src/utils/mergeAdjacentSchemas.ts
  packages/kit/src/utils/refs.test.ts
  packages/kit/src/utils/refs.ts
  packages/kit/src/utils/schemaGraph.test.ts
  packages/kit/src/utils/schemaGraph.ts
Due: @kubb/core

test(adapter-oas): canonicalize characterization snapshots by key order
  packages/adapter-oas/src/__snapshots__/characterization.petStore.yaml.json
  packages/adapter-oas/src/__snapshots__/characterization.withExternalFileRef.yaml.json
  packages/adapter-oas/src/__snapshots__/characterization.withFragmentRef.yaml.json
  packages/adapter-oas/src/characterization.test.ts
Due: none

refactor(adapter-oas): fold buildSchemaNode into a createNode helper
  packages/adapter-oas/src/converters.ts
Due: none

test(adapter-oas): add characterization snapshots for the leaner-shape refactor
  packages/adapter-oas/src/__snapshots__/characterization.petStore.yaml.json
  packages/adapter-oas/src/__snapshots__/characterization.withExternalFileRef.yaml.json
  packages/adapter-oas/src/__snapshots__/characterization.withFragmentRef.yaml.json
  packages/adapter-oas/src/characterization.test.ts
Due: none

refactor(adapter-oas): split converters.ts by node family under emit/
  packages/adapter-oas/src/converters.ts
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/converters/structural.ts
  packages/adapter-oas/src/emit/createNode.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/parser.ts
Due: none

refactor(adapter-oas): put discriminator handling behind emit/discriminator/
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/discriminator/index.ts
  packages/adapter-oas/src/emit/discriminator/preserve.test.ts
  packages/adapter-oas/src/emit/discriminator/preserve.ts
  packages/adapter-oas/src/emit/discriminator/propagate.test.ts
  packages/adapter-oas/src/emit/discriminator/propagate.ts
Due: none

refactor(adapter-oas): collapse ref resolvers into one Refs service
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/resolvers.ts
Due: none

refactor(adapter-oas): tighten the format and multi-type fall-through rules
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/parser.ts
Due: none

refactor(adapter-oas): carve resolvers.ts and factory.ts into model/, load/, emit/
  packages/adapter-oas/mocks/oas.ts
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/createNode.test.ts
  packages/adapter-oas/src/emit/createNode.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/emit/schemaHelpers.test.ts
  packages/adapter-oas/src/emit/schemaHelpers.ts
  packages/adapter-oas/src/load/index.ts
  packages/adapter-oas/src/load/normalize.test.ts
  packages/adapter-oas/src/load/normalize.ts
  packages/adapter-oas/src/load/source.ts
  packages/adapter-oas/src/model/components.test.ts
  packages/adapter-oas/src/model/components.ts
  packages/adapter-oas/src/model/operations.ts
  packages/adapter-oas/src/model/server.test.ts
  packages/adapter-oas/src/model/server.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
Due: none

Depend on @kubb/kit instead of @kubb/ast and @kubb/core in parser-md
  .changeset/parser-md-depend-on-kit.md
  packages/parser-md/package.json
  packages/parser-md/src/parserMd.test.ts
  packages/parser-md/src/parserMd.ts
  pnpm-lock.yaml
Due: none

refactor(adapter-oas): stop mutating the source document, collapse to one cache
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/model/components.test.ts
  packages/adapter-oas/src/model/components.ts
  packages/adapter-oas/src/model/operations.ts
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/refs.ts
Due: none

Depend on @kubb/kit instead of @kubb/ast and @kubb/core in parser-ts, renderer-jsx
  .changeset/parser-ts-renderer-jsx-depend-on-kit.md
  packages/parser-ts/package.json
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/parserTsx.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
  packages/renderer-jsx/package.json
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/jsx-namespace.d.ts
  pnpm-lock.yaml
Due: none

docs(adapter-oas): add changeset for the leaner-shape refactor
  .changeset/adapter-oas-leaner-shape.md
Due: none

style(adapter-oas): wrap getRequestContent's signature per oxfmt
  packages/adapter-oas/src/operation.ts
Due: none

Drop the macro/utils reorg blurb from the ast README
  packages/ast/README.md
Due: none

fix(adapter-oas): resolve $ref requestBody metadata under a global contentType
  .changeset/adapter-oas-leaner-shape.md
  packages/adapter-oas/src/parser.test.ts
Due: none

feat(core)!: flip output.barrel default from { type: 'named' } to false
  .changeset/barrel-default-off.md
  .changeset/plugin-barrel-default-off.md
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/types.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: kubb, unplugin-kubb

refactor(adapter-oas): address code review cleanup findings
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/schemaHelpers.ts
  packages/adapter-oas/src/model/components.ts
  packages/adapter-oas/src/model/operations.ts
  packages/adapter-oas/src/oas.ts
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/types.ts
Due: none

feat(core)!: flip output.barrel default from { type: 'named' } to false (#3797)
  .changeset/barrel-default-off.md
  .changeset/plugin-barrel-default-off.md
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/types.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: kubb, unplugin-kubb

cleanup
  packages/adapter-oas/src/emit/discriminator/index.ts
  packages/adapter-oas/src/model/components.ts
  packages/adapter-oas/src/model/operations.ts
Due: none

refactor: consume release scripts from kubb-labs/config
  .github/workflows/release.yml
  CONTRIBUTING.md
  internals/changelog/format.mjs
  scripts/createReleases.mjs
  scripts/createReleases.test.mjs
  scripts/release.mjs
  scripts/release.test.mjs
  scripts/verifyRegistry.mjs
  scripts/verifyRegistry.test.mjs
Due: none

refactor: consume release scripts from kubb-labs/config (#3799)
  .github/workflows/release.yml
  CONTRIBUTING.md
  internals/changelog/format.mjs
  scripts/createReleases.mjs
  scripts/createReleases.test.mjs
  scripts/release.mjs
  scripts/release.test.mjs
  scripts/verifyRegistry.mjs
  scripts/verifyRegistry.test.mjs
Due: none

cleanup
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/converters/structural.ts
  packages/adapter-oas/src/emit/createNode.test.ts
  packages/adapter-oas/src/emit/createNode.ts
  packages/adapter-oas/src/emit/schemaHelpers.ts
  packages/adapter-oas/src/model/components.ts
Due: none

docs: add plan to reduce @kubb/core layers
  plans/reduce-core-layers/plan.md
Due: none

refactor(core): dispatch plugin generators directly
  .changeset/core-direct-generator-dispatch.md
  packages/core/src/KubbDriver.generators.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/definePlugin.test.ts
  plans/reduce-core-layers/plan.md
Due: @kubb/core

chore: format and lint fixes
  packages/core/src/definePlugin.test.ts
Due: @kubb/core

refactor(core): fold resolver lookup, options normalization, and file payload
  .changeset/core-direct-generator-dispatch.md
  packages/core/src/KubbDriver.generators.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/definePlugin.test.ts
Due: @kubb/core

docs: drop em-dashes from test comments
  packages/core/src/definePlugin.test.ts
Due: @kubb/core

refactor(core): reduce layers on the generation path (#3801)
  .changeset/core-direct-generator-dispatch.md
  packages/core/src/KubbDriver.generators.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/definePlugin.test.ts
Due: @kubb/core

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
