Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

address review feedback on kubb studio CLI integration
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/resolveConfig.test.ts
  packages/studio/src/resolveConfig.ts
Due: @kubb/cli

feat: version the Claude Code plugin with Changesets
  .changeset/config.json
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/sync-plugin-version.mjs
  tools/claude/package.json
Due: none

feat(cli): add --dryRun and record the AI agent in telemetry
  .changeset/gunshi-features.md
  packages/cli/package.json
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/init/run.ts
  pnpm-lock.yaml
Due: @kubb/cli

fix: pin the release action to the commit adding version-script
  .github/workflows/release.yml
Due: none

feat(cli): use the plain logger when an AI coding agent runs generate
  .changeset/gunshi-features.md
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
Due: @kubb/cli

refactor(cli): centralize AI-agent detection and dry-run extension typing
  packages/cli/src/Telemetry.ts
  packages/cli/src/agent.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/gunshiDryRun.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
Due: @kubb/cli

refactor: use node:path.join for the plugin-version sync script
  scripts/sync-plugin-version.mjs
Due: none

Change @kubb/cli version to patch and add dryRun option
  .changeset/gunshi-features.md
Due: none

fix(cli): add --dryRun and record the AI agent in telemetry (#3951)
  .changeset/gunshi-features.md
  packages/cli/package.json
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/agent.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/gunshiDryRun.ts
  packages/cli/src/index.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/init/run.ts
  pnpm-lock.yaml
Due: @kubb/cli

chore: merge main into kubb-studio-cli-extension (#3954)
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/cli/src/Telemetry.test.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/agent.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/gunshiDryRun.ts
  packages/cli/src/index.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/init/run.ts
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix(studio): space out kubb studio log output
  .changeset/quiet-lions-relax.md
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/connectStudio.ts
Due: @kubb/cli

fix(studio): space out kubb studio log output (#3955)
  .changeset/quiet-lions-relax.md
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/connectStudio.ts
Due: @kubb/cli

run ponytail
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/createKubb.ts
  packages/studio/src/api.ts
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/machine.ts
Due: @kubb/cli, @kubb/core

fix(studio): harden config edits and pairing against bad input
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/generate.test.ts
  packages/studio/src/generate.ts
  packages/studio/src/pair.test.ts
  packages/studio/src/pair.ts
  packages/studio/src/resolveConfig.test.ts
  packages/studio/src/resolveConfig.ts
  packages/studio/src/ws.ts
Due: @kubb/cli

refactor: share inParallel and isPathInside through @internals/utils
  internals/utils/src/fs.test.ts
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/core/src/FileManager.ts
  packages/core/src/concurrency.test.ts
  packages/core/src/concurrency.ts
  packages/core/src/createKubb.ts
  packages/core/src/outputManifest.ts
  packages/core/src/storages/cacheStorage.ts
  packages/mcp/src/utils.ts
  packages/plugin-barrel/src/plugin.ts
  packages/studio/src/configFile.ts
  packages/studio/src/ws.ts
Due: @kubb/core, @kubb/mcp

cleanup
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

cleanup
  internals/utils/src/tools.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/protocol/index.ts
Due: none

feat(adapter-oas): let dateType set date-time, date, and time independently
  .changeset/wide-days-heal.md
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/emit/schemaShape.test.ts
  packages/adapter-oas/src/emit/schemaShape.ts
  packages/adapter-oas/src/parser.test.ts
  packages/ast/src/infer.ts
  packages/ast/src/types.ts
Due: none

ci: drop unneeded write permissions from autofix.yml job
  .github/workflows/autofix.yml
Due: none

ci: bump actions/checkout to v7.0.1 across the repo
  .github/workflows/autofix.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/update-agents-skills.yml
Due: none

refactor(studio): resolve PR feedback on the Studio CLI connect
  .changeset/olive-parrots-shake.md
  .changeset/silver-jars-melt.md
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/package.json
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/client.e2e.test.ts
  packages/studio/src/configFile.test.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/index.ts
  packages/studio/src/pair.test.ts
  packages/studio/src/protocol/index.test.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/resolveConfig.test.ts
  packages/studio/src/ws.ts
  pnpm-lock.yaml
Due: @kubb/cli

cleanup
  packages/studio/src/api.ts
  packages/studio/src/pair.ts
Due: none

Fixes saving a config written as a factory with a block body
  .changeset/tidy-otters-wander.md
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
Due: none

fix version
  packages/studio/src/connectStudio.ts
Due: none

feat(studio): name protocol messages after their sender
  .changeset/studio-directional-protocol.md
  packages/cli/src/runners/studio/logger.test.ts
  packages/cli/src/runners/studio/logger.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/client.e2e.test.ts
  packages/studio/src/client.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/hooks.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.test.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/ws.test.ts
  packages/studio/src/ws.ts
Due: @kubb/cli

feat(studio): add agent:disconnect and trim the connect payload
  .changeset/studio-directional-protocol.md
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/client.e2e.test.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
Due: @kubb/cli

test(studio): follow the merged version source for versions.kubb
  packages/studio/src/connectStudio.test.ts
Due: none

refactor(studio): cut the session tag and the dispatch it existed for
  packages/cli/src/runners/studio/logger.test.ts
  packages/cli/src/runners/studio/logger.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/utils/env.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/hooks.ts
  packages/studio/src/ws.test.ts
Due: @kubb/cli

refactor(studio): render the session through the CLI's own loggers
  .changeset/studio-directional-protocol.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/studio/logger.test.ts
  packages/cli/src/runners/studio/logger.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/utils/env.ts
  packages/core/src/types.ts
  packages/studio/package.json
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/hooks.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.ts
Due: @kubb/cli, @kubb/core

cleanup
  packages/cli/src/runners/studio/run.ts
  packages/studio/package.json
  packages/studio/src/connectStudio.test.ts
Due: @kubb/cli

refactor(studio): deslop the branch
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/protocol/index.test.ts
  packages/studio/src/ws.test.ts
Due: @kubb/cli

fix(studio): report Studio's version and the hint after connecting
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
Due: @kubb/cli

fix: add explicit types for module resolution bundler
  .changeset/tidy-plums-invent.md
  internals/shared/package.json
  internals/shared/tsdown.config.ts
  internals/utils/package.json
  internals/utils/tsdown.config.ts
  packages/adapter-oas/package.json
  packages/adapter-oas/tsdown.config.ts
  packages/ast/package.json
  packages/ast/tsdown.config.ts
  packages/cli/package.json
  packages/cli/tsdown.config.ts
  packages/core/package.json
  packages/core/tsdown.config.ts
  packages/kit/package.json
  packages/kit/tsdown.config.ts
  packages/kubb/package.json
  packages/kubb/tsdown.config.ts
  packages/mcp/package.json
  packages/mcp/tsdown.config.ts
  packages/parser-md/package.json
  packages/parser-md/tsdown.config.ts
  packages/parser-ts/package.json
  packages/parser-ts/tsdown.config.ts
  packages/plugin-barrel/package.json
  packages/plugin-barrel/tsdown.config.ts
  packages/renderer-jsx/package.json
  packages/renderer-jsx/tsdown.config.ts
  packages/unplugin-kubb/package.json
  packages/unplugin-kubb/tsdown.config.ts
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix(ci): stop chaining commands in changesets/action version-script
  .github/workflows/release.yml
  package.json
Due: none

update packges
  packages/kubb/package.json
  packages/studio/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: kubb, unplugin-kubb

fix(release): link unplugin-kubb back into the fixed version group
  .changeset/config.json
  packages/unplugin-kubb/package.json
Due: unplugin-kubb

docs: fix voice and tag style in two JSDoc blocks
  packages/cli/src/utils/env.ts
  packages/kit/src/utils/reserved.ts
Due: @kubb/cli

refactor(core): fold KubbHooks into a Kubb.KubbHooksRegistry merge point
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

feat(studio): add protocol and WebSocket client core
  .changeset/studio-directional-protocol.md
  packages/studio/package.json
  packages/studio/src/console.mock.ts
  packages/studio/src/constants.ts
  packages/studio/src/hooks.test.ts
  packages/studio/src/hooks.ts
  packages/studio/src/index.ts
  packages/studio/src/machine.test.ts
  packages/studio/src/machine.ts
  packages/studio/src/protocol/index.test.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/websocket.mock.ts
  packages/studio/src/ws.test.ts
  packages/studio/src/ws.ts
  packages/studio/tsconfig.json
  packages/studio/tsdown.config.ts
  packages/studio/vitest.config.ts
  pnpm-lock.yaml
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
