Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

docs: split shieldcn group into individual linkable badges
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: use npm/license and npm/node shieldcn badges
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: use variant=branded on all shieldcn badges
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: link npm package badges via npmx.dev instead of npmjs.com
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: add Codecov badge to kubb meta README
  packages/kubb/README.md
Due: kubb

remove github actions logger
  .changeset/remove-github-actions-logger.md
  internals/utils/src/env.test.ts
  internals/utils/src/env.ts
  internals/utils/src/index.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/types.ts
  packages/cli/src/loggers/utils.ts
Due: @kubb/cli

docs: use variant=secondary and size=sm on all shieldcn badges
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: enforce variant=secondary and size=xs on all shieldcn badges
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: drop mode=dark from license shieldcn URLs
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

Update README.md
  packages/kubb/README.md
Due: kubb

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix(core): emit kubb:plugin:end per plugin so progress advances
  .changeset/fix-kubb-driver-per-plugin-progress.md
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.test.ts
Due: @kubb/core

refactor(cli): route hook output through events instead of makeSink
  .changeset/hook-output-via-events.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineLogger.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

test(cli): cover streaming hook failure; drop dead clack output rendering
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/runners/generate/utils.test.ts
Due: @kubb/cli

docs(cli,core): drop stale sink wording from logger comments
  packages/cli/src/loggers/clackLogger.ts
  packages/core/src/defineLogger.ts
Due: @kubb/cli, @kubb/core

refactor(core): drop unused install-return generic from Logger
  packages/core/src/defineLogger.ts
Due: @kubb/core

feat(cache): add @kubb/cache incremental build cache
  .changeset/add-kubb-cache.md
  packages/cache/README.md
  packages/cache/extension.yaml
  packages/cache/package.json
  packages/cache/src/artifact.test.ts
  packages/cache/src/artifact.ts
  packages/cache/src/fsCache.test.ts
  packages/cache/src/fsCache.ts
  packages/cache/src/index.ts
  packages/cache/src/manifest.ts
  packages/cache/src/memoryCache.test.ts
  packages/cache/src/memoryCache.ts
  packages/cache/src/tieredCache.test.ts
  packages/cache/src/tieredCache.ts
  packages/cache/src/turboCache.test.ts
  packages/cache/src/turboCache.ts
  packages/cache/tsconfig.json
  packages/cache/tsdown.config.ts
  packages/cache/vitest.config.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/cache.test.ts
  packages/core/src/createCache.ts
  packages/core/src/createKubb.ts
  packages/core/src/fingerprint.test.ts
  packages/core/src/fingerprint.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  pnpm-lock.yaml
Due: @kubb/core

chore: format and lint fixes
  packages/cache/README.md
  packages/cache/package.json
  packages/cache/src/manifest.ts
  packages/cache/src/turboCache.test.ts
  packages/core/src/cache.test.ts
  packages/core/src/fingerprint.test.ts
  packages/core/src/fingerprint.ts
Due: @kubb/core

refactor(cache): use static classes and a caches/ folder
  packages/cache/src/artifact.test.ts
  packages/cache/src/artifact.ts
  packages/cache/src/caches/fsCache.test.ts
  packages/cache/src/caches/fsCache.ts
  packages/cache/src/caches/memoryCache.test.ts
  packages/cache/src/caches/memoryCache.ts
  packages/cache/src/caches/tieredCache.test.ts
  packages/cache/src/caches/tieredCache.ts
  packages/cache/src/caches/turboCache.test.ts
  packages/cache/src/caches/turboCache.ts
  packages/cache/src/index.ts
  packages/cache/src/manifest.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/fingerprint.test.ts
  packages/core/src/fingerprint.ts
Due: @kubb/core

docs(cache): reword fingerprint comment to satisfy spell check
  packages/core/src/fingerprint.ts
Due: @kubb/core

refactor(cache): drop remote cache, keep it local-only
  .changeset/add-kubb-cache.md
  packages/cache/README.md
  packages/cache/extension.yaml
  packages/cache/package.json
  packages/cache/src/Manifest.ts
  packages/cache/src/artifact.test.ts
  packages/cache/src/artifact.ts
  packages/cache/src/caches/fsCache.ts
  packages/cache/src/caches/memoryCache.ts
  packages/cache/src/caches/tieredCache.test.ts
  packages/cache/src/caches/tieredCache.ts
  packages/cache/src/caches/turboCache.test.ts
  packages/cache/src/caches/turboCache.ts
  packages/cache/src/index.ts
  packages/core/src/Fingerprint.test.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createCache.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

refactor(cache): let createCache infer the backend type
  packages/cache/src/caches/fsCache.ts
  packages/cache/src/caches/memoryCache.ts
Due: none

refactor(core): move the cache into @kubb/core, drop @kubb/cache package
  .changeset/add-kubb-cache.md
  packages/cache/README.md
  packages/cache/extension.yaml
  packages/cache/package.json
  packages/cache/src/index.ts
  packages/cache/tsconfig.json
  packages/cache/tsdown.config.ts
  packages/cache/vitest.config.ts
  packages/core/src/Manifest.ts
  packages/core/src/caches/fsCache.test.ts
  packages/core/src/caches/fsCache.ts
  packages/core/src/caches/memoryCache.test.ts
  packages/core/src/caches/memoryCache.ts
  packages/core/src/createKubb.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  pnpm-lock.yaml
Due: @kubb/core

docs(core): tighten cache jsdoc per house voice
  packages/core/src/Fingerprint.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/caches/fsCache.ts
  packages/core/src/caches/memoryCache.ts
  packages/core/src/createCache.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

perf(core): skip parsing on a cache hit
  packages/core/src/KubbDriver.ts
Due: @kubb/core

feat(core): partial (per-node) incremental rebuilds
  .changeset/add-kubb-cache.md
  packages/ast/src/index.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/NodeFingerprint.test.ts
  packages/core/src/NodeFingerprint.ts
  packages/core/src/cache.test.ts
  packages/core/src/caches/fsCache.ts
  packages/core/src/caches/memoryCache.ts
  packages/core/src/createCache.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: @kubb/core

chore: add cache terms to cspell dictionary
  cspell.json
Due: none

feat(kubb): enable fsCache by default in defineConfig
  .changeset/add-kubb-cache.md
  packages/core/src/Fingerprint.ts
  packages/core/src/createKubb.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
Due: @kubb/core, kubb

refactor(core): keep Fingerprint and NodeFingerprint internal
  packages/core/src/index.ts
Due: @kubb/core

refactor(core): rename Fingerprint.stableStringify to stringify
  packages/core/src/Fingerprint.test.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/NodeFingerprint.ts
Due: @kubb/core

refactor(core): drop per-node partial rebuilds, keep simple caching
  .changeset/add-kubb-cache.md
  cspell.json
  packages/ast/src/index.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/NodeFingerprint.test.ts
  packages/core/src/NodeFingerprint.ts
  packages/core/src/cache.test.ts
  packages/core/src/caches/fsCache.ts
  packages/core/src/caches/memoryCache.ts
  packages/core/src/createCache.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
Due: @kubb/core

Revert "refactor(core): drop per-node partial rebuilds, keep simple caching"
  .changeset/add-kubb-cache.md
  cspell.json
  packages/ast/src/index.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/NodeFingerprint.test.ts
  packages/core/src/NodeFingerprint.ts
  packages/core/src/cache.test.ts
  packages/core/src/caches/fsCache.ts
  packages/core/src/caches/memoryCache.ts
  packages/core/src/createCache.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
Due: @kubb/core

refactor(core): extract PartialCache, simplify Manifest, drop memoryCache
  .changeset/add-kubb-cache.md
  packages/core/src/KubbDriver.ts
  packages/core/src/Manifest.ts
  packages/core/src/PartialCache.ts
  packages/core/src/cache.test.ts
  packages/core/src/caches/fsCache.ts
  packages/core/src/caches/memoryCache.test.ts
  packages/core/src/caches/memoryCache.ts
  packages/core/src/createCache.ts
  packages/core/src/index.ts
Due: @kubb/core

refactor(core): drop per-node cache, keep whole-build caching only
  .changeset/add-kubb-cache.md
  cspell.json
  packages/ast/src/index.ts
  packages/core/src/Fingerprint.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/NodeFingerprint.test.ts
  packages/core/src/NodeFingerprint.ts
  packages/core/src/PartialCache.ts
  packages/core/src/cache.test.ts
  packages/core/src/caches/fsCache.ts
  packages/core/src/createCache.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
Due: @kubb/core

refactor(core): extract cache restore/persist helpers in KubbDriver
  packages/core/src/KubbDriver.ts
Due: @kubb/core

refactor(core): use @internals/utils fs helpers in fsCache and Manifest
  packages/core/src/Manifest.ts
  packages/core/src/caches/fsCache.ts
Due: @kubb/core

feat: run kubb natively on Bun with Node support
  .changeset/kubb-bun-native-runtime.md
  .github/workflows/pr.yml
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  internals/utils/src/runtime.test.ts
  internals/utils/src/runtime.ts
  packages/cli/src/runners/agent/run.ts
  packages/core/src/Telemetry.test.ts
  packages/core/src/Telemetry.ts
Due: @kubb/cli, @kubb/core
