Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

fix(studio): remove allowInput, only a sandbox agent can set input
  .changeset/remove-allow-input.md
  packages/cli/README.md
  packages/cli/src/commands/shared.ts
  packages/cli/src/deprecatedFlags.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/studio/README.md
  packages/studio/src/protocol/index.ts
  packages/studio/src/runtime/StudioSession.test.ts
  packages/studio/src/runtime/StudioSession.ts
Due: @kubb/cli

feat(studio): add project background workers
  .changeset/studio-project-worker.md
  packages/cli/src/commands/studio/background.ts
  packages/cli/src/commands/studio/index.ts
  packages/cli/src/commands/studio/status.ts
  packages/cli/src/runners/studio/background.test.ts
  packages/cli/src/runners/studio/background.ts
  packages/cli/src/runners/studio/logout.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/start.ts
  packages/cli/src/runners/studio/status.ts
  packages/cli/src/runners/studio/stop.ts
  packages/cli/src/runners/studio/worker.ts
  packages/cli/tsdown.config.ts
  packages/studio/README.md
  packages/studio/src/operations/api.test.ts
  packages/studio/src/operations/api.ts
  packages/studio/src/runtime/StudioSession.test.ts
  packages/studio/src/runtime/StudioSession.ts
  packages/studio/src/runtime/client.test.ts
  packages/studio/src/runtime/client.ts
  packages/studio/src/runtime/runConnection.test.ts
  packages/studio/src/runtime/runConnection.ts
Due: @kubb/cli

refactor(studio): remove redundant worker handling
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/worker.ts
Due: @kubb/cli

fix(studio): handle stale workers and disconnect failures
  packages/cli/src/runners/studio/background.test.ts
  packages/cli/src/runners/studio/background.ts
  packages/studio/src/runtime/StudioSession.test.ts
  packages/studio/src/runtime/StudioSession.ts
  packages/studio/src/runtime/client.test.ts
  packages/studio/src/runtime/client.ts
Due: @kubb/cli

chore: remove RTK guidance
  AGENTS.md
Due: none

refactor(studio): flatten credential selection
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

docs(studio): clarify worker comments
  packages/cli/src/runners/studio/worker.ts
Due: @kubb/cli

docs(studio): clarify worker port comment
  packages/cli/src/runners/studio/background.ts
Due: @kubb/cli

feat(core): support plugin output imports
  .changeset/clean-imports-flow.md
  packages/core/src/Resolver.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

test(core): cover output.imports and package specifiers
  packages/core/src/createResolver.test.ts
  packages/parser-ts/src/parserTs.test.ts
Due: @kubb/core

feat(core): apply output.imports in the driver and add this.import to printers
  .changeset/clean-imports-flow.md
  packages/ast/src/createPrinter.test.ts
  packages/ast/src/createPrinter.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Resolver.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/mocks.ts
Due: @kubb/core

chore: Update packages
  package.json
  packages/kubb/package.json
  packages/studio/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kubb, unplugin-kubb

refactor(core): share withOutputImports with the mocked driver
  packages/core/src/KubbDriver.ts
  packages/core/src/mocks.ts
  packages/core/src/withOutputImports.ts
Due: @kubb/core

docs(core): shorten the output.imports and printer import comments
  packages/ast/src/createPrinter.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/withOutputImports.ts
Due: @kubb/core

refactor(core): use a module-level ImportNode import and a type guard for file ownership
  packages/core/src/definePlugin.ts
  packages/core/src/withOutputImports.ts
Due: @kubb/core

refactor(core): drop output.imports and keep this.import for custom imports
  .changeset/clean-imports-flow.md
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/definePlugin.ts
  packages/core/src/mocks.ts
  packages/core/src/withOutputImports.ts
Due: @kubb/core

refactor(ast): rename printer.takeImports to drainImports
  .changeset/clean-imports-flow.md
  packages/ast/src/createPrinter.test.ts
  packages/ast/src/createPrinter.ts
Due: none

Update studio-project-worker.md
  .changeset/studio-project-worker.md
Due: none

fix(cli): log Studio commands in the background worker log
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

chore: add changeset
  .changeset/worker-log-commands.md
Due: none

fix(cli): use the plain logger in the Studio background worker
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

chore: update changeset
  .changeset/worker-log-commands.md
Due: none

docs: describe Kubb as generating your API layer from OpenAPI
  .changeset/generate-your-api-layer.md
  .claude-plugin/marketplace.json
  context7.json
  packages/cli/src/loggers/output.ts
  packages/kubb/README.md
  packages/kubb/package.json
  tools/claude/.claude-plugin/plugin.json
  tools/claude/README.md
Due: @kubb/cli, kubb

docs: describe Kubb as spec-agnostic, OpenAPI today
  .changeset/generate-your-api-layer.md
  .claude-plugin/marketplace.json
  context7.json
  packages/cli/src/loggers/output.ts
  packages/kubb/README.md
  packages/kubb/package.json
  tools/claude/.claude-plugin/plugin.json
  tools/claude/README.md
Due: @kubb/cli, kubb

docs: focus the copy on OpenAPI, which Kubb supports today
  .changeset/generate-your-api-layer.md
  .claude-plugin/marketplace.json
  context7.json
  packages/cli/src/loggers/output.ts
  packages/kubb/README.md
  packages/kubb/package.json
  tools/claude/.claude-plugin/plugin.json
  tools/claude/README.md
Due: @kubb/cli, kubb

docs: use spec-agnostic wording for the spec-to-code flow
  .changeset/generate-your-api-layer.md
  .claude-plugin/marketplace.json
  context7.json
  packages/cli/src/loggers/output.ts
  packages/kubb/README.md
  packages/kubb/package.json
  tools/claude/.claude-plugin/plugin.json
  tools/claude/README.md
Due: @kubb/cli, kubb

chore: Update packages
  package.json
  packages/adapter-oas/package.json
  packages/cli/package.json
  packages/cli/src/runners/generate/utils.ts
  packages/studio/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/cli

chore: remove pull request template
  .github/pull_request_template.md
Due: none

feat(studio): read generated files in line windows
  .changeset/windowed-file-reads.md
  packages/studio/src/operations/generations.test.ts
  packages/studio/src/operations/generations.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/runtime/StudioSession.test.ts
  packages/studio/src/runtime/StudioSession.ts
Due: none

fix(studio): split windows on any line ending, trim comments
  packages/studio/src/operations/generations.test.ts
  packages/studio/src/operations/generations.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/runtime/StudioSession.ts
Due: none

feat(studio): page readFiles with a cursor and limit
  .changeset/windowed-file-reads.md
  packages/studio/src/operations/generations.test.ts
  packages/studio/src/operations/generations.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/runtime/StudioSession.test.ts
  packages/studio/src/runtime/StudioSession.ts
Due: none

chore(studio): trim the page protocol comments
  packages/studio/src/protocol/index.ts
Due: none

fix(studio): refuse a cursor given without a limit
  packages/studio/src/runtime/StudioSession.test.ts
  packages/studio/src/runtime/StudioSession.ts
Due: none

chore(studio): rename the changeset to match the cursor paging
  .changeset/paged-file-reads.md
Due: none

Update paged-file-reads.md
  .changeset/paged-file-reads.md
Due: none

Change version from minor to patch for readFiles
  .changeset/paged-file-reads.md
Due: none

chore: remove update-agents-skills workflow
  .github/workflows/update-agents-skills.yml
  AGENTS.md
Due: none

fix(cli): name studio background worker process Kubb
  .changeset/studio-worker-process-title.md
  packages/cli/src/runners/studio/worker.ts
Due: @kubb/cli

fix(parser-ts): preserve package import extensions
  .changeset/tidy-imports-remain.md
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
Due: none

fix(adapter-oas): keep numeric constraints on formatted numbers
  .changeset/formatted-number-constraints.md
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/parser.test.ts
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
