Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

cleanup
  examples/client/src/gen4/deleteOrder.ts
  examples/client/src/gen4/getInventory.ts
  examples/client/src/gen4/getOrderById.ts
  examples/client/src/gen4/placeOrder.ts
  examples/client/src/gen4/placeOrderPatch.ts
  examples/client/src/gen4/tagClientOperation.ts
  examples/client/src/gen5/deleteOrder.ts
  examples/client/src/gen5/getInventory.ts
  examples/client/src/gen5/getOrderById.ts
  examples/client/src/gen5/placeOrder.ts
  examples/client/src/gen5/placeOrderPatch.ts
  examples/client/src/gen5/tagClientOperationReact.ts
  examples/client/src/generators/clientOperationGenerator.tsx
  examples/client/src/generators/clientOperationReactGenerator.tsx
  examples/client/src/generators/clientStaticGenerator.tsx
  packages/core/src/Kubb.ts
  packages/core/src/PluginDriver.test.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/build.test.ts
  packages/core/src/build.ts
Due: @kubb/core

upgrade packages
  biome.json
  examples/advanced/package.json
  examples/client/package.json
  examples/generators/package.json
  examples/mcp/package.json
  examples/msw/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  examples/svelte-query/package.json
  examples/swr/package.json
  examples/typescript/package.json
  examples/vue-query/package.json
  examples/zod/package.json
  package.json
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: @kubb/oas, @kubb/plugin-client, unplugin-kubb

feat: reduce use of this.
  configs/mocks.ts
  examples/client/src/generators/clientOperationGenerator.tsx
  examples/client/src/generators/clientOperationReactGenerator.tsx
  examples/client/src/generators/clientStaticGenerator.tsx
  packages/core/src/Kubb.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/build.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/types.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/clientGenerator.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.tsx
  packages/plugin-client/src/generators/operationsGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.tsx
  packages/plugin-mcp/src/generators/serverGenerator.tsx
  packages/plugin-mcp/src/generators/serverGeneratorLegacy.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-mcp, @kubb/plugin-ts, @kubb/plugin-zod

feat: createKubb
  packages/agent/data/kubb.config.ts
  packages/agent/package.json
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/getCosmiConfig.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/runners/init.ts
  packages/cli/src/utils/getCosmiConfig.ts
  packages/core/src/Kubb.ts
  packages/core/src/PluginDriver.test.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineConfig.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/getConfigs.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/vitest.config.ts
  packages/mcp/src/tools/generate.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
  pnpm-lock.yaml
  tests/3.0.x/cypressPlugin.test.ts
  tests/3.0.x/main.test.ts
  tests/3.0.x/pluginTs.test.ts
  tests/3.0.x/pluginZod.test.ts
  tests/performance/main.bench.ts
  tests/performance/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

cleanup
  examples/client/build.ts
  packages/agent/Dockerfile
  packages/agent/data/kubb.config.ts
  packages/agent/package.json
  packages/agent/tsconfig.json
  packages/core/src/Kubb.ts
  packages/core/src/types.ts
  packages/core/src/utils/getConfigs.ts
  packages/kubb/src/defineConfig.test.ts
  pnpm-lock.yaml
  tests/performance/main.bench.ts
Due: @kubb/core, kubb

cleanup
  packages/core/src/types.ts
Due: @kubb/core

feat: add definePlugin implementation for pluginTs with default resolvePath and resolveName (v4)
  packages/core/src/PluginDriver.ts
  packages/core/src/createPlugin.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/types.ts
  packages/plugin-ts/src/plugin.ts
Due: @kubb/core, @kubb/plugin-ts

remove presets and use of definePlugin
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/definePresets.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/getPreset.test.ts
  packages/core/src/utils/getPreset.ts
  packages/plugin-client/src/index.ts
  packages/plugin-client/src/plugin.ts
  packages/plugin-client/src/presets.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-cypress/src/presets.ts
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-mcp/src/presets.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/presets.ts
  packages/plugin-zod/src/plugin.ts
  packages/plugin-zod/src/presets.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-mcp, @kubb/plugin-ts, @kubb/plugin-zod

add todo and messages
  packages/core/src/Kubb.ts
  packages/core/src/types.ts
Due: @kubb/core

updadted jsdocs
  packages/core/src/defineGenerator.ts
  packages/core/src/defineParser.ts
  packages/core/src/types.ts
  packages/core/src/utils/getFunctionParams.ts
Due: @kubb/core

spelling
  packages/core/src/definePlugin.ts
Due: @kubb/core

chore(examples): update generated files
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.test.ts
Due: @kubb/core

fix: remove UserConfig
  packages/agent/server/utils/getCosmiConfig.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/getCosmiConfig.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
  packages/core/src/utils/getConfigs.ts
  packages/core/src/utils/isInputPath.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/kubb/src/index.ts
  packages/mcp/src/utils/resolveUserConfig.ts
  packages/unplugin-kubb/src/types.ts
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix: remove UserConfig
  packages/agent/server/utils/loadConfig.test.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/getConfig.ts
  packages/cli/src/utils/getCosmiConfig.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/index.ts
  packages/core/src/utils/getConfigs.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/kubb/src/index.ts
  packages/kubb/src/types.ts
Due: @kubb/cli, @kubb/core, kubb

chore(examples): update generated files
  packages/kubb/src/types.ts
Due: kubb

docs: add definePlugin and KubbHooks sections to migration guide (#3063)
  docs/migration-guide.md
Due: none

chore: add changeset for #3022 optional path params fix
  .changeset/query-optional-path-params.md
Due: none

add object param tests
  packages/plugin-react-query/src/generators/__snapshots__/postAsQueryObjectParams/postAsQueryObjectParams.ts
  packages/plugin-react-query/src/generators/queryGenerator.test.tsx
  packages/plugin-vue-query/src/generators/__snapshots__/postAsQueryObjectParams/postAsQueryObjectParams.ts
  packages/plugin-vue-query/src/generators/queryGenerator.test.tsx
Due: @kubb/plugin-react-query, @kubb/plugin-vue-query

update packages
  packages/adapter-oas/package.json
  packages/oas/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/oas, unplugin-kubb

chore(examples): update generated files
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineResolver.ts
  packages/core/src/utils/TreeNode.test.ts
  packages/core/src/utils/getBarrelFiles.test.ts
  packages/core/src/utils/getBarrelFiles.ts
  packages/renderer-jsx/src/utils.ts
Due: @kubb/core

docs: update changelog for v5.0.0-alpha.35
  docs/changelog.md
Due: none

remove unused alias
  tsconfig.json
Due: none

Notes added by 'git notes add'
  37e42b759ad4cc012e3f94b0c3b4e0f6205a7938
Due: none

use v5
  packages/unplugin-kubb/package.json
Due: unplugin-kubb

Notes added by 'git notes add'
  88609568fc2744cf4ae41822e37dc70f69381b1f
Due: none

Notes added by 'git notes add'
  87a04044b7e4190e58b005d25bb4a5614a387f92
Due: none

Notes added by 'git notes add'
  d62498eb4bf609b8ada741a25a288810bf07cbb0
Due: none
