Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

fix: add meta to rootNode
  .changeset/ast-root-meta.md
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/nodes/root.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/types.ts
  packages/ast/src/visitor.ts
  packages/oas/package.json
Due: @kubb/oas

spellhceck fixes
  cspell.json
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/oas/utils.ts
  tsconfig.json
Due: none

docs: update changelog for v4.34.0
  docs/changelog.md
Due: none

feat: add concurrency to visitor.ts
  packages/ast/src/constants.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
Due: none

remove devtools
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/devtools.ts
  packages/adapter-oas/src/index.ts
  packages/adapter-oas/src/types.ts
Due: none

feat: openInStudio helper
  packages/core/package.json
  packages/core/src/PluginManager.ts
  packages/core/src/build.ts
  packages/core/src/constants.ts
  packages/core/src/devtools.ts
  packages/core/src/types.ts
  packages/core/src/utils/FunctionParams.ts
  packages/plugin-ts/src/plugin.ts
  pnpm-lock.yaml
Due: @kubb/core, @kubb/plugin-ts

feat: ReactGenerator and Generator v2 support with adapter(ast/schemaNode)
  examples/typescript/kubb.config.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/guards.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/generators/createGenerator.ts
  packages/plugin-oas/src/generators/createReactGenerator.ts
  packages/plugin-oas/src/generators/types.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/package.json
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/plugin.ts
  pnpm-lock.yaml
Due: @kubb/plugin-oas, @kubb/plugin-ts

use parse
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
Due: none

feat: printer helper (replaces createParser)
  packages/ast/src/index.ts
  packages/ast/src/printer.test.ts
  packages/ast/src/printer.ts
  packages/ast/src/types.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: @kubb/core

cleanup
  packages/ast/src/printer.test.ts
  packages/ast/src/printer.ts
Due: none

upgrade packages
  examples/advanced/package.json
  examples/msw/package.json
  packages/agent/package.json
  packages/ast/src/printer.test.ts
  packages/ast/src/printer.ts
  packages/core/src/index.ts
  pnpm-lock.yaml
  tests/e2e/package.json
Due: @kubb/core

test bench with build
  .github/workflows/pr.yml
Due: none

cleanup bench
  tests/performance/main.bench.ts
Due: none

test cases
  packages/ast/src/types.ts
  packages/plugin-ts/src/printer.test.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

feat: ts printer
  packages/ast/src/types.ts
  packages/core/src/types.ts
  packages/plugin-ts/src/printer.test.ts
Due: @kubb/core, @kubb/plugin-ts

make properties required and [] as default
  packages/ast/src/factory.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/printer.test.ts
  packages/ast/src/visitor.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

fix import
  packages/plugin-client/src/components/WrapperClient.tsx
Due: @kubb/plugin-client

docs: update changelog for v4.35.0
  docs/changelog.md
Due: none

reduce bind
  packages/ast/src/printer.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

fix ts
  packages/ast/src/factory.ts
Due: none

fix(plugin-ts): wrap negative enum values in PrefixUnaryExpression to prevent AST crash
  packages/plugin-ts/src/factory.ts
Due: @kubb/plugin-ts

expose adapter
  packages/adapter-oas/package.json
  packages/adapter-oas/src/index.ts
  packages/adapter-oas/src/parser.ts
  packages/core/src/PluginManager.ts
  packages/core/src/build.ts
  packages/core/src/types.ts
  packages/plugin-oas/src/generators/types.ts
  packages/plugin-oas/src/hooks/index.ts
  packages/plugin-oas/src/hooks/useRootNode.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/src/components/v2/Type.tsx
  packages/plugin-ts/src/generators/index.ts
  packages/plugin-ts/src/generators/v2/TypeGenerator.tsx
  packages/plugin-ts/src/plugin.ts
  pnpm-lock.yaml
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

reduce export
  packages/adapter-oas/src/index.ts
Due: none

expose nameMapping as state of adapterOas
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
  packages/core/src/types.ts
Due: @kubb/core

prep new way of working
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/parser.ts
  packages/core/src/types.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-ts/src/generators/v2/TypeGenerator.tsx
  packages/plugin-ts/src/plugin.ts
Due: @kubb/core, @kubb/plugin-oas, @kubb/plugin-ts

reduce old code
  examples/typescript/kubb.config.ts
  packages/plugin-ts/src/generators/v2/TypeGenerator.tsx
Due: @kubb/plugin-ts

fix last issues for v5 support
  examples/typescript/kubb.config.ts
  examples/typescript/src/v5/index.ts
  examples/typescript/src/v5/types/AddPetRequest.ts
  examples/typescript/src/v5/types/Address.ts
  examples/typescript/src/v5/types/ApiResponse.ts
  examples/typescript/src/v5/types/Cat.ts
  examples/typescript/src/v5/types/Category.ts
  examples/typescript/src/v5/types/Customer.ts
  examples/typescript/src/v5/types/Dog.ts
  examples/typescript/src/v5/types/FullAddress.ts
  examples/typescript/src/v5/types/HappyCustomer.ts
  examples/typescript/src/v5/types/Order.ts
  examples/typescript/src/v5/types/Pet.ts
  examples/typescript/src/v5/types/PetNotFound.ts
  examples/typescript/src/v5/types/Tag.ts
  examples/typescript/src/v5/types/UnhappyCustomer.ts
  examples/typescript/src/v5/types/User.ts
  examples/typescript/src/v5/types/UserArray.ts
  packages/core/src/PluginManager.ts
Due: @kubb/core

Update package.json
  packages/adapter-oas/package.json
Due: none

fix: resolve misformatted changelog.md (#2753)
  docs/changelog.md
Due: none

Fix TypeGenerator v2 duplicate Enum suffix (CustomerParamsStatusEnum) (#2755)
  examples/typescript/src/v5/index.ts
  examples/typescript/src/v5/types/Customer.ts
  examples/typescript/src/v5/types/Order.ts
  packages/adapter-oas/src/parser.ts
  pnpm-lock.yaml
Due: none

docs: update changelog for v4.35.1
  docs/changelog.md
Due: none

upgrade packages
  cspell.json
  packages/adapter-oas/package.json
  packages/oas/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/oas

storage tryout
  docs/getting-started/configure.md
  internals/utils/src/fs.ts
  packages/cli/src/loggers/fileSystemLogger.ts
  packages/core/package.json
  packages/core/src/build.ts
  packages/core/src/defineStorage.ts
  packages/core/src/index.ts
  packages/core/src/storages/fsStorage.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

storage
  packages/core/src/index.ts
  packages/core/src/storages/fsStorage.ts
  packages/core/src/types.ts
Due: @kubb/core

add test cases
  packages/core/src/defineStorage.test.ts
  packages/core/src/storages/fsStorage.test.ts
Due: @kubb/core

add changeset
  .changeset/storage-abstraction.md
  docs/getting-started/configure.md
  packages/core/src/defineStorage.ts
  packages/core/src/storages/fsStorage.ts
Due: @kubb/core

memoryStorage
  .changeset/storage-abstraction.md
  packages/core/src/index.ts
  packages/core/src/storages/memoryStorage.test.ts
  packages/core/src/storages/memoryStorage.ts
Due: @kubb/core
