Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

fix(release): verifyRegistry.mjs fails loudly on empty input, verifies concurrently
  scripts/verifyRegistry.mjs
Due: none

Cleanup
  scripts/createReleases.mjs
  scripts/release.mjs
  scripts/verifyRegistry.mjs
Due: none

Cleanup
  scripts/createReleases.mjs
Due: none

ci(release): rename version_only dispatch input to version_pr
  .github/workflows/release.yml
Due: none

Fix missing objectKey export in kubb/ast
  packages/kubb/src/ast.ts
Due: kubb

fix(core): guard resolveOptions weak map cache against non-object options
  .changeset/core-resolve-options-weak-map-guard.md
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

Fix @kubb/kit README to install kubb, not @kubb/kit directly
  packages/kit/README.md
Due: none

test(core): avoid `as never` in resolveOptions weak map regression test
  packages/core/src/defineResolver.test.ts
Due: @kubb/core

Re-export BarrelType from kubb/config
  packages/kubb/src/config.ts
Due: kubb

Fix misplaced @kubb/* workspace deps and trim barrel-file comments
  packages/cli/package.json
  packages/core/package.json
  packages/kit/src/index.ts
  packages/kubb/src/ast.ts
  packages/parser-ts/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb, unplugin-kubb

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

Drop em dash from ast.ts barrel comment
  packages/kubb/src/ast.ts
Due: kubb

Correct @kubb/adapter-oas and @kubb/renderer-jsx placement
  packages/cli/package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

fixes
  package.json
  packages/core/package.json
  packages/parser-ts/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core, unplugin-kubb

update
  pnpm-lock.yaml
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

update packages
  package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

ci: wait on the build job in compressed-size to reuse the Turbo cache
  .github/workflows/pr.yml
Due: none

feat(kubb): export createKubb for CLI-free programmatic builds
  .changeset/kubb-create-kubb-export.md
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
  packages/kubb/src/createKubb.test.ts
  packages/kubb/src/createKubb.ts
  packages/kubb/src/defineConfig.ts
  packages/kubb/src/index.ts
Due: @kubb/core, kubb

test: keep typescript external so Vite 8.1.1 does not transform it
  configs/vitest.config.ts
Due: none

docs(ast): correct README import paths after subpath fold
  .changeset/ast-readme-import-paths.md
  packages/ast/README.md
Due: none

ci: reuse the Turbo cache in build-dependent jobs + fix Vite 8.1.1 test regression (#3697)
  .github/workflows/pr.yml
  configs/vitest.config.ts
Due: none

refactor(kubb): re-export createKubb from @kubb/core instead of wrapping it
  .changeset/kubb-create-kubb-export.md
  packages/kubb/src/createKubb.test.ts
  packages/kubb/src/createKubb.ts
  packages/kubb/src/defineConfig.ts
  packages/kubb/src/index.ts
Due: kubb

docs(ast): note @kubb/ast is internal to the monorepo
  .changeset/ast-readme-import-paths.md
  packages/ast/README.md
Due: none

feat!: remove the kubb/ast subpath
  .changeset/ast-readme-import-paths.md
  .changeset/remove-kubb-ast-subpath.md
  packages/ast/README.md
  packages/kubb/package.json
  packages/kubb/src/ast.ts
  packages/kubb/tsdown.config.ts
Due: kubb

Bump peter-evans/repository-dispatch to v4.0.1 (Node 24)
  .github/workflows/release.yml
Due: none

feat!: drop the bare factory export from kubb/kit
  .changeset/kit-drop-factory-export.md
  packages/kit/src/index.ts
Due: none

fix(ci): except bot-generated examples branches from merged-only cleanup guard
  .github/workflows/cleanup-branches.yml
Due: none

Frame @kubb/core and @kubb/ast READMEs as internal libraries
  .changeset/core-ast-readme-internal-library.md
  packages/ast/README.md
  packages/core/README.md
Due: @kubb/core

fix(core): order plugins with a topological sort instead of a pairwise comparator
  .changeset/core-topological-plugin-sort.md
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

fix(cli): correct update check, watch mode, and hook orchestration in generate
  .changeset/cli-generate-fixes.md
  packages/cli/src/constants.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.test.ts
  packages/cli/src/runners/generate/utils.ts
Due: @kubb/cli

docs: add kubb kit to contributing and agent docs
  AGENTS.md
  CONTRIBUTING.md
  packages/kubb/README.md
Due: kubb

Add kubb/vite, kubb/webpack, and other bundler integration subpaths
  .changeset/kubb-bundler-integration-subpaths.md
  packages/kubb/package.json
  packages/kubb/src/astro.ts
  packages/kubb/src/esbuild.ts
  packages/kubb/src/farm.ts
  packages/kubb/src/nuxt.ts
  packages/kubb/src/rolldown.ts
  packages/kubb/src/rollup.ts
  packages/kubb/src/rspack.ts
  packages/kubb/src/vite.ts
  packages/kubb/src/webpack.ts
  packages/kubb/tsdown.config.ts
  pnpm-lock.yaml
Due: kubb

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
