Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

refactor(core,parser-ts): build copied templates with createFile like injected files
  .changeset/parser-aware-copy.md
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/defineParser.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/utils.ts
Due: @kubb/core

chore(core,parser-ts): simplify copy hook tests, JSDoc and changeset
  .changeset/parser-aware-copy.md
  packages/ast/src/nodes/file.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/defineParser.ts
  packages/core/src/definePlugin.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/utils.ts
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/jsx-namespace.d.ts
Due: @kubb/core

fix(parser-ts): keep copied template declarations in place when lifting is unsafe
  packages/core/src/FileManager.ts
  packages/core/src/defineParser.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/utils.ts
Due: @kubb/core

fix(parser-ts): resolve parent imports and keep the template header on top
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
  packages/parser-ts/src/utils.ts
Due: none

feat(studio): one host contract for kubb studio, the Docker agent, and CI
  .changeset/studio-host-contract.md
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/studio/ci.test.ts
  packages/cli/src/runners/studio/ci.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/README.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/client.test.ts
  packages/studio/src/client.ts
  packages/studio/src/hooks.ts
  packages/studio/src/index.ts
  packages/studio/src/pair.test.ts
  packages/studio/src/pair.ts
  packages/studio/src/protocol/index.ts
Due: @kubb/cli

fix(studio): address review feedback and trim comments
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/studio/ci.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/api.ts
  packages/studio/src/client.ts
  packages/studio/src/hooks.ts
  packages/studio/src/pair.ts
Due: @kubb/cli

test(studio): trim tests to core behavior and security guards
  packages/studio/mocks/array.config.txt
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/api.test.ts
  packages/studio/src/client.test.ts
  packages/studio/src/configFile.test.ts
  packages/studio/src/constants.test.ts
  packages/studio/src/generations.test.ts
  packages/studio/src/hooks.test.ts
  packages/studio/src/machine.test.ts
  packages/studio/src/pair.test.ts
  packages/studio/src/resolveConfig.test.ts
  packages/studio/src/rpc.test.ts
  packages/studio/src/runConnection.test.ts
  packages/studio/src/snapshotPackage.test.ts
  packages/studio/src/ws.test.ts
Due: none

refactor(studio): deslop review follow-ups
  packages/cli/src/loggers/createLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/README.md
  packages/studio/src/api.ts
  packages/studio/src/client.ts
Due: @kubb/cli

feat(studio): compare a pull request's snapshot with its base branch
  .changeset/snapshot-branch-baseline.md
  packages/cli/src/commands/studio/snapshot.ts
  packages/cli/src/runners/studio/ci.test.ts
  packages/cli/src/runners/studio/ci.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/README.md
  packages/studio/src/api.ts
  packages/studio/src/index.ts
Due: @kubb/cli

fix(studio): label an explicit --base-id comparison with its own id
  packages/cli/src/runners/studio/ci.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/README.md
  packages/studio/src/api.ts
Due: @kubb/cli

refactor(studio): simplify the base branch comparison
  .changeset/snapshot-branch-baseline.md
  packages/cli/src/commands/studio/snapshot.ts
  packages/cli/src/runners/studio/ci.test.ts
  packages/cli/src/runners/studio/ci.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/README.md
Due: @kubb/cli

refactor(studio): send the base agent's id as baseId
  .changeset/snapshot-branch-baseline.md
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/README.md
  packages/studio/src/api.ts
Due: @kubb/cli

refactor(studio): drop the comparison with the files on disk
  .changeset/snapshot-branch-baseline.md
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/README.md
  packages/studio/src/api.ts
  packages/studio/src/index.ts
Due: @kubb/cli

feat(studio): compare a GitLab merge request's snapshot with its target branch
  .changeset/snapshot-gitlab-baseline.md
  packages/cli/src/runners/studio/ci.test.ts
  packages/cli/src/runners/studio/ci.ts
  packages/studio/README.md
Due: @kubb/cli

feat(studio): add --base-id to kubb studio snapshot
  .changeset/snapshot-gitlab-baseline.md
  packages/cli/src/commands/studio/snapshot.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/README.md
Due: @kubb/cli

chore(studio): trim comments under the comment-ratio limit
  packages/cli/src/runners/studio/ci.ts
  packages/cli/src/runners/studio/run.ts
  packages/cli/src/runners/studio/snapshot.ts
Due: @kubb/cli

feat(studio): retry createJob on a busy agent, a full queue, or no connection (ADR-0003 slice B1, partial)
  .changeset/studio-create-job-retry.md
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
Due: @kubb/cli

feat(studio): jittered reconnect backoff and a top-level cancel(jobId) (ADR-0003 slice B1, continued)
  .changeset/studio-reconnect-backoff-and-cancel.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/rpc.ts
Due: none

fix(studio): bound createJob retries to deadline and connection loss
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
Due: @kubb/cli

fix(studio): share snapshot timeout and abort waitForJob on disconnect
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
Due: @kubb/cli

style(studio): simplify session documentation
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
Due: none

fix(cli): fail fast again when the CI token is rejected mid-snapshot
  .changeset/snapshot-token-rejected-fail-fast.md
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
Due: @kubb/cli

fix(cli): propagate studio connection failures during snapshots
  packages/cli/src/runners/studio/snapshot.ts
Due: @kubb/cli

feat(studio): jittered reconnect backoff and a top-level cancel(jobId) (#4105)
  .changeset/studio-reconnect-backoff-and-cancel.md
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/rpc.ts
Due: @kubb/cli

fix(cli): fail fast again when the CI token is rejected mid-snapshot (#4107)
  .changeset/snapshot-token-rejected-fail-fast.md
  packages/cli/src/runners/studio/snapshot.test.ts
Due: @kubb/cli

feat(studio): report capacity at registration and load with each heartbeat (ADR-0003 B1)
  .changeset/studio-agent-capacity-and-load.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/client.test.ts
  packages/studio/src/client.ts
  packages/studio/src/constants.test.ts
  packages/studio/src/constants.ts
  packages/studio/src/generations.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.ts
Due: none

feat(studio): act on Studio's close codes (ADR-0003 B1)
  .changeset/studio-close-codes.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/rpc.ts
Due: none

feat(studio): isolate sandbox jobs and expire their kept generations (ADR-0003 B1)
  .changeset/studio-job-isolation.md
  packages/core/src/index.ts
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/generations.test.ts
  packages/studio/src/generations.ts
Due: @kubb/core

feat(studio): report capacity at registration and load with each heartbeat (#4110)
  .changeset/studio-agent-capacity-and-load.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/client.test.ts
  packages/studio/src/client.ts
  packages/studio/src/constants.test.ts
  packages/studio/src/constants.ts
  packages/studio/src/generations.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.ts
Due: none

feat(studio): act on Studio's close codes (ADR-0003 B1) (#4111)
  .changeset/studio-close-codes.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/rpc.ts
Due: none

feat(studio): isolate sandbox jobs and expire their kept generations (ADR-0003 B1) (#4112)
  .changeset/studio-job-isolation.md
  packages/core/src/index.ts
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/generations.test.ts
  packages/studio/src/generations.ts
Due: @kubb/core

feat(studio): one socket per agent process (ADR-0003 B1, breaking)
  .changeset/studio-single-connection.md
  packages/studio/README.md
  packages/studio/src/StudioSession.test.ts
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/client.test.ts
  packages/studio/src/client.ts
  packages/studio/src/constants.ts
  packages/studio/src/index.ts
  packages/studio/src/protocol/index.ts
  packages/studio/src/rpc.test.ts
  packages/studio/src/rpc.ts
Due: none

chore: consolidate changesets
  .changeset/snapshot-branch-baseline.md
  .changeset/snapshot-gitlab-baseline.md
  .changeset/snapshot-token-rejected-fail-fast.md
  .changeset/studio-agent-capacity-and-load.md
  .changeset/studio-close-codes.md
  .changeset/studio-create-job-retry.md
  .changeset/studio-job-isolation.md
  .changeset/studio-reconnect-backoff-and-cancel.md
  .changeset/studio-single-connection.md
Due: none

refactor(studio): remove memoryBudgetMb from agent capacity
  .changeset/studio-remove-memory-budget.md
  packages/studio/src/StudioSession.ts
  packages/studio/src/api.test.ts
  packages/studio/src/constants.test.ts
  packages/studio/src/constants.ts
  packages/studio/src/protocol/index.ts
Due: none

fix(studio): pin a CI snapshot job to the process that asked for it
  .changeset/pin-ci-snapshot-instance.md
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/client.test.ts
  packages/studio/src/client.ts
Due: @kubb/cli

refactor(studio): organize package into clear layers
  .changeset/bright-lamps-refactor.md
  packages/studio/README.md
  packages/studio/src/index.ts
  packages/studio/src/operations/api.test.ts
  packages/studio/src/operations/api.ts
  packages/studio/src/operations/configFile.test.ts
  packages/studio/src/operations/configFile.ts
  packages/studio/src/operations/console.mock.ts
  packages/studio/src/operations/constants.test.ts
  packages/studio/src/operations/constants.ts
  packages/studio/src/operations/generate.ts
  packages/studio/src/operations/generationEvents.test.ts
  packages/studio/src/operations/generationEvents.ts
  packages/studio/src/operations/generations.test.ts
  packages/studio/src/operations/generations.ts
  packages/studio/src/operations/hooks.test.ts
  packages/studio/src/operations/hooks.ts
  packages/studio/src/operations/machine.test.ts
  packages/studio/src/operations/machine.ts
  packages/studio/src/operations/pair.test.ts
  packages/studio/src/operations/pair.ts
  packages/studio/src/operations/resolveConfig.test.ts
  packages/studio/src/operations/resolveConfig.ts
  packages/studio/src/operations/rpc.messagePort.test.ts
  packages/studio/src/operations/rpc.test.ts
  packages/studio/src/operations/rpc.ts
  packages/studio/src/operations/snapshotPackage.test.ts
  packages/studio/src/operations/snapshotPackage.ts
  packages/studio/src/operations/websocket.mock.ts
  packages/studio/src/operations/websocket.ts
  packages/studio/src/runtime/StudioSession.test.ts
  packages/studio/src/runtime/StudioSession.ts
  packages/studio/src/runtime/client.test.ts
  packages/studio/src/runtime/client.ts
  packages/studio/src/runtime/runConnection.test.ts
  packages/studio/src/runtime/runConnection.ts
Due: none

test(studio): fix reconnect assertion race
  packages/studio/src/runtime/StudioSession.test.ts
Due: none

refactor(studio): bound events and isolate operations
  packages/studio/src/operations/configFile.ts
  packages/studio/src/operations/generate.ts
  packages/studio/src/operations/generationEvents.test.ts
  packages/studio/src/operations/generationEvents.ts
  packages/studio/src/operations/snapshotPackage.test.ts
  packages/studio/src/operations/snapshotPackage.ts
  packages/studio/src/runtime/StudioSession.ts
Due: none

chore: Update packages
  packages/studio/src/operations/generationEvents.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(cli,studio): tell apart no base agent from no base snapshot
  .changeset/event-preexisting-agent.md
  packages/cli/src/runners/studio/snapshot.test.ts
  packages/cli/src/runners/studio/snapshot.ts
  packages/studio/src/index.ts
  packages/studio/src/operations/api.ts
Due: @kubb/cli

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
