Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

ci(changesets): version packages (alpha)
  .changeset/pre.json
  packages/adapter-oas/CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/ast/CHANGELOG.md
  packages/ast/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/parser-ts/CHANGELOG.md
  packages/parser-ts/package.json
  packages/renderer-jsx/CHANGELOG.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/CHANGELOG.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: update changelog for v5.0.0-alpha.48
  docs/changelog.md
Due: none

chore: replace Biome with oxlint and oxfmt
  .oxlintrc.json
  biome.json
  internals/utils/package.json
  internals/utils/src/formatters.test.ts
  internals/utils/src/formatters.ts
  internals/utils/src/linters.test.ts
  internals/utils/src/linters.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/urlPath.test.ts
  package.json
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/agent/server/utils/generate.ts
  packages/ast/package.json
  packages/ast/src/transformers.test.ts
  packages/cli/package.json
  packages/cli/src/runners/generate.ts
  packages/core/package.json
  packages/core/src/types.ts
  packages/core/src/utils/getBarrelFiles.ts
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

chore: update pnpm-lock.yaml after replacing biome with oxlint
  pnpm-lock.yaml
Due: none

chore: align oxlint/oxfmt config with biome equivalents; restore biome as CLI option
  .oxlintrc.json
  .prettierrc.json
  internals/utils/src/formatters.test.ts
  internals/utils/src/formatters.ts
  internals/utils/src/linters.test.ts
  internals/utils/src/linters.ts
  package.json
  packages/agent/server/utils/generate.ts
  packages/cli/src/runners/generate.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

chore: remove .prettierrc.json
  .prettierrc.json
Due: none

chore: remove prettier from internal dev tooling
  .github/workflows/autofix.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: add oxfmt for internal formatting, restore autofix CI step
  .github/workflows/autofix.yml
  .oxfmtrc.json
  internals/utils/package.json
  package.json
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat: migrate oxlint and oxfmt from JSON to TypeScript config files
  .oxfmtrc.json
  .oxlintrc.json
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
Due: none

feat: explicitly declare internal oxlint plugins in config
  oxlint.config.ts
Due: none

chore: trim oxlint plugins to only those matching biome coverage
  oxlint.config.ts
Due: none

chore: upgrade all packages to latest versions
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

test: update barrel snapshot after package upgrades
  packages/core/src/utils/__snapshots__/barrel.json
Due: @kubb/core

docs: add CHANGES.md summarising biome → oxlint/oxfmt migration
  CHANGES.md
  oxlint.config.ts
Due: none

docs: add reusable migration prompt to CHANGES.md for other kubb repos
  CHANGES.md
Due: none

fix: resolve cspell spelling errors
  cspell.json
  packages/agent/server/utils/mergePlugins.test.ts
Due: none

fix: use typescript/ prefix instead of @typescript-eslint/ in oxlint rules
  CHANGES.md
  oxlint.config.ts
Due: none

chore(agents): update AGENTS.md
  AGENTS.md
Due: none

Delete update-v5-guide.md
  update-v5-guide.md
Due: none

Delete CHANGES.md
  CHANGES.md
Due: none

move @kubb/agent and @kubb/mcp from optionalDependencies to dependencies in kubb package (#3120)
  packages/kubb/package.json
  pnpm-lock.yaml
Due: kubb

resolve error in linting
  packages/cli/src/runners/generate.ts
Due: @kubb/cli

fix: oxlint skips gitignored output dirs and misleading error message
  .changeset/fix-oxlint-gitignore-lint-failure.md
Due: none

fix: pass explicit file paths to oxlint to bypass gitignore traversal
  internals/utils/src/linters.ts
Due: none

fix
  .changeset/fix-oxlint-gitignore-lint-failure.md
Due: none

Remove manypkg? (oxlint/oxfrmt can do this now?)
  cspell.json
  package.json
  pnpm-lock.yaml
Due: none

docs: update changelog for v5.0.0-alpha.49
  docs/changelog.md
Due: none

feat(core): add virtual module support for plugin authors
  packages/core/package.json
  packages/core/src/composables.test.ts
  packages/core/src/composables.ts
  packages/core/src/createKubb.ts
  packages/core/src/generatorContext.ts
  packages/core/src/loader.ts
  packages/core/src/register.ts
  packages/core/src/virtual-modules.d.ts
Due: @kubb/core

refactor(core): rethink virtual modules as a meta-framework output registry
  packages/core/src/OutputRegistry.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/composables.test.ts
  packages/core/src/composables.ts
  packages/core/src/createKubb.ts
  packages/core/src/generatorContext.ts
  packages/core/src/loader.ts
  packages/core/src/virtual-modules.d.ts
Due: @kubb/core

security: prevent path traversal in file path resolution (#3124)
  .changeset/fix-path-traversal-security.md
  SECURITY.md
  internals/utils/src/casing.test.ts
  internals/utils/src/casing.ts
  packages/adapter-oas/CHANGELOG.md
  packages/agent/CHANGELOG.md
  packages/ast/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/kubb/CHANGELOG.md
  packages/mcp/CHANGELOG.md
  packages/unplugin-kubb/CHANGELOG.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: update changelog for v5.0.0-alpha.50
  docs/changelog.md
Due: none

docs: update changelog for v5.0.0-alpha.51
  docs/changelog.md
Due: none
