Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

ast guide
  packages/ast/src/mocks.ts
Due: none

docs
  docs/architecture/ast.md
  docs/config.json
Due: none

fix(plugin-ts): support negative values in literal enums (fixes #2734)
  packages/plugin-ts/src/__snapshots__/factory.test.ts.snap
  packages/plugin-ts/src/factory.test.ts
  packages/plugin-ts/src/factory.ts
Due: @kubb/plugin-ts

cleanup
  packages/core/src/config.ts
  packages/core/src/index.ts
  packages/core/src/utils/getConfigs.ts
Due: @kubb/core

Add new path mappings in tsconfig.json
  tsconfig.json
Due: none

Add optional property to schema node type
  packages/ast/src/nodes/schema.ts
Due: none

use of ast package
  packages/ast/src/nodes/schema.ts
  packages/oas/package.json
  packages/oas/src/Oas.ts
  packages/plugin-faker/package.json
  packages/plugin-faker/src/components/Faker.tsx
  packages/plugin-oas/package.json
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/SchemaMapper.ts
  packages/plugin-oas/src/createParser.test.ts
  packages/plugin-oas/src/createParser.ts
  packages/plugin-oas/src/generators/types.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/utils.tsx
  packages/plugin-oas/src/utils/getImports.ts
  packages/plugin-ts/package.json
  packages/plugin-ts/src/components/UnstableType.tsx
  packages/plugin-ts/src/parserSchemaNode.test.ts
  packages/plugin-ts/src/parserSchemaNode.ts
  packages/plugin-zod/package.json
  packages/plugin-zod/src/components/Zod.tsx
  pnpm-lock.yaml
  tsconfig.json
Due: @kubb/oas, @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

cleanup
  internals/ast/package.json
  internals/ast/src/__snapshots__/refs.test.ts.snap
  internals/ast/src/factory.test.ts
  internals/ast/src/factory.ts
  internals/ast/src/guards.test.ts
  internals/ast/src/guards.ts
  internals/ast/src/index.ts
  internals/ast/src/nodes/base.ts
  internals/ast/src/nodes/http.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/nodes/operation.ts
  internals/ast/src/nodes/parameter.ts
  internals/ast/src/nodes/property.ts
  internals/ast/src/nodes/response.ts
  internals/ast/src/nodes/root.ts
  internals/ast/src/nodes/schema.ts
  internals/ast/src/refs.test.ts
  internals/ast/src/refs.ts
  internals/ast/src/visitor.test.ts
  internals/ast/src/visitor.ts
  internals/ast/tsconfig.json
  internals/ast/tsdown.config.ts
  tsconfig.json
Due: none

fix: move inference check from schemaGenerator to oas.ts
  packages/oas/src/Oas.ts
  packages/plugin-oas/src/SchemaGenerator.ts
Due: @kubb/oas, @kubb/plugin-oas

cleanup
  packages/oas/src/Oas.ts
Due: @kubb/oas

types update for oas
  packages/oas/src/types.ts
  packages/oas/src/utils.ts
Due: @kubb/oas

cleanup
  packages/plugin-faker/src/generators/__snapshots__/petAdoption400.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  pnpm-lock.yaml
Due: @kubb/plugin-faker, @kubb/plugin-oas

changeset
  .changeset/fix-ref-resolution-in-oas-getschemas.md
Due: none

feat: oas parser to Kubb ast
  packages/oas/mocks/oas.ts
  packages/oas/package.json
  packages/oas/src/parser.test.ts
  packages/oas/src/parser.ts
  pnpm-lock.yaml
Due: @kubb/oas

docs: update changelog for v4.33.5
  docs/changelog.md
Due: none

Update changelog.md
  docs/changelog.md
Due: none

cleanup parser.ts
  packages/oas/src/constants.ts
  packages/oas/src/index.ts
  packages/oas/src/parser.test.ts
  packages/oas/src/parser.ts
  packages/oas/src/types.ts
  packages/oas/src/utils.ts
Due: @kubb/oas

Update .all-contributorsrc
  .all-contributorsrc
Due: none

trans fix
  packages/oas/src/constants.ts
  packages/oas/src/parser.ts
  packages/oas/src/utils.ts
Due: @kubb/oas

cleanup
  packages/oas/src/constants.ts
  packages/oas/src/utils.ts
Due: @kubb/oas

cleanup
  packages/oas/src/parser.test.ts
  packages/oas/src/parser.ts
Due: @kubb/oas

cleanup
  packages/oas/src/parser.test.ts
Due: @kubb/oas

feat: oas adapter
  packages/adapter-oas/package.json
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/index.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/tsconfig.json
  packages/adapter-oas/tsdown.config.ts
  packages/core/src/PluginManager.ts
  packages/core/src/build.ts
  packages/core/src/types.ts
  packages/oas/package.json
  packages/oas/src/index.ts
  packages/plugin-oas/src/hooks/index.ts
  packages/plugin-oas/src/hooks/useRootNode.ts
  pnpm-lock.yaml
  tsconfig.json
Due: @kubb/core, @kubb/oas, @kubb/plugin-oas

defineAdapter
  packages/core/src/defineAdapter.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: @kubb/core

cleanup
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/types.ts
Due: none

feat: add meta to ast package for version, title ans baseURL
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/nodes/root.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/types.ts
  packages/ast/src/visitor.ts
Due: none

update packages
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

adapter Oas helpers from @kubb/oas (will be deprecated in the future)
  packages/adapter-oas/mocks/oas.ts
  packages/adapter-oas/package.json
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/oas/Oas.ts
  packages/adapter-oas/src/oas/constants.ts
  packages/adapter-oas/src/oas/index.ts
  packages/adapter-oas/src/oas/resolveServerUrl.ts
  packages/adapter-oas/src/oas/types.ts
  packages/adapter-oas/src/oas/utils.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
Due: none

remove barrel file
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/oas/index.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
Due: none

devtools for kubb studio
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/devtools.ts
  packages/adapter-oas/src/index.ts
  packages/adapter-oas/src/types.ts
Due: none

docs about the oas adapter move
  docs/architecture/adapter-oas.md
Due: none

update tsdown
  examples/advanced/package.json
  examples/typescript/kubb.config.ts
  examples/typescript/package.json
  packages/core/package.json
  packages/core/tsdown.config.ts
  packages/oas/package.json
  packages/oas/tsdown.config.ts
  packages/plugin-oas/package.json
  packages/plugin-oas/tsdown.config.ts
  pnpm-lock.yaml
Due: @kubb/core, @kubb/oas, @kubb/plugin-oas

update tsdown
  packages/adapter-oas/tsdown.config.ts
Due: none

cleanup
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/oas/Oas.ts
  packages/adapter-oas/src/oas/constants.ts
  packages/adapter-oas/src/oas/resolveServerUrl.ts
  packages/adapter-oas/src/oas/types.ts
  packages/adapter-oas/src/oas/utils.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
Due: none

use of zlib for compression
  packages/adapter-oas/src/devtools.ts
Due: none

fflate for compression
  packages/adapter-oas/package.json
  packages/adapter-oas/src/devtools.ts
  pnpm-lock.yaml
Due: none

format
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/devtools.ts
  packages/adapter-oas/src/oas/utils.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/agent/server/utils/token.ts
  packages/core/src/types.ts
  packages/oas/src/index.ts
  packages/unplugin-kubb/src/index.ts
Due: @kubb/core, @kubb/oas, unplugin-kubb

format
  examples/typescript/package.json
Due: none

fix ts issues
  examples/advanced/package.json
  packages/core/src/index.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/plugin.ts
Due: @kubb/core, @kubb/plugin-oas
