Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

add test cases
  packages/adapter-oas/src/parser.test.ts
  packages/core/src/types.ts
Due: @kubb/core

refactor(core): rename HookStylePlugin → Plugin, old Plugin → NormalizedPlugin
  packages/agent/server/utils/mergePlugins.ts
  packages/agent/server/utils/resolvePlugins.ts
  packages/cli/src/utils/getSummary.ts
  packages/core/src/Kubb.ts
  packages/core/src/PluginDriver.test.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.test.ts
Due: @kubb/cli, @kubb/core, kubb

reduce bundle size by removing and inlining dependencies
  packages/adapter-oas/package.json
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/guards.ts
  packages/adapter-oas/src/refs.ts
  packages/agent/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/utils/packageJSON.test.ts
  packages/core/src/utils/packageJSON.ts
  packages/mcp/package.json
Due: @kubb/cli, @kubb/core, @kubb/mcp

update packages
  package.json
  packages/agent/package.json
  packages/cli/package.json
  packages/mcp/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/mcp

update packages
  .changeset/eight-months-speak.md
Due: none

push fix
  packages/adapter-oas/src/factory.ts
Due: none

ci(changesets): version packages (alpha)
  .changeset/pre.json
  packages/adapter-oas/CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/ast/CHANGELOG.md
  packages/ast/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/parser-ts/CHANGELOG.md
  packages/parser-ts/package.json
  packages/renderer-jsx/CHANGELOG.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/CHANGELOG.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: update changelog for v5.0.0-alpha.43
  docs/changelog.md
Due: none

perf(core, ast, adapter-oas): low-risk hot-path speedups
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/ast/src/utils.ts
  packages/core/src/FileManager.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

refactor: centralize constants shared across multiple files
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/cli/src/constants.ts
  packages/cli/src/runners/init.ts
  packages/core/src/FileManager.ts
  packages/core/src/constants.ts
  packages/core/src/utils/getBarrelFiles.ts
Due: @kubb/cli, @kubb/core

refactor: split long parser/resolver helpers for readability
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/core/src/mocks.ts
Due: @kubb/core

cleanup
  packages/core/src/PluginDriver.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/types.ts
Due: @kubb/core

cleanup
  packages/adapter-oas/package.json
  packages/agent/server/utils/mergePlugins.ts
  packages/agent/server/utils/resolvePlugins.ts
  packages/cli/src/utils/getSummary.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/Kubb.ts
  packages/core/src/PluginDriver.test.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/createPlugin.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/core/src/utils/executeStrategies.test.ts
  packages/core/src/utils/executeStrategies.ts
  packages/core/src/utils/getBarrelFiles.ts
  packages/kubb/src/defineConfig.test.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb, unplugin-kubb

cleanup
  packages/core/src/PluginDriver.ts
Due: @kubb/core

add changeset
  .changeset/remove-legacy-plugin-types.md
Due: none

update packages
  package.json
  pnpm-lock.yaml
Due: none

docs: update changelog for v5.0.0-alpha.44
  docs/changelog.md
Due: none

update packages
  packages/agent/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/mcp/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

remove context
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/renderer-jsx/package.json
  packages/renderer-jsx/src/context.test.ts
  packages/renderer-jsx/src/context/KubbContext.ts
  packages/renderer-jsx/src/context/OasContext.ts
  packages/renderer-jsx/src/index.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: unplugin-kubb

clean
  packages/cli/package.json
  pnpm-lock.yaml
Due: @kubb/cli

clean
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

Delete copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix @kubb/renderer-jsx dependency and update lock file
  packages/core/package.json
  pnpm-lock.yaml
Due: @kubb/core

Fix @kubb/renderer-jsx dependency in mcp package
  packages/mcp/package.json
  pnpm-lock.yaml
Due: @kubb/mcp

Add changeset for workspace dependency fixes
  .changeset/fix-workspace-renderer-jsx-deps.md
Due: none

docs: update changelog for v5.0.0-alpha.45
  docs/changelog.md
Due: none

fix mocks
  packages/core/src/mocks.ts
Due: @kubb/core

docs: update changelog for v5.0.0-alpha.46
  docs/changelog.md
Due: none

remove vite-tsconfig-paths as not needed anymore
  configs/vitest.config.ts
  package.json
  packages/core/vitest.config.ts
  packages/kubb/vitest.config.ts
  packages/parser-ts/vitest.config.ts
  packages/renderer-jsx/vitest.config.ts
  pnpm-lock.yaml
Due: @kubb/core, kubb

Update copilot-setup-steps.yml
  .github/copilot-setup-steps.yml
Due: none

docs: update changelog for v5.0.0-alpha.47
  docs/changelog.md
Due: none

fix: accept UserGroup in ResolverContext and apply default name in defaultResolvePath
  packages/core/src/defineResolver.ts
  packages/core/src/types.ts
Due: @kubb/core

fix: make Group.name optional so UserGroup is structurally assignable to Group
  packages/core/src/types.ts
Due: @kubb/core

refactor: remove UserGroup type, it is identical to Group
  packages/core/src/types.ts
Due: @kubb/core

chore: add changeset for Group/UserGroup refactor
  .changeset/remove-user-group-type.md
Due: none
