Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

feat(core,cli): replace debug logger with selectable reporters (#3454)
  .changeset/debug-logger-and-diagnostics.md
  .changeset/diagnostic-reporting-completeness.md
  .changeset/reporters-replace-debug.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/schemaDiagnostics.test.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/adapter-oas/src/stream.ts
  packages/adapter-oas/src/types.ts
  packages/agent/server/utils/ws.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/types.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/reporters/fileReporter.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/cli/src/reporters/reporters.test.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createDebugger.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/reporters.ts
  packages/core/src/types.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, unplugin-kubb

cleanup
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/diagnostics.test.ts
  packages/cli/src/loggers/diagnostics.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/reporters/jsonReporter.test.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/cli/src/reporters/reporters.test.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.ts
  packages/core/src/createReporter.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/reporters.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

cleanup
  packages/cli/src/loggers/diagnostics.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/reporters/jsonReporter.test.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/cli/src/reporters/reporters.test.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createReporter.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/mcp/src/tools/generate.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

cleanup
  packages/cli/src/loggers/utils.ts
  packages/cli/src/reporters/fileReporter.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/cli/src/reporters/reporters.test.ts
Due: @kubb/cli

update
  package.json
  pnpm-workspace.yaml
Due: none

update
  pnpm-lock.yaml
Due: none

silent should not show diagenostic logs
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/core/src/createReporter.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
Due: @kubb/cli, @kubb/core

update ref url
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/mcp/src/utils/formatDiagnostics.test.ts
Due: @kubb/core, @kubb/mcp

Delete plans/diagnostic-reporting/plan.md
  plans/diagnostic-reporting/plan.md
Due: none

summary reporter
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/reporters/cliReporter.ts
  packages/cli/src/reporters/fileReporter.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/cli/src/reporters/reporters.test.ts
  packages/core/src/createReporter.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

summary reporter
  packages/cli/src/reporters/fileReporter.test.ts
  packages/cli/src/reporters/fileReporter.ts
  packages/cli/src/reporters/jsonReporter.test.ts
  packages/cli/src/reporters/jsonReporter.ts
Due: @kubb/cli

better report
  packages/cli/README.md
  packages/cli/src/reporters/cliReporter.ts
  packages/cli/src/reporters/fileReporter.test.ts
  packages/cli/src/reporters/fileReporter.ts
  packages/cli/src/reporters/jsonReporter.test.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/cli/src/reporters/report.test.ts
  packages/cli/src/reporters/report.ts
  packages/cli/src/reporters/reporters.test.ts
  packages/mcp/README.md
  packages/mcp/src/schemas/generateSchema.ts
Due: @kubb/cli, @kubb/mcp

better report
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/refs.test.ts
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/schemaDiagnostics.test.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/diagnostics.ts
Due: @kubb/cli, @kubb/core

fix typecheck
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/adapter-oas/src/stream.ts
  packages/agent/server/utils/generate.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/createReporter.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/defineResolver.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/index.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, unplugin-kubb

cleanup
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/ast/src/dialect.ts
  packages/ast/src/nodes/schema.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  .github/canary.sh
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

make sure we can build multiple configs
  .changeset/fix-diagnostic-reporting-review.md
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/refs.test.ts
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/schemaDiagnostics.test.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/agent/server/utils/generate.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/reporters/jsonReporter.ts
  packages/cli/src/reporters/reporters.test.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createReporter.ts
Due: @kubb/cli, @kubb/core

fix mocks with custom fileManager instance
  packages/core/src/mocks.ts
Due: @kubb/core

refactor(cli): unify clack/github-actions/plain loggers behind consola
  .changeset/cli-unified-consola-logger.md
  packages/cli/package.json
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/githubAnnotations.test.ts
  packages/cli/src/loggers/githubAnnotations.ts
  packages/cli/src/loggers/logger.test.ts
  packages/cli/src/loggers/logger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/types.ts
  packages/cli/src/loggers/utils.test.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/agent/run.ts
  packages/cli/src/runners/generate/run.ts
  pnpm-lock.yaml
Due: @kubb/cli

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

refactor(cli): extract @kubb/middleware-logger and drop @clack/prompts
  .changeset/cli-unified-consola-logger.md
  packages/cli/package.json
  packages/cli/src/loggers/githubAnnotations.test.ts
  packages/cli/src/loggers/githubAnnotations.ts
  packages/cli/src/loggers/logger.test.ts
  packages/cli/src/loggers/logger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/reporters/fileReporter.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/cli/src/runners/init/run.ts
  packages/core/src/createReporter.ts
  packages/middleware-logger/README.md
  packages/middleware-logger/package.json
  packages/middleware-logger/src/createLogger.test.ts
  packages/middleware-logger/src/createLogger.ts
  packages/middleware-logger/src/diagnostics.test.ts
  packages/middleware-logger/src/diagnostics.ts
  packages/middleware-logger/src/index.ts
  packages/middleware-logger/src/middlewareLogger.ts
  packages/middleware-logger/src/utils.test.ts
  packages/middleware-logger/src/utils.ts
  packages/middleware-logger/tsconfig.json
  packages/middleware-logger/tsdown.config.ts
  packages/middleware-logger/vitest.config.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

chore: rephrase comment so cspell stops flagging "inlines"
  packages/middleware-logger/src/middlewareLogger.ts
Due: none

fix linting
  internals/utils/src/linters.ts
  packages/cli/src/runners/generate/run.ts
Due: @kubb/cli

refactor(core, cli): make the live logger configurable through kubb.config.ts
  .changeset/cli-unified-consola-logger.md
  packages/cli/package.json
  packages/cli/src/loggers/defaultLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/reporters/fileReporter.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineLogger.ts
  packages/core/src/types.ts
  packages/middleware-logger/src/utils.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

refactor: auto-default config.logger to middlewareLogger in the kubb meta package
  packages/cli/src/loggers/utils.ts
  packages/core/src/createKubb.ts
  packages/kubb/package.json
  packages/kubb/src/defineConfig.ts
  packages/middleware-logger/src/middlewareLogger.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core, kubb

remove studio references
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/devtools.ts
  packages/core/src/diagnostics.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/middleware-barrel/package.json
Due: @kubb/core

fix tests
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/definePlugin.test.ts
Due: @kubb/core

cleanup
  .changeset/remove-is-input-path.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/schemaDiagnostics.test.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/createKubb.ts
  packages/core/src/diagnostics.test.ts
  packages/core/src/diagnostics.ts
  packages/core/src/formatDiagnostic.test.ts
  packages/core/src/formatDiagnostic.ts
  packages/core/src/index.ts
  packages/core/src/reporters/fileReporter.ts
  packages/middleware-barrel/src/middleware.test.ts
Due: @kubb/cli, @kubb/core

remove FileProcessor export
  .changeset/move-match-files-to-mocks.md
  packages/core/src/index.ts
  packages/core/src/mocks.ts
  packages/core/tsdown.config.ts
Due: @kubb/core

remove FileProcessor export
  .changeset/itchy-wombats-change.md
  packages/core/src/index.ts
Due: @kubb/core

docs: replace package README badges with shieldcn.dev badge group
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: drop unresolvable shieldcn segments and switch to npm/l + static sponsors
  packages/adapter-oas/README.md
  packages/agent/README.md
  packages/ast/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/kubb/README.md
  packages/mcp/README.md
  packages/middleware-barrel/README.md
  packages/parser-md/README.md
  packages/parser-ts/README.md
  packages/renderer-jsx/README.md
  packages/unplugin-kubb/README.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix(cli): don't fail oxlint on gitignored generated output
  .changeset/cli-oxlint-gitignored-output.md
  internals/utils/src/linters.test.ts
  internals/utils/src/linters.ts
Due: none
