Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

test cases for utils.test.ts (getSchemas and collisiionsNaming)
  packages/adapter-oas/src/utils.test.ts
  packages/adapter-oas/src/utils.ts
Due: none

enum test case
  packages/adapter-oas/src/utils.test.ts
Due: none

test cases for resolveServerUrl
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/resolvers.test.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/transformers.ts
  packages/adapter-oas/src/utils.ts
Due: none

factory test cases
  packages/adapter-oas/src/factory.test.ts
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/transformers.ts
Due: none

guards and ref test cases
  packages/adapter-oas/src/guards.test.ts
  packages/adapter-oas/src/guards.ts
  packages/adapter-oas/src/refs.test.ts
Due: none

cleanup
  packages/adapter-oas/src/guards.test.ts
  packages/adapter-oas/src/guards.ts
Due: none

return null
  internals/utils/src/asyncEventEmitter.ts
  internals/utils/src/fs.ts
  internals/utils/src/object.ts
Due: none

return null
  packages/ast/src/printers/printer.ts
  packages/ast/src/resolvers.ts
Due: none

refactor naming files
  internals/utils/src/fs.test.ts
  internals/utils/src/object.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/discriminator.test.ts
  packages/adapter-oas/src/guards.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.test.ts
  packages/adapter-oas/src/resolvers.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/printers/printer.test.ts
  packages/ast/src/resolvers.test.ts
  packages/ast/src/resolvers.ts
  packages/ast/src/transformers.ts
Due: none

null check for adapter-oas
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.test.ts
  packages/adapter-oas/src/resolvers.ts
Due: none

jsdocs
  packages/core/src/Kubb.ts
  packages/core/src/build.ts
  packages/core/src/config.ts
  packages/core/src/constants.ts
  packages/core/src/hooks/useKubb.ts
  packages/core/src/types.ts
  packages/core/src/utils/TreeNode.ts
  packages/core/src/utils/diagnostics.ts
  packages/core/src/utils/executeStrategies.ts
  packages/core/src/utils/formatters.ts
  packages/core/src/utils/getBarrelFiles.ts
  packages/core/src/utils/getConfigs.ts
  packages/core/src/utils/getPreset.ts
  packages/core/src/utils/linters.ts
  packages/core/src/utils/packageJSON.ts
Due: @kubb/core

update packages
  packages/adapter-oas/package.json
  packages/core/src/hooks/useKubb.ts
  packages/oas/package.json
  pnpm-lock.yaml
Due: @kubb/core, @kubb/oas

cleanup
  packages/cli/src/runners/generate.ts
  packages/core/src/utils/packageJSON.ts
Due: @kubb/cli, @kubb/core

cleanup
  packages/core/src/hooks/useKubb.test.ts
  packages/core/src/utils/formatters.test.ts
  packages/core/src/utils/linters.test.ts
Due: @kubb/core

changeset
  .changeset/smooth-lions-cheat.md
Due: none

resolve ts
  tests/e2e/tsconfig.json
Due: none

docs: update changelog for v5.0.0-alpha.18
  docs/changelog.md
Due: none

Fix: async listener error on `generation:summary` in IDE/TTY environments with zero columns (#2894)
  .changeset/fix-generation-summary-tty-columns.md
  internals/utils/src/env.test.ts
  internals/utils/src/env.ts
  packages/cli/src/loggers/clackLogger.ts
Due: @kubb/cli

docs: update changelog for v5.0.0-alpha.19
  docs/changelog.md
Due: none

Fix: async listener error on `generation:summary` in IDE/TTY environments with zero columns (#2897)
  .changeset/fix-generation-summary-tty-columns.md
  internals/utils/src/env.test.ts
  internals/utils/src/env.ts
  packages/cli/src/loggers/clackLogger.ts
Due: @kubb/cli

docs: update changelog for v4.36.4
  docs/changelog.md
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/docs.html
  examples/simple-single/src/gen/docs/index.html
  packages/adapter-oas/src/adapter.ts
  packages/plugin-redoc/src/plugin.ts
Due: @kubb/plugin-redoc

docs: update changelog for v5.0.0-alpha.20
  docs/changelog.md
Due: none

chore(examples): update generated files
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/presets.ts
Due: @kubb/plugin-ts

feat: support kubb.config.mts and kubb.config.cts (#2909)
  .changeset/support-mts-cts-config.md
  docs/changelog.md
  packages/cli/CHANGELOG.md
  packages/cli/src/utils/getCosmiConfig.ts
  packages/mcp/CHANGELOG.md
  packages/mcp/src/utils/loadUserConfig.ts
Due: @kubb/cli, @kubb/mcp

add toolError
  packages/cli/src/runners/generate.ts
Due: @kubb/cli

docs: update changelog for v4.36.5
  docs/changelog.md
Due: none

feat: explicit enum type suffix now configurable, backwards compatible
  packages/plugin-ts/src/components/Enum.tsx
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/constants.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/printer.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

feat: defineBuilder and update printer(transform and print)
  packages/ast/src/printers/functionPrinter.test.ts
  packages/ast/src/printers/functionPrinter.ts
  packages/ast/src/printers/printer.test.ts
  packages/ast/src/printers/printer.ts
  packages/core/src/defineBuilder.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/getPreset.test.ts
  packages/core/src/utils/getPreset.ts
  packages/core/src/utils/mergeResolvers.test.ts
  packages/plugin-ts/package.json
  packages/plugin-ts/src/builders/builderTs.test.ts
  packages/plugin-ts/src/builders/builderTs.ts
  packages/plugin-ts/src/builders/index.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/factory.ts
  packages/plugin-ts/src/generators/__snapshots__/findArtifactsGETWithMultipleQueryParams/findArtifacts.ts
  packages/plugin-ts/src/generators/__snapshots__/legacyCreatePetsWithHeaderParamEnumAndNameTransformer/createPets.ts
  packages/plugin-ts/src/generators/__snapshots__/listPetsGETWithQueryParams/listPets.ts
  packages/plugin-ts/src/generators/__snapshots__/listPetsGETWithQueryParamsAndParamsCasingCamelcase/listPets.ts
  packages/plugin-ts/src/generators/transformers.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-ts/src/generators/utils.ts
  packages/plugin-ts/src/index.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/presets.test.ts
  packages/plugin-ts/src/presets.ts
  packages/plugin-ts/src/printer.test.ts
  packages/plugin-ts/src/printer.ts
  packages/plugin-ts/src/resolvers/resolverTs.ts
  packages/plugin-ts/src/types.ts
  packages/plugin-ts/tsdown.config.ts
Due: @kubb/core, @kubb/plugin-ts

move to printers
  packages/plugin-ts/package.json
  packages/plugin-ts/src/builders/builderTs.test.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/presets.ts
  packages/plugin-ts/src/printers/index.ts
  packages/plugin-ts/src/printers/printerTs.test.ts
  packages/plugin-ts/src/printers/printerTs.ts
  packages/plugin-ts/tsdown.config.ts
Due: @kubb/plugin-ts

fix: types and corresponding calls and tests
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/printer.test.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

linting
  packages/core/src/types.ts
  packages/plugin-ts/package.json
  packages/plugin-ts/src/printers/printerTs.test.ts
Due: @kubb/core, @kubb/plugin-ts

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
