Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

refactor(adapter-oas): pass ensureSchemaParser params as an object
  packages/adapter-oas/src/adapter.ts
Due: none

refactor(core): replace adapter.getImports with resolver.imports (#3768)
  .changeset/resolver-imports.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/converters.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.test.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/macros/index.ts
  packages/ast/src/macros/macroRenameSchema.test.ts
  packages/ast/src/macros/macroRenameSchema.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/refs.test.ts
  packages/ast/src/utils/refs.ts
  packages/ast/src/utils/schemaGraph.ts
  packages/core/src/Resolver.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/mocks.ts
  packages/core/src/types.ts
  packages/kit/src/index.ts
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  packages/unplugin-kubb/src/webpack.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core, kubb, unplugin-kubb

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

refactor: fold in-file clones flagged by Fallow into shared helpers
  .changeset/tidy-clones-fold.md
  packages/ast/src/utils/combineFileMembers.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/renderer-jsx/src/Runtime.tsx
Due: @kubb/cli

docs: add gap-analysis plan vs the v4 codegen review
  plan.md
Due: none

feat(core): fold multiple overrides in Resolver.merge
  .changeset/add-resolver-and-transformer-helpers.md
  .changeset/rename-printer-type-exports.md
  .changeset/resolver-merge-variadic.md
  packages/core/src/Resolver.ts
  packages/core/src/createResolver.test.ts
Due: @kubb/core

chore: drop deleted changesets from pre.json
  .changeset/pre.json
Due: none

feat(core): fold multiple overrides in Resolver.merge (#3777)
  .changeset/add-resolver-and-transformer-helpers.md
  .changeset/pre.json
  .changeset/rename-printer-type-exports.md
  .changeset/resolver-merge-variadic.md
  packages/core/src/Resolver.ts
  packages/core/src/createResolver.test.ts
Due: @kubb/core

update packages
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: kubb, unplugin-kubb

feat(kit): re-export the Hookable class
  .changeset/kit-core-type-reexports.md
  packages/kit/src/index.ts
Due: none

feat(kit): re-export the Hookable class (#3780)
  .changeset/kit-core-type-reexports.md
  packages/kit/src/index.ts
Due: none

feat(cli): accept the validate spec as a positional argument
  .changeset/cli-validate-positional-input.md
  packages/cli/README.md
  packages/cli/src/commands/validate.test.ts
  packages/cli/src/commands/validate.ts
  tools/claude/agents/kubb-expert.md
  tools/claude/commands/validate.md
  tools/claude/skills/config/SKILL.md
Due: @kubb/cli

feat(cli): accept the validate spec as a positional argument (#3782)
  .changeset/cli-validate-positional-input.md
  packages/cli/README.md
  packages/cli/src/commands/validate.test.ts
  packages/cli/src/commands/validate.ts
  tools/claude/agents/kubb-expert.md
  tools/claude/commands/validate.md
  tools/claude/skills/config/SKILL.md
Due: @kubb/cli

fix(core): stop output.clean from deleting the project root
  .changeset/core-clean-cannot-delete-root.md
  internals/utils/src/fs.test.ts
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
Due: @kubb/core

feat(core): surface the clean root-safety guard as a KUBB_CLEAN_ROOT diagnostic
  .changeset/core-clean-cannot-delete-root.md
  packages/core/src/Diagnostics.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

chore: format and lint fixes
  packages/core/src/Diagnostics.ts
Due: @kubb/core

fix(core): stop output.clean from deleting the project root (#3784)
  .changeset/core-clean-cannot-delete-root.md
  internals/utils/src/fs.test.ts
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  packages/core/src/Diagnostics.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
Due: @kubb/core

remove hook as this is loaded by Claude by default (hooks)
  tools/claude/.claude-plugin/plugin.json
Due: none

fix styling
  packages/core/src/KubbDriver.ts
Due: @kubb/core

fix styling
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/utils/schemaGraph.ts
Due: none

refactor(ast): move schema-traversal helpers to the plugins repo
  .changeset/ast-schema-traversal-helpers.md
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/schemaTraversal.test.ts
  packages/ast/src/utils/schemaTraversal.ts
Due: none

refactor(ast): move schema-traversal helpers to the plugins repo (#3787)
  .changeset/ast-schema-traversal-helpers.md
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/schemaTraversal.test.ts
  packages/ast/src/utils/schemaTraversal.ts
Due: none

update packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(kit): add Url.toSafeTemplate and Url.toGroupedTemplateString
  .changeset/kit-url-safe-template.md
  internals/utils/src/Url.test.ts
  internals/utils/src/Url.ts
Due: none

refactor(kit): drop Url.toSafeTemplate, keep raw param names in Url
  .changeset/kit-url-safe-template.md
  internals/utils/src/Url.test.ts
  internals/utils/src/Url.ts
Due: none

refactor(kit): drop unused casing option, extract groupedAccessor helper
  .changeset/kit-url-safe-template.md
  internals/utils/src/Url.ts
Due: none

feat(kit): add Url.toSafeTemplate and Url.toGroupedTemplateString (#3788)
  .changeset/kit-url-safe-template.md
  internals/utils/src/Url.test.ts
  internals/utils/src/Url.ts
Due: none

docs: tighten the Releasing section in CONTRIBUTING
  CONTRIBUTING.md
Due: none

docs: tighten the Releasing section in CONTRIBUTING (#3790)
  CONTRIBUTING.md
Due: none

Delete .github/canary.sh
  .github/canary.sh
Due: none

feat(core)!: flip output.mode default from directory to file
  .changeset/output-mode-default-file-barrel.md
  .changeset/output-mode-default-file.md
  packages/core/src/Resolver.ts
  packages/core/src/createResolver.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/plugin-barrel/src/plugin.test.ts
Due: @kubb/core

chore: format and lint fixes
  .github/canary.sh
Due: none

chore: remove canary.sh re-added by the changeset-format workflow
  .github/canary.sh
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
