Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

fix(middleware-barrel): prevent banner/footer from bleeding into barrel files
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.test.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.ts
Due: @kubb/core

fix(middleware-barrel): prevent banner/footer from bleeding into barrel files (#3176)
  .changeset/fix-middleware-barrel-banner-bleed.md
  packages/adapter-oas/CHANGELOG.md
  packages/agent/CHANGELOG.md
  packages/ast/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/kubb/CHANGELOG.md
  packages/mcp/CHANGELOG.md
  packages/middleware-barrel/CHANGELOG.md
  packages/middleware-barrel/src/utils/getBarrelFiles.test.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.ts
  packages/parser-ts/CHANGELOG.md
  packages/unplugin-kubb/CHANGELOG.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

Update oxlint.config.ts
  oxlint.config.ts
Due: none

Update oxfmt.config.ts
  oxfmt.config.ts
Due: none

refactor: unify `defineMiddleware` to factory-only API with options support (#3178)
  packages/core/src/createKubb.ts
  packages/core/src/defineMiddleware.test.ts
  packages/core/src/defineMiddleware.ts
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/middleware-barrel/src/index.ts
  packages/middleware-barrel/src/middleware.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/core, kubb, unplugin-kubb

feat: move storage from output.storage to root Config (#3179)
  packages/agent/server/utils/connectStudio.ts
  packages/core/src/createKubb.ts
  packages/core/src/storages/fsStorage.ts
  packages/core/src/storages/memoryStorage.ts
  packages/core/src/types.ts
Due: @kubb/core

ci(changesets): version packages (alpha)
  .changeset/pre.json
  packages/adapter-oas/CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/ast/CHANGELOG.md
  packages/ast/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/middleware-barrel/CHANGELOG.md
  packages/middleware-barrel/package.json
  packages/parser-ts/CHANGELOG.md
  packages/parser-ts/package.json
  packages/renderer-jsx/CHANGELOG.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/CHANGELOG.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

Support exports in injectFile type signature
  packages/core/src/PluginDriver.ts
  packages/core/src/types.ts
Due: @kubb/core

Add changeset for injectFile exports support
  .changeset/support-filenode-exports-injectfile.md
Due: none

Format: reflow defineMiddleware function signature
  packages/core/src/defineMiddleware.ts
Due: @kubb/core

fix: injectFile with userFileNode type
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/types.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/types.ts
  pnpm-lock.yaml
Due: @kubb/core

chore: format and lint fixes
  packages/ast/src/types.ts
  packages/core/src/types.ts
Due: @kubb/core

Support exports in injectFile type signature (#3180)
  .changeset/support-filenode-exports-injectfile.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/types.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/defineMiddleware.ts
  packages/core/src/types.ts
  pnpm-lock.yaml
Due: @kubb/core

fix: preserve oneOf/anyOf distinction in union schema nodes (#3175)
  .changeset/preserve-union-kind-semantics.md
  docs/union-plan.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/nodes/schema.ts
Due: none

feat: replace jiti with unrun for TypeScript config loading
  packages/agent/package.json
  packages/agent/server/utils/getCosmiConfig.ts
  packages/cli/package.json
  packages/cli/src/runners/mcp.ts
  packages/cli/src/utils/getCosmiConfig.ts
  packages/cli/src/utils/jiti.ts
  packages/mcp/package.json
  packages/mcp/src/utils/loadUserConfig.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/mcp

chore: add changeset for jiti → unrun migration
  .changeset/replace-jiti-with-unrun.md
Due: none

chore: format and lint fixes
  packages/agent/package.json
  packages/cli/package.json
Due: @kubb/cli

chore: add unrun and rolldown to cspell dictionary
  cspell.json
Due: none

perf: hoist unrun inputOptions to module scope; guard loop with existsSync
  packages/agent/server/utils/getCosmiConfig.ts
  packages/cli/src/utils/getCosmiConfig.ts
  packages/mcp/src/utils/loadUserConfig.ts
Due: @kubb/cli, @kubb/mcp

fix: resolve configPath to absolute before loading; add module result cache
  packages/mcp/src/utils/loadUserConfig.ts
Due: @kubb/mcp

fix: validate config file extension before loading in loadUserConfig
  packages/mcp/src/utils/loadUserConfig.ts
Due: @kubb/mcp

fix: validate config path extension before path.resolve to satisfy taint analysis
  packages/mcp/src/utils/loadUserConfig.ts
Due: @kubb/mcp

refactor: move ALLOWED_CONFIG_EXTENSIONS to constants.ts; validate at sink
  packages/mcp/src/constants.ts
  packages/mcp/src/utils/loadUserConfig.ts
Due: @kubb/mcp

fix: add call-site extension check in loadUserConfig for static analysis visibility
  packages/mcp/src/utils/loadUserConfig.ts
Due: @kubb/mcp

fix: anchor configPath to CWD to prevent path traversal
  packages/mcp/src/utils/loadUserConfig.ts
Due: @kubb/mcp

feat: replace jiti with unrun for TypeScript config loading (#3182)
  .changeset/replace-jiti-with-unrun.md
  cspell.json
  packages/agent/package.json
  packages/agent/server/utils/getCosmiConfig.ts
  packages/cli/package.json
  packages/cli/src/runners/mcp.ts
  packages/cli/src/utils/getCosmiConfig.ts
  packages/cli/src/utils/jiti.ts
  packages/mcp/package.json
  packages/mcp/src/constants.ts
  packages/mcp/src/utils/loadUserConfig.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/mcp

Add workflow to delete merged branches
  .github/workflows/.github/workflows/cleanup-branches.yml
Due: none

Add workflow to delete merged branches
  .github/workflows/cleanup-branches.yml
Due: none

Delete .github/workflows/.github/workflows/cleanup-branches.yml
  .github/workflows/.github/workflows/cleanup-branches.yml
Due: none

Delete packages/middleware-barrel/src/middleware.test.ts
  packages/middleware-barrel/src/middleware.test.ts
Due: none

fix: replace new Function with regex in isValidVarName (#3186)
  internals/utils/src/reserved.test.ts
  internals/utils/src/reserved.ts
Due: none

fix 3172 faker infinite recursion
  packages/plugin-faker/mocks/mutualRecursion.yaml
  packages/plugin-faker/src/components/Faker.tsx
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-faker/src/parser.ts
Due: @kubb/plugin-faker

Update snapshots
  packages/plugin-faker/src/__snapshots__/parser.test.ts.snap
  packages/plugin-faker/src/generators/__snapshots__/mutualRecursionCat.ts
  packages/plugin-faker/src/generators/__snapshots__/mutualRecursionDog.ts
  packages/plugin-faker/src/generators/__snapshots__/mutualRecursionPet.ts
Due: @kubb/plugin-faker

update packages
  package.json
  packages/adapter-oas/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add MseeP.ai badge to README.md
  README.md
Due: none

fix init script
  packages/cli/src/constants.ts
  packages/cli/src/runners/init.ts
Due: @kubb/cli

fix: Add `RootBarrelType` and restrict `'propagate'` to per-plugin barrel config
  .changeset/barrel-root-type-and-cli-v5-init.md
  packages/middleware-barrel/src/index.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/types.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.ts
Due: none

fix: add 'auto' as default for lint and format
  .changeset/barrel-root-type-and-cli-v5-init.md
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/core, kubb, unplugin-kubb

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
