Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

cleanup
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

update changeset
  .changeset/perf-optimize-stream-pipeline.md
Due: none

chore: format and lint fixes
  packages/core/src/createKubb.ts
Due: @kubb/core

add weakset to reduce memory usage
  packages/ast/src/utils.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineResolver.ts
  packages/core/src/mocks.ts
Due: @kubb/core

cleanup
  packages/core/src/createKubb.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

cleanup
  packages/core/src/createKubb.ts
Due: @kubb/core

chore: format and lint fixes
  packages/core/src/createKubb.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

update packages
  packages/core/package.json
  pnpm-lock.yaml
Due: @kubb/core

fix ts
  packages/agent/server/plugins/studio.test.ts
Due: none

reduce if/else if
  packages/adapter-oas/src/parser.ts
  packages/agent/server/utils/logger.ts
  packages/cli/src/runners/init/run.ts
  packages/core/src/defineResolver.ts
  packages/middleware-barrel/src/middleware.ts
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/utils.ts
Due: @kubb/cli, @kubb/core

reduce if/else if
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/discriminator.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/resolvers.ts
  packages/ast/src/utils.ts
  packages/ast/src/visitor.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineResolver.ts
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, unplugin-kubb

chore: format and lint fixes
  packages/agent/server/utils/logger.ts
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

do not use switch case but if and early returns
  packages/ast/src/visitor.ts
  packages/core/src/defineResolver.ts
  packages/parser-ts/src/utils.ts
  packages/renderer-jsx/src/utils.ts
Due: @kubb/core

remove docs
  docs/architecture/adr/0000_template.md
  docs/architecture/adr/0001_include_filter.md
  docs/architecture/adr/0002_extension_naming_and_structure.md
  docs/architecture/adr/0003_kubb_agent.md
  docs/architecture/adr/0004_permissions.md
  docs/architecture/adr/0005_stream_adapter.md
  docs/architecture/adr/0006_generator_functions.md
  docs/architecture/adr/README.md
Due: none

cleanup
  packages/core/src/constants.ts
Due: @kubb/core

perf(renderer-jsx): make walkFiles a true streaming generator
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/createRenderer.test.tsx
Due: none

docs: add performance analysis and improvement roadmap
  docs/performance.md
Due: none

docs(performance): add theoretical ms estimates per phase
  docs/performance.md
Due: none

perf(renderer-jsx): make walkFiles a true streaming generator (#3330)
  docs/performance.md
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/createRenderer.test.tsx
Due: none

Parallel file writes
  packages/core/src/constants.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

Streaming flush during generation
  packages/core/src/createKubb.ts
Due: @kubb/core

Schema-level parallelism
  packages/core/src/constants.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

forBatches helper
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

add withDrain
  internals/utils/src/index.ts
  internals/utils/src/promise.test.ts
  internals/utils/src/promise.ts
Due: none

add setup and use of KubbDriver
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/index.ts
  packages/core/src/mocks.ts
Due: @kubb/core

update docs
  docs/architecture/always-stream.md
  docs/performance.md
  packages/ast/src/nodes/root.ts
Due: none

update docs
  packages/core/src/createKubb.test.ts
Due: @kubb/core

phase 1: Enrich InputMeta with circularNames and enumNames
  packages/adapter-oas/src/adapter.ts
  packages/ast/src/nodes/root.ts
Due: none

Phase 2: Change banner/footer signature from InputNode to InputMeta
  packages/core/src/KubbDriver.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

Phase 3: Replace context.inputNode with context.meta in GeneratorContext
  packages/adapter-oas/src/adapter.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/mocks.ts
Due: @kubb/core

Phase 4: openInStudio lazy parse fallback
  packages/core/src/KubbDriver.ts
Due: @kubb/core

Phase 5: Port collectUsedSchemaNames to streaming
  packages/core/src/createKubb.ts
Due: @kubb/core

Phase 6: Always stream, remove eager path
  packages/ast/src/nodes/root.ts
  packages/ast/src/utils.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.test.ts
Due: @kubb/core

cleanup between all phases
  internals/utils/src/index.ts
  internals/utils/src/promise.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

cleanup between all phases
  packages/ast/src/factory.ts
  packages/ast/src/nodes/root.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

cleanup between all phases
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/constants.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

cleanup between all phases
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.ts
  packages/core/src/definePlugin.test.ts
Due: @kubb/core

cleanup between all phases
  docs/architecture/always-stream.md
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
