Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

cleanup
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/generate.ts
  packages/agent/tsconfig.json
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/agent.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/formatMsWithColor.ts
  packages/cli/src/utils/getSummary.ts
  packages/cli/src/utils/packageManager.ts
  packages/cli/src/utils/telemetry.ts
  packages/core/src/PackageManager.ts
  packages/core/src/build.ts
  packages/core/src/index.ts
  packages/plugin-client/src/plugin.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-faker/src/plugin.ts
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-msw/src/plugin.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/hooks/useOperationManager.ts
  packages/plugin-oas/src/hooks/useSchemaManager.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-react-query/src/plugin.ts
  packages/plugin-solid-query/src/plugin.ts
  packages/plugin-svelte-query/src/plugin.ts
  packages/plugin-swr/src/plugin.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-vue-query/src/plugin.ts
  packages/plugin-zod/src/plugin.ts
  packages/utils/src/index.ts
  packages/utils/src/read.test.ts
Due: @kubb/cli, @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

cleanup test cases
  examples/generators/src/generators/example3.tsx
  packages/agent/server/utils/loadConfig.test.ts
  tests/3.0.x/main.test.ts
Due: none

cleanup 2
  packages/agent/server/utils/connectStudio.ts
  packages/cli/src/constants.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/runners/mcp.ts
  packages/cli/src/runners/validate.ts
  packages/cli/src/utils/getSummary.ts
  packages/cli/src/utils/runHook.ts
  packages/core/src/index.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/utils/index.ts
  packages/utils/src/errorUtils.ts
  packages/utils/src/formatMsWithColor.test.ts
  packages/utils/src/formatMsWithColor.ts
  packages/utils/src/index.ts
  packages/utils/src/randomColor.ts
  packages/utils/src/resolveServerUrl.ts
  packages/utils/src/serializePluginOptions.ts
Due: @kubb/cli, @kubb/core, @kubb/plugin-oas

formating
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/getSummary.ts
  packages/cli/src/utils/runHook.ts
  packages/plugin-oas/src/plugin.ts
  packages/utils/src/fsUtils.ts
  packages/utils/src/index.ts
Due: @kubb/cli, @kubb/plugin-oas

formating
  tests/performance/main.bench.ts
Due: none

prebuild
  .github/workflows/pr.yml
Due: none

correct use of resolveServerUrl
  packages/oas/src/index.ts
  packages/oas/src/resolveServerUrl.test.ts
  packages/oas/src/resolveServerUrl.ts
  packages/plugin-oas/src/plugin.ts
  packages/utils/src/index.ts
Due: @kubb/oas, @kubb/plugin-oas

remove camelcase
  tests/e2e/kubb-petstore.config.js
Due: none

local import
  configs/vitest.bench.config.ts
Due: none

local import
  packages/plugin-oas/src/utils/resolveServerUrl.test.ts
  packages/utils/src/randomColor.ts
  tests/e2e/kubb.config.js
Due: @kubb/plugin-oas

build
  .github/workflows/pr.yml
Due: none

changest
  .changeset/config.json
  .changeset/kubb-utils-extraction.md
Due: none

cleanup
  internals/utils/src/ansi.ts
  internals/utils/src/errors.ts
  internals/utils/src/index.ts
  internals/utils/src/maskedString.ts
  internals/utils/src/packageManager.ts
  internals/utils/src/promise.ts
  internals/utils/src/resolveServerUrl.ts
  internals/utils/src/token.ts
  packages/agent/server/plugins/heartbeat.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/token.ts
  packages/cli/src/utils/getIntro.ts
  packages/core/src/config.ts
  packages/core/src/constants.ts
  packages/core/src/errors.ts
  packages/core/src/types.ts
  packages/core/src/utils/packageManager.ts
  packages/core/src/utils/types.ts
Due: @kubb/cli, @kubb/core

cleanup
  internals/utils/src/MockWebSocket.ts
  internals/utils/src/resolveServerUrl.ts
  packages/agent/server/mocks/websocket.ts
Due: none

test cases
  internals/utils/src/asyncEventEmitter.test.ts
  internals/utils/src/asyncEventEmitter.ts
  internals/utils/src/cache.test.ts
  internals/utils/src/cache.ts
  internals/utils/src/colors.test.ts
  internals/utils/src/env.test.ts
  internals/utils/src/index.ts
  internals/utils/src/jsdoc.test.ts
  internals/utils/src/names.test.ts
  internals/utils/src/network.test.ts
  internals/utils/src/object.test.ts
  internals/utils/src/regexp.test.ts
  internals/utils/src/reserved.test.ts
  internals/utils/src/shell.test.ts
  internals/utils/src/string.test.ts
  internals/utils/src/string.ts
  internals/utils/src/stringify.test.ts
  internals/utils/src/trim.test.ts
  internals/utils/src/urlPath.test.ts
  internals/utils/src/urlPath.ts
  packages/core/src/PluginManager.ts
Due: @kubb/core

group utils
  internals/utils/src/clean.ts
  internals/utils/src/colors.ts
  internals/utils/src/errors.ts
  internals/utils/src/exists.test.ts
  internals/utils/src/exists.ts
  internals/utils/src/fs.test.ts
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  internals/utils/src/network.ts
  internals/utils/src/object.ts
  internals/utils/src/read.test.ts
  internals/utils/src/read.ts
  internals/utils/src/reserved.ts
  internals/utils/src/shell.ts
  internals/utils/src/spawnAsync.ts
  internals/utils/src/string.ts
  internals/utils/src/write.test.ts
  internals/utils/src/write.ts
  packages/agent/server/plugins/heartbeat.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/connectStudio.ts
  packages/core/src/config.ts
  packages/core/src/constants.ts
  packages/core/src/types.ts
  packages/core/src/utils/packageManager.ts
Due: @kubb/core

jsdocs
  internals/utils/src/asyncEventEmitter.ts
  internals/utils/src/cache.ts
  internals/utils/src/casing.ts
  internals/utils/src/colors.ts
  internals/utils/src/errors.ts
  internals/utils/src/fs.ts
  internals/utils/src/jsdoc.ts
  internals/utils/src/names.ts
  internals/utils/src/network.ts
  internals/utils/src/object.ts
  internals/utils/src/packageManager.ts
  internals/utils/src/promise.ts
  internals/utils/src/regexp.ts
  internals/utils/src/reserved.ts
  internals/utils/src/shell.ts
  internals/utils/src/string.ts
  internals/utils/src/token.ts
  internals/utils/src/urlPath.ts
Due: none

jsdocs
  internals/utils/src/cache.test.ts
  internals/utils/src/cache.ts
  internals/utils/src/fs.test.ts
  internals/utils/src/fs.ts
  internals/utils/src/index.ts
  internals/utils/src/string.test.ts
  internals/utils/src/string.ts
Due: none

jsdocs
  internals/utils/src/cli/adapters/nodeAdapter.test.ts
  internals/utils/src/cli/adapters/nodeAdapter.ts
  internals/utils/src/cli/define.ts
  internals/utils/src/cli/help.test.ts
  internals/utils/src/cli/help.ts
  internals/utils/src/cli/parse.test.ts
  internals/utils/src/cli/parse.ts
  internals/utils/src/cli/schema.test.ts
  internals/utils/src/cli/schema.ts
  internals/utils/src/cli/types.test.ts
  internals/utils/src/cli/types.ts
  internals/utils/src/index.ts
  packages/cli/src/cli/index.ts
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/mcp.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/index.ts
Due: @kubb/cli

jsdocs
  packages/cli/src/runners/init.ts
  packages/cli/src/utils/packageManager.test.ts
  packages/cli/src/utils/packageManager.ts
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/core/src/utils/packageManager.test.ts
  packages/core/src/utils/packageManager.ts
Due: @kubb/cli, @kubb/core

tsdown config fix
  packages/cli/tsdown.config.ts
  packages/core/tsdown.config.ts
  packages/mcp/tsdown.config.ts
  packages/oas/tsdown.config.ts
  packages/plugin-client/tsdown.config.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-faker/tsdown.config.ts
  packages/plugin-mcp/tsdown.config.ts
  packages/plugin-msw/tsdown.config.ts
  packages/plugin-oas/tsdown.config.ts
  packages/plugin-react-query/tsdown.config.ts
  packages/plugin-solid-query/tsdown.config.ts
  packages/plugin-svelte-query/tsdown.config.ts
  packages/plugin-swr/tsdown.config.ts
  packages/plugin-ts/tsdown.config.ts
  packages/plugin-vue-query/tsdown.config.ts
  packages/plugin-zod/tsdown.config.ts
  packages/unplugin-kubb/tsdown.config.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

rollback
  internals/utils/src/index.ts
Due: none

rollback removals
  internals/utils/src/cli/adapters/nodeAdapter.ts
  internals/utils/src/fs.test.ts
  internals/utils/src/index.ts
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/mcp.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/init.ts
  packages/cli/src/utils/packageManager.ts
  packages/core/src/index.ts
Due: @kubb/cli, @kubb/core

rollback removals
  .gitignore
  internals/utils/src/index.ts
  internals/utils/src/object.ts
Due: none

naming
  internals/utils/src/casing.ts
  internals/utils/src/colors.ts
  internals/utils/src/shell.ts
  internals/utils/src/urlPath.ts
Due: none

naming
  internals/utils/src/asyncEventEmitter.ts
  internals/utils/src/colors.ts
  internals/utils/src/fs.ts
  internals/utils/src/network.test.ts
  internals/utils/src/network.ts
  internals/utils/src/packageManager.ts
  internals/utils/src/regexp.ts
  internals/utils/src/urlPath.ts
Due: none

cleanup
  internals/utils/src/casing.ts
  internals/utils/src/colors.ts
  internals/utils/src/object.ts
  internals/utils/src/shell.ts
  internals/utils/src/urlPath.ts
Due: none

cleanup
  internals/utils/src/colors.ts
  internals/utils/src/object.ts
Due: none

cleanup
  internals/utils/src/colors.ts
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

Update ignore patterns in config.json
  .changeset/config.json
Due: none

docs: update changelog for v4.33.1
  docs/changelog.md
Due: none

chore Update docs
  docs/guide/best-practices.md
Due: none

fix: revert back to Redocly
  packages/oas/mocks/category.yaml
  packages/oas/mocks/multiFileApi.yaml
  packages/oas/mocks/multiFileDefinitions.yml
  packages/oas/mocks/petStoreExternalFileRef.yaml
  packages/oas/package.json
  packages/oas/src/utils.spec.ts
  packages/oas/src/utils.ts
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-redoc/src/plugin.ts
  packages/plugin-ts/mocks/enums.yaml
  pnpm-lock.yaml
Due: @kubb/oas, @kubb/plugin-oas, @kubb/plugin-redoc, @kubb/plugin-ts

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
