Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

correct merge of plugins
  packages/agent/package.json
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/mergePlugins.test.ts
  packages/agent/server/utils/mergePlugins.ts
  packages/core/src/utils/serializePluginOptions.ts
  pnpm-lock.yaml
  src/gen/mocks/excluded.ts
Due: @kubb/core

correct merge
  packages/agent/server/utils/agentCache.ts
  packages/agent/server/utils/mergePlugins.test.ts
  packages/agent/server/utils/mergePlugins.ts
  src/gen/mocks/excluded.ts
Due: none

better logging
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/agentCache.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/token.ts
Due: none

correct logging
  packages/agent/server/utils/connectStudio.ts
Due: none

fix: remove unused fetch import when client plugin is active
  .changeset/icy-clouds-sin.md
  packages/plugin-react-query/src/generators/infiniteQueryGenerator.tsx
  packages/plugin-react-query/src/generators/mutationGenerator.tsx
  packages/plugin-react-query/src/generators/queryGenerator.tsx
  packages/plugin-react-query/src/generators/suspenseInfiniteQueryGenerator.tsx
  packages/plugin-react-query/src/generators/suspenseQueryGenerator.tsx
  packages/plugin-solid-query/src/generators/mutationGenerator.tsx
  packages/plugin-solid-query/src/generators/queryGenerator.tsx
  packages/plugin-svelte-query/src/generators/mutationGenerator.tsx
  packages/plugin-svelte-query/src/generators/queryGenerator.tsx
  packages/plugin-swr/src/generators/mutationGenerator.tsx
  packages/plugin-swr/src/generators/queryGenerator.tsx
  packages/plugin-vue-query/src/generators/infiniteQueryGenerator.tsx
  packages/plugin-vue-query/src/generators/mutationGenerator.tsx
  packages/plugin-vue-query/src/generators/queryGenerator.tsx
Due: @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-vue-query

Add 'Healthchecks' to cspell.json dictionary
  cspell.json
Due: none

chore(examples): update generated files
  packages/cli/src/utils/telemetry.test.ts
  packages/cli/src/utils/telemetry.ts
Due: @kubb/cli

more logging
  docs/getting-started/telemetry.md
  examples/advanced/package.json
  examples/client/package.json
  examples/generators/package.json
  examples/mcp/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  examples/svelte-query/package.json
  examples/swr/package.json
  examples/typescript/package.json
  examples/vue-query/package.json
  examples/zod/package.json
  package.json
  packages/cli/package.json
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/commands/mcp.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/utils/telemetry.test.ts
  packages/cli/src/utils/telemetry.ts
  packages/plugin-client/package.json
  packages/plugin-zod/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/gen/mocks/excluded.ts
  tests/e2e/package.json
Due: @kubb/cli, @kubb/plugin-client, @kubb/plugin-zod

more logging
  packages/cli/src/utils/telemetry.test.ts
  packages/cli/src/utils/telemetry.ts
Due: @kubb/cli

more logging
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/commands/mcp.ts
  packages/cli/src/utils/telemetry.ts
Due: @kubb/cli

spelling check
  cspell.json
  docs/getting-started/telemetry.md
Due: none

clearner name
  packages/cli/src/utils/telemetry.ts
Due: @kubb/cli

add logging with otlp
  env.d.ts
  packages/agent/package.json
  packages/agent/server/utils/logger.ts
  pnpm-lock.yaml
Due: none

direct use of KUBB_AGENT_SECRET
  packages/agent/server/utils/token.ts
Due: none

prepare on build
  packages/agent/package.json
Due: none

fix typecheck issues
  packages/agent/package.json
  packages/agent/server/utils/logger.ts
  pnpm-lock.yaml
Due: none

remove usedEnumNames out of telemetry
  packages/cli/src/utils/telemetry.ts
Due: @kubb/cli

add logging for telemetry
  .github/workflows/pr.yml
  packages/cli/src/index.ts
Due: @kubb/cli

updated changelog
  docs/changelog.md
Due: none

updated changelog
  biome.json
  examples/advanced/package.json
  examples/client/package.json
  examples/faker/package.json
  examples/generators/package.json
  examples/react-query/package.json
  packages/core/package.json
  packages/mcp/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-ts/package.json
  packages/plugin-vue-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core, @kubb/mcp, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

Refactor KUBB_DISABLE_TELEMETRY env variable placement
  .github/workflows/pr.yml
Due: none

update
  package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

add changeset
  .changeset/mcp-register-tool-helper.md
  docs/changelog.md
Due: none

do not build dockerfile in pr's
  .github/workflows/docker-agent.yml
Due: none

correct license for kubb agent
  LICENSE
  licenses/LICENSE-AGPL-3.0
  licenses/LICENSE-MIT
  packages/agent/LICENSE
  packages/agent/package.json
  packages/core/README.md
Due: @kubb/core

feat: publish command for agent
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/publish.ts
Due: none

use of source
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/ws.ts
Due: none

use of source
  packages/agent/server/types/agent.ts
Due: none

add KUBB_AGENT_ALLOW_PUBLISH
  env.d.ts
  packages/agent/server/__tests__/helpers.ts
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

fixed machineToken
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/token.ts
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
