Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

chore: add changeset for Array<T> oxlint rule
  .changeset/enforce-array-type-syntax.md
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/middleware-barrel/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

use of parser-md in kubb
  packages/kubb/package.json
  packages/kubb/src/defineConfig.ts
  pnpm-lock.yaml
Due: kubb

update parsers
  packages/parser-md/extension.yaml
  packages/parser-ts/extension.yaml
Due: none

fix(adapter-oas): qualify inline enums in object array items
  .changeset/fix-inline-enum-naming-array-items.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/kubb/package.json
Due: kubb

fix(adapter-oas): propagate parent name through more parse paths
  .changeset/fix-inline-enum-naming-array-items.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
Due: none

fix(adapter-oas): close remaining enum naming collisions
  .changeset/fix-inline-enum-naming-array-items.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
Due: none

Update fix-inline-enum-naming-array-items.md
  .changeset/fix-inline-enum-naming-array-items.md
Due: none

update packages
  packages/mcp/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/mcp

test(adapter-oas): regression test for operation/schema enum collision (#3364)
  packages/adapter-oas/src/parser.test.ts
Due: none

fix(ast): keep default import when a used named import shares its path
  .changeset/fix-grouped-default-import-drop.md
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
  packages/core/src/FileManager.test.ts
Due: @kubb/core

test(adapter-oas): keep array items as object when nested enum present (kubb-labs/plugins#132)
  packages/adapter-oas/src/parser.test.ts
Due: none

test(adapter-oas): keep array items as object when nested enum present (kubb-labs/plugins#132) (#3369)
  packages/adapter-oas/src/parser.test.ts
Due: none

feat(core): per-file context for output.banner/footer
  .changeset/banner-per-file-context.md
  packages/core/src/FileManager.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/middleware-barrel/src/middleware.test.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/utils.ts
Due: @kubb/core

refactor(core): object params for banner helpers; keep default resolvers internal
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/middleware-barrel/src/middleware.test.ts
  packages/middleware-barrel/src/middleware.ts
Due: @kubb/core

feat(core): per-file context for output.banner/footer (#3371)
  .changeset/banner-per-file-context.md
  packages/core/src/FileManager.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/types.ts
  packages/middleware-barrel/src/middleware.test.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/utils.ts
Due: @kubb/core

feat(adapter-oas): support multiple response content types
  .changeset/multi-content-type-response.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/ast/src/nodes/response.ts
Due: none

refactor(ast): make ResponseNode content-only like requestBody
  .changeset/multi-content-type-response.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/visitor.ts
Due: none

refactor(ast,core,cli): reduce dispatch and logger duplication
  .changeset/simplify-core-cli-ast-dispatch.md
  packages/ast/src/utils.ts
  packages/ast/src/visitor.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.test.ts
  packages/cli/src/loggers/utils.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/cli, @kubb/core

refactor(cli): collapse repetitive logger step handlers
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
Due: @kubb/cli

refactor(ast): babel-style uniform node model and VISITOR_KEYS traversal
  .changeset/ast-babel-style-traversal.md
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/content.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
Due: none

refactor(core): rename dispatchNode cfg param to dispatch
  packages/core/src/KubbDriver.ts
Due: @kubb/core

refactor(adapter-oas): table-driven schema dispatch via shared ast.dispatch
  .changeset/add-ast-dispatch-helper.md
  packages/adapter-oas/src/parser.ts
  packages/ast/src/dispatch.ts
  packages/ast/src/index.ts
Due: none

refactor(ast): export DispatchRule type via types.ts barrel
  packages/ast/src/index.ts
  packages/ast/src/types.ts
Due: none

feat(ast): identity-preserving transform + update factory
  .changeset/ast-structural-sharing-transform.md
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
Due: none

refactor(adapter-oas): isolate OAS specifics behind a SchemaDialect
  .changeset/adapter-oas-schema-dialect.md
  packages/adapter-oas/src/dialect.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
Due: none

feat(ast): add SchemaDialect contract and defineDialect helper
  .changeset/ast-define-dialect.md
  packages/adapter-oas/src/dialect.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/dialect.ts
  packages/ast/src/index.ts
  packages/ast/src/types.ts
Due: none

docs(ast): clarify SchemaDialect scope is the JSON Schema family
  packages/ast/src/dialect.ts
Due: none

refactor(ast): rename defineDialect to defineSchemaDialect
  .changeset/ast-define-dialect.md
  packages/adapter-oas/src/dialect.ts
  packages/ast/src/dialect.ts
  packages/ast/src/index.ts
Due: none

feat(ast): spec-neutral node vocabulary (operation + workflow/step)
  .changeset/ast-multi-spec-vocabulary.md
  packages/adapter-oas/src/parser.test.ts
  packages/ast/src/constants.ts
  packages/ast/src/factory.ts
  packages/ast/src/guards.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/root.ts
  packages/ast/src/nodes/workflow.ts
  packages/ast/src/types.ts
  packages/ast/src/visitor.ts
  packages/ast/src/workflow.test.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

docs(ast): add Arazzo to cspell dictionary
  cspell.json
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
