Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

Fix/support oas 3.1 by default (#3619)
  .changeset/adapter-oas-target-openapi-31.md
  packages/adapter-oas/mocks/oas.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/dedupe.ts
  packages/adapter-oas/src/factory.test.ts
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/guards.test.ts
  packages/adapter-oas/src/guards.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.test.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/signature.test.ts
  packages/ast/src/signature.ts
  packages/core/src/createAdapter.ts
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

fix(adapter-oas): keep binary request body schema for application/octet-stream
  .changeset/adapter-oas-octet-stream-request-body.md
  packages/adapter-oas/src/mime.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/resolvers.ts
Due: none

docs(adapter-oas): trim isBinaryMimeType jsdoc to house minimal style
  packages/adapter-oas/src/mime.ts
Due: none

refactor(adapter-oas): inline single-use octet-stream media type check
  packages/adapter-oas/src/mime.ts
  packages/adapter-oas/src/resolvers.ts
Due: none

use of ast.factory instead
  packages/ast/src/defineDialect.ts
  packages/ast/src/types.ts
  packages/ast/tsdown.config.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.test.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Transform.test.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/defineResolver.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/utils.test.ts
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
Due: @kubb/core

fix(adapter-oas): keep binary request body schema for application/octet-stream (#3621)
  .changeset/adapter-oas-octet-stream-request-body.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/resolvers.ts
Due: none

refactor(ast): make createPrinterFactory internal
  .changeset/ast-internalize-printer-factory.md
  packages/ast/src/definePrinter.ts
  packages/ast/src/exports.ts
Due: none

refactor(ast): rename definePrinter to createPrinter and inline the factory
  .changeset/ast-colocate-node-builders.md
  .changeset/ast-create-printer.md
  .changeset/ast-internalize-printer-factory.md
  packages/ast/src/createPrinter.test.ts
  packages/ast/src/createPrinter.ts
  packages/ast/src/exports.ts
  packages/ast/src/types.ts
Due: none

use of ast.factory instead
  packages/ast/README.md
  packages/renderer-jsx/src/SyncRuntime.tsx
Due: none

refactor(ast): rename definePrinter to createPrinter and inline the factory (#3622)
  .changeset/ast-colocate-node-builders.md
  .changeset/ast-create-printer.md
  packages/ast/README.md
  packages/ast/src/createPrinter.test.ts
  packages/ast/src/createPrinter.ts
  packages/ast/src/exports.ts
  packages/ast/src/types.ts
  packages/renderer-jsx/src/SyncRuntime.tsx
Due: none

docs: frame package descriptions around the meta framework for code generation
  .changeset/refresh-package-descriptions.md
  packages/adapter-oas/README.md
  packages/adapter-oas/package.json
  packages/ast/README.md
  packages/ast/package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/core/README.md
  packages/core/package.json
  packages/kubb/README.md
  packages/kubb/package.json
  packages/mcp/README.md
  packages/mcp/package.json
  packages/parser-md/README.md
  packages/parser-md/package.json
  packages/parser-ts/README.md
  packages/parser-ts/package.json
  packages/plugin-barrel/README.md
  packages/plugin-barrel/package.json
  packages/renderer-jsx/README.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/README.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

docs: humanize package copy
  .changeset/refresh-package-descriptions.md
  packages/kubb/package.json
Due: kubb

docs: keep the meta framework tagline only on the kubb package
  .changeset/refresh-package-descriptions.md
  packages/adapter-oas/README.md
  packages/adapter-oas/package.json
  packages/ast/README.md
  packages/ast/package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/core/README.md
  packages/core/package.json
  packages/mcp/README.md
  packages/mcp/package.json
  packages/parser-md/README.md
  packages/parser-md/package.json
  packages/parser-ts/README.md
  packages/parser-ts/package.json
  packages/plugin-barrel/README.md
  packages/plugin-barrel/package.json
  packages/renderer-jsx/README.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

docs: frame package descriptions around the meta framework for code generation (#3625)
  .changeset/refresh-package-descriptions.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/core/README.md
  packages/core/package.json
  packages/kubb/README.md
  packages/kubb/package.json
  packages/mcp/README.md
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/README.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

update readme
  packages/kubb/README.md
Due: kubb

feat(core): add copy field to emit real files into the output verbatim
  .changeset/file-node-copy-real-file.md
  packages/ast/src/nodes/file.ts
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

feat(renderer-jsx): support copy on File; remove unused output.override
  .changeset/file-node-copy-real-file.md
  packages/core/src/definePlugin.ts
  packages/core/src/types.ts
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/renderer-jsx/src/components/File.test.tsx
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/types.ts
Due: @kubb/core

refactor(core): read copied files through the internals fs helper
  packages/core/src/FileProcessor.test.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/mocks.ts
Due: @kubb/core

fix(adapter-oas): keep operation-scoped inline schemas out of dedupe hoisting
  .changeset/adapter-oas-dedupe-reserved-names.md
  packages/adapter-oas/src/dedupe.test.ts
  packages/adapter-oas/src/dedupe.ts
  packages/adapter-oas/src/stream.ts
Due: none

docs(adapter-oas): tighten reservedNames JSDoc wording
  packages/adapter-oas/src/dedupe.ts
Due: none

docs(adapter-oas): shorten reservedNames JSDoc
  packages/adapter-oas/src/dedupe.ts
Due: none

fix(adapter-oas)!: scope dedupe to named schemas and remove the dedupe option
  .changeset/adapter-oas-dedupe-named-only.md
  .changeset/adapter-oas-dedupe-reserved-names.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/dedupe.test.ts
  packages/adapter-oas/src/dedupe.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/adapter-oas/src/types.ts
Due: none

refactor(adapter-oas)!: emit each named schema as its own type, drop dedupe
  .changeset/adapter-oas-collapse-bundled-duplicates.md
  .changeset/adapter-oas-dedupe-named-only.md
  .changeset/adapter-oas-faithful-schemas.md
  .changeset/adapter-oas-schema-enum-dedupe.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/dedupe.test.ts
  packages/adapter-oas/src/dedupe.ts
  packages/adapter-oas/src/dialect.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/defineDialect.ts
Due: none

refactor(ast)!: remove unused signatureOf and isSchemaEqual
  .changeset/adapter-oas-faithful-schemas.md
  packages/ast/src/exports.ts
  packages/ast/src/signature.test.ts
  packages/ast/src/signature.ts
Due: none

refactor(ast)!: remove the dialect dedupe seam
  .changeset/adapter-oas-faithful-schemas.md
  packages/ast/src/defineDialect.ts
  packages/ast/src/types.ts
Due: none

feat(adapter-oas): add enums option to promote inline enums to reusable types
  .changeset/adapter-oas-promote-inline-enums.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/promoteEnums.test.ts
  packages/adapter-oas/src/promoteEnums.ts
  packages/adapter-oas/src/stream.ts
  packages/adapter-oas/src/types.ts
Due: none

feat(adapter-oas): group server options and rename discriminator modes
  .changeset/adapter-oas-server-object-discriminator-rename.md
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/adapter-oas/src/types.ts
  packages/ast/package.json
Due: none

chore(changeset): sync pre.json with current changesets
  .changeset/pre.json
Due: none

Revert "chore(changeset): sync pre.json with current changesets"
  .changeset/pre.json
Due: none

refactor(adapter-oas)!: emit each named schema as its own type, drop dedupe (#3632)
  .changeset/adapter-oas-collapse-bundled-duplicates.md
  .changeset/adapter-oas-faithful-schemas.md
  .changeset/adapter-oas-promote-inline-enums.md
  .changeset/adapter-oas-schema-enum-dedupe.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/dedupe.test.ts
  packages/adapter-oas/src/dedupe.ts
  packages/adapter-oas/src/dialect.ts
  packages/adapter-oas/src/promoteEnums.test.ts
  packages/adapter-oas/src/promoteEnums.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/adapter-oas/src/types.ts
  packages/ast/src/defineDialect.ts
  packages/ast/src/exports.ts
  packages/ast/src/signature.test.ts
  packages/ast/src/signature.ts
  packages/ast/src/types.ts
Due: none

update packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(adapter-oas): shift bundler collision suffixes from 1-based to 2-based
  .changeset/bundler-collision-suffix-2-based.md
  packages/adapter-oas/mocks/withDuplicateSchemaRef.yaml
  packages/adapter-oas/src/bundler.test.ts
  packages/adapter-oas/src/bundler.ts
Due: none

refactor(adapter-oas): simplify shiftBundlerCollisionSuffix with JSON round-trip
  packages/adapter-oas/src/bundler.ts
Due: none
