Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

connect to studio over websocket secure
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

connect to studio over websocket secure
  packages/agent/package.json
  packages/agent/server/middleware/init.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/routes/api/info.get.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.ts
  pnpm-lock.yaml
Due: none

generate command
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

sending eventStream via websocket
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

remove old endpoints
  packages/agent/server/routes/api/generate.options.ts
  packages/agent/server/routes/api/generate.post.ts
Due: none

cleanip
  packages/agent/server/middleware/init.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/useKubbAgentContext.ts
Due: none

cleanip
  packages/agent/server/types/agent.ts
Due: none

sessionManager to cache previous sessions
  packages/agent/.env.example
  packages/agent/.gitignore
  packages/agent/README.md
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/sessionManager.ts
  packages/cli/src/commands/agent/start.ts
Due: @kubb/cli

update types
  packages/agent/server/types/agent.ts
Due: none

refactor
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/ws.ts
Due: none

make sure we send connected on init
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/ws.ts
Due: none

test: mock pet with a title
  packages/plugin-ts/mocks/petStore.yaml
Due: @kubb/plugin-ts

fix: title property as main comment
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/__snapshots__/bodyUploadFileApiAssetsPost.ts
  packages/plugin-ts/src/generators/__snapshots__/catDogDiscriminator.ts
  packages/plugin-ts/src/generators/__snapshots__/catDogDiscriminatorWithoutMapping.ts
  packages/plugin-ts/src/generators/__snapshots__/catTypeAsConst.ts
  packages/plugin-ts/src/generators/__snapshots__/dogTypeAsConst.ts
  packages/plugin-ts/src/generators/__snapshots__/fooBase.ts
  packages/plugin-ts/src/generators/__snapshots__/fooNumber.ts
  packages/plugin-ts/src/generators/__snapshots__/mixedValueTypeConst.ts
  packages/plugin-ts/src/generators/__snapshots__/nullConstNull.ts
  packages/plugin-ts/src/generators/__snapshots__/numberValueConst.ts
  packages/plugin-ts/src/generators/__snapshots__/petDict.ts
  packages/plugin-ts/src/generators/__snapshots__/petMapper.ts
  packages/plugin-ts/src/generators/__snapshots__/petQuestionToken.ts
  packages/plugin-ts/src/generators/__snapshots__/petQuestionTokenAndUndefined.ts
  packages/plugin-ts/src/generators/__snapshots__/petUndefined.ts
  packages/plugin-ts/src/generators/__snapshots__/petsStoreAdvancedDiscriminator.ts
  packages/plugin-ts/src/generators/__snapshots__/plainDateDate.ts
  packages/plugin-ts/src/generators/__snapshots__/plainDateString.ts
  packages/plugin-ts/src/generators/__snapshots__/plainEmail.ts
  packages/plugin-ts/src/generators/__snapshots__/plainFile.ts
  packages/plugin-ts/src/generators/__snapshots__/plainTimeDate.ts
  packages/plugin-ts/src/generators/__snapshots__/plainUuid.ts
  packages/plugin-ts/src/generators/__snapshots__/showPetById.ts
  packages/plugin-ts/src/generators/__snapshots__/stringValueConst.ts
Due: @kubb/plugin-ts

chore: generate changeset
  .changeset/sharp-lemons-walk.md
Due: none

chore: changelog
  docs/changelog.md
Due: none

remove any types
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/ws.ts
Due: none

cleanup
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/ws.ts
Due: none

better naming
  packages/agent/server/plugins/studio.ts
Due: none

connect command
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
Due: none

Update condition for autofix job in workflow
  .github/workflows/autofix.yml
Due: none

better naming
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/ws.ts
Due: none

cleanup + make kubb agent start work
  examples/advanced/.env.example
  examples/advanced/package.json
  packages/agent/.env.example
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/generate.ts
  packages/cli/package.json
  packages/cli/src/commands/agent/start.ts
  pnpm-lock.yaml
Due: @kubb/cli

chore(examples): update generated files
  examples/advanced/src/gen/docs.html
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  examples/simple-single/src/gen/docs/index.html
Due: none

use of @clack/prompts and picocolors
  docs/helpers/cli.md
  packages/agent/.env.example
  packages/agent/README.md
  packages/agent/package.json
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/logger.ts
  packages/agent/server/utils/sessionManager.ts
  packages/agent/server/utils/ws.ts
  pnpm-lock.yaml
Due: none

Add version 4.24.1 header to changelog (#2493)
  docs/changelog.md
Due: none

cleanup
  packages/agent/server/plugins/studio.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/logger.ts
  packages/agent/server/utils/ws.ts
Due: none

cleanup with extra test cases
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
  packages/agent/nitro.config.ts
  packages/agent/package.json
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/detectFormatter.ts
  packages/agent/server/utils/formatters.ts
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/getConfigs.test.ts
  packages/agent/server/utils/sessionManager.ts
  packages/agent/server/utils/ws.test.ts
  packages/agent/server/utils/ws.ts
  packages/agent/vitest.config.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/detectLinter.ts
  packages/cli/src/utils/formatters.ts
  packages/core/package.json
  packages/core/src/utils/formatters.test.ts
  packages/core/src/utils/formatters.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/linters.test.ts
  packages/core/src/utils/linters.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

cleanup with extra test cases
  packages/agent/server/plugins/studio.test.ts
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/getConfigs.test.ts
  packages/agent/server/utils/getConfigs.ts
  packages/agent/server/utils/sessionManager.test.ts
  packages/agent/server/utils/ws.test.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/utils/getConfigs.test.ts
  packages/core/src/utils/getConfigs.ts
  packages/core/src/utils/getPlugins.ts
  packages/core/src/utils/index.ts
Due: @kubb/cli, @kubb/core

remove mocks and use of temp folder for tests
  packages/core/mocks/hellowWorld.js
  tests/3.0.x/main.test.ts
Due: @kubb/core

refactor with ai
  examples/advanced/src/gen/docs.html
  examples/advanced/src/gen/models/ts/Animal.ts
  examples/advanced/src/gen/models/ts/Cat.ts
  examples/advanced/src/gen/models/ts/Dog.ts
  examples/simple-single/src/gen/docs/index.html
  packages/agent/README.md
  packages/agent/package.json
  packages/agent/server/plugins/studio.ts
  packages/agent/server/routes/api/health.get.ts
  packages/agent/server/types/agent.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/executeHooks.ts
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/getCosmiConfig.ts
  packages/agent/server/utils/ws.test.ts
  packages/agent/server/utils/ws.ts
  packages/agent/vitest.config.ts
  pnpm-lock.yaml
Due: none

better use of linting
  packages/agent/.env.example
  packages/agent/package.json
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/getCosmiConfig.ts
  packages/agent/server/utils/logger.ts
  packages/agent/server/utils/ws.ts
  packages/cli/src/commands/agent/start.ts
Due: @kubb/cli

add test cases for generate
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/generate.test.ts
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/ws.test.ts
  packages/agent/server/utils/ws.ts
  pnpm-lock.yaml
Due: none

do not lint html files
  biome.json
Due: none

Delete sessionManager.test.ts
  packages/agent/server/utils/sessionManager.test.ts
Due: none

docker support for agent
  .github/workflows/docker-agent.yml
  packages/agent/.dockerignore
  packages/agent/Dockerfile
Due: none

tryout
  .dockerignore
  .github/workflows/docker-agent.yml
  packages/agent/Dockerfile
  packages/agent/package.json
  pnpm-lock.yaml
Due: none

Update Kubb Agent Server documentation
  docs/helpers/cli.md
Due: none

Update README.md
  packages/agent/README.md
Due: none

Refactor createAgentSession for improved clarity
  packages/agent/server/utils/api.ts
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
