Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

refactor(ast): rename defineNode finalize flag to rebuild
  packages/ast/src/node.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/registry.ts
  packages/ast/src/visitor.ts
Due: none

docs(ast): tighten defineNode jsdoc wording
  packages/ast/src/node.ts
Due: none

docs(ast): deprecate param/type helpers ahead of Phase 1
  .changeset/ast-define-node.md
  packages/ast/src/guards.ts
  packages/ast/src/nodes/function.ts
Due: none

feat(ast): introduce defineNode single source-of-truth (#3562) (#3567)
  .changeset/ast-define-node.md
  packages/ast/src/dedupe.test.ts
  packages/ast/src/dedupe.ts
  packages/ast/src/factory.test.ts
  packages/ast/src/factory.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/guards.ts
  packages/ast/src/index.ts
  packages/ast/src/mocks.ts
  packages/ast/src/node.ts
  packages/ast/src/nodes/code.ts
  packages/ast/src/nodes/content.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/nodes/input.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/output.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/nodes/requestBody.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/printer.test.ts
  packages/ast/src/registry.ts
  packages/ast/src/signature.test.ts
  packages/ast/src/transformers.test.ts
  packages/ast/src/transformers.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/ast.test.ts
  packages/ast/src/utils/ast.ts
  packages/ast/src/visitor.test.ts
  packages/ast/src/visitor.ts
Due: none

feat(ast)!: reshape param/type nodes to the ts.factory model
  .changeset/ast-reshape-param-type-nodes.md
  packages/ast/README.md
  packages/ast/src/factory.test.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/guards.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/registry.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/ast.test.ts
  packages/ast/src/utils/ast.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

chore: format and lint fixes
  packages/ast/src/factory.test.ts
Due: none

refactor(ast): rename TypeExpr to TypeExpression
  packages/ast/src/nodes/function.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/ast.ts
Due: none

refactor(ast): simplify createOperationParams and tidy docs
  .changeset/ast-reshape-param-type-nodes.md
  packages/ast/src/utils/ast.ts
Due: none

feat(ast)!: reshape param/type nodes to the ts.factory model (#3563) (#3569)
  .changeset/ast-reshape-param-type-nodes.md
  packages/ast/README.md
  packages/ast/src/factory.test.ts
  packages/ast/src/guards.test.ts
  packages/ast/src/guards.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/registry.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/ast.test.ts
  packages/ast/src/utils/ast.ts
  packages/core/src/defineResolver.ts
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat(ast): export operation-parameter helpers for plugin migration
  .changeset/ast-export-param-helpers.md
  packages/ast/src/index.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/ast.ts
Due: none

refactor(ast): move non-node helpers to the @kubb/ast/utils subpath
  .changeset/ast-export-param-helpers.md
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/ast.ts
  packages/ast/src/utils/index.ts
  packages/core/src/FileProcessor.ts
  packages/core/src/defineParser.ts
  packages/parser-md/package.json
  packages/parser-md/src/parserMd.ts
  pnpm-lock.yaml
Due: @kubb/core

feat(ast)!: group node constructors under an ast.factory namespace
  .changeset/ast-factory-namespace.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/discriminator.test.ts
  packages/adapter-oas/src/discriminator.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.test.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Transform.test.ts
  packages/core/src/ast.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/defineResolver.ts
  packages/core/src/index.ts
  packages/parser-md/src/parserMd.test.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/utils.test.ts
  packages/parser-ts/src/utils.ts
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
  packages/renderer-jsx/src/SyncRuntime.tsx
  packages/unplugin-kubb/src/unpluginFactory.test.ts
Due: @kubb/core, unplugin-kubb

chore(changeset): mark ast.factory reshape as major
  .changeset/ast-factory-namespace.md
Due: none

refactor(ast)!: move node constructors to the @kubb/ast/factory subpath
  .changeset/ast-factory-namespace.md
  packages/ast/package.json
  packages/ast/src/index.ts
  packages/ast/tsdown.config.ts
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/FileProcessor.test.ts
  packages/core/src/KubbDriver.test.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/Transform.test.ts
  packages/core/src/ast.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/defineResolver.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/utils.test.ts
  packages/plugin-barrel/src/plugin.test.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
  packages/renderer-jsx/src/SyncRuntime.tsx
Due: @kubb/core

docs(core): explain the ast namespace tree-shaking trade-off
  packages/core/src/ast.ts
Due: @kubb/core

docs(ast): document the @kubb/ast/factory subpath in the README
  packages/ast/README.md
Due: none

refactor(ast): align FunctionNodeType with the FunctionParamNode family
  packages/ast/src/nodes/function.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/printer.ts
  packages/ast/src/types.ts
Due: none

refactor(ast): drop dead internal exports flagged by knip
  packages/ast/src/node.ts
  packages/ast/src/nodes/base.ts
Due: none

docs(changeset): note the FunctionNodeType rename
  .changeset/ast-factory-namespace.md
Due: none

feat(ast): surface createContent and createRequestBody on @kubb/ast/factory
  packages/ast/src/factory.ts
Due: none

refactor(parser-md): drop the @kubb/ast dependency
  .changeset/ast-factory-namespace.md
  packages/ast/src/index.ts
  packages/parser-md/package.json
  packages/parser-md/src/parserMd.ts
  pnpm-lock.yaml
Due: none

refactor(ast)!: move utils/ast.ts helpers to the @kubb/ast/utils subpath
  .changeset/ast-factory-namespace.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/stream.ts
  packages/ast/src/index.ts
  packages/ast/src/utils/index.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

refactor(ast)!: fold createStreamInput into createInput via a stream option
  .changeset/ast-factory-namespace.md
  packages/adapter-oas/src/stream.ts
  packages/ast/src/factory.ts
  packages/ast/src/nodes/input.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.test.ts
Due: @kubb/core

refactor(ast): import extractStringsFromNodes from its own file, not the utils barrel
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/utils/extractStringsFromNodes.ts
  packages/ast/src/utils/index.ts
Due: none

fix(core)!: restore the ast namespace types in the published dist
  packages/ast/src/index.ts
  packages/core/src/ast.ts
  packages/core/src/index.ts
Due: @kubb/core

docs: clean up ast factory changeset and jsdoc voice
  .changeset/ast-factory-namespace.md
  packages/ast/src/nodes/input.ts
  packages/ast/src/printer.ts
  packages/core/src/index.ts
Due: @kubb/core

update
  package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

refactor(ast): extract string serialization into strings.ts (#3572 1a)
  packages/ast/src/utils/index.test.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/strings.test.ts
  packages/ast/src/utils/strings.ts
Due: none

refactor(ast): extract rendered-text builders into codegen.ts (#3572 1b)
  packages/ast/src/utils/codegen.test.ts
  packages/ast/src/utils/codegen.ts
  packages/ast/src/utils/index.test.ts
  packages/ast/src/utils/index.ts
Due: none

refactor(ast): extract import/export/source merge into fileMerge.ts (#3572 1f)
  packages/ast/src/factory.ts
  packages/ast/src/utils/ast.test.ts
  packages/ast/src/utils/ast.ts
  packages/ast/src/utils/fileMerge.test.ts
  packages/ast/src/utils/fileMerge.ts
Due: none

refactor(ast): extract ref + naming helpers into refs.ts (#3572 1c)
  packages/ast/src/utils/ast.test.ts
  packages/ast/src/utils/ast.ts
  packages/ast/src/utils/index.test.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/refs.test.ts
  packages/ast/src/utils/refs.ts
Due: none

refactor(ast): extract operation params into operationParams.ts (#3572 1e)
  packages/ast/src/factory.ts
  packages/ast/src/types.ts
  packages/ast/src/utils/ast.test.ts
  packages/ast/src/utils/ast.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/operationParams.test.ts
  packages/ast/src/utils/operationParams.ts
  packages/ast/src/utils/refs.ts
Due: none

refactor(ast): extract schema dependency graph into schemaGraph.ts (#3572 1d)
  packages/ast/src/index.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/schemaGraph.test.ts
  packages/ast/src/utils/schemaGraph.ts
Due: none

chore(changeset): note @kubb/ast utils reorganization (#3572)
  .changeset/ast-utils-concern-modules.md
Due: none

test(ast): drop the utils/index export-snapshot test (#3572)
  packages/ast/src/utils/index.test.ts
Due: none

docs(ast): tighten utils jsdoc prose (#3572)
  packages/ast/src/utils/fileMerge.ts
  packages/ast/src/utils/operationParams.ts
  packages/ast/src/utils/refs.ts
  packages/ast/src/utils/schemaGraph.ts
  packages/ast/src/utils/strings.ts
Due: none

docs(ast): humanize jsdoc across the package (#3572)
  packages/ast/src/constants.ts
  packages/ast/src/guards.ts
  packages/ast/src/nodes/code.ts
  packages/ast/src/nodes/content.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/nodes/function.ts
  packages/ast/src/nodes/input.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/property.ts
  packages/ast/src/nodes/requestBody.ts
  packages/ast/src/nodes/schema.ts
  packages/ast/src/printer.ts
  packages/ast/src/signature.ts
  packages/ast/src/visitor.ts
Due: none

docs(kubb): humanize jsdoc prose across core packages (wip)
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/stream.ts
  packages/adapter-oas/src/types.ts
  packages/cli/src/Telemetry.ts
  packages/cli/src/constants.ts
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/generate/utils.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createAdapter.ts
  packages/core/src/createRenderer.ts
  packages/core/src/createReporter.ts
  packages/core/src/createStorage.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/definePlugin.ts
  packages/core/src/defineResolver.ts
  packages/core/src/diagnostics.ts
  packages/core/src/mocks.ts
  packages/core/src/reporters/cliReporter.ts
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.ts
  packages/parser-md/src/utils.ts
  packages/parser-ts/src/utils.ts
  packages/plugin-barrel/src/types.ts
  packages/plugin-barrel/src/utils.ts
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/renderer-jsx/src/jsx-runtime.ts
  packages/renderer-jsx/src/types.ts
Due: @kubb/cli, @kubb/core, kubb
