Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

feat(studio): extend KubbHooks with studio: session events
  packages/studio/src/hooks.ts
Due: none

feat(studio): export the studio: hook context types from the package root
  packages/studio/src/index.ts
Due: none

feat(studio): add device-authorization pairing
  .changeset/plain-moons-pair.md
  .changeset/silver-jars-melt.md
  packages/studio/src/api.test.ts
  packages/studio/src/api.ts
  packages/studio/src/index.ts
  packages/studio/src/pair.test.ts
  packages/studio/src/pair.ts
Due: none

docs: clean up two JSDoc blocks in packages/studio
  packages/studio/src/configFile.ts
  packages/studio/src/generate.ts
Due: none

feat(studio): add config resolution and AST-based config editing
  .changeset/shaggy-moons-repeat.md
  .changeset/soft-jokes-drum.md
  .changeset/tame-eagles-invite.md
  .changeset/tidy-otters-wander.md
  packages/studio/mocks/advanced.config.txt
  packages/studio/mocks/array.config.txt
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/generate.test.ts
  packages/studio/src/generate.ts
  packages/studio/src/resolveConfig.test.ts
  packages/studio/src/resolveConfig.ts
Due: none

Delete packages/studio/src/generate.test.ts
  packages/studio/src/generate.test.ts
Due: none

feat(cli): add the kubb studio command
  .changeset/lucky-donuts-shave.md
  .changeset/quiet-lions-relax.md
  .changeset/wild-pots-attack.md
  CHANGELOG.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/studio.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/kubb/package.json
  packages/studio/README.md
  packages/studio/src/client.e2e.test.ts
  packages/studio/src/client.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/index.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, kubb, unplugin-kubb

fix(studio): resolve code-review findings on the kubb studio command
  packages/cli/src/runners/studio/credentials.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/client.ts
  packages/studio/src/connectStudio.ts
Due: @kubb/cli

docs(studio): fix heading level and remove dash punctuation in comments
  packages/cli/src/runners/studio/run.ts
  packages/studio/README.md
  packages/studio/src/client.e2e.test.ts
  packages/studio/src/connectStudio.test.ts
Due: @kubb/cli

feat(cli): render studio: session events through the merged KubbHooks
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/defineLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/reporters.test.ts
  packages/cli/src/loggers/utils.ts
  packages/studio/src/connectStudio.test.ts
Due: @kubb/cli

refactor(studio): drop the AgentHooks alias, use KubbHooks directly
  packages/studio/package.json
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/generate.ts
  packages/studio/src/hooks.test.ts
  packages/studio/src/hooks.ts
  packages/studio/src/index.ts
  packages/studio/src/ws.test.ts
  packages/studio/src/ws.ts
  packages/studio/tsdown.config.ts
Due: none

use of toMatchObject
  packages/studio/src/resolveConfig.test.ts
Due: none

cleanup
  packages/studio/src/configFile.test.ts
  packages/studio/src/configFile.ts
  packages/studio/src/resolveConfig.test.ts
  packages/studio/src/resolveConfig.ts
Due: none

fix(studio): keep plugin loading restricted to kubb plugins
  packages/cli/src/runners/studio/run.ts
  packages/studio/README.md
  packages/studio/src/client.e2e.test.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
Due: @kubb/cli

Update Studio plugin validation tests
  .codex/config.toml
  packages/studio/src/client.e2e.test.ts
Due: none

sync version
  packages/studio/package.json
Due: none

feat(cli): ship @kubb/studio with the CLI
  .changeset/olive-pugs-shop.md
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/kubb/package.json
  pnpm-lock.yaml
Due: @kubb/cli, kubb

fix: keep @kubb/studio an optional peer of the CLI
  .changeset/olive-pugs-shop.md
  packages/cli/package.json
  packages/cli/src/index.ts
  pnpm-lock.yaml
Due: @kubb/cli

chore(adapter-oas): bump @readme/openapi-parser to v8
  .changeset/tidy-parsers-climb.md
  packages/adapter-oas/package.json
  pnpm-lock.yaml
Due: none

fix(cli): check for kubb.config.ts before pairing with Studio
  .changeset/quick-plums-jump.md
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

feat(studio,cli): reauthenticate automatically when Studio rejects a live token
  .changeset/silver-frogs-listen.md
  .changeset/tame-otters-reconnect.md
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/client.test.ts
  packages/studio/src/client.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/index.ts
  packages/studio/src/pair.test.ts
  packages/studio/src/pair.ts
Due: @kubb/cli

refactor(cli): collect studio connect() loop state onto one object
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

refactor(studio): drop a redundant abort check in pollForPairingToken
  packages/studio/src/pair.ts
Due: none

docs: tighten JSDoc and changesets for the reauth callback
  .changeset/silver-frogs-listen.md
  .changeset/tame-otters-reconnect.md
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/client.ts
Due: @kubb/cli

refactor(studio,cli): sharpen internal reauth naming
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/client.test.ts
  packages/studio/src/client.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
Due: @kubb/cli

fix(studio): stop onTokenRejected leaking into the public ClientOptions
  packages/studio/src/client.ts
Due: none

Refactor connectToStudio into a StudioSession class
  packages/studio/src/connectStudio.ts
Due: none

Refactor kubb studio's connect loop into a StudioConnection class
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

Fix review findings on the StudioSession/StudioConnection classes
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
Due: @kubb/cli

refactor(studio,cli): align the studio session classes with kubb/core
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/connectStudio.ts
Due: @kubb/cli

refactor(cli): drop the dead env-token reset and the studio race wrappers
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

refactor(studio,cli): drop the pool's duplicate auth flag and the repeated pairing mock
  packages/cli/src/runners/studio/run.test.ts
  packages/studio/src/client.ts
Due: @kubb/cli

fix(studio,cli): re-ask permissions for a re-paired agent and stop normalizing kubb.config.ts
  .changeset/silver-frogs-listen.md
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/connectStudio.ts
Due: @kubb/cli

docs(studio,cli): tighten the studio session and connection comments
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/client.ts
  packages/studio/src/connectStudio.ts
Due: @kubb/cli

refactor(cli): read KUBB_AGENT_TOKEN directly instead of caching it on the class
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

refactor(cli): call isRichOutput and logLevel where they are used
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

refactor(cli): rename #say to #log
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

refactor(cli,studio): move terminal output behind one module and import configFile statically
  packages/cli/src/loggers/output.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/connectStudio.ts
Due: @kubb/cli

refactor(cli): route init, generate and studio output through the shared writers
  .changeset/olive-pandas-write.md
  packages/cli/src/loggers/output.test.ts
  packages/cli/src/loggers/output.ts
  packages/cli/src/runners/generate/run.ts
  packages/cli/src/runners/init/run.ts
  packages/cli/src/runners/studio/run.ts
Due: @kubb/cli

refactor(studio): carry studio permissions as one object
  .changeset/olive-lions-argue.md
  packages/cli/src/runners/studio/run.test.ts
  packages/cli/src/runners/studio/run.ts
  packages/studio/src/connectStudio.test.ts
  packages/studio/src/connectStudio.ts
  packages/studio/src/protocol/index.ts
Due: @kubb/cli

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
