Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

cleanup
  packages/parser-ts/src/parserTs.ts
Due: none

ignore
  packages/renderer-jsx/src/jsx-namespace.d.ts
Due: none

cleanup
  examples/generators/package.json
  examples/generators/src/generators/example3.tsx
  packages/core/src/types.ts
  packages/kubb/src/defineConfig.ts
  packages/renderer-jsx/src/context/KubbContext.ts
  packages/renderer-jsx/src/context/OasContext.ts
  pnpm-lock.yaml
Due: @kubb/core, kubb

spelling
  cspell.json
  internals/utils/src/context.ts
  packages/parser-ts/src/parserTs.ts
Due: none

move utils
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/utils.ts
  packages/renderer-jsx/src/utils/processFiles.ts
  packages/renderer-jsx/src/utils/squashExportNodes.ts
  packages/renderer-jsx/src/utils/squashImportNodes.ts
Due: none

support tsx and ts
  packages/kubb/src/defineConfig.ts
Due: kubb

add changeset
  .changeset/renderer-jsx-new-package.md
Due: none

revert generator
  examples/generators/src/generators/example3.tsx
Due: none

chore(examples): update generated files
  examples/generators/src/gen3/example3.tsx
Due: none

update "@modelcontextprotocol/sdk"
  examples/advanced/package.json
  examples/mcp/package.json
  pnpm-lock.yaml
Due: none

docs: update changelog for v5.0.0-alpha.33
  docs/changelog.md
Due: none

chore(examples): update generated files
  examples/advanced/src/gen/clients/axios/petService/findPetsByStatus.ts
Due: none

docs: update changelog for v4.37.2
  docs/changelog.md
Due: none

Update changelog.md
  docs/changelog.md
Due: none

docs: update changelog for v5.0.0-alpha.34
  docs/changelog.md
Due: none

chore(examples): update generated files
  packages/renderer-jsx/src/components/Const.test.tsx
  packages/renderer-jsx/src/components/File.test.tsx
  packages/renderer-jsx/src/components/Function.test.tsx
  packages/renderer-jsx/src/components/Type.test.tsx
  packages/renderer-jsx/src/createRenderer.test.tsx
  packages/renderer-jsx/src/utils.test.ts
Due: none

chore(examples): update generated files
  packages/renderer-jsx/src/utils.ts
Due: none

fix: upgrade msw 1.x → 2.x in examples to resolve cookie vulnerability (#3013)
  examples/react-query/package.json
  examples/react-query/public/mockServiceWorker.js
  examples/react-query/src/mocks/index.ts
  examples/vue-query/package.json
  examples/vue-query/public/mockServiceWorker.js
  examples/vue-query/src/mocks/index.ts
  pnpm-lock.yaml
Due: none

chore(examples): update generated files
  packages/core/src/defineGenerator.ts
  packages/core/src/index.ts
  packages/core/src/renderNode.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/clientGenerator.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.tsx
  packages/plugin-client/src/generators/operationsGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.tsx
  packages/plugin-mcp/src/generators/serverGenerator.tsx
  packages/plugin-mcp/src/generators/serverGeneratorLegacy.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-mcp, @kubb/plugin-ts, @kubb/plugin-zod

chore(examples): update generated files
  examples/client/src/gen3/index.ts
  examples/client/src/gen3/tagObject.ts
  examples/client/src/gen5/deleteOrder.ts
  examples/client/src/gen5/getInventory.ts
  examples/client/src/gen5/getOrderById.ts
  examples/client/src/gen5/placeOrder.ts
  examples/client/src/gen5/placeOrderPatch.ts
Due: none

feat(core): add `createRenderer` abstraction to decouple core from `@kubb/renderer-jsx` (#3015)
  configs/mocks.ts
  packages/core/src/build.ts
  packages/core/src/createRenderer.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/index.ts
  packages/core/src/renderNode.ts
  packages/core/src/renderNode.tsx
  packages/core/src/types.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/clientGenerator.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.tsx
  packages/plugin-client/src/generators/operationsGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.tsx
  packages/plugin-mcp/src/generators/serverGenerator.tsx
  packages/plugin-mcp/src/generators/serverGeneratorLegacy.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/typeGeneratorLegacy.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/generators/zodGeneratorLegacy.tsx
  packages/renderer-jsx/src/createRenderer.tsx
  packages/renderer-jsx/src/index.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-mcp, @kubb/plugin-ts, @kubb/plugin-zod

Replace `pre`/`post` with `dependencies` in kubb plugins (#3025)
  .changeset/plugin-dependencies-field.md
  configs/mocks.ts
  docs/guide/pluginDriver.md
  packages/core/src/PluginDriver.ts
  packages/core/src/types.ts
  packages/plugin-client/src/plugin.ts
  packages/plugin-cypress/src/plugin.ts
  packages/plugin-faker/src/plugin.ts
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-msw/src/plugin.ts
  packages/plugin-react-query/src/plugin.ts
  packages/plugin-solid-query/src/plugin.ts
  packages/plugin-svelte-query/src/plugin.ts
  packages/plugin-swr/src/plugin.ts
  packages/plugin-vue-query/src/plugin.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-vue-query

chore(examples): update generated files
  examples/client/src/gen3/index.ts
  examples/client/src/gen3/tagObject.ts
  examples/client/src/gen5/deleteOrder.ts
  examples/client/src/gen5/getInventory.ts
  examples/client/src/gen5/getOrderById.ts
  examples/client/src/gen5/placeOrder.ts
  examples/client/src/gen5/placeOrderPatch.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

feat(core): add `definePlugin` with `PluginHooks` lifecycle hooks (#3031)
  internals/utils/src/asyncEventEmitter.ts
  packages/core/src/Kubb.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/build.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: @kubb/core

feat(core): Step 2 — generators registered via `addGenerator()` in `kubb:plugin:setup` (#3034)
  packages/core/src/Kubb.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/build.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

Delete 05-dependencies.md
  docs/architecture/steps/05-dependencies.md
Due: none
