Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

chore(examples): update generated files
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/utils/index.ts
Due: @kubb/plugin-oas

Update getSchemas.test.ts.snap
  packages/plugin-oas/src/utils/__snapshots__/getSchemas.test.ts.snap
Due: @kubb/plugin-oas

createOasParser helper
  internals/ast/src/index.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-oas/src/plugin.ts
Due: @kubb/plugin-oas

update
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

test emptySchemaType
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

min and max
  packages/plugin-oas/src/mocks/index.ts
  packages/plugin-oas/src/mocks/oas.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

nullable
  packages/plugin-oas/src/parser.test.ts
Due: @kubb/plugin-oas

nullable and default
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

deprecated
  packages/plugin-oas/src/parser.test.ts
Due: @kubb/plugin-oas

readOnly/writeOnly
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

ref
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

const
  packages/oas/src/types.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/oas, @kubb/plugin-oas

type cleanup
  packages/oas/src/types.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/oas, @kubb/plugin-oas

application/octet-stream blob 3.1
  packages/oas/src/types.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/oas, @kubb/plugin-oas

integer and number
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

binary
  packages/plugin-oas/src/parser.test.ts
Due: @kubb/plugin-oas

uuid
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

email
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

url
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

pattern
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

array
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

basic format
  packages/plugin-oas/src/parser.test.ts
Due: @kubb/plugin-oas

infer unknown types
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

infer unknown types
  packages/plugin-oas/src/parser.test.ts
Due: @kubb/plugin-oas

datetime
  internals/ast/src/index.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

datetime
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

additionalProperties, properties
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

prefixItems
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

enum complex
  internals/ast/src/index.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

properties fix
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

CompositeSchemaNode for 3.1 array type
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

oneOf and narrowSchema
  internals/ast/src/guards.ts
  internals/ast/src/index.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

typescript fixes
  packages/oas/src/index.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/oas, @kubb/plugin-oas

typescript fixes
  examples/typescript/src/gen/models.ts
  examples/typescript/src/gen/modelsConst.ts
  examples/typescript/src/gen/modelsConstEnum.ts
  examples/typescript/src/gen/modelsLiteral.ts
  examples/typescript/src/gen/modelsPascalConst.ts
  examples/typescript/src/gen/ts/models/PlaceOrder.ts
  internals/ast/src/index.ts
  internals/ast/src/nodes/index.ts
  internals/ast/src/nodes/schema.ts
  packages/oas/src/utils.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/components/Type.tsx
Due: @kubb/oas, @kubb/plugin-oas, @kubb/plugin-ts

typescript fixes
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

format
  packages/plugin-oas/src/parser.ts
Due: @kubb/plugin-oas

add schemaNode to parsers
  packages/plugin-faker/package.json
  packages/plugin-faker/src/components/Faker.tsx
  packages/plugin-faker/src/generators/fakerGenerator.tsx
  packages/plugin-faker/src/parser.test.ts
  packages/plugin-faker/src/parser.ts
  packages/plugin-oas/src/SchemaMapper.ts
  packages/plugin-oas/src/createParser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/parser.test.ts
  packages/plugin-ts/src/parser.ts
  packages/plugin-zod/package.json
  packages/plugin-zod/src/components/Zod.tsx
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/plugin-zod/src/parser.test.ts
  packages/plugin-zod/src/parser.ts
  pnpm-lock.yaml
Due: @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

update schemaNode
  packages/plugin-faker/src/parser.test.ts
  packages/plugin-oas/src/SchemaMapper.ts
  packages/plugin-oas/src/createParser.test.ts
  packages/plugin-oas/src/createParser.ts
  packages/plugin-oas/src/index.ts
  packages/plugin-ts/src/parser.test.ts
  packages/plugin-zod/src/parser.test.ts
Due: @kubb/plugin-faker, @kubb/plugin-oas, @kubb/plugin-ts, @kubb/plugin-zod

hide new generation behind UNSTABLE_SCHEMA flag
  internals/ast/src/nodes/schema.ts
  packages/plugin-oas/src/__snapshots__/parser.test.ts.snap
  packages/plugin-oas/src/parser.test.ts
  packages/plugin-oas/src/parser.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/parserSchemaNode.test.ts
  packages/plugin-ts/src/parserSchemaNode.ts
  packages/plugin-ts/src/plugin.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-oas, @kubb/plugin-ts

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
