Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

legacy flag for adapter-oas instead of collesionDetection
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/utils.test.ts
  packages/plugin-ts/src/generators/utils.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

clenaiup
  .changeset/adapter-oas-boolean-const-inline.md
  .changeset/plugin-ts-legacy-naming-parity.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/utils.ts
  packages/plugin-ts/src/resolverTs.ts
  packages/plugin-ts/src/types.ts
Due: @kubb/plugin-ts

legacy resolve naming
  .changeset/adapter-oas-boolean-const-inline.md
  docs/migration-guide.md
  packages/plugin-ts/src/generators/utils.ts
  packages/plugin-ts/src/resolverTs.ts
Due: @kubb/plugin-ts

update model
  examples/typescript/src/gen/models.ts
Due: none

correct change
  examples/react-query/src/gen/models/AddPet.ts
  examples/react-query/src/gen/models/AddPetRequest.ts
  examples/react-query/src/gen/models/Address.ts
  examples/react-query/src/gen/models/ApiResponse.ts
  examples/react-query/src/gen/models/Category.ts
  examples/react-query/src/gen/models/CreateUser.ts
  examples/react-query/src/gen/models/CreateUsersWithListInput.ts
  examples/react-query/src/gen/models/Customer.ts
  examples/react-query/src/gen/models/DeleteOrder.ts
  examples/react-query/src/gen/models/DeletePet.ts
  examples/react-query/src/gen/models/DeleteUser.ts
  examples/react-query/src/gen/models/FindPetsByStatus.ts
  examples/react-query/src/gen/models/FindPetsByTags.ts
  examples/react-query/src/gen/models/GetInventory.ts
  examples/react-query/src/gen/models/GetOrderById.ts
  examples/react-query/src/gen/models/GetPetById.ts
  examples/react-query/src/gen/models/GetUserByName.ts
  examples/react-query/src/gen/models/LoginUser.ts
  examples/react-query/src/gen/models/LogoutUser.ts
  examples/react-query/src/gen/models/Order.ts
  examples/react-query/src/gen/models/Pet.ts
  examples/react-query/src/gen/models/PetNotFound.ts
  examples/react-query/src/gen/models/PlaceOrder.ts
  examples/react-query/src/gen/models/PlaceOrderPatch.ts
  examples/react-query/src/gen/models/Tag.ts
  examples/react-query/src/gen/models/UpdatePet.ts
  examples/react-query/src/gen/models/UpdatePetWithForm.ts
  examples/react-query/src/gen/models/UpdateUser.ts
  examples/react-query/src/gen/models/UploadFile.ts
  examples/react-query/src/gen/models/User.ts
  examples/react-query/src/gen/models/UserArray.ts
Due: none

correct change
  examples/fetch/src/gen/models.ts
Due: none

use of resolver
  packages/core/src/hooks/useKubb.ts
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/utils.test.ts
  packages/plugin-ts/src/printer.test.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/core, @kubb/plugin-ts

revert back to collisionDetection
  .changeset/adapter-oas-boolean-const-inline.md
  .changeset/plugin-ts-legacy-naming-parity.md
  docs/migration-guide.md
  examples/advanced/configs/kubb.config.ts
  examples/client/kubb.config.ts
  examples/cypress/kubb.config.js
  examples/faker/kubb.config.cjs
  examples/fetch/kubb.config.ts
  examples/mcp/kubb.config.ts
  examples/msw/kubb.config.js
  examples/react-query/kubb.config.ts
  examples/simple-single/kubb.config.js
  examples/solid-query/kubb.config.js
  examples/svelte-query/kubb.config.js
  examples/swr/kubb.config.js
  examples/typescript/kubb.config.ts
  examples/vue-query/vite.config.ts
  examples/zod/kubb.config.js
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
  tests/3.0.x/main.test.ts
Due: none

update test cases
  tests/3.0.x/main.test.ts
Due: none

typescript issues
  base.json
Due: none

build urls
  packages/core/src/build.ts
Due: @kubb/core

resolve zod example (tryout)
  examples/zod/src/gen/index.ts
  examples/zod/src/gen/ts/AddPetRequestType.ts
  examples/zod/src/gen/ts/AddPetType.ts
  examples/zod/src/gen/ts/CreatePetsType.ts
  examples/zod/src/gen/ts/CreateUserType.ts
  examples/zod/src/gen/ts/CreateUsersWithListInputType.ts
  examples/zod/src/gen/ts/DeleteOrderType.ts
  examples/zod/src/gen/ts/DeletePetType.ts
  examples/zod/src/gen/ts/DeleteUserType.ts
  examples/zod/src/gen/ts/FindPetsByStatusType.ts
  examples/zod/src/gen/ts/FindPetsByTagsType.ts
  examples/zod/src/gen/ts/GetInventoryType.ts
  examples/zod/src/gen/ts/GetOrderByIdType.ts
  examples/zod/src/gen/ts/GetPetByIdType.ts
  examples/zod/src/gen/ts/GetThingsType.ts
  examples/zod/src/gen/ts/GetUserByNameType.ts
  examples/zod/src/gen/ts/LoginUserType.ts
  examples/zod/src/gen/ts/LogoutUserType.ts
  examples/zod/src/gen/ts/OrderType.ts
  examples/zod/src/gen/ts/PetType.ts
  examples/zod/src/gen/ts/PlaceOrderPatchType.ts
  examples/zod/src/gen/ts/PlaceOrderType.ts
  examples/zod/src/gen/ts/UpdatePetType.ts
  examples/zod/src/gen/ts/UpdatePetWithFormType.ts
  examples/zod/src/gen/ts/UpdateUserType.ts
  examples/zod/src/gen/ts/UploadFileType.ts
  examples/zod/src/gen/ts/index.ts
  packages/plugin-ts/src/components/Enum.tsx
  packages/plugin-ts/src/components/Type.tsx
  packages/plugin-ts/src/generators/utils.ts
  packages/plugin-ts/src/printer.ts
Due: @kubb/plugin-ts

resolve issue with zod useOperationManager.ts
  packages/plugin-oas/src/hooks/useOperationManager.ts
Due: @kubb/plugin-oas

examples
  examples/zod/src/gen/zod/operations.ts
Due: none

fix examples
  examples/zod/src/gen/index.ts
  examples/zod/src/gen/zod/addPetSchema.ts
  examples/zod/src/gen/zod/createPetsSchema.ts
  examples/zod/src/gen/zod/createUserSchema.ts
  examples/zod/src/gen/zod/createUsersWithListInputSchema.ts
  examples/zod/src/gen/zod/deleteOrderSchema.ts
  examples/zod/src/gen/zod/deletePetSchema.ts
  examples/zod/src/gen/zod/deleteUserSchema.ts
  examples/zod/src/gen/zod/findPetsByStatusSchema.ts
  examples/zod/src/gen/zod/findPetsByTagsSchema.ts
  examples/zod/src/gen/zod/getInventorySchema.ts
  examples/zod/src/gen/zod/getOrderByIdSchema.ts
  examples/zod/src/gen/zod/getPetByIdSchema.ts
  examples/zod/src/gen/zod/getThingsSchema.ts
  examples/zod/src/gen/zod/getUserByNameSchema.ts
  examples/zod/src/gen/zod/index.ts
  examples/zod/src/gen/zod/loginUserSchema.ts
  examples/zod/src/gen/zod/logoutUserSchema.ts
  examples/zod/src/gen/zod/operations.ts
  examples/zod/src/gen/zod/placeOrderPatchSchema.ts
  examples/zod/src/gen/zod/placeOrderSchema.ts
  examples/zod/src/gen/zod/updatePetSchema.ts
  examples/zod/src/gen/zod/updatePetWithFormSchema.ts
  examples/zod/src/gen/zod/updateUserSchema.ts
  examples/zod/src/gen/zod/uploadFileSchema.ts
  packages/plugin-oas/src/hooks/useOperationManager.ts
Due: @kubb/plugin-oas

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

fix examples
  tests/e2e/kubb.config.js
  tests/e2e/package.json
Due: none

visitor additionalProperties
  packages/ast/src/visitor.ts
Due: none

fix: Refactor parser options: extract `ParserOptions` type, add `enumSuffix` option, change `collisionDetection` default to `true`.
  .changeset/adapter-oas-parser-options.md
  .changeset/ast-additional-properties-visitor.md
  .changeset/core-url-input-resolve.md
  .changeset/plugin-oas-operation-manager.md
  docs/migration-guide.md
  examples/advanced/package.json
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  packages/adapter-oas/package.json
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/types.ts
  packages/agent/package.json
  packages/ast/src/visitor.ts
  packages/core/src/build.ts
  packages/core/src/hooks/useKubb.ts
  packages/core/src/index.ts
  packages/oas/package.json
  packages/plugin-oas/src/hooks/useOperationManager.ts
  packages/plugin-zod/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Due: @kubb/core, @kubb/oas, @kubb/plugin-oas, @kubb/plugin-zod

resolve
  base.json
  docs/migration-guide.md
Due: none

update changesets
  .changeset/adapter-oas-boolean-const-inline.md
  .changeset/ast-function-params.md
  .changeset/feat-resolve-options.md
  .changeset/plugin-ts-legacy-flag.md
  .changeset/plugin-ts-legacy-naming-parity.md
  .changeset/plugin-ts-remove-deprecated-options.md
  .changeset/remove-mapper-plugin-ts.md
  .changeset/remove-object-json-plugins-validation.md
  .changeset/rename-define-to-create-factory-functions.md
  .changeset/tough-lemons-pump.md
  .changeset/type-generator-v2-helpers.md
  docs/migration-guide.md
Due: none

docs: update changelog for v5.0.0-alpha.11
  docs/changelog.md
Due: none

feat: support keysToImit
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/mocks.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/visitor.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.tsx
  packages/plugin-ts/src/generators/utils.test.ts
  packages/plugin-ts/src/generators/utils.ts
Due: @kubb/plugin-ts

feat: support keysToImit
  .changeset/plugin-ts-keys-to-omit.md
Due: none

update examples
  examples/advanced/src/gen/models/ts/petController/AddFiles.ts
  examples/advanced/src/gen/models/ts/petController/AddPet.ts
  examples/advanced/src/gen/models/ts/petController/GetPetById.ts
  examples/advanced/src/gen/models/ts/petController/UpdatePet.ts
  examples/mcp/src/gen/models/ts/AddFiles.ts
  examples/mcp/src/gen/models/ts/AddPet.ts
  examples/mcp/src/gen/models/ts/GetPetById.ts
  examples/mcp/src/gen/models/ts/UpdatePet.ts
  examples/typescript/src/gen/models.ts
  examples/typescript/src/gen2/modelsConst.ts
  examples/typescript/src/gen3/modelsPascalConst.ts
  examples/typescript/src/gen4/modelsConstEnum.ts
  examples/typescript/src/gen5/modelsLiteral.ts
  examples/typescript/src/gen6/ts/models/UpdatePet.ts
  examples/typescript/src/legacy/models.ts
Due: none
