Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

style(plugin-zod): apply biome formatting
  packages/plugin-zod/src/parser.ts
Due: @kubb/plugin-zod

refactor(core): narrow addGenerator to a variadic generator list
  .changeset/add-generator-array-to-add-generator.md
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
Due: @kubb/core

feat(core): registry-backed imports (resolveFromExports)
  .changeset/registry-backed-imports.md
  packages/ast/src/nodes/file.ts
  packages/ast/src/utils/exportRegistry.test.ts
  packages/ast/src/utils/exportRegistry.ts
  packages/ast/src/utils/index.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

feat(adapter-oas): map x-enumDescriptions vendor extensions to enum members
  .changeset/enum-member-descriptions.md
  packages/adapter-oas/src/constants.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/nodes/schema.ts
Due: none

docs: add Open Collective badge and supporting link to README
  packages/kubb/README.md
Due: kubb

test(adapter-oas): cover readOnly/writeOnly keysToOmit by direction
  packages/adapter-oas/src/parser.test.ts
Due: none

docs: replace star-history chart with shieldcn chart
  packages/kubb/README.md
Due: kubb

fix(adapter-oas): treat OpenAPI 3.1 const as a literal, not a named enum
  .changeset/openapi-const-literal.md
  packages/adapter-oas/src/promoteEnums.test.ts
  packages/adapter-oas/src/promoteEnums.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
Due: none

fix(adapter-oas): narrow discriminated unions without an explicit mapping
  .changeset/adapter-oas-discriminator-implicit-mapping.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
Due: none

docs: make star history chart full width
  packages/kubb/README.md
Due: kubb

docs: update sponsors image to shieldcn
  packages/kubb/README.md
Due: kubb

docs: make sponsors image full width
  packages/kubb/README.md
Due: kubb

docs(adapter-oas): tighten discriminator changeset and JSDoc wording
  .changeset/adapter-oas-discriminator-implicit-mapping.md
  packages/adapter-oas/src/parser.ts
Due: none

docs: humanize enum-description JSDoc and changeset
  .changeset/enum-member-descriptions.md
  packages/ast/src/nodes/schema.ts
Due: none

docs(changeset): tighten const literal wording
  .changeset/openapi-const-literal.md
Due: none

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat(ast,adapter-oas): capture parameter style and explode
  .changeset/parameter-style-explode.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/nodes/parameter.ts
Due: none

cleanup
  internals/utils/src/asyncEventEmitter.test.ts
  internals/utils/src/asyncEventEmitter.ts
  internals/utils/src/index.ts
  internals/utils/src/time.ts
  internals/utils/src/url.test.ts
  internals/utils/src/url.ts
  packages/adapter-oas/src/factory.ts
  packages/adapter-oas/src/parser.ts
  packages/cli/src/loggers/utils.ts
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.test.ts
Due: @kubb/cli, @kubb/core

update packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs(ast): keep the AST package spec-neutral in jsdoc
  packages/ast/src/defineDialect.ts
  packages/ast/src/infer.ts
  packages/ast/src/nodes/input.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/nodes/parameter.ts
  packages/ast/src/nodes/schema.ts
Due: none

feat(adapter-oas): generate readOnly/writeOnly schema variants
  .changeset/readonly-writeonly-variants.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/ast/src/nodes/content.ts
  packages/ast/src/nodes/response.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/variant.test.ts
  packages/ast/src/utils/variant.ts
Due: none

chore: format and lint fixes
  packages/adapter-oas/src/parser.ts
  packages/ast/src/utils/variant.test.ts
Due: none

Revert "Merge pull request #3672 from kubb-labs/claude/openapi-const-literal-6hcz3j"
  .changeset/openapi-const-literal.md
  packages/adapter-oas/src/promoteEnums.test.ts
  packages/adapter-oas/src/promoteEnums.ts
  packages/adapter-oas/src/stream.test.ts
  packages/adapter-oas/src/stream.ts
Due: none

fix(adapter-oas): resolve collision-renamed schema refs through nameMapping
  .changeset/fix-collision-renamed-ref-imports.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
Due: none

fix(adapter-oas): resolve collision-renamed schema refs through nameMapping (#3681)
  .changeset/fix-collision-renamed-ref-imports.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
Due: none

fix(adapter-oas): resolve collision-renamed component imports
  .changeset/adapter-oas-name-collision-mapping.md
  packages/adapter-oas/src/adapter.test.ts
  packages/adapter-oas/src/adapter.ts
Due: none

perf(ast,parser-ts): keep node factory, visitors and printer on V8's fast path
  .changeset/ast-core-v8-fast-path.md
  packages/ast/src/defineNode.ts
  packages/ast/src/utils/extractStringsFromNodes.ts
  packages/ast/src/visitor.ts
  packages/parser-ts/src/utils.ts
Due: none

perf(adapter-oas,plugin-barrel): avoid dict-mode and iterator-helper allocs
  .changeset/ast-core-v8-fast-path.md
  packages/adapter-oas/src/resolvers.ts
  packages/plugin-barrel/src/utils.ts
Due: none

perf(ast): lazily rebuild transform arrays and drop walk double-array
  packages/ast/src/visitor.ts
Due: none

perf(ast,adapter-oas): cut createFile allocations, skip source build when no imports
  packages/adapter-oas/src/resolvers.ts
  packages/ast/src/nodes/file.ts
Due: none

docs(changeset): note allocation/memory improvements
  .changeset/ast-core-v8-fast-path.md
Due: none

docs(changeset): tighten copy and fix comment punctuation
  .changeset/ast-core-v8-fast-path.md
  packages/ast/src/visitor.ts
Due: none

perf(ast,parser-ts): keep node factory, visitors and printer on V8's fast path (#3683)
  .changeset/ast-core-v8-fast-path.md
  packages/adapter-oas/src/resolvers.ts
  packages/ast/src/defineNode.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/utils/extractStringsFromNodes.ts
  packages/ast/src/visitor.ts
  packages/parser-ts/src/utils.ts
  packages/plugin-barrel/src/utils.ts
Due: none

update packages
  package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: unplugin-kubb

Update format
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(adapter-oas): fall back to unknown for an unresolvable $ref
  .changeset/adapter-oas-unresolvable-ref-fallback.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
Due: none
