Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

chore(examples): update generated files
  examples/advanced/src/gen/clients/axios/petsService/createPets.ts
  examples/advanced/src/gen/mcp/petsRequests/createPets.ts
Due: none

Remove build artifacts caching from workflow
  .github/workflows/pr.yml
Due: none

Update dependencies for typecheck and generate tasks
  turbo.json
Due: none

Update docker-agent.yml workflow configuration
  .github/workflows/docker-agent.yml
Due: none

Delete nixpacks.toml
  nixpacks.toml
Due: none

Update license badge links in README
  packages/core/README.md
Due: @kubb/core

Add functionality of server variables for the OAS plugin
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/src/utils/index.ts
  packages/plugin-oas/src/utils/resolveServerUrl.test.ts
  packages/plugin-oas/src/utils/resolveServerUrl.ts
Due: @kubb/plugin-oas

chore: add changeset for serverVariables feature
  .changeset/server-variables-plugin-oas.md
Due: none

feat(agent): add getMachineToken helper utils to token.ts (#2641)
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/token.test.ts
  packages/agent/server/utils/token.ts
Due: none

fix(plugin-ts): prevent barrel from exporting non-existent runtime consts for empty enum schemas (#2637)
  .changeset/fix-empty-enum-barrel-export.md
  packages/plugin-ts/mocks/enums.yaml
  packages/plugin-ts/src/__snapshots__/factory.test.ts.snap
  packages/plugin-ts/src/factory.test.ts
  packages/plugin-ts/src/factory.ts
  packages/plugin-ts/src/generators/__snapshots__/enumEmpty.ts
  packages/plugin-ts/src/generators/__snapshots__/enumEmptyPascalConst.ts
  packages/plugin-ts/src/generators/__snapshots__/enumNullOnly.ts
  packages/plugin-ts/src/generators/__snapshots__/enumObjectWithEmptyEnum.ts
  packages/plugin-ts/src/generators/typeGenerator.test.tsx
Due: @kubb/plugin-ts

fix(plugin-faker): named array type aliases no longer wrapped in `Partial<>` (#2638)
  .changeset/fix-plugin-faker-named-array-partial.md
  packages/plugin-faker/mocks/petStore.yaml
  packages/plugin-faker/src/components/Faker.tsx
  packages/plugin-faker/src/generators/__snapshots__/getPetsArray.ts
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
Due: @kubb/plugin-faker

fix: ToZod import is not a type import
  .changeset/strong-humans-refuse.md
  biome.json
  package.json
  packages/agent/package.json
  packages/cli/package.json
  packages/plugin-zod/src/generators/zodGenerator.tsx
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  src/gen/mocks/excluded.ts
Due: @kubb/cli, @kubb/plugin-zod, unplugin-kubb

KUBB_DISABLE_TELEMETRY=1
  package.json
Due: none

docs: add 4.31.6 changelog entries (#2645)
  docs/changelog.md
Due: none

upgrade packages
  pnpm-lock.yaml
Due: none

fix
  docs/changelog.md
Due: none

remove agent cache and rely on studio register call
  packages/agent/server/plugins/studio.ts
  packages/agent/server/utils/agentCache.test.ts
  packages/agent/server/utils/agentCache.ts
  packages/agent/server/utils/api.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
Due: none

remove KUBB_AGENT_NO_CACHE
  .github/workflows/docker-agent.yml
  docker-compose.yaml
  docs/helpers/cli.md
  env.d.ts
  examples/advanced/.env.example
  examples/react-query/.env.example
  packages/agent/.env.example
  packages/agent/Dockerfile
  packages/agent/README.md
  packages/agent/docker-compose.yaml
  packages/agent/server/__tests__/helpers.ts
  packages/agent/server/utils/connectStudio.ts
  packages/cli/src/commands/agent/start.ts
Due: @kubb/cli

use of connect post
  packages/agent/server/__tests__/helpers.ts
  packages/agent/server/utils/api.ts
Due: none

Add 'unstub' to cspell.json dictionary
  cspell.json
Due: none

Fix agent studio config not taking priority over kubb disk config on generate (#2647)
  packages/agent/server/utils/agentCache.test.ts
  packages/agent/server/utils/agentCache.ts
  packages/agent/server/utils/connectStudio.test.ts
  packages/agent/server/utils/connectStudio.ts
  packages/agent/server/utils/mergePlugins.test.ts
  packages/agent/server/utils/mergePlugins.ts
  src/gen/mocks/excluded.ts
Due: none

update docs
  docs/plugins/plugin-oas.md
Due: none

Add functionality of server variables for the OAS plugin (#2639)
  .changeset/server-variables-plugin-oas.md
  docs/plugins/plugin-oas.md
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/src/utils/index.ts
  packages/plugin-oas/src/utils/resolveServerUrl.test.ts
  packages/plugin-oas/src/utils/resolveServerUrl.ts
Due: @kubb/plugin-oas

fix(plugin-client): skip invalid JS variable names in path param const declarations
  .changeset/fix-path-params-dashes.md
  packages/plugin-client/src/components/Client.tsx
  packages/plugin-client/src/components/Url.tsx
Due: @kubb/plugin-client

test(plugin-client): add tests for path params with dashes (#2465)
  packages/plugin-client/mocks/dashedPathParams.yaml
  packages/plugin-client/src/generators/__snapshots__/dashedPathParams.ts
  packages/plugin-client/src/generators/__snapshots__/dashedPathParamsInline.ts
  packages/plugin-client/src/generators/clientGenerator.test.tsx
Due: @kubb/plugin-client

update tsdown
  .github/workflows/release.yml
  packages/core/package.json
  packages/core/tsdown.config.ts
  packages/oas/package.json
  packages/oas/tsdown.config.ts
  packages/plugin-client/tsdown.config.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-faker/tsdown.config.ts
  packages/plugin-mcp/tsdown.config.ts
  packages/plugin-msw/tsdown.config.ts
  packages/plugin-oas/package.json
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/utils/resolveServerUrl.ts
  packages/plugin-oas/tsdown.config.ts
  packages/plugin-react-query/tsdown.config.ts
  packages/plugin-redoc/tsdown.config.ts
  packages/plugin-solid-query/tsdown.config.ts
  packages/plugin-svelte-query/tsdown.config.ts
  packages/plugin-swr/tsdown.config.ts
  packages/plugin-ts/tsdown.config.ts
  packages/plugin-vue-query/tsdown.config.ts
  packages/plugin-zod/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/gen/mocks/excluded.ts
Due: @kubb/core, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

docs: add 4.32.0 changelog entry for serverVariables (#2651)
  docs/changelog.md
Due: none

Update tsdown (#2652)
  .changeset/fix-path-params-dashes.md
  .github/workflows/release.yml
  packages/core/package.json
  packages/core/tsdown.config.ts
  packages/oas/package.json
  packages/oas/tsdown.config.ts
  packages/plugin-client/mocks/dashedPathParams.yaml
  packages/plugin-client/src/components/Client.tsx
  packages/plugin-client/src/components/Url.tsx
  packages/plugin-client/src/generators/__snapshots__/dashedPathParams.ts
  packages/plugin-client/src/generators/__snapshots__/dashedPathParamsInline.ts
  packages/plugin-client/src/generators/clientGenerator.test.tsx
  packages/plugin-client/tsdown.config.ts
  packages/plugin-cypress/tsdown.config.ts
  packages/plugin-faker/tsdown.config.ts
  packages/plugin-mcp/tsdown.config.ts
  packages/plugin-msw/tsdown.config.ts
  packages/plugin-oas/package.json
  packages/plugin-oas/src/plugin.ts
  packages/plugin-oas/src/utils/resolveServerUrl.ts
  packages/plugin-oas/tsdown.config.ts
  packages/plugin-react-query/tsdown.config.ts
  packages/plugin-redoc/tsdown.config.ts
  packages/plugin-solid-query/tsdown.config.ts
  packages/plugin-svelte-query/tsdown.config.ts
  packages/plugin-swr/tsdown.config.ts
  packages/plugin-ts/tsdown.config.ts
  packages/plugin-vue-query/tsdown.config.ts
  packages/plugin-zod/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @kubb/core, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod

ci: trigger Copilot via PR reviewer instead of issue assignee
  .github/workflows/release.yml
Due: none

tryout
  .github/workflows/release.yml
Due: none

ci: extract changelog job into reusable workflow_call/dispatch workflow
  .github/workflows/changelog.yml
  .github/workflows/release.yml
Due: none

tryout
  .github/workflows/changelog.yml
Due: none

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
