Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

refactor(core): drop the listener-count guard from the update hook
  packages/core/src/KubbDriver.ts
Due: @kubb/core

refactor(adapter-oas): trim the lazy-import comment
  packages/adapter-oas/src/load/normalize.ts
Due: none

test(ast): cover the index path instead of the scan it replaced
  packages/ast/src/utils/combineFileMembers.test.ts
Due: none

test(core): reduce the update-row case to the one thing that changed
  packages/core/src/createKubb.test.ts
Due: @kubb/core

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

update packages
  package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kubb, unplugin-kubb

docs: cross-reference safe-chain in package-age comments
  .npmrc
  pnpm-workspace.yaml
Due: none

fix: remove dead min-package-age .npmrc key
  .npmrc
Due: none

docs: fix stale .npmrc reference and simplify comments
  .npmrc
  pnpm-workspace.yaml
Due: none

ci: bump kubb-labs/config pin to pick up safe-chain
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

ci: bump kubb-labs/config pin to latest main
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

feat(core): infer output.mode from the output path
  .changeset/mode-follows-output-path.md
  packages/core/src/KubbDriver.test.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  scripts/benchmark/v4-vs-v5/.gitignore
  scripts/benchmark/v4-vs-v5/README.md
  scripts/benchmark/v4-vs-v5/bench.mjs
  scripts/benchmark/v4-vs-v5/cases.mjs
  scripts/benchmark/v4-vs-v5/package.json
  scripts/benchmark/v4-vs-v5/v4/package.json
  scripts/benchmark/v4-vs-v5/v5/package.json
Due: @kubb/core

feat(core): let group use the inferred output.mode
  .changeset/mode-follows-output-path.md
  packages/core/src/definePlugin.test.ts
  packages/core/src/definePlugin.ts
  scripts/benchmark/v4-vs-v5/.gitignore
  scripts/benchmark/v4-vs-v5/README.md
  scripts/benchmark/v4-vs-v5/bench.mjs
  scripts/benchmark/v4-vs-v5/cases.mjs
  scripts/benchmark/v4-vs-v5/package.json
  scripts/benchmark/v4-vs-v5/v4/package.json
  scripts/benchmark/v4-vs-v5/v5/package.json
Due: @kubb/core

perf(adapter-oas): skip api-ref-bundler for self-contained documents
  .changeset/skip-bundle-self-contained.md
  packages/adapter-oas/src/load/normalize.test.ts
  packages/adapter-oas/src/load/normalize.ts
Due: none

perf(adapter-oas): try JSON.parse before the YAML parser
  .changeset/json-parse-fast-path.md
  packages/adapter-oas/src/load/source.test.ts
  packages/adapter-oas/src/load/source.ts
Due: none

refactor(adapter-oas): simplify hasExternalRef
  packages/adapter-oas/src/load/normalize.ts
Due: none

fix(core): route barrel writes through the deduped storage path
  packages/core/src/build.test.ts
  packages/core/src/build.ts
Due: @kubb/core

fix(cli): stop output.format from defeating the write dedup check
  .changeset/fix-write-dedup-fsplugin-format-cache.md
  .gitignore
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/formatCacheStorage.test.ts
  packages/cli/src/utils/formatCacheStorage.ts
Due: @kubb/cli

fix(core,cli): harden format-cache storage and watch-mode rebuilds
  .changeset/fix-write-dedup-fsplugin-format-cache.md
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/formatCacheStorage.ts
  packages/cli/src/utils/watcher.test.ts
  packages/cli/src/utils/watcher.ts
  packages/core/src/build.test.ts
  packages/core/src/build.ts
  packages/core/src/index.ts
  packages/core/src/storages/formatCacheStorage.test.ts
  packages/core/src/storages/formatCacheStorage.ts
Due: @kubb/cli, @kubb/core

refactor(cli): keep the format-cache fix in the CLI
  .changeset/fix-write-dedup-fsplugin-format-cache.md
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/formatCacheStorage.test.ts
  packages/cli/src/utils/formatCacheStorage.ts
  packages/core/src/build.ts
  packages/core/src/index.ts
Due: @kubb/cli, @kubb/core

test(cli): fold the dispose-batching test into the persistence test
  packages/cli/src/utils/formatCacheStorage.test.ts
Due: @kubb/cli

udpate packages
  package.json
  packages/kubb/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Due: kubb, unplugin-kubb

Exit changesets pre mode for the 5.0.0 release
  .changeset/pre.json
Due: none

Polish changeset prose with humanizer and documentation passes
  .changeset/adapter-oas-faithful-schemas.md
  .changeset/add-md-parser-and-components.md
  .changeset/barrel-default-off.md
  .changeset/cli-init-v5.md
  .changeset/core-remove-middleware.md
  .changeset/move-plugins-to-own-repo.md
  .changeset/plugin-barrel-default-off.md
  .changeset/rename-define-to-create.md
  .changeset/resolver-core-namespace.md
Due: none

Add a changeset for the 5.4x faster generation headline
  .changeset/faster-code-generation.md
Due: none

update packages
  package.json
  packages/mcp/package.json
  pnpm-lock.yaml
Due: @kubb/mcp

Fix stale/inaccurate claims found by fact-checking changesets against source
  .changeset/adapter-oas-faithful-schemas.md
  .changeset/add-md-parser-and-components.md
  .changeset/add-renderer-jsx-package.md
  .changeset/ast-factory-namespace.md
  .changeset/ast-multi-spec-vocabulary.md
  .changeset/consolidate-input.md
  .changeset/fix-multiple-config-defineconfig.md
  .changeset/fix-path-traversal-security.md
  .changeset/hooks-renamed.md
Due: none

Prune stale entries from pre.json's changesets array
  .changeset/pre.json
Due: none

Remove beta and alpha changelog entries
  CHANGELOG.md
Due: none

docs: use minimal v5.0.0 changelog pointing to migration guide and blog
  CHANGELOG.md
Due: none
