Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

update
  packages/agent/data/kubb.config.ts
  packages/agent/package.json
  packages/core/src/build.test.ts
  packages/plugin-cypress/src/generators/cypressGenerator.test.ts
  packages/plugin-mcp/src/generators/serverGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.ts
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  pnpm-lock.yaml
Due: @kubb/core, @kubb/plugin-cypress, @kubb/plugin-mcp, @kubb/plugin-ts

update docs
  .changeset/defineconfig-adapter-parser-defaults.md
  docs/getting-started/configure.md
  docs/getting-started/installation.md
Due: none

docs: update changelog for v5.0.0-alpha.31
  docs/changelog.md
Due: none

update
  configs/mocks.ts
  packages/agent/package.json
  packages/agent/server/types/agent.ts
  packages/plugin-mcp/src/components/Server.tsx
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-oas/src/SchemaMapper.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/src/utils/getImports.ts
  packages/plugin-react-query/src/plugin.ts
  packages/plugin-redoc/src/plugin.ts
  packages/plugin-solid-query/src/plugin.ts
  packages/plugin-svelte-query/src/plugin.ts
  packages/plugin-swr/src/plugin.ts
  packages/plugin-vue-query/src/plugin.ts
  pnpm-lock.yaml
Due: @kubb/plugin-mcp, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-vue-query

refactor: replace KubbFile.File with FileNode from @kubb/ast/types
  packages/core/src/PluginDriver.ts
  packages/core/src/build.test.ts
  packages/core/src/build.ts
  packages/core/src/defineGenerator.ts
  packages/core/src/defineResolver.ts
  packages/core/src/renderNode.tsx
  packages/core/src/types.ts
  packages/core/src/utils/TreeNode.test.ts
  packages/core/src/utils/TreeNode.ts
  packages/core/src/utils/__snapshots__/barrel.json
  packages/core/src/utils/getBarrelFiles.test.ts
  packages/core/src/utils/getBarrelFiles.ts
  packages/plugin-client/src/generators/classClientGenerator.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.tsx
  packages/plugin-mcp/src/components/Server.tsx
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/generators/createGenerator.ts
  packages/plugin-oas/src/hooks/useOperationManager.ts
  packages/plugin-oas/src/hooks/useSchemaManager.ts
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-mcp, @kubb/plugin-oas

cleanup
  examples/client/package.json
  examples/client/src/generators/clientOperationGenerator.tsx
  examples/generators/package.json
  examples/generators/src/generators/example1.tsx
  packages/agent/package.json
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
  packages/core/src/renderNode.tsx
  packages/plugin-faker/src/plugin.ts
  packages/plugin-mcp/src/plugin.ts
  packages/plugin-msw/src/plugin.ts
  packages/plugin-oas/package.json
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/generators/createGenerator.ts
  packages/plugin-oas/src/hooks/useOperationManager.ts
  packages/plugin-oas/src/hooks/useSchemaManager.ts
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-vue-query/package.json
  pnpm-lock.yaml
Due: @kubb/core, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-vue-query

resolve issues
  packages/agent/server/utils/ws.ts
  packages/ast/package.json
  packages/core/src/Kubb.ts
  packages/core/src/KubbFile.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/build.test.ts
  packages/core/src/build.ts
  packages/core/src/constants.ts
  packages/core/src/defineParser.ts
  packages/core/src/defineResolver.ts
  packages/core/src/hooks/useMode.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/TreeNode.ts
  packages/core/src/utils/getBarrelFiles.test.ts
  packages/core/src/utils/getBarrelFiles.ts
  packages/parser-ts/src/parserTs.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-oas/src/SchemaMapper.ts
  packages/plugin-oas/src/createParser.test.ts
  packages/plugin-oas/src/hooks/useOperationManager.ts
  packages/plugin-oas/src/hooks/useSchemaManager.ts
  packages/plugin-oas/src/types.ts
  packages/plugin-oas/src/utils/getImports.ts
Due: @kubb/core, @kubb/plugin-oas

resolve issues
  packages/ast/src/factory.ts
  packages/core/vitest.config.ts
  packages/plugin-ts/package.json
  packages/plugin-ts/src/components/Enum.tsx
  packages/plugin-ts/src/factory.test.ts
  packages/plugin-ts/src/printers/printerTs.test.ts
  packages/plugin-ts/src/printers/printerTs.ts
  pnpm-lock.yaml
Due: @kubb/core, @kubb/plugin-ts

remove fabric-core if not needed
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/core/package.json
  packages/core/src/PluginDriver.ts
  packages/core/src/build.ts
  packages/core/src/types.ts
  packages/mcp/package.json
  packages/oas/package.json
  packages/plugin-client/package.json
  packages/plugin-oas/package.json
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
  packages/plugin-react-query/package.json
  packages/plugin-redoc/package.json
  packages/plugin-solid-query/package.json
  packages/plugin-svelte-query/package.json
  packages/plugin-swr/package.json
  packages/plugin-vue-query/package.json
  packages/plugin-zod/package.json
Due: @kubb/core, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-vue-query, @kubb/plugin-zod

update lock
  pnpm-lock.yaml
Due: none

fix(@kubb/agent): mark TypeScript as rollup external and add remeda to @kubb/ast to fix OOM build failure (#2977)
  packages/agent/nitro.config.ts
  packages/ast/package.json
  pnpm-lock.yaml
Due: none

chore(examples): update generated files
  packages/core/src/build.ts
  packages/core/src/utils/getBarrelFiles.test.ts
  packages/plugin-client/src/generators/classClientGenerator.test.tsx
  packages/plugin-client/src/generators/clientGenerator.test.tsx
  packages/plugin-client/src/generators/groupedClientGenerator.test.tsx
  packages/plugin-client/src/generators/operationsGenerator.test.tsx
  packages/plugin-client/src/generators/staticClassClientGenerator.test.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.test.ts
  packages/plugin-faker/src/generators/fakerGenerator.test.tsx
  packages/plugin-mcp/src/generators/mcpGenerator.test.tsx
  packages/plugin-mcp/src/generators/serverGenerator.test.tsx
  packages/plugin-msw/src/generators/handlersGenerator.test.tsx
  packages/plugin-msw/src/generators/mswGenerator.test.tsx
  packages/plugin-oas/src/utils.tsx
  packages/plugin-react-query/src/generators/infiniteQueryGenerator.test.tsx
  packages/plugin-react-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-react-query/src/generators/queryGenerator.test.tsx
  packages/plugin-react-query/src/generators/suspenseInfiniteQueryGenerator.test.tsx
  packages/plugin-react-query/src/generators/suspenseQueryGenerator.test.tsx
  packages/plugin-solid-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-solid-query/src/generators/queryGenerator.test.tsx
  packages/plugin-svelte-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-svelte-query/src/generators/queryGenerator.test.tsx
  packages/plugin-swr/src/generators/mutationGenerator.test.tsx
  packages/plugin-swr/src/generators/queryGenerator.test.tsx
  packages/plugin-ts/src/generators/typeGenerator.test.ts
  packages/plugin-ts/src/generators/typeGeneratorLegacy.test.ts
  packages/plugin-vue-query/src/generators/infiniteQueryGenerator.test.tsx
  packages/plugin-vue-query/src/generators/mutationGenerator.test.tsx
  packages/plugin-vue-query/src/generators/queryGenerator.test.tsx
Due: @kubb/core, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query

Update FileProcessor.ts
  packages/core/src/FileProcessor.ts
Due: @kubb/core

Update FileManager.ts
  packages/core/src/FileManager.ts
Due: @kubb/core

chore(examples): update generated files
  packages/ast/src/factory.test.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/types.ts
  packages/ast/src/utils.test.ts
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-ts/src/printers/functionPrinter.test.ts
  packages/plugin-ts/src/printers/functionPrinter.ts
Due: @kubb/plugin-cypress, @kubb/plugin-ts

chore(examples): update generated files
  packages/ast/src/utils.ts
Due: none

chore(examples): update generated files
  packages/ast/src/factory.test.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/types.ts
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
  packages/plugin-ts/src/printers/functionPrinter.ts
Due: @kubb/plugin-ts

docs: update changelog for v5.0.0-alpha.32
  docs/changelog.md
Due: none

update pacakges
  examples/advanced/package.json
  examples/msw/package.json
  examples/react-query/package.json
  examples/vue-query/package.json
  package.json
  packages/agent/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Due: unplugin-kubb

feat: renderer-jsx copied from fabric-react (simple version)
  internals/utils/src/context.ts
  internals/utils/src/index.ts
  internals/utils/src/onProcessExit.ts
  packages/renderer-jsx/package.json
  packages/renderer-jsx/src/Renderer.ts
  packages/renderer-jsx/src/Runtime.tsx
  packages/renderer-jsx/src/components/Const.tsx
  packages/renderer-jsx/src/components/File.tsx
  packages/renderer-jsx/src/components/Function.tsx
  packages/renderer-jsx/src/components/Root.tsx
  packages/renderer-jsx/src/components/Type.tsx
  packages/renderer-jsx/src/dom.test.ts
  packages/renderer-jsx/src/dom.ts
  packages/renderer-jsx/src/globals.ts
  packages/renderer-jsx/src/index.ts
  packages/renderer-jsx/src/jsx-dev-runtime.ts
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/renderer-jsx/src/jsx-runtime.ts
  packages/renderer-jsx/src/types.ts
  packages/renderer-jsx/src/utils/processFiles.ts
  packages/renderer-jsx/src/utils/squashExportNodes.ts
  packages/renderer-jsx/src/utils/squashImportNodes.ts
  packages/renderer-jsx/src/utils/squashSourceNodes.ts
  packages/renderer-jsx/tsconfig.json
  packages/renderer-jsx/tsdown.config.ts
  packages/renderer-jsx/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: none

add createRenderer
  packages/renderer-jsx/package.json
  packages/renderer-jsx/src/createRenderer.tsx
  packages/renderer-jsx/src/index.ts
  packages/renderer-jsx/tsdown.config.ts
  pnpm-lock.yaml
Due: none

correct use of jsx
  packages/ast/src/factory.ts
  packages/core/package.json
  packages/core/src/renderNode.tsx
  packages/renderer-jsx/src/utils/squashSourceNodes.ts
Due: @kubb/core

support renderer-jsx
  packages/plugin-cypress/package.json
  packages/plugin-cypress/src/components/Request.tsx
  packages/plugin-cypress/src/generators/cypressGenerator.tsx
  packages/plugin-cypress/tsconfig.json
Due: @kubb/plugin-cypress

add jsdoc
  packages/renderer-jsx/src/components/Const.tsx
  packages/renderer-jsx/src/components/Function.tsx
  packages/renderer-jsx/src/components/Type.tsx
  packages/renderer-jsx/src/types.ts
  packages/renderer-jsx/src/utils/squashSourceNodes.ts
Due: none

source node value
  packages/renderer-jsx/package.json
  packages/renderer-jsx/src/utils/squashSourceNodes.ts
Due: none

resolve agent build
  packages/agent/nitro.config.ts
Due: none

support arrow function
  packages/renderer-jsx/src/components/Function.tsx
  packages/renderer-jsx/src/dom.ts
  packages/renderer-jsx/src/types.ts
  packages/renderer-jsx/src/utils/squashSourceNodes.ts
Due: none

support arrow function
  packages/renderer-jsx/src/jsx-namespace.d.ts
  packages/renderer-jsx/src/types.ts
Due: none

use of new renderer in internal tanstack query
  internals/tanstack-query/package.json
  internals/tanstack-query/src/components/MutationKey.tsx
  internals/tanstack-query/src/components/QueryKey.tsx
  internals/tanstack-query/tsconfig.json
  packages/ast/src/constants.ts
  packages/ast/src/factory.ts
  packages/ast/src/index.ts
  packages/ast/src/nodes/base.ts
  packages/ast/src/nodes/code.ts
  packages/ast/src/nodes/file.ts
  packages/ast/src/nodes/index.ts
  packages/ast/src/types.ts
Due: none

cleanup
  packages/ast/src/index.ts
  packages/ast/src/utils.ts
  packages/parser-ts/src/parserTs.test.ts
  packages/parser-ts/src/parserTs.ts
  packages/renderer-jsx/src/utils/squashSourceNodes.ts
  pnpm-lock.yaml
Due: none
