Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

cleanup
  packages/cli/src/cli/index.ts
  packages/cli/src/cli/schema.ts
  packages/cli/src/cli/types.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/constants.ts
  packages/cli/src/utils/telemetry.ts
Due: @kubb/cli

cleanup
  packages/cli/src/cli/adapters/node.ts
  packages/cli/src/cli/types.ts
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/validate.ts
Due: @kubb/cli

cleanup
  packages/cli/src/cli/help.ts
  packages/cli/src/cli/index.ts
  packages/cli/src/cli/parse.ts
  packages/cli/src/cli/types.ts
Due: @kubb/cli

cleanup
  packages/cli/src/cli/help.ts
  packages/cli/src/cli/index.ts
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/commands/generate.ts
Due: @kubb/cli

update turbo
  package.json
  pnpm-lock.yaml
Due: none

add test cases
  packages/cli/src/cli/adapters/node.test.ts
  packages/cli/src/cli/help.test.ts
  packages/cli/src/cli/parse.test.ts
  packages/cli/src/cli/schema.test.ts
  packages/cli/src/cli/types.test.ts
Due: @kubb/cli

add test cases
  packages/cli/src/cli/adapters/node.test.ts
  packages/cli/src/cli/help.test.ts
  packages/cli/src/cli/help.ts
  packages/cli/src/cli/parse.test.ts
  packages/cli/src/cli/schema.test.ts
  packages/cli/src/cli/types.test.ts
  packages/cli/src/utils/envDetection.test.ts
  packages/cli/src/utils/packageManager.test.ts
  packages/cli/src/utils/telemetry.ts
Due: @kubb/cli

formating
  packages/cli/src/cli/adapters/node.test.ts
  packages/cli/src/cli/help.test.ts
  packages/cli/src/cli/parse.test.ts
  packages/cli/src/cli/schema.test.ts
  packages/cli/src/utils/envDetection.test.ts
  packages/cli/src/utils/packageManager.test.ts
Due: @kubb/cli

formating
  packages/cli/src/cli/adapters/node.test.ts
Due: @kubb/cli

use of await import
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/mcp.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/index.ts
  packages/cli/src/runners/generate.ts
Due: @kubb/cli

changeset
  .changeset/cli-node-adapter.md
Due: none

nodeAdapter
  packages/cli/src/cli/adapters/nodeAdapter.test.ts
  packages/cli/src/cli/adapters/nodeAdapter.ts
  packages/cli/src/cli/index.ts
  packages/cli/src/cli/parse.ts
Due: @kubb/cli

nodeAdapter
  packages/cli/src/cli/adapters/nodeAdapter.test.ts
Due: @kubb/cli

Update packages/cli/src/cli/adapters/nodeAdapter.ts
  packages/cli/src/cli/adapters/nodeAdapter.ts
Due: @kubb/cli

fix tests
  packages/cli/src/utils/packageManager.test.ts
  src/gen/mocks/excluded.ts
Due: @kubb/cli

removed no cache
  docs/helpers/cli.md
  packages/cli/src/commands/agent/start.ts
Due: @kubb/cli

removed spawn
  packages/agent/server/__tests__/helpers.ts
  packages/agent/server/__tests__/studio.e2e.test.ts
  packages/cli/src/runners/agent.ts
Due: @kubb/cli

use of spawnAsync
  packages/cli/src/runners/agent.ts
  packages/cli/src/utils/packageManager.ts
  packages/cli/src/utils/spawnAsync.ts
Due: @kubb/cli

use of spawnAsync
  packages/cli/src/runners/agent.ts
Due: @kubb/cli

update
  packages/cli/src/commands/agent/start.ts
  packages/cli/src/runners/agent.ts
Due: @kubb/cli

update
  packages/cli/src/runners/agent.ts
Due: @kubb/cli

update
  packages/cli/src/utils/spawnAsync.ts
Due: @kubb/cli

docs: update changelog for v4.33.0
  docs/changelog.md
Due: none

cleanup
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate.ts
  packages/core/src/constants.ts
  packages/core/src/utils/index.ts
  pnpm-lock.yaml
Due: @kubb/cli, @kubb/core

fix(core): correct barrel export paths and prevent duplicates
  examples/fetch/src/gen/addPet.ts
  examples/fetch/src/gen/createUser.ts
  examples/fetch/src/gen/createUsersWithListInput.ts
  examples/fetch/src/gen/deleteOrder.ts
  examples/fetch/src/gen/deletePet.ts
  examples/fetch/src/gen/deleteUser.ts
  examples/fetch/src/gen/findPetsByStatus.ts
  examples/fetch/src/gen/findPetsByTags.ts
  examples/fetch/src/gen/getInventory.ts
  examples/fetch/src/gen/getOrderById.ts
  examples/fetch/src/gen/getPetById.ts
  examples/fetch/src/gen/getUserByName.ts
  examples/fetch/src/gen/index.ts
  examples/fetch/src/gen/loginUser.ts
  examples/fetch/src/gen/logoutUser.ts
  examples/fetch/src/gen/placeOrder.ts
  examples/fetch/src/gen/placeOrderPatch.ts
  examples/fetch/src/gen/updatePet.ts
  examples/fetch/src/gen/updatePetWithForm.ts
  examples/fetch/src/gen/updateUser.ts
  examples/fetch/src/gen/uploadFile.ts
  packages/core/src/build.ts
Due: @kubb/core

cleanup
  examples/advanced/src/gen/mcp/.mcp.json
  examples/fetch/src/gen/addPet.ts
  examples/fetch/src/gen/createUser.ts
  examples/fetch/src/gen/createUsersWithListInput.ts
  examples/fetch/src/gen/deleteOrder.ts
  examples/fetch/src/gen/deletePet.ts
  examples/fetch/src/gen/deleteUser.ts
  examples/fetch/src/gen/findPetsByStatus.ts
  examples/fetch/src/gen/findPetsByTags.ts
  examples/fetch/src/gen/getInventory.ts
  examples/fetch/src/gen/getOrderById.ts
  examples/fetch/src/gen/getPetById.ts
  examples/fetch/src/gen/getUserByName.ts
  examples/fetch/src/gen/index.ts
  examples/fetch/src/gen/loginUser.ts
  examples/fetch/src/gen/logoutUser.ts
  examples/fetch/src/gen/placeOrder.ts
  examples/fetch/src/gen/placeOrderPatch.ts
  examples/fetch/src/gen/updatePet.ts
  examples/fetch/src/gen/updatePetWithForm.ts
  examples/fetch/src/gen/updateUser.ts
  examples/fetch/src/gen/uploadFile.ts
  examples/mcp/src/gen/mcp/.mcp.json
  packages/core/src/PackageManager.test.ts
  packages/core/src/PluginManager.test.ts
  packages/core/src/PluginManager.ts
  packages/core/src/build.ts
  packages/core/src/constants.ts
  packages/core/src/transformers/toRegExp.test.ts
  packages/core/src/utils/FunctionParams.ts
  packages/core/src/utils/formatters.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/linters.ts
  packages/oas/src/index.ts
  packages/plugin-client/src/generators/clientGenerator.tsx
  packages/plugin-faker/src/parser.ts
  packages/plugin-oas/src/OperationGenerator.ts
  packages/plugin-oas/src/SchemaGenerator.ts
Due: @kubb/core, @kubb/oas, @kubb/plugin-client, @kubb/plugin-faker, @kubb/plugin-oas

naming fix
  packages/core/src/utils/AsyncEventEmitter.ts
Due: @kubb/core

better windows support
  packages/core/src/fs/read.test.ts
  packages/core/src/fs/utils.ts
Due: @kubb/core

remove unused utils in core
  packages/core/src/index.ts
  packages/core/src/transformers/casing.ts
  packages/core/src/transformers/combineCodes.ts
  packages/core/src/transformers/createJSDocBlockText.test.ts
  packages/core/src/transformers/createJSDocBlockText.ts
  packages/core/src/transformers/indent.ts
  packages/core/src/transformers/index.ts
  packages/core/src/transformers/nameSorter.test.ts
  packages/core/src/transformers/nameSorter.ts
  packages/core/src/transformers/searchAndReplace.ts
  packages/core/src/transformers/transformReservedWord.ts
  packages/core/src/transformers/trim.ts
  packages/core/src/utils/TreeNode.ts
  packages/core/src/utils/URLPath.ts
  packages/core/src/utils/executeStrategies.test.ts
  packages/core/src/utils/getBarrelFiles.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/renderTemplate.test.ts
  packages/core/src/utils/renderTemplate.ts
  packages/core/src/utils/timeout.ts
Due: @kubb/core

chore(examples): update generated files
  examples/advanced/src/gen/mcp/.mcp.json
  examples/mcp/src/gen/mcp/.mcp.json
Due: none

also move fs helpers
  packages/cli/src/loggers/fileSystemLogger.ts
  packages/core/package.json
  packages/core/src/BarrelManager.ts
  packages/core/src/PackageManager.ts
  packages/core/src/build.ts
  packages/core/src/fs/index.ts
  packages/core/tsdown.config.ts
  packages/utils/src/clean.ts
  packages/utils/src/exists.test.ts
  packages/utils/src/exists.ts
  packages/utils/src/fsUtils.ts
  packages/utils/src/index.ts
  packages/utils/src/read.test.ts
  packages/utils/src/read.ts
  packages/utils/src/write.test.ts
  packages/utils/src/write.ts
Due: @kubb/cli, @kubb/core

support es2021
  base.json
  bundler.json
  packages/kubb/tsconfig.json
Due: kubb

support es2021 for examples
  examples/advanced/tsconfig.json
  examples/cypress/tsconfig.json
  examples/faker/tsconfig.json
  examples/fetch/tsconfig.json
  examples/generators/tsconfig.json
  examples/mcp/tsconfig.json
  examples/msw/tsconfig.json
  examples/react-query/tsconfig.json
  examples/simple-single/tsconfig.json
  examples/solid-query/tsconfig.json
  examples/svelte-query/tsconfig.json
  examples/swr/tsconfig.json
  examples/typescript/tsconfig.json
  examples/vue-query/tsconfig.json
  examples/zod/tsconfig.json
Due: none
