Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

extra schemas
  schemas/plugins/README.md
  schemas/plugins/plugin.json
  schemas/plugins/plugins.json
Due: none

Notes added by 'git notes add'
  fa4a1a4cc249d74527ac584cd9ce585e355ce8d5
Due: none

update debugging
  docs/guide/debugging.md
Due: none

update debugging
  schemas/plugins/README.md
Due: none

remove compatibilityPreset
  docs/guide/openapi-support.md
  docs/migration-guide.md
  docs/plugins/core/compatibilityPreset.md
  docs/plugins/core/resolvers.md
  docs/plugins/plugin-client.md
  docs/plugins/plugin-cypress.md
  docs/plugins/plugin-faker.md
  docs/plugins/plugin-mcp.md
  docs/plugins/plugin-solid-query.md
  docs/plugins/plugin-svelte-query.md
  docs/plugins/plugin-swr.md
  docs/plugins/plugin-ts.md
  docs/plugins/plugin-zod.md
Due: none

fix: update parser-ts docs to use correct export names (parserTs, parserTsx)
  docs/getting-started/configure.md
  docs/parsers/parser-ts.md
Due: none

add iconlight and dark
  schemas/plugins/plugin.json
Due: none

update plugins.json
  schemas/plugins/plugin.json
Due: none

update plugin.json
  schemas/plugins/plugin.json
Due: none

update plugin.json
  schemas/plugins/plugin.json
  schemas/plugins/plugins.json
Due: none

cleaup
  schemas/plugins/plugin.json
  schemas/plugins/plugins.json
Due: none

add adapters schemas
  schemas/adapters/README.md
  schemas/adapters/adapter.json
  schemas/adapters/adapters.json
Due: none

add parsers schemas
  schemas/parsers/README.md
  schemas/parsers/parser.json
  schemas/parsers/parsers.json
Due: none

update
  schemas/adapters/adapter.json
  schemas/parsers/parser.json
  schemas/plugins/plugin.json
Due: none

fix: cleanup plugin facotyr
  packages/core/src/defineResolver.test.ts
  packages/core/src/types.ts
Due: @kubb/core

add changeset
  .changeset/remove-unused-plugin-factory-generics.md
Due: none

Cleanup pluginFactory (#3133)
  .changeset/remove-unused-plugin-factory-generics.md
  packages/core/src/defineResolver.test.ts
  packages/core/src/types.ts
Due: @kubb/core

ci(changesets): version packages (alpha)
  .changeset/pre.json
  packages/adapter-oas/CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/ast/CHANGELOG.md
  packages/ast/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/parser-ts/CHANGELOG.md
  packages/parser-ts/package.json
  packages/renderer-jsx/CHANGELOG.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/CHANGELOG.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

feat: migrate KubbHooks to ctx-based event parameters (#3138)
  .changeset/fix-typecheck-issues.md
  packages/adapter-oas/CHANGELOG.md
  packages/agent/CHANGELOG.md
  packages/agent/server/utils/executeHooks.ts
  packages/agent/server/utils/generate.ts
  packages/agent/server/utils/publish.ts
  packages/agent/server/utils/setupHookListener.test.ts
  packages/agent/server/utils/setupHookListener.ts
  packages/agent/server/utils/ws.ts
  packages/ast/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/fileSystemLogger.ts
  packages/cli/src/loggers/githubActionsLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/runners/generate.ts
  packages/cli/src/utils/executeHooks.ts
  packages/cli/src/utils/runHook.ts
  packages/core/CHANGELOG.md
  packages/core/src/Kubb.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
  packages/kubb/CHANGELOG.md
  packages/mcp/CHANGELOG.md
  packages/mcp/src/tools/generate.ts
  packages/unplugin-kubb/CHANGELOG.md
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

[adapter-oas] Restructure `requestBody` to use a typed `content` array (breaking change) (#3139)
  .changeset/requestbody-content-array.md
  migration/requestBody-content.md
  packages/adapter-oas/CHANGELOG.md
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/resolvers.ts
  packages/agent/CHANGELOG.md
  packages/ast/CHANGELOG.md
  packages/ast/src/mocks.ts
  packages/ast/src/nodes/operation.ts
  packages/ast/src/utils.test.ts
  packages/ast/src/utils.ts
  packages/ast/src/visitor.ts
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/core/src/defineResolver.ts
  packages/kubb/CHANGELOG.md
  packages/mcp/CHANGELOG.md
  packages/unplugin-kubb/CHANGELOG.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

Delete plan.md
  plan.md
Due: none

feat(core): add `enforce: 'pre' | 'post'` plugin ordering (#3143)
  .changeset/add-plugin-enforce-ordering.md
  packages/adapter-oas/CHANGELOG.md
  packages/agent/CHANGELOG.md
  packages/ast/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/core/src/PluginDriver.test.ts
  packages/core/src/PluginDriver.ts
  packages/core/src/definePlugin.ts
  packages/kubb/CHANGELOG.md
  packages/mcp/CHANGELOG.md
  packages/unplugin-kubb/CHANGELOG.md
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

Support middleware (#3135)
  .changeset/add-middleware-barrel.md
  .changeset/add-middleware-support.md
  packages/core/src/FileManager.ts
  packages/core/src/Kubb.ts
  packages/core/src/constants.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/defineMiddleware.test.ts
  packages/core/src/defineMiddleware.ts
  packages/core/src/definePlugin.test.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/TreeNode.test.ts
  packages/core/src/utils/TreeNode.ts
  packages/core/src/utils/__snapshots__/barrel.json
  packages/core/src/utils/getBarrelFiles.test.ts
  packages/core/src/utils/getBarrelFiles.ts
  packages/kubb/src/defineConfig.test.ts
  packages/kubb/src/defineConfig.ts
  packages/middleware-barrel/package.json
  packages/middleware-barrel/src/constants.ts
  packages/middleware-barrel/src/index.ts
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/types.ts
  packages/middleware-barrel/src/utils/TreeNode.ts
  packages/middleware-barrel/src/utils/generatePerPluginBarrel.ts
  packages/middleware-barrel/src/utils/generateRootBarrel.ts
  packages/middleware-barrel/src/utils/getBarrelFiles.ts
  packages/middleware-barrel/tsconfig.json
  packages/middleware-barrel/tsdown.config.ts
  pnpm-lock.yaml
  schemas/middlewares/middleware.json
  schemas/middlewares/middlewares.json
  tsconfig.json
Due: @kubb/core, kubb

ci(changesets): version packages (alpha)
  .changeset/pre.json
  packages/adapter-oas/CHANGELOG.md
  packages/adapter-oas/package.json
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/ast/CHANGELOG.md
  packages/ast/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/kubb/CHANGELOG.md
  packages/kubb/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/middleware-barrel/CHANGELOG.md
  packages/middleware-barrel/package.json
  packages/parser-ts/CHANGELOG.md
  packages/parser-ts/package.json
  packages/renderer-jsx/CHANGELOG.md
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/CHANGELOG.md
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

refactor(schemas): extract category definition and fix drift
  schemas/adapters/adapter.json
  schemas/adapters/adapters.json
  schemas/middlewares/middleware.json
  schemas/parsers/parser.json
  schemas/parsers/parsers.json
  schemas/plugins/README.md
  schemas/plugins/plugins.json
Due: none

update packages
  packages/adapter-oas/package.json
  packages/agent/package.json
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: unplugin-kubb

refactor(backend): dedupe and drop unused exports (knip + jscpd)
  .changeset/backend-refactor-dedupe.md
  internals/utils/src/colors.ts
  packages/ast/src/constants.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/core/src/FileManager.ts
  packages/core/src/constants.ts
  packages/core/src/definePlugin.test.ts
  packages/parser-ts/src/constants.ts
  packages/parser-ts/src/parserTs.ts
Due: @kubb/cli, @kubb/core

fix typging
  packages/middleware-barrel/src/middleware.ts
  packages/middleware-barrel/src/types.ts
Due: none

resolve changeset
  .changeset/backend-refactor-dedupe.md
Due: none

fix(barrel): export BarrelType from middleware-barrel and re-export from kubb package
  packages/kubb/src/index.ts
  packages/middleware-barrel/src/index.ts
Due: kubb

Path conditions:
  @kubb/cli: any of: packages/cli/**, but not: **/examples/**, **/tests/**
  @kubb/core: any of: packages/core/**, but not: **/examples/**, **/tests/**
  kubb: any of: packages/kubb/**, but not: **/examples/**, **/tests/**
  @kubb/mcp: any of: packages/mcp/**, but not: **/examples/**, **/tests/**
  @kubb/oas: any of: packages/oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-client: any of: packages/plugin-client/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-cypress: any of: packages/plugin-cypress/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-faker: any of: packages/plugin-faker/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-mcp: any of: packages/plugin-mcp/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-msw: any of: packages/plugin-msw/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-oas: any of: packages/plugin-oas/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-react-query: any of: packages/plugin-react-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-redoc: any of: packages/plugin-redoc/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-solid-query: any of: packages/plugin-solid-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-svelte-query: any of: packages/plugin-svelte-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-swr: any of: packages/plugin-swr/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-ts: any of: packages/plugin-ts/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-vue-query: any of: packages/plugin-vue-query/**, but not: **/examples/**, **/tests/**
  @kubb/plugin-zod: any of: packages/plugin-zod/**, but not: **/examples/**, **/tests/**
  unplugin-kubb: any of: packages/unplugin-kubb/**, but not: **/examples/**, **/tests/**
