Repository kubb-labs/kubb: changes, and which Codecov flags are due for each by the changed paths.
All: @kubb/cli, @kubb/core, kubb, @kubb/mcp, @kubb/oas, @kubb/plugin-client, @kubb/plugin-cypress, @kubb/plugin-faker, @kubb/plugin-mcp, @kubb/plugin-msw, @kubb/plugin-oas, @kubb/plugin-react-query, @kubb/plugin-redoc, @kubb/plugin-solid-query, @kubb/plugin-svelte-query, @kubb/plugin-swr, @kubb/plugin-ts, @kubb/plugin-vue-query, @kubb/plugin-zod, unplugin-kubb

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

comment:
  require_bundle_changes: True

bundle_analysis:
  warning_threshold: "10MB"
  status: True


# configuration related to pull request comments
comment: false # do not comment PR with the result

ignore:
  - '**/examples/**'
  - '**/tests/**'
coverage:
  range: 50..90 # coverage lower than 50 is red, higher than 90 green, between color code

  status:
    project: # settings affecting project coverage
      default:
        target: auto # auto % coverage target
        threshold: 1% # allow for 1% reduction of coverage without failing

    # do not run coverage on patch nor changes
    patch: off

component_management:
  individual_components:
    - component_id: cli
      name: '@kubb/cli'
      paths:
        - packages/cli/**
    - component_id: core
      name: '@kubb/core'
      paths:
        - packages/core/**
    - component_id: kubb
      name: 'kubb'
      paths:
        - packages/kubb/**
    - component_id: mcp
      name: '@kubb/mcp'
      paths:
        - packages/mcp/**
    - component_id: oas
      name: '@kubb/oas'
      paths:
        - packages/oas/**
    - component_id: plugin-client
      name: '@kubb/plugin-client'
      paths:
        - packages/plugin-client/**
    - component_id:  plugin-cypress
      name: '@kubb/plugin-cypress'
      paths:
        - packages/plugin-cypress/**
    - component_id:  plugin-faker
      name: '@kubb/plugin-faker'
      paths:
        - packages/plugin-faker/**
    - component_id:  plugin-mcp
      name: '@kubb/plugin-mcp'
      paths:
        - packages/plugin-mcp/**
    - component_id: plugin-msw
      name: '@kubb/plugin-msw'
      paths:
        - packages/plugin-msw/**
    - component_id: plugin-oas
      name: '@kubb/plugin-oas'
      paths:
        - packages/plugin-oas/**
    - component_id: plugin-react-query
      name: '@kubb/plugin-react-query'
      paths:
        - packages/plugin-react-query/**
    - component_id: plugin-redoc
      name: '@kubb/plugin-redoc'
      paths:
        - packages/plugin-redoc/**
    - component_id: plugin-solid-query
      name: '@kubb/plugin-solid-query'
      paths:
        - packages/plugin-solid-query/**
    - component_id: plugin-svelte-query
      name:  '@kubb/plugin-svelte-query'
      paths:
        - packages/plugin-svelte-query/**
    - component_id: plugin-swr
      name: '@kubb/plugin-swr'
      paths:
        - packages/plugin-swr/**
    - component_id: plugin-ts
      name: '@kubb/plugin-ts'
      paths:
        - packages/plugin-ts/**
    - component_id: plugin-vue-query
      name: '@kubb/plugin-vue-query'
      paths:
        - packages/plugin-vue-query/**
    - component_id: plugin-zod
      name: '@kubb/plugin-zod'
      paths:
        - packages/plugin-zod/**
    - component_id: unplugin-kubb
      name: 'unplugin-kubb'
      paths:
        - packages/unplugin-kubb/**

feat(core): add runGeneration and migrate the CLI to it
  .changeset/core-run-generation.md
  packages/cli/src/runners/generate/run.ts
  packages/core/src/index.ts
  packages/core/src/runGeneration.test.ts
  packages/core/src/runGeneration.ts
Due: @kubb/cli, @kubb/core

feat: port unplugin and mcp hosts onto runGeneration
  .changeset/core-run-generation.md
  packages/cli/src/runners/generate/run.ts
  packages/core/src/runGeneration.test.ts
  packages/core/src/runGeneration.ts
  packages/mcp/src/tools/generate.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

refactor(core): move runGeneration onto createKubb as Kubb.generate
  .changeset/core-kubb-generate.md
  .changeset/core-run-generation.md
  packages/cli/src/runners/generate/run.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/index.ts
  packages/core/src/runGeneration.test.ts
  packages/core/src/runGeneration.ts
  packages/mcp/src/tools/generate.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

refactor(adapter-oas): drop barrel files, rename schemaHelpers, trim snapshots
  packages/adapter-oas/mocks/oas.ts
  packages/adapter-oas/src/__snapshots__/characterization.petStore.yaml.json
  packages/adapter-oas/src/__snapshots__/characterization.withExternalFileRef.yaml.json
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/characterization.test.ts
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/createNode.ts
  packages/adapter-oas/src/emit/discriminator/index.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/emit/schemaShape.test.ts
  packages/adapter-oas/src/emit/schemaShape.ts
  packages/adapter-oas/src/load/index.ts
  packages/adapter-oas/src/model/server.test.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
Due: none

refactor(core): compute output path only when output passes run
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
Due: @kubb/core

cleanup
  packages/cli/src/runners/generate/run.ts
  packages/core/src/createKubb.ts
Due: @kubb/cli, @kubb/core

refactor: expose generate types via types.ts and group tool descriptors
  packages/cli/src/runners/generate/run.ts
  packages/core/src/createKubb.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: @kubb/cli, @kubb/core

cleanup
  .changeset/core-kubb-generate.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
  packages/mcp/src/tools/generate.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

feat(core): add Kubb.generate and move every host onto it (#3803)
  .changeset/core-kubb-generate.md
  packages/cli/src/loggers/clackLogger.ts
  packages/cli/src/loggers/plainLogger.ts
  packages/cli/src/loggers/utils.ts
  packages/cli/src/runners/generate/run.ts
  packages/core/src/createKubb.test.ts
  packages/core/src/createKubb.ts
  packages/core/src/types.ts
  packages/mcp/src/tools/generate.ts
  packages/unplugin-kubb/src/unpluginFactory.ts
Due: @kubb/cli, @kubb/core, @kubb/mcp, unplugin-kubb

ci(changesets): version packages (beta)
  .changeset/pre.json
  CHANGELOG.md
  packages/adapter-oas/package.json
  packages/ast/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/kit/package.json
  packages/kubb/package.json
  packages/mcp/package.json
  packages/parser-md/package.json
  packages/parser-ts/package.json
  packages/plugin-barrel/package.json
  packages/renderer-jsx/package.json
  packages/unplugin-kubb/package.json
Due: @kubb/cli, @kubb/core, kubb, @kubb/mcp, unplugin-kubb

test(adapter-oas): drop the characterization test and its snapshot
  packages/adapter-oas/src/__snapshots__/characterization.withFragmentRef.yaml.json
  packages/adapter-oas/src/characterization.test.ts
Due: none

refactor(adapter-oas): leaner shape — Load/Model/Emit with an immutable pass (#3795)
  .changeset/adapter-oas-leaner-shape.md
  packages/adapter-oas/mocks/oas.ts
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/converters.ts
  packages/adapter-oas/src/emit/converters/composition.ts
  packages/adapter-oas/src/emit/converters/scalar.ts
  packages/adapter-oas/src/emit/converters/structural.ts
  packages/adapter-oas/src/emit/createNode.test.ts
  packages/adapter-oas/src/emit/createNode.ts
  packages/adapter-oas/src/emit/discriminator/preserve.test.ts
  packages/adapter-oas/src/emit/discriminator/preserve.ts
  packages/adapter-oas/src/emit/discriminator/propagate.test.ts
  packages/adapter-oas/src/emit/discriminator/propagate.ts
  packages/adapter-oas/src/emit/parseSchema.ts
  packages/adapter-oas/src/emit/schemaShape.test.ts
  packages/adapter-oas/src/emit/schemaShape.ts
  packages/adapter-oas/src/load/normalize.test.ts
  packages/adapter-oas/src/load/normalize.ts
  packages/adapter-oas/src/load/source.ts
  packages/adapter-oas/src/model/components.test.ts
  packages/adapter-oas/src/model/components.ts
  packages/adapter-oas/src/model/operations.ts
  packages/adapter-oas/src/model/server.test.ts
  packages/adapter-oas/src/model/server.ts
  packages/adapter-oas/src/oas.ts
  packages/adapter-oas/src/operation.ts
  packages/adapter-oas/src/parser.test.ts
  packages/adapter-oas/src/parser.ts
  packages/adapter-oas/src/refs.ts
  packages/adapter-oas/src/resolvers.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/adapter-oas/src/types.ts
Due: none

update packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

test(core): fold KubbDriver.generators.test.ts into KubbDriver.test.ts
  packages/core/src/KubbDriver.generators.test.ts
  packages/core/src/KubbDriver.test.ts
Due: @kubb/core

ci: pin kubb-labs/config actions to latest main
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

ci: pin kubb-labs/config actions to latest main (#3807)
  .github/workflows/autofix.yml
  .github/workflows/changeset-format.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

fix(core): stream file-processing updates in generation order
  packages/core/src/KubbDriver.ts
  packages/core/src/createKubb.test.ts
Due: @kubb/core

chore: add changeset for core file-processing order fix
  .changeset/core-file-processing-generation-order.md
Due: none

It is what it is
  docs/guide/best-practices.md
Due: none

docs: tighten core file-processing changeset
  .changeset/core-file-processing-generation-order.md
Due: none

fix(core): write files through a bounded pool, keep generation order
  .changeset/core-file-processing-generation-order.md
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
  packages/core/src/KubbDriver.ts
Due: @kubb/core

update
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: bump oxfmt to ^0.59.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: bump oxfmt to ^0.59.0 (#3811)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update packages
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update packages
  pnpm-lock.yaml
Due: none

fix(plugin-barrel): build the barrel directory tree once per run
  .changeset/plugin-barrel-single-pass-index.md
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/utils.ts
Due: none

fix(core): maintain FileManager's sorted files view incrementally
  .changeset/filemanager-incremental-sort.md
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
Due: @kubb/core

caleanupz
  .changeset/filemanager-incremental-sort.md
  packages/core/src/FileManager.test.ts
  packages/core/src/FileManager.ts
Due: @kubb/core

better loop
  packages/core/src/FileManager.ts
Due: @kubb/core

refactor(plugin-barrel): simplify shared-index barrel generation
  .changeset/plugin-barrel-single-pass-index.md
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
Due: none

clear
  .changeset/filemanager-incremental-sort.md
  packages/core/src/FileManager.ts
Due: @kubb/core

fix(core): maintain FileManager's sorted files view incrementally (#3822)
  packages/core/src/FileManager.test.ts
Due: @kubb/core

fix(plugin-barrel): build the barrel directory tree once per run (#3821)
  .changeset/plugin-barrel-single-pass-index.md
  packages/plugin-barrel/src/plugin.ts
  packages/plugin-barrel/src/utils.test.ts
  packages/plugin-barrel/src/utils.ts
Due: none

perf(adapter-oas): fold schema diagnostics and circular detection into one convert walk
  .changeset/adapter-oas-single-convert-scan.md
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/schemaDiagnostics.test.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/schemaGraph.test.ts
  packages/ast/src/utils/schemaGraph.ts
Due: none

docs(changeset): tighten wording for the single convert walk
  .changeset/adapter-oas-single-convert-scan.md
Due: none

perf: walk a schema's $ref subtree once and share it across plugins
  .changeset/share-imports-ref-scan.md
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/schemaGraph.test.ts
  packages/ast/src/utils/schemaGraph.ts
  packages/core/src/Resolver.ts
Due: @kubb/core

perf(adapter-oas): fold schema diagnostics and circular detection into one convert walk (#3825)
  .changeset/adapter-oas-single-convert-scan.md
  packages/adapter-oas/src/adapter.bench.ts
  packages/adapter-oas/src/adapter.ts
  packages/adapter-oas/src/schemaDiagnostics.test.ts
  packages/adapter-oas/src/schemaDiagnostics.ts
  packages/ast/src/utils/index.ts
  packages/ast/src/utils/schemaGraph.test.ts
  packages/ast/src/utils/schemaGraph.ts
Due: none
